.logo {
  width: 42px;
  height: 25px;
  border-radius: 20px;
 }
//Cover-photo
.container-fluid {
  border:1px solid;
  #cover-photo {
  	max-height: 400px;
  }
}
//profile pic
.img-wrapper {
  margin-top: -255px;
}
// Navbar
.nav {
  #active {
   background-color: #eee;
   a:hover {
   	background-color: #eee;
   }
 }
 span {
   color: #0E1717;
 }
}



// Main content
.main {
  margin-top: 20px;
  padding-bottom: 40px;
  border: 1px solid;

  .nav {
  	border-bottom: 1px solid;
  	text-align: center;
  	.btn {
  	  margin-right: 10px;
  	  margin-top: 15px;
  	  box-shadow: 5px 5px 2px #000;
  	}
  }
}
.header {
  margin-bottom: 10px;
}
.header2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.content {
  margin-top: 10px;
}


// About_Edit styles
.edit-profile {
  height: 400px;
}

.save-button {
  margin-top: 50px;
}

// Friends Style
.friends {
  .frnd-img {
    width: 100px;
    height: 100px;
    display: inline-block;
}
  .profile {
  	margin-left: 10px;
  	display: inline-block;

  	a {
  	  font-size: 20px;
  	  text-decoration: underline;
  	}
  	span {
  	  display: block;
  	}
  }
  .col-sm-10 {
   border: 1px solid #eee;
  }
  
  button {
  	margin-left: 60px;
  	box-shadow: 5px 5px 2px #eee;
  }
}

// Timeline Styles

.left-content {
 
  .about-row {
  	margin-top: 10px;
  	border: 1px solid;
    .about-header {
      border-bottom: 1px solid;
      text-align: center;
      background-color: #eee;
    }

    .about-wrapper {
      padding-bottom: 15px;
    }
  }
  
  .photos-row, .friends-row {
  	margin-top: 10px;
  	border: 1px solid;

  	.photos-header, .friends-header {
  	  border-bottom: 1px solid;
  	  text-align: center;
  	  background-color: #eee;
  	}

  	.thumbnails {
  	  margin-top: 10px;
  	  img {
  	  	width: 100px;
  	  	height: 100px;
  	  }
  	}
  	footer {
  	  text-align: center;
  	  .more-photos, .more-friends {
  	  	text-decoration: underline;
  	  	font-size: 20px;
  	  }
  	}
  }

}

.right-content {
  
  .post-row, .comment-row {
  	margin-top: 10px;
  	border: 1px solid;

  	.post-header {
  	  border-bottom: 1px solid;
      text-align: center;
      background-color: #eee;
  	}

  	.text-area {
  	  margin: 5px;
  	}

  	.post-footer {
  	  background-color: #eee;
  	  .btn {
  	  	margin-right: 15px;
  	  	box-shadow: 5px 5px 2px #000;
  	  }
  	}

  	.comment-header {

  	  img {
  	  	margin: 10px;
  	  	width: 70px;
  	  	height: 70px;
  	  }
  	  .profile-name {
  	  	display: inline-block;
  	  	font-size: 17px;

  	  	a {
  	  	  text-decoration: underline;
  	  	}

  	  	span {
  	  	  display: block;
  	  	  color: #999;
  	  	  font-size: 0.7em;
  	  	}
  	  }
  	}

  	.comment-content {
      padding: 0 10px;
  	}

  	.comment-footer {
  	  border-top: 1px solid;
  	  background-color: #eee;
  	  .navbar-form {
  	  	a {
  	  	  margin: 10px;
  	  	  text-decoration: underline;
  	  	}
  	  	span {
  	  	  margin-left: -5px;
  	  	}
  	  }
  	  .navbar-right {
  	  	margin-right: 10px;
  	  }
  	  .line-sep {
  	  	margin-top: 10px;
  	  	border: 1px solid #aaa;
  	  }

  	  .expanded-row {
  	  	margin-top: 10px;
  	  	img {
  	  	  margin: 10px;
  	  	  width: 70px;
  	  	  height: 70px;
  	  	}
  	  	.col-sm-9 {
  	  	  .row {
  	  	  	margin-top: 10px;
  	  	  }
  	  	  a {
  	  	  	text-decoration: underline;
  	  	  }
  	  	  span {
  	  	    font-size: 0.9em;
  	  	    color: #aaa;
  	  	  }
  	  	}
  	  }

  	  .text-area {
  	  	margin: 10px;
  	  	.btn {
  	  	  margin-top: 5px;
  	  	  box-shadow: 5px 5px 5px #000;
  	  	}
  	  	.cancel {
  	  	  text-decoration: underline;
  	  	  margin-top: 10px;
  	  	}
  	  }

  	}

  	.active-comment {
  	  padding-left: 10px;
  	}
  }


}