.logo {
  width: 42px;
  height: 25px;
  border-radius: 20px;
 }
//Cover-photo
.container-fluid {
  border:1px solid;
  #cover-photo {
  	max-height: 400px;
  }
}
//profile pic
.img-wrapper {
  margin-top: -255px;
}
// Navbar
.nav {
  #active {
   background-color: #aaa;
   a:hover {
   	background-color: #aaa;
   }
 }
 span {
   color: #aaa;
 }
}



// Main content
.main {
  margin-top: 20px;
  padding-bottom: 40px;
  border: 1px solid;

  .nav {
  	border-bottom: 1px solid;
  	text-align: center;
  	.btn {
  	  margin-right: 10px;
  	  margin-top: 15px;
  	  box-shadow: 5px 5px 2px #000;
  	}
  }
}
.header {
  margin-bottom: 10px;
}
.header2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.content {
  margin-top: 10px;
}


// About_Edit styles
.edit-profile {
  height: 400px;
}

.save-button {
  margin-top: 50px;
}
