.logo {
  width: 42px;
  height: 25px;
  border-radius: 20px;
 }

.container-fluid {
  border:1px solid;
  #cover-photo {
  	max-height: 400px;
  }
}

#profile-pic {
  	position: relative;
  	top: -325px;
  	right: -70px;
  }

.nav {
 #active {
   background-color: #aaa;
 }
}