<div class="row">
  <div class="panel panel-default"> 
    <div class="panel-body">
      <div class="col-sm-6 posted-by">
        <%= profile_image(user, "icon") %>
      </div>
      <div class="col-sm-6 posted-name">
        <div class="col-sm-12">
          <p><%= user.profile.full_name %></p>
          <p><%= link_to "Edit your Profile", edit_profile_path(user.profile.id) %></p>
        </div>
      </div>
    </div>
  </div>
</div>