<!--HERO-->
<div class="container">

  <main class="row">
    <article class="col-xs-4">
      <!-- Harry Potter -- edit profile -->

      <!-- RECENTLY ACTIVE -->

      <!-- See All Your Friends -->
    </article>

    <article class="col-xs-8">
      <%= render "posts/new_post" if current_user.id.to_s == params[:user_id] %>

      <% @posts.each do |post| %>
        <%= render partial: "posts/post", :locals => {:post => post, :user => @user} %>
      <% end %>
    </article>
  </main>

</div>
