<main class="container">
  <header class="row">
    <%= render partial: 'static_pages/masthead', locals: { user: user } %>
  </header>

  <div class="row">
    <%=
      render partial: "static_pages/#{params[:action]}_profile",
             locals: {
                user: user,
                profile: profile
              }
      %>
  </div>

<%= link_to 'Sign out', logout_path, method: :delete%>
</main>
