<main class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 panel">
          <div class="row">
            <div class="col-md-12">
              <h1 class="panel-header">&nbsp</h1>
            </div>
          </div>
          <div class="row panel-content">
            <% if users.empty? %>
              <%= content_tag :h3, "We're sorry but your query returned no results." %>
              <%= content_tag :h3, "You might wanna try adjusting your search query." %>
            <% else %>
              <% users_matrix = users_count_check users %>
              <% users_matrix.each do |row| %>
                <% row.each do |col| %>
                 <%= split_column(render_user_panel col)%>
                <% end %>
              <% end %>
            <% end %> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= will_paginate %>
  </div>
</main>