<!--cover images-->
<div class = "row">
  <%= image_tag("hogwarts_small.jpg", width: '100%', height: '350px', class: "cover-photo hidden-sm hidden-xs") %>
  <div class="col-md-12 hidden-xs hidden-sm profile-image">
    <%= image_tag("harry_potter_small.jpg", width: '180px', height: '200px') %>
  </div>
</div>