<div class="row">
  <div class="col-md-12 panel">
    <div class="row">
      <div class="col-md-12">
        <h1 class="panel-header">Edit Profile</h1>
      </div>
    </div>
    <div class="row panel-content">
      <div class="col-md-5">
        <h2>Basic Information</h2>
        <table>
          <tr>
            <td>Birthday:</td>
            <td>July 31st, 1980</td>
          </tr>
          <tr>
            <td>College:</td>
            <td><input type="text" placeholder="Hogwarts College" class="form-control"></td>
          </tr>
          <tr>
            <td>Hometown:</td>
            <td><input type="text" placeholder="Godrick's Hollow, England" class="form-control"></td>
          </tr>
          <tr>
            <td>Currently Lives:</td>
            <td><input type="text" placeholder="Godrick's Hollow, England" class="form-control"></td>
          </tr>
        </table>

        <h2>Contact Information</h2>
        <table>
          <tr>
            <td>Email address:</td>
            <td>harry_potter@hogwarts.edu</td>
          </tr>
          <tr>
            <td>Telephone:</td>
            <td><input type="text" placeholder="(408)772-HARRY" class="form-control"></td>
          </tr>
        </table>
      </div>
      <div class="col-md-7">
        <h2>Words to Live By</h2>
        <textarea id="words-live-textarea" type="text" class="form-control"></textarea>

        <h2>About Me</h2>
        <textarea id="about-me-textarea" type="text" class="form-control" rows="5"></textarea>
      </div>
    </div>
    <div class="row panel-footer">
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-primary btn-block">Save Changes</button>
      </div>
    </div>
  </div>
</div>