<figure class="col-md-4 friend">
  <%= link_to image_tag("user_silhouette_generic.gif", class: "photo-link"), "#", class: "photo-link" %>
  <figcaption>
    <div class = "photo-upload-date">
      <p>Uploaded January 1, 2015</p>
    </div>
    <p>
      <%= link_to name.html_safe %>
    </p>
  </figcaption>
</figure>
