<div class="col-md-6">
  <div class="friend-item">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%=  image_tag('user_silhouette_generic.png', alt: 'Generic User Silhouette', class: 'media-object img-thumbnail')  %>
        </a>
      </div>
      <div class="media-body media-middle">
        <div class="media-heading">
          <h4 class="h5"><a href="#">Hermione Granger</a></h4>
          <p class="text-muted">432 Friends</p>
        </div>
      </div>
      <div class="media-right media-middle">
        <a href="#" class="btn btn-primary">Unfriend</a>
      </div>
    </div>
  </div>
</div>