<div class="info-box row">
          <header class="col-xs-12">
            <h4>About</h4>
          </header>
          <div class="col-xs-12">
            <p><b>Born on:</b> July 31st, 1980</p>
            <p><b>Went to school at:</b> Hogwarts</p>
            <p><b>Hometown:</b> Godrick's Hollow, England</p>
            <p><b>Currently Lives:</b> Godrick's Hollow</p>
          </div>
        </div>