<section class="info-pane">
  <header class="row">
    <div class="col-md-12">
      About
    </div>
  </header>

  <div class="row">
    <section class="col-md-12">

      <p class="col-sm-6"><strong>Born on:</strong></p>
      <p class="col-sm-6">July 31st, 1980</p>

      <p class="col-sm-6"><strong>Went to school at:</strong></p>
      <p class="col-sm-6">Hogwarts College</p>

      <p class="col-sm-6"><strong>Hometown:</strong></p>
      <p class="col-sm-6">Godrick's Hollow, England</p>

      <p class="col-sm-6"><strong>Currently Lives:</strong></p>
      <p class="col-sm-6">Godrick's Hollow</p>

    </section>
  </div>

  <div class="row">
    <footer class="col-md-12">
      <a href="#">More about Harry Potter</a>
    </footer>
  </div>
</section>