   <div class="row">
    <div class="col-md-12 cover-photo">
      <%= image_tag "hogwarts_small.jpg", alt:"hogwarts" %>
      <div id="profile-pic">
        <%= image_tag "harry_potter_small.jpg", alt: "profile picture", class: "img-responsive img-thumbnail" %>
      </div>
      <div id="big-profile-name">
        <h3><%= @profile.full_name %></h3>
      </div>
  </div>
  </div>