<nav class="navbar navbar-default navbar-fixed-top header-bar row">
    <div class="navbar-header col-md-3 col-md-offset-1">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <!--Flag and "Danebook" links to homepage -->
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" id = "brand-link" href="/">
          <%= image_tag "danish_flag.gif", {alt:"Danish flag", class: "img-circle img-responsive center-block", id: "flag"} %>
        </a></li> 
        <li><a class="navbar-brand" id="title-text" href="/">Danebook</a></li>
      </ul>
    </div>
    <!--Search bar-->
      <div class="col-md-6" id="search-field">
        <form class="navbar-form search-bar" role="search">
          
          <input type="text" class="form-control search-bar" placeholder="Search for users">
     
      </form>
    </div>
    <!--User Name-->
    <div class="col-md-2">
      <p class="navbar-text" id="user-name">
        <%= profile.first_name if profile %>
      </p>
      <%= link_to "Logout", logout_path, :method => :delete, :class => "navbar-text", :id => "logout" %>
    </div>
      
  </nav>