<header class="navbar" id="navbar" role="navigation">
  <a class="navbar-brand" id="navbar-brand" href="#"><strong>Danebook</strong></a>
  <form class="navbar-form navbar-right">
    <fieldset class="form-group">
      <label for="exampleInputEmail1" id="email">Email</label>
      <input type="email" class="form-control sign-in">
    </fieldset>
    <fieldset class="form-group">
      <label for="exampleInputPassword1" id="password">Password</label>
      <input type="password" class="form-control sign-in">
    </fieldset>
    <button type="submit" class="btn btn-primary btn-info">Log in</button>
  </form>
</header>