<nav id="navcolor" class="navbar navbar-default navbar-fixed-top">
     <div class="container">
       <div class="row">

         <div class="col-xs-4" id="logo">
               <a href="index.html">
                 <img id="logoimg" src="<%=image_path('logo.gif')%>" height="40px" width="40px" class="img-circle">
               </a>
               <a id="logotxt" href="#" class="navbar-brand"><h1>Danebook</h1></a>
             </div>
             <form class="navbar-form">

               <div class="col-xs-6 form-group">

                 <input id="search" type="text" class="form-control" width="100%" placeholder="Search for Users">

               </div>

             </form>
             <div class="col-xs-1 col-xs-offset-1">
               <h4 id="harry">Harry</h4>
               </div>
             </div>
       </div>
       </div>

     </div>
   </nav>
