<li class="text-center" role="presentation">
  <%= link_to send("#{page.downcase}_path"), alt: "Link to #{page} page" do %>
    <%= page %>

    <% if badge %>
      <span class='badge'><%= badge %></span>
    <% end %>

  <% end %>
</li>