<div class="col-md-3 photo">
    <%= link_to image_tag("user_silhouette_generic.gif"), "#", class: "photo-link" %>
  <div class = "photo-upload-date">
    <p>Uploaded January 1, 2015</p>
  </div>
</div>