<section class="col-sm-7 col-sm-offset-1">
  <div class="row profile-box-title">
    <h2>Pöst</h2>
  </div>
  <div class="row profile-box profile-box-bottom">
    <div class="col-sm-12">
      <textarea class="form-control" rows="3" placeholder="Tell the world something..."></textarea>
    </div>
  </div>
  <div class="row row profile-box profile-box-bottom comment-row">
    <div class="col-sm-2 col-sm-offset-10">
      <button type="submit" class="btn btn-primary btn-block">Post</button>
    </div>
  </div>
