<div class="row info-box">
              <header class="col-xs-12">
                <h4>Post</h4>
              </header>
              <form class="form-group post-form col-xs-12">
                <textarea name="post-form" cols="30" rows="2" class="form-control"></textarea>
                <footer class="row post-footer">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary pull-right">Post</button>
                  </div>
                </footer>
              </form>
            </div>