<div class="container">
  <div class="row">
    <article class="top-main-section">
      <img id="cover-photo" href="./blooming_flower_garden_199003.jpg" style="height:300px; width:100%">
      <nav>
        <table class="timeline-links">
          <tr>
            <td class="link empty"></td>
            <td class="first-link link timeline-link">Timeline</td>
            <td class="link about-link">About</td>
            <td class="link photos-link">Photos <a href="photos.html"/>(347)</td>
            <td class="link friends-link">Friends <a href="friends.html"/>(234)</td>
            <td class="edit-profile-link link"><a href="profile.html">Edit Profile</a></td>
          </tr>
        </table>
      </nav>

      <div class="name-pic-block">
        <img id="profile-pic"href="./cat.jpg" style="height: 200px; width: 200px;">
        <h1 id="profile-name">Cat Doe</h1>
      </div>
    </article>
  </div>
</div>
