<nav id="main-navbar" class="navbar navbar-inverse navbar-fixed-top signin-bar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Danebook</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <label>Email</label><br>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label><br>
          <input type="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-danger">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>