<div class="row">
  <div class="col-xs-12">

    <div class=" panel panel-default">


      <%= render :partial => "timeline_post_body",
            :locals => {  :post_author => "Harry Potter",
                          :post_date => "2014-05-21",
                          :post_body => "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur." } %>



      <!-- Feedback section for likes and comments -->
      <div class="panel-footer">

        <%= render :partial => "timeline_post_footer",
              :locals => {  :post_self_like => true,
                            :post_likes => ["Hermione Granger","One","Two","Three"] } %>



        <!-- Comments media list -->
        <div id="comments-wrapper" class="row">

    <!-- First Comment -->
          <%= render :partial => "timeline_post_comment",
              :locals => {  :comment_author => "Ron Weasley",
                            :comment_date => "2014-05-21",
                            :comment_body => "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                            :comment_likes => ["One","Two","Three"] } %>

    <!-- Second Comment -->
          <%= render :partial => "timeline_post_comment",
              :locals => {  :comment_author => "Harry Potter",
                            :comment_date => "2014-05-22",
                            :comment_body => "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                            :comment_likes => ["One","Two","Three"] } %>

        </div>
<!-- End of Comments media list -->


<!-- Post another comment -->
        <div class="row">

          <div class="col-xs-12">

            <form id="comment-form">

              <textarea class="form-control" rows="3">Write a comment...</textarea>

              <!-- separate row for Cancel & Comment buttons -->
              <div class="row center-block">
                <div class="col-xs-12">

                  <div class="pull-left">
                    <a href="#" alt="Cancel writing a comment">Cancel</a>
                  </div>

                  <div class="pull-right comment-button-wrapper">

                    <button type="submit" class="btn btn-primary btn-sm">
                      Comment
                    </button>

                  </row>

                </div>
              </div> <!-- end of Cancel & Comment row -->

            </form>

          </div>

        </div>
<!-- End of Post another comment -->






      </div> <!-- end of panel footer -->


    </div> <!-- end of panel -->


  </div>
</div>
<!--  end of Post With Comments-->