<div class="friends-tile">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "user_silhouette_generic.gif.png", height: "78px", width: "78px" %>                    
    </div>
    <div class="col-md-5">
      <%= content_tag :h4, "#{user.first_name} #{user.last_name}" %>
    </div>
    <div class="col-md-3 col-vcentered">
      <button>Add Friend</button>
    </div>
  </div>
</div>