<!-- cover -->
<%= render :partial => "shared/jumbotron" %>

<%= render :partial => "shared/timeline_nav" %>

<div class="container">
  <div class="panel panel-default user-panel">
    <div class="panel-heading">
      <h1>About</h1>
      <button class="btn btn-primary btn-small pull-right edit-btn">Edit your profile</button>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <h3>Basic Information</h3>
          <p><strong>Birthday</strong>: July 1st, 1980</p>
          <p><strong>College</strong>: Hogwarts College</p>
          <p><strong>Hometown</strong>: Godrick's Hollow, England</p>
          <p><strong>Currently lives</strong>: Godrick's Hollow, England</p>

          <h3>Contact Information</h3>
          <p><strong>Email</strong>: harry_potter@hotmail.com</p>
          <p><strong>Telephone</strong>: 555-123-4567</p>
        </div>
        <div class="col-md-7">
          <h3>Words to Live By</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <h3>About Me</h3>
          <p>Ad veniam ipsum consectetur est fugiat ut esse proident eiusmod tempor aliqua nulla incididunt aute mollit pariatur tempor. Dolor pariatur pariatur veniam ullamco est quis sint est nisi. Veniam dolor labore cillum est eiusmod deserunt voluptate aliqua fugiat sunt exercitation aliqua laboris ad. Pariatur pariatur aliquip nostrud Lorem ipsum reprehenderit magna enim nisi non mollit mollit. Mollit amet pariatur officia non et ullamco ad consectetur sunt nostrud laborum non. Pariatur qui elit aute minim laborum consectetur consequat quis laborum incididunt quis aute duis quis irure. Lorem sunt ea aliqua cillum eu veniam magna ea do laboris officia non tempor aliqua cillum cillum culpa.</p>
        </div>
      </div>
    </div>
  </div>
</div>
