<main class="container content-container">

<!-- cover photo -->
  <header>
    <div class="row cover-photo-row">

      <div class="col-xs-12 cover-box">

        <div class="row spacer"></div>

        <div class="row user-name">
          <h1>Harry Potter</h1>
        </div>

      </div>

    </div>  <!-- cover photo row -->




<!-- row for user photo and page links -->

    <div class="row page-links-row">


        <!-- main links column -->
        <div class="row">

          <div class="col-md-12">

            <ul class="nav nav-tabs">

              <li class="text-bottom" role="presentation">
                <img id="user-photo" src="assets/harry_potter_small.jpg" width="140" height="140" alt="User's personal photo">
              </li>

              <li class="text-center" role="presentation">
                <%= link_to "Timeline", timeline_path, alt: "Link to Timeline page" %>
              </li>

              <li class="text-center disabled" role="presentation">
                <%= link_to "About", about_path, alt: "Link to About page" %>
              </li>

              <li class=" text-center" role="presentation">
                <%= link_to photos_path, alt: "Link to Photos page" do %>
                  Photos <span class="badge">123</span>
                <% end %>
              </li>

              <li class="text-center" role="presentation">
                <%= link_to friends_path, alt: "Link to Friends page" do %>
                  Friends <span class="badge">542</span>
                <% end %>
              </li>

            </ul>

          </div>

        </div>


    </div> <!-- page links row -->

  </header>



<!-- Start of main Edit section -->
  <section id="edit-about" class="row">

    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-default">


          <div class="panel-heading">
            <div class="row">

              <div class="col-xs-12 text-center">
                <h1 class="panel-title">Edit Profile</h1>
              </div>

            </div>

          </div> <!-- end of panel heading -->




          <div class="panel-body">
            <form>
              <div class="row">


                <!-- left side -->
                <div class="col-md-5 col-md-offset-1">
                  <h3>
                    Basic Information
                  </h3>

                  <dl class="dl-horizontal">
                    <dt>Birthday:</dt>
                    <dd>July 31st, 1980</dd>
                    <dt>College:</dt>
                    <dd>
                        <input type="text" class="form-control" value="Hogwarts College">
                      </dd>
                      <dt>Hometown:</dt>
                      <dd>
                        <input type="text" class="form-control" value="Godrick's Hollow, England">
                      </dd>
                      <dt>Currently Lives:</dt>
                      <dd>
                        <input type="text" class="form-control" value="Godrick's Hollow, England">
                      </dd>
                    </dl>

                  <h3>
                    Contact Information
                  </h3>

                  <dl class="dl-horizontal">
                    <dt>Email:</dt>
                    <dd>harry_potter@hogwarts.edu</dd>
                    <dt>Telephone:</dt>
                    <dd>
                      <input type="text" class="form-control" value="555-123-4567">
                    </dd>
                  </dl>

                </div> <!-- end of left side -->


                <!-- right side -->
                <div class="col-md-6">
                  <h3>
                    Words to Live By
                  </h3>

                  <p>
                    <textarea class="form-control" rows="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </textarea>
                  </p>


                  <h3>
                    About Me
                  </h3>

                  <p>
                    <textarea class="form-control" rows="6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </textarea>
                  </p>


                </div> <!-- end of right side -->

              </div>

              <!-- submit button -->
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Save Changes
                  </button>
                </div>
              </div>

            </form>

          </div> <!-- end of panel body -->



        </div> <!-- end of panel -->

      </div>
    </div>
  </section>



</main> <!-- container -->
