 <main class="main container">
     <%= render 'profile_header' %>
    <section class="row">
      <div class="col-xs-12">
        <div class="info-box row">
          <header class="col-xs-12">
            <h2 class="module-title">About</h2>
            <%= link_to "Edit Your Profile", about_edit_path, {class: 'btn btn-primary btn-sm module-edit'} %>
          </header>
          <div class="col-xs-12">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <h3>Basic Information</h3>
            <dl class="dl-horizontal bio">
              <dt>Birthday:</dt>
              <dd>July 31st, 1980</dd>
              <dt>College:</dt>
              <dd>Hogwarts College</dd>
              <dt>Hometown:</dt>
              <dd>Godrick's Hollow, England</dd>
              <dt>Currently Lives:</dt>
              <dd>Godrick's Hollow, England</dd>
            </dl>
            <h3>Contact Information</h3>
            <dl class="dl-horizontal bio">
              <dt>Email:</dt>
              <dd>harry_potter@hogwarts.edu</dd>
              <dt>Telephone:</dt>
              <dd>555-123-4567</dd>
              
            </dl>
          </div>
          <div class="col-md-5">
            <h3>Word to Live By</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error odio reprehenderit eius pariatur sed officia sint obcaecati odit. Debitis quae, vero ducimus minus qui enim error officiis architecto. Accusamus, soluta.</p>
            <h3>About Me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro minus ipsum quo nostrum sequi vitae. Alias dolor molestias nemo earum ipsum tenetur dolorem nam, laboriosam qui saepe eveniet quibusdam blanditiis? Expedita ut sint veritatis magnam qui repellat obcaecati facere reiciendis suscipit eos magni dignissimos, at corporis voluptatibus ipsum rem nihil possimus cumque! Dicta, non. Porro cupiditate corporis neque repellat voluptatem doloribus, dolore iusto, harum delectus, magnam quibusdam sunt tempore, molestias accusamus eaque deserunt iure fugit!</p>
          </div>
        </div>
      </div>
        </div>
      </div>
      
    </section>
    </main>