<div class="container cover-section">
  <div class="cover-photo-container">
    <img class="cover-photo" src="imgs/hogwarts_small.jpg">
    <img class="profile-img" src="imgs/harry_potter_small.jpg">
    <h2 class="profile-name">Harry Potter</h2>
  </div>
  <div class="row midde-nav-row">
    <div class="col-xs-7 col-xs-offset-3">
      <ul class="nav nav-pills middle-nav">
        <li><a href="timeline.html">Timeline</a></li>
        <li><a class="selected" href="about.html">About</a></li>
        <li><a href="photos.html">Photos <span class="middle-nav-count">(123)</span></a></li>
        <li><a href="friends.html">Friends <span class="middle-nav-count">(542)</span></a></li>
      </ul>
    </div>
    <div class="col-xs-2">
      <ul class="nav nav-pills">
        <li class="pull-right edit-link" role="presentation"><a href="about_edit.html">Edit Profile</a></li>
      </ul>
    </div>
  </div>
</div>

<main>
	<div class="container about-info-container">
		<header>
			<div class="row main-content-header">
				<div class="col-xs-2 col-xs-offset-5">
					<h2>About</h2>
				</div>
				<div class="col-xs-3 pull-right h2 btn-container">
					<a class="btn btn-primary" href="about_edit.html">Edit your Profile</a>
				</div>
			</div>
		</header>
		<div class="row info-section">
			<section class="col-xs-5 identifying-info">
				<h2>Basic Information</h2>
				<div class="row">
					<div class="col-xs-4">
						<ul class="list-unstyled topics">
							<li>Birthday:</li>
							<li>College:</li>
							<li>Hometown:</li>
							<li>Currently Lives:</li>
						</ul>
					</div>
					<div class="col-xs-7">
						<ul class="list-unstyled answers">
							<li>July 31st, 1980</li>
							<li>Hogwarts College</li>
							<li>Godrick's Hollow, England</li>
							<li>Godrick's Hollow, England</li>
						</ul>
					</div>
				</div>
				<h2>Contact Information</h2>
				<div class="row">
					<div class="col-xs-4">
						<ul class="list-unstyled topics">
							<li>Email:</li>
							<li>Telephone:</li>
						</ul>
					</div>
					<div class="col-xs-7">
						<ul class="list-unstyled answers">
							<li>harry_potter@hogwarts.edu</li>
							<li>555-123-4567</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="col-xs-6 personal-info">
				<h2>Words to Live By</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
				<h2>About Me</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</section>
		</div>
	</div>
</main>
