<main >
  <div class = "row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= render 'layouts/menu_options' %>
      <br>
      <div class="row"><!-- begin about-panel-row -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title col-xs-3 col-xs-offset-4" id="about-panel-title">About</h3>
            <%= link_to "Edit your Profile", about_edit_path, type: 'button', class: 'btn btn-primary col-xs-offset-3', id: 'edit-profile-button' %>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 panel-content">
              <div class="col-xs-5">
                <h1 class="info-header">Basic Information</h1>
                <div class="row info-row">
                  <p class="bold-info  col-xs-3">Birthday:</p>
                  <p class="col-xs-7 col-xs-offset-2">July 31st, 1980</p>
                </div>
                <div class="row info-row">
                  <p class="bold-info  col-xs-3">College:</p>
                  <p class="col-xs-7 col-xs-offset-2">Hogwarts College</p>
                </div>
                <div class="row info-row">
                  <p class="bold-info  col-xs-3">Hometown:</p>
                  <p class="col-xs-7 col-xs-offset-2">Godrick's Hollow, England</p>
                </div>
                <div class="row info-row">
                  <p class="bold-info  col-xs-4">Currently Lives:</p>
                  <p class="col-xs-6 col-xs-offset-1">Godrick's Hollow, England</p>
                </div>
                <h2 class="info-header">Contact Information</h2>
                <div class="row info-row">
                  <p class="bold-info  col-xs-3">Email:</p>
                  <p class="col-xs-7 col-xs-offset-2">harry_potter@hogwarts.edu</p>
                </div>
                <div class="row info-row">
                  <p class="bold-info  col-xs-4">Telephone:</p>
                  <p class="col-xs-6 col-xs-offset-1">555-123-4567</p>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="col-xs-12" id="right-column-container">
                  <h2 class="info-header">Words to Live By</h2>
                  <p class="info-row">
                    Lorem ipsum sapientem ne neque dolor erat,eros solet invidunt duo Quisque aliquid leo. Pretium patrioque
                  </p>
                  <h2 class="info-header" id="about-me-header">About Me</h2>
                  <p class="info-row">
                    Lorem ipsum sapientem ne neque dolor erat,eros solet invidunt duo Quisque aliquid leo.
                    Pretium patrioque sociis eu nihil Cum enim ad, ipsum alii vidisse justo id. Option porttitor
                    diam voluptua. Cu Eam augue dolor dolores quis, Nam aliquando elitr Etiam consetetur. Fringilla
                    lucilius mel adipiscing rebum. Sit nulla Integer ad volumus, dicta scriptorem viderer lobortis
                    est Utinam, enim commune corrumpit Aenean erat tellus. Metus sed amet dolore justo, gubergren sed.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end about-panel-row-->
    </div>
  </div><!--row-->
</main>
