
<body>

<%= render partial: "/shared/navbar" %>

<main>
  <div class="container">
    <div class="row" id="upper">
      <div id="profile-pic"></div>
        <div class="col-sm-12" id="banner"></div>
      <div id="cover-nav">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">Timeline</div>
        <div class="col-sm-2" id="current-link">About</div>
        <div class="col-sm-2">Photos (100)</div>
        <div class="col-sm-2">Friends (100)</div>
        <div class="col-sm-2"><a href="#">Edit Profile</a></div>
      </div>
    </div>
    <div class="row wrapper">
      <div class="col-sm-12">
        <h2>About</h2>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-5">
          <div class="row">
            <h3>Basic Information</h3>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>Birthday:</p>
            </div>
            <div class="col-sm-6">
              <p>July 31st, 1980</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>College:</p>
            </div>
            <div class="col-sm-6">
              <p>Hogwarts College</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>Hometown:</p>
            </div>
            <div class="col-sm-6">
              <p>Godrick's Hollow, England</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>Currently Lives:</p>
            </div>
            <div class="col-sm-6">
              <p>Godrick's Hollow, England</p>
            </div>
          </div>
         <div class="row">
            <h3>Contact Information</h3>
          <div class="row">
            <div class="col-sm-6">
              <p>Email:</p>
            </div>
            <div class="col-sm-6">
              <p>harry_potter@hogwarts.edu</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>Telephon:</p>
            </div>
            <div class="col-sm-6">
              <p>555-123-4567</p>
            </div>
          </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <h3>Words to Live By</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="row">
            <h3>About Me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

</body>
