<main class="main about">

 <%= render 'profile_header_and_links' %>

 <div class="container">
   <div class="row">
   <header class="bar about-bar">
     <h1 class="about-heading about-title">About</h1>
     <input type="submit" class="white-text about-heading edit" value="Edit your Profile">
   </header>
 </div>


 <div class="info-section row">

  <div class="col-xs-6">
   <article class="left-side">
     <table id="first-table">
       <caption class="heading">Basic Information</caption>
       <tr>
         <td class="bold">Birthday:</td>
         <td>July 30, 1986</td>
       </tr>
       <tr>
         <td class="bold">College:</td>
         <td>Some College</td>
       </tr>
       <tr>
         <td class="bold">Hometown:</td>
         <td>That Place, USA</td>
       </tr>
         <td class="bold">Currently Lives:</td>
         <td>This Place, USA</td>
       </tr>
     </table>

     <table id="second-table">
       <caption class="heading">Contact Information</caption>
       <tr>
         <td class="bold">Email:</td>
         <td>emailaddress@place.com</td>
       </tr>
       <tr>
         <td class="bold">Phone Number:</td>
         <td>(234)234-2345</td>
       </tr>
     </table>
   </article>
 </div>

      <div class="col-xs-6">
     <article class="about-me-blurbs right-side">
       <h1 class="heading">Words to Live by</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
       <h1 class="heading about-me">About Me</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
     </article>
   </div>
 </div>
 </div>
</main>
