<%= render "shared/cover_section" %>

<section class="col-sm-12 bkg-fix buffer" role="about">
  <div class="row grey-title">
    <h4>About</h4>
  </div> 

  <div class="col-sm-6"> 
    <h4>Basic Information</h4>
    <ul>
      <li><strong>Born on: </strong>July 31st, 1980</li>
      <li><strong>Went to school at</strong> <textarea class="information-textarea edit-profile-box">Hogwarts</textarea></li>
      <li><strong>Hometown</strong> <textarea class="information-textarea edit-profile-box">Godrick's Hollow, England</textarea></li>
      <li><strong>Currently Lives:</strong><textarea class="information-textarea edit-profile-box"> Godrick's Hollow</textarea></li>
    </ul>

    <h4>Contact Information</h4>
    <ul>
      <li><strong>Email: </strong>harry_potter@hogwarts.edu</li>
      <li><strong>Telephone</strong> <textarea class="information-textarea edit-profile-box">555-323-4354</textarea></li>

    </ul>
  </div>

  <div class="col-sm-6">
  <h4>Words to Live By</h4>
  <p>
    <p class="fill">  
      <textarea class="edit-profile-box fillw testfill">Bacon ipsum dolor sit amet landjaeger chicken meatball bresaola drumstick. Fatback pancetta corned beef ground round short ribs cow turkey pork loin jerky tri-tip pork ham t-bone. Rump meatloaf fatback, turducken meatball pork loin filet mignon beef. </textarea>
    </p>

  <h4>About Me</h4>
    <p class="fill">  
      <textarea class="edit-profile-box fillw testfill">Bacon ipsum dolor sit amet landjaeger chicken meatball bresaola drumstick. Fatback pancetta corned beef ground round short ribs cow turkey pork loin jerky tri-tip pork ham t-bone. Rump meatloaf fatback, turducken meatball pork loin filet mignon beef. Chuck kevin tongue, cow meatloaf biltong ground round bacon pork loin. Swine short ribs meatloaf, landjaeger sirloin sausage fatback short loin beef ribs chuck ham hock. Pig corned beef kevin, porchetta ham hock beef tongue hamburger short loin andouille jowl chuck pork chop.
      </textarea>
    </p>

  </div>

</section> <!-- /ABOUT -->