<%= render "shared/cover_section" %>

<section class="col-sm-12 bkg-fix buffer" role="about">
  <div class="row grey-title">
    <div class="col-sm-7 col-sm-offset-2">
      <h4>About</h4>
    </div>
    <form method="link" action="./about_edit.html">
      <input type="submit" class="post-button col-sm-2 navbar-right" value="Edit profile">
    </form>
  </div>

  <div class="col-sm-6">
    <h4>Basic Information</h4>
    <ul>
      <li><strong>Born on: </strong>July 31st, 1980</li>
      <li><strong>Went to school at</strong> Hogwarts</li>
      <li><strong>Hometown</strong> Godrick's Hollow, England</li>
      <li><strong>Currently Lives:</strong> Godrick's Hollow</li>
    </ul>

    <h4>Contact Information</h4>
    <ul>
      <li><strong>Email: </strong>harry_potter@hogwarts.edu</li>
      <li><strong>Telephone</strong> 555-323-4354</li>

    </ul>
  </div>

  <div class="col-sm-6">
  <h4>Words to Live By</h4>
  <p>Bacon ipsum dolor sit amet landjaeger chicken meatball bresaola drumstick. Fatback pancetta corned beef ground round short ribs cow turkey pork loin jerky tri-tip pork ham t-bone. Rump meatloaf fatback, turducken meatball pork loin filet mignon beef. </p>

  <h4>About Me</h4>
  <p>Bacon ipsum dolor sit amet landjaeger chicken meatball bresaola drumstick. Fatback pancetta corned beef ground round short ribs cow turkey pork loin jerky tri-tip pork ham t-bone. Rump meatloaf fatback, turducken meatball pork loin filet mignon beef. Chuck kevin tongue, cow meatloaf biltong ground round bacon pork loin. Swine short ribs meatloaf, landjaeger sirloin sausage fatback short loin beef ribs chuck ham hock. Pig corned beef kevin, porchetta ham hock beef tongue hamburger short loin andouille jowl chuck pork chop.</p>

  </div>
</section> <!-- /ABOUT -->