<main class="container" id="main">
  <div class="row">
    <div class="col-xs-12" id="cover-photo">
    </div>  
  </div>

  <!--plan: put the profile photo in its own row, then position it "absolutely" so that the row it exists in disappears and ligns up with the nav buttons-->
  <div class="row" id="nav-options">
    <div class="col-xs-2">
      <div id="profile-photo">
        <img src="images/harry_potter_small.jpg">
      </div>
    </div>
    <div class="col-xs-2 content-center border-right border-left">
      <h4><a href="timeline.html" class="main-nav">Timeline</a></h4>  
    </div>
    <div class="col-xs-2 content-center border-right grey-background">
      <h4><a href="about.html" class="main-nav">About</a></h4>  
    </div>
    <div class="col-xs-2 content-center  border-right">
      <h4><a href="photos.html" class="main-nav">Photos</a><span class="grey-out">(123)</span></h4> 
    </div>
    <div class="col-xs-2 content-center border-right">
      <h4><a href="friends.html" class="main-nav">Friends</a><span class="grey-out"> (542)</span></h4>  
    </div>
    <div class="col-xs-2">
      <a href="about_edit.html" class="float-right">Edit Profile</a>
    </div>
  </div>  
</main>
<div id="about" class="container">
  <header class="row" id="row-header">
    <div class="col-xs-2 col-xs-offset-5 content-center">
      <h1 id="about-header">About</h1>  
    </div>
    <div class="col-xs-2 col-xs-offset-3 content-center">
      <input type="button" id="edit-button" value="Edit your Profile">
    </div>
  </header>
  <div class="row" id="about-content">
    <div class="col-xs-5" id="basic-and-contact-info">
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
          <h2>Basic Information</h2>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-1 col-xs-offset-1">
          <h4>Birthday:</h4>
        </div>
        <div class="col-xs-4 col-xs-offset-3">
          <h4 class="not-bold">July 31st 1980</h4>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-1 col-xs-offset-1">
          <h4>College:</h4>
        </div>
        <div class="col-xs-5 col-xs-offset-3">
          <h4 class="not-bold">Hogwarts College</h4>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-1 col-xs-offset-1">
          <h4>Hometown:</h4>
        </div>
        <div class="col-xs-7 col-xs-offset-3">
          <h4 class="not-bold">Godrick's Hollow, England</h4>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-5 padding-left-super">
          <h4>Currently Lives:</h4>
        </div>
        <div class="col-xs-7">
          <h4 class="not-bold">Godrick's Hollow, England</h4>
        </div>  
      </div>
      <div class="row" id="contact-information">
        <header class="col-xs-11 col-xs-offset-1">
          <h2>Contact Information</h2>
        </header>
      </div>
      <div class="row">
        <div class="col-xs-5 padding-left-super">
          <h4>Email:</h4>
        </div>
        <div class="col-xs-7">
          <h4 class="not-bold">harry_potter@hogwarts.edu</h4>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-5 padding-left-super">
          <h4>Telephone:</h4>
        </div>
        <div class="col-xs-7">
          <h4 class="not-bold">555-123-4567</h4>
        </div>  
      </div>
    </div>
    <div class="col-xs-7" id="words-and-about-me">
      <div class="row padding-left">
        <header class="col-xs-12">
          <h2>Words to Live By</h2>
        </header> 
      </div>
      <div class="row padding-left">
        <div class="col-xs-11">
          <p id="live-words">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus adipisci perspiciatis, beatae sapiente deserunt consectetur dolor in quas voluptatibus cum.</p>
        </div>  
      </div>
      <div class="row padding-left">
        <header class="col-xs-12">
          <h2 id="about-me-title">About Me</h2>
        </header> 
      </div>
      <div class="row padding-left">
        <div class="col-xs-11">
          <p id="live-words">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus adipisci perspiciatis, beatae sapiente deserunt consectetur dolor in quas voluptatibus cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur doloremque eligendi mollitia cum labore temporibus voluptate nobis odit excepturi fugit maiores ipsum ex repellendus deleniti consequatur, provident ut rem error!</p>
        </div>  
      </div>
    </div>
  </div>
</div>