<main>

  <%= render 'profile_header_and_links' %>

  <div class="container">

    <div class="row">
      <header class="bar">
        <h1 class="about-heading about-title">Edit About</h1>
      </header>
    </div>

    <div class="info-section row">
      <div class="col-xs-6">
        <article class="left-side">
          <table id="first-table">
            <caption class="heading">Basic Information</caption>
            <tr>
              <td class="bold">Birthday:</td>
              <td><input type="text" placeholder="July 30, 1986"></td>
            </tr>
            <tr>
              <td class="bold">College:</td>
              <td><input type="text" placeholder="Some College"></td>
            </tr>
            <tr>
              <td class="bold">Hometown:</td>
              <td><input type="text" placeholder="That Place, USA"></td>
            </tr>
              <td class="bold">Currently Lives:</td>
              <td><input type="text" placeholder="This Place, USA"></td>
            </tr>
          </table>

          <table id="second-table">
            <caption class="heading">Contact Information</caption>
            <tr>
              <td class="bold">Email:</td>
              <td><input type="text" placeholder="emailaddress@place.com"></td>
            </tr>
            <tr>
              <td class="bold">Phone Number:</td>
              <td><input type="text" placeholder="(234)234-2345"></td>
            </tr>
          </table>
        </article>
      </div>

      <div class="col-xs-6 bottom-spacer">
        <article class="about-me-blurbs right-side">
          <h1 class="heading">Words to Live by</h1>
            <textarea rows="2" cols="70">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>
          <h1 class="heading about-me">About Me</h1>
            <textarea rows="6" cols="70">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
        </article>
      </div>

      <%= button_to "Save Changes", about_path, class: "white-text save-changes-button" %>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

</main>
