<div class="static-pages">

  <%= render "logged_in_navbar" %>

  <%= render "header" %>

  <main id="about-edit" class="container">
    <div class="row section-banner">
      <div class="col-md-12 section-header">
        <h1>Edit Profile</h1>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <div class="row">
            <div class="col-md-12">
              <h3>Basic Information</h3>
            </div>
          </div>
          <div class="row extra-line-height">
            <div class="col-xs-4">
              <strong>Birthday:</strong>
            </div>
            <div class="col-xs-8">
              July 31, 1980
            </div>
          </div>
          <div class="row extra-line-height">
            <div class="col-xs-4">
              <strong>College:</strong>
            </div>
            <div class="col-xs-8">
              <input type="text" value="Hogwart's College">
            </div>
          </div>
          <div class="row extra-line-height">
            <div class="col-xs-4">
              <strong>Hometown:</strong>
            </div>
            <div class="col-xs-8">
              <input type="text" value="Godrick's Hollow">
            </div>
          </div>
          <div class="row extra-line-height">
            <div class="col-xs-4">
              <strong>Currently lives:</strong>
            </div>
            <div class="col-xs-8">
              <input type="text" value="Godrick's Hollow">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h3>Contact Information</h3>
            </div>
          </div>
          <div class="row extra-line-height">
            <div class="col-xs-4">
              <strong>Email:</strong>
            </div>
            <div class="col-xs-8">
              harry_potter@hogwarts.edu
            </div>
          </div>
          <div class="row extra-line-height">
            <div class="col-xs-4">
              <strong>Telephone:</strong>
            </div>
            <div class="col-xs-8">
              <input type="tel" value="555-123-4567">
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="row">
            <div class="col-md-12">
              <h3>Words to live by</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea class="form-control" rows="6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>About Me</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea class="form-control" rows="6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="save-changes">Save Changes</button>
        </div>
      </div>
    </form>
  </main>
</div>