<%= render :partial => 'shared/nav' %>
<%= render :partial => 'shared/profile_header' %>

<!-- Profile Page / About-->
<section id="about" class="row profile-page-container">
	
	<header class="col-xs-12 profile-page-header">
		<h1>
			About
		</h1>
	</header>

	<!-- About Info -->
	<div class="col-xs-12 about-container">
		
		<div class="row">

			<!-- Info Left -->
			<div class="col-sm-5 col-sm-offset-1">

				<!-- Basic Info -->
				<section>
					<header>
						<h2>
							Basic Information
						</h2>
					</header>
					<div class="row">
						<div class="col-xs-12 about-info-container">
							<dl>
								<dt>Birthday:</dt><dd>July 31st, 1980</dd>
								<dt>College:</dt><dd>Magic School</dd>
								<dt>Hometown:</dt><dd>Magicville, Earth</dd>
								<dt>Currently Lives:</dt><dd>Magicville, Earth</dd>
							</dl>
						</div>
					</div>
				</section>

				<!-- Contact Info -->
				<section>
					<header>
						<h2>
							Contact Information
						</h2>
					</header>
					<div class="row">
						<div class="col-xs-12 about-info-container">
							<dl>
								<dt>Email:</dt><dd>harry_potter@hogwarts.edu</dd>
								<dt>Telephone:</dt><dd>1-800-DO-MAGIC</dd>
							</dl>
						</div>
					</div>
				</section>
			</div>

			<!-- Info Right -->
			<div class="col-sm-5">

				<!-- Words to Live By -->
				<article>
					<header>
						<h2>
							Words to Live By
						</h2>
					</header>
					<div class="about-info-container">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat qui eligendi tempore enim repellendus perspiciatis molestiae explicabo accusamus autem? Architecto quia velit delectus blanditiis labore, pariatur doloribus quibusdam id praesentium?
						</p>
					</div>
				</article>

				<!-- About Me -->
				<article>
					<header>
						<h2>
							About Me
						</h2>
					</header>
					<div class="about-info-container">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur iusto quae ipsam asperiores vero minima adipisci labore voluptates modi officia molestiae tempore fuga et illo provident, eligendi, odit quod veniam.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus optio, aperiam ea quos maxime magnam veniam autem culpa voluptate dolore ratione corporis dolorum, ducimus porro quia, minima repudiandae. Facilis, totam.
						</p>
					</div>
				</article>
			</div>

		</div>

	</div>

</section>
