<% content_for :title do %>
  <title>About</title>
<% end %>
<div class="container">
  <div class="pages">
    <%= render partial: '/shared/toolbar' %>
    <div class="row about-title">
      <div class="col-md-10">
        <h3>About</h3>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary">Edit your profile</button>
      </div>
    </div>
    <div class="row about-container">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <h2>Basic Information</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">Birthday:</div>
          <div class="col-md-7">July 31st 1990</div> 
        </div>
        <div class="row">
          <div class="col-md-5">College:</div>
          <div class="col-md-7">Hogwarts College</div> 
        </div>
        <div class="row">
          <div class="col-md-5">Hometown:</div>
          <div class="col-md-7">Godrick's Hollow, England</div> 
        </div>
        <div class="row">
          <div class="col-md-5">Currently Lives:</div>
          <div class="col-md-7">Godrick's Holow, England</div> 
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Contact Information</h2></div>
          </div>
        <div class="row">
          <div class="col-md-5">Email:</div>
          <div class="col-md-7">harry_potter@hogwarts.edu</div>
        </div> 
        <div class="row">
          <div class="col-md-5">Telephone:</div>
          <div class="col-md-7">111 234 5678</div> 
        </div>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12">
            <h2>Words to Live By</h2></div>
          </div>
        <div class="row">
          <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>About Me</h2></div>
          </div>
        <div class="row">
          <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>