
<div class="container cover">
  <div class="row">
    <div class="col-md-12">
      <img src="http://i.imgur.com/RqYVi8w.jpg" width="99%" class="cover-pic hidden-sm hidden-xs" />
    </div>
  </div>
  <div class="row cover-profile">
    <div class="col-md-2 col-md-offset-1">
        <img src="http://img3.wikia.nocookie.net/__cb20140407015951/degrassi/images/8/8b/Jon-Snow-S3.jpg" alt ="Jon Snow" height="100%" width="100%" class="hidden-sm hidden-xs profile-pic">

    </div>
  </div>
  <div class="row cover-menu">
    <div class="col-md-1 col-md-offset-3">
      <a class="btn btn-default btn-block" href="timeline.html" role="button">Timeline</a>
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-block" href="about.html" role="button">About</a>
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-block" href="photos.html" role="button">Photos</a>
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-block" href="friends.html" role="button">Friends</a>
    </div>
    <div class="col-md-1 pull-right">
      <a href="about_edit.html">Edit Profile</a>
    </div>
  </div>
</div>

<!--
End Cover/End Common Content
Begin Page Specific Conent
 -->


<div class="container about">
  <div class="row about-bar vcenter">
    <div class="col-sm-2 col-sm-offset-5">
      <h3>About</h3>
    </div>
    <div class="col-sm-2 col-sm-offset-3">
      <a class="btn btn-primary btn-block" href="about.html" role="button">Edit your Profile</a>
    </div>
  </div>
  <div class = "row">
          <div class = "col-md-5 col-md-offset-1">
            <h3>Basic Information</h3>
            <table class = "table about-table">
              <tr>
                <td>Birthday:</td>
                <td>July 31st, 282 AC</td>
              </tr>
              <tr>
                <td>Occupation:</td>
                <td><textarea>Lord Commander of the Night's Watch</textarea></td>
              </tr>
              <tr>
                <td>Hometown:</td>
                <td><textarea>Winterfell</textarea></td>
              </tr>
              <tr>
                <td>Currently Lives:</td>
                <td><textarea>Castle Black</textarea></td>
              </tr>
            </table>

            <h3>Contact Information</h3>
            <table class = "table about-table">
              <tr>
                <td>Email:</td>
                <td><textarea>j.snow@nightswatch.org</textarea></td>
              </tr>
              <tr>
                <td>Telephone:</td>
                <td><textarea>555-123-4567</textarea></td>
              </tr>
            </table>

          </div>

          <div class = "col-md-5">
            <h3>Words to live by</h3>
            <p class="words"><textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</textarea></p>
            <h3>About me</h3>
            <p class="about-me"><textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea></p>
          </div>
  </div>