<main class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 panel">
          <div class="row">
            <div class="col-md-12">
              <h1 class="panel-header">&nbsp</h1>
            </div>
          </div>
          <div class="row panel-content">
           <% users_matrix = users_count_check users %>
           <% users_matrix.each do |row| %>
             <% row.each do |col| %>
               <%= user_column(render_user_panel col)%>
             <% end %>
           <% end %> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= will_paginate %>
  </div>
</main>