<%= render "shared/cover_section" %>
<section class="col-sm-12 bkg-fix buffer">
  <div class="row grey-title">
    <h4>Friends</h4>
  </div> 
  <% 2.times do %>
  <div class="buffer col-sm-6">
    <% 3.times do%>
    <div class="friend-box buffer col-sm-12 bkg-fix">
      <%= image_tag("default.png", :class => "img-thumbnail friends-page-img", :alt => "defaulto mcnaulto") %>
      <div class="friend-info col-sm-10">
        <a><h4>Herpderp Granger<h4></a>
        <span>340 friends</span>
        <form method="link" action="./friends.html">
          <input type="submit" class="post-button navbar-right" value="Unfriend">
        </form>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</section>