<div class="container-fluid about-page">
  <%= render :partial => "main_nav", :locals => {profile: @profile} %>
  <!--main photo-->
   <div class="row">
    <div class="col-md-12 cover-photo">
      <img src="assets/hogwarts_small.jpg" alt="hogwarts">
      <div id="profile-pic"><img class="img-responsive img-thumbnail" alt="profile picture" src="assets/harry_potter_small.jpg">

    </div>
      <div id="profile-name"><h3>Harry Potter</h3></div>
  </div>
  </div>
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      
      <!--middle navigation-->
    <%= render :partial => "middle_nav", :locals => {:page=>"friends"} %>
  
  <div class="row friend-container">
      <div class="col-md-12">
        <div class="row friend-header">
          <div class="col-md-12">
        Friends
      </div>
    </div>
 
<!--Friends box-->

<!--Row 1-->
<div class="row">
  <div class="col-md-6">
    <div class="friend-box">
    <img class="friend-image" src="assets/wizard_hat.png" alt="friends's picture">
        <div class="friend-name">
          <p><a href="#">Hermione Granger</a></p>
          <p class="stats">432 Friends</p>
        </div>
        <button type="button" class="btn btn-default unfriend">Unfriend Me</p>
        </div>
  </div>
  <div class="col-md-6">
    <div class="friend-box">
    <img class="friend-image" src="assets/wizard_hat.png" alt="friends's picture">
        <div class="friend-name">
          <p><a href="#">Hermione Granger</a></p>
          <p class="stats">432 Friends</p>
        </div>
        <button type="button" class="btn btn-default unfriend">Unfriend Me</p>
        </div>
  </div>
</div>
<!--Row 2-->
<div class="row">
  <div class="col-md-6">
    <div class="friend-box">
     <img class="friend-image" src="assets/wizard_hat.png" alt="friends's picture">
        <div class="friend-name">
          <p><a href="#">Hermione Granger</a></p>
          <p class="stats">432 Friends</p>
        </div>
        <button type="button" class="btn btn-default unfriend">Unfriend Me</p>
        </div>
  </div>
  <div class="col-md-6">
    <div class="friend-box">
     <img class="friend-image" src="assets/wizard_hat.png" alt="friends's picture">
        <div class="friend-name">
          <p><a href="#">Hermione Granger</a></p>
          <p class="stats">432 Friends</p>
        </div>
        <button type="button" class="btn btn-default unfriend">Unfriend Me</p>
        </div>
  </div>
</div>
<!--Row 3-->
<div class="row">
  <div class="col-md-6">
    <div class="friend-box">
     <img class="friend-image" src="assets/wizard_hat.png" alt="friends's picture">
        <div class="friend-name">
          <p><a href="#">Hermione Granger</a></p>
          <p class="stats">432 Friends</p>
        </div>
        <button type="button" class="btn btn-default unfriend">Unfriend Me</p>
        </div>
  </div>
  <div class="col-md-6">
    <div class="friend-box">
     <img class="friend-image" src="assets/wizard_hat.png" alt="friends's picture">
        <div class="friend-name">
          <p><a href="#">Hermione Granger</a></p>
          <p class="stats">432 Friends</p>
        </div>
        <button type="button" class="btn btn-default unfriend">Unfriend Me</p>
        </div>
  </div>
</div>
</div>
</div>