<%= render :partial => 'shared/signed_in_navbar' %>

<main class = "container">

  <%= render :partial => 'middle_navbar' %>


  <section id="friends-section">
      <header>
        <div class="row">
          <div class="col-xs-12">
            <h2>Friends</h2>
          </div>
        </div>
      </header>

      <div class = "row">
        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <img src="http://images4.fanpop.com/image/photos/24400000/Hermione-Granger-Wallpaper-hermione-granger-24489063-1024-768.jpg" height = "100px" width = "100px">
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Hermione Granger</h4>
                  </a>
                  <a href="#">
                    <h6>322 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options">
                  <button class = "btn btn-default">Unfriend Me</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>

        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <img src="http://blog.mugglenet.com/wp-content/uploads/2014/02/RonWeasley.jpg" height = "100px" width = "100px">
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Ron Weasley</h4>
                  </a>
                  <a href="#">
                    <h6>256 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options clearfix">
                  <button class = "btn btn-default">
                    Unfriend Me
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>
      </div><!-- Ends row of 2 friends -->


      <div class = "row">
        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <img src="http://thrillgeek.com/wp-content/uploads/2015/01/Rubeus_Hagrid.jpg" height = "100px" width = "100px">
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Rubeus Hagrid</h4>
                  </a>
                  <a href="#">
                    <h6>781 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options">
                  <button class = "btn btn-default">Unfriend Me</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>

        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <img src="http://velociriot.org/wp-content/uploads/2013/04/Cho-Chang.jpg" height = "100px" width = "100px">
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Cho Chang</h4>
                  </a>
                  <a href="#">
                    <h6>401 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options clearfix">
                  <button class = "btn btn-default">
                    Unfriend Me
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>
      </div>


      <div class = "row">
        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <img src="http://www.prothinspo.com/images/Bonnie-Wright-Wallpaper-bonnie-wright-34184034-1280-800_1_.jpg" height = "100px" width = "100px">
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Ginny Weasley</h4>
                  </a>
                  <a href="#">
                    <h6>681 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options">
                  <button class = "btn btn-default">Unfriend Me</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>

        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT_iXL1X-BRJLPwuzr9gtQOcsxtvWokmCZSDYw27qAtAx4Ld-aAwQ" height = "100px" width = "100px">
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Cedric Diggory</h4>
                  </a>
                  <a href="#">
                    <h6>199 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options clearfix">
                  <button class = "btn btn-default">
                    Unfriend Me
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>
      </div>


      <div class = "row">
        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <img src="https://higheredgeek.files.wordpress.com/2015/03/albus-dumbledore-albus-dumbledore-7749342-1000-668.jpg" height = "100px" width = "100px">
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Albus Dumbledore</h4>
                  </a>
                  <a href="#">
                    <h6>3,527 Friends</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options">
                  <button class = "btn btn-default">Unfriend Me</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>

        <div class = "col-md-6">
          <!-- Friend box wrap -->
          <div class = "friend-wrapper">
            <div class = "row">
              <div class = "col-xs-3">
                <div class = "friend-img">
                  <img src="http://bikearlingtonforum.com/attachment.php?attachmentid=7507&d=1421420590" height = "100px" width = "100px">
                </div>
              </div>
              <div class = "col-xs-5">
                <div class = "friend-name">
                  <a href="#">
                    <h4>Lord Voldemort</h4>
                  </a>
                  <a href="#">
                    <h6>1 Friend</h6>
                  </a>
                </div>
              </div>
              <div class = "col-xs-4">
                <div class = "friend-options clearfix">
                  <button class = "btn btn-default">
                    Unfriend Me
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ^ Ends Friend Box Wrap -->
        </div>
      </div>

    </section>
</main>

<br>