<main class="container content-container">

  <%= render :partial => "header", :locals => { :toggled => "about" } %>




<!-- Start of main Friends section -->
  <section id="friends" class="row">

    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-default">


          <div class="panel-heading">
            <div class="row">

              <div class="col-xs-12 text-center">
                <h1 class="panel-title">Friends</h1>
              </div>

            </div>

          </div> <!-- end of panel heading -->




          <div class="panel-body">
            <div class="row">

              <!-- SINGLE FRIEND PANEL -->
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="row friend-wrapper">

                      <div class="col-xs-3">
                        <a href="#" alt="Hermione Granger's profile">
                          <img src="assets/user_silhouette_generic.gif" alt="Hermione Granger's photo">
                        </a>
                      </div>

                      <div class="col-xs-5">
                        <div class="vcenter">
                          <a href="#">
                            Hermione Granger
                          </a>
                          <p>432 Friends</p>
                        </div>
                      </div>

                      <div class="col-xs-4">
                        <div class="vcenter">
                          <button class="btn btn-default active">
                            Unfriend Me
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>  <!-- end of single friend panel -->


              <!-- 2nd SINGLE FRIEND PANEL -->
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="row friend-wrapper">

                      <div class="col-xs-3">
                        <a href="#" alt="Hermione Granger's profile">
                          <img src="assets/user_silhouette_generic.gif" alt="Hermione Granger's photo">
                        </a>
                      </div>

                      <div class="col-xs-5">
                        <div class="vcenter">
                          <a href="#">
                            Hermione Granger
                          </a>
                          <p>432 Friends</p>
                        </div>
                      </div>

                      <div class="col-xs-4">
                        <div class="vcenter">
                          <button class="btn btn-default active">
                            Unfriend Me
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>  <!-- end of single friend panel -->



              <!-- 3rd SINGLE FRIEND PANEL -->
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="row friend-wrapper">

                      <div class="col-xs-3">
                        <a href="#" alt="Hermione Granger's profile">
                          <img src="assets/user_silhouette_generic.gif" alt="Hermione Granger's photo">
                        </a>
                      </div>

                      <div class="col-xs-5">
                        <div class="vcenter">
                          <a href="#">
                            Hermione Granger
                          </a>
                          <p>432 Friends</p>
                        </div>
                      </div>

                      <div class="col-xs-4">
                        <div class="vcenter">
                          <button class="btn btn-default active">
                            Unfriend Me
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>  <!-- end of single friend panel -->



              <!-- 4th SINGLE FRIEND PANEL -->
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="row friend-wrapper">

                      <div class="col-xs-3">
                        <a href="#" alt="Hermione Granger's profile">
                          <img src="assets/user_silhouette_generic.gif" alt="Hermione Granger's photo">
                        </a>
                      </div>

                      <div class="col-xs-5">
                        <div class="vcenter">
                          <a href="#">
                            Hermione Granger
                          </a>
                          <p>432 Friends</p>
                        </div>
                      </div>

                      <div class="col-xs-4">
                        <div class="vcenter">
                          <button class="btn btn-default active">
                            Unfriend Me
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>  <!-- end of single friend panel -->



              <!-- 5th SINGLE FRIEND PANEL -->
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="row friend-wrapper">

                      <div class="col-xs-3">
                        <a href="#" alt="Hermione Granger's profile">
                          <img src="assets/user_silhouette_generic.gif" alt="Hermione Granger's photo">
                        </a>
                      </div>

                      <div class="col-xs-5">
                        <div class="vcenter">
                          <a href="#">
                            Hermione Granger
                          </a>
                          <p>432 Friends</p>
                        </div>
                      </div>

                      <div class="col-xs-4">
                        <div class="vcenter">
                          <button class="btn btn-default active">
                            Unfriend Me
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>  <!-- end of single friend panel -->



              <!-- 6th SINGLE FRIEND PANEL -->
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="row friend-wrapper">

                      <div class="col-xs-3">
                        <a href="#" alt="Hermione Granger's profile">
                          <img src="assets/user_silhouette_generic.gif" alt="Hermione Granger's photo">
                        </a>
                      </div>

                      <div class="col-xs-5">
                        <div class="vcenter">
                          <a href="#">
                            Hermione Granger
                          </a>
                          <p>432 Friends</p>
                        </div>
                      </div>

                      <div class="col-xs-4">
                        <div class="vcenter">
                          <button class="btn btn-default active">
                            Unfriend Me
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>  <!-- end of single friend panel -->


            </div>
          </div> <!-- end of larger panel body -->

        </div>

      </div>
    </div>
  </section>




</main> <!-- container -->