<%= render 'shared/nav' %>

<main class="container">

  <%= render 'shared/navigation' %>

  <section class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Friends</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <article class="friends-profile">
                <img class="img-rounded img-thumbnail" src="http://lorempixel.com/output/fashion-q-c-150-150-10.jpg" alt="users" />
                <div class="nametag">
                  <a href="#">Hermione Gronger</a>
                  <p>
                    432 Friends
                  </p>
                </div>
                <button class="btn btn-danger" type="button" name="button">Unfriend Me</button>
              </article>
            </div>
            <div class="col-md-6">
              <article class="friends-profile">
                <img class="img-rounded img-thumbnail" src="http://lorempixel.com/output/animals-q-c-150-150-6.jpg" alt="users" />
                <div class="nametag">
                  <a href="#">Hermione Gronger</a>
                  <p>
                    432 Friends
                  </p>
                </div>
                <button class="btn btn-danger" type="button" name="button">Unfriend Me</button>
              </article>
            </div>
          </div> <!-- row end -->
          <div class="row">
            <div class="col-md-6">
              <article class="friends-profile">
                <img class="img-rounded img-thumbnail" src="http://lorempixel.com/output/animals-q-c-150-150-4.jpg" alt="users" />
                <div class="nametag">
                  <a href="#">Hermione Gronger</a>
                  <p>
                    432 Friends
                  </p>
                </div>
                <button class="btn btn-danger" type="button" name="button">Unfriend Me</button>
              </article>
            </div>
            <div class="col-md-6">
              <article class="friends-profile">
                <img class="img-rounded img-thumbnail" src="http://lorempixel.com/output/cats-q-c-150-150-10.jpg" alt="users" />
                <div class="nametag">
                  <a href="#">Hermione Gronger</a>
                  <p>
                    432 Friends
                  </p>
                </div>
                <button class="btn btn-danger" type="button" name="button">Unfriend Me</button>
              </article>
            </div>
          </div> <!-- row end -->
          <div class="row">
            <div class="col-md-6">
              <article class="friends-profile">
                <img class="img-rounded img-thumbnail" src="http://lorempixel.com/output/cats-q-c-150-150-9.jpg" alt="users" />
                <div class="nametag">
                  <a href="#">Hermione Gronger</a>
                  <p>
                    432 Friends
                  </p>
                </div>
                <button class="btn btn-danger" type="button" name="button">Unfriend Me</button>
              </article>
            </div>
            <div class="col-md-6">
              <article class="friends-profile">
                <img class="img-rounded img-thumbnail" src="http://lorempixel.com/output/cats-q-c-150-150-3.jpg" alt="users" />
                <div class="nametag">
                  <a href="#">Hermione Gronger</a>
                  <p>
                    432 Friends
                  </p>
                </div>
                <button class="btn btn-danger" type="button" name="button">Unfriend Me</button>
              </article>
            </div>
          </div> <!-- row end -->
          <div class="row">
            <div class="col-md-6">
              <article class="friends-profile">
                <img class="img-rounded img-thumbnail" src="http://lorempixel.com/output/cats-q-c-150-150-1.jpg" alt="users" />
                <div class="nametag">
                  <a href="#">Hermione Gronger</a>
                  <p>
                    432 Friends
                  </p>
                </div>
                <button class="btn btn-danger" type="button" name="button">Unfriend Me</button>
              </article>
            </div>
            <div class="col-md-6">
              <article class="friends-profile">
                <img class="img-rounded img-thumbnail" src="http://lorempixel.com/output/cats-q-c-150-150-7.jpg" alt="users" />
                <div class="nametag">
                  <a href="#">Hermione Gronger</a>
                  <p>
                    432 Friends
                  </p>
                </div>
                <button class="btn btn-danger" type="button" name="button">Unfriend Me</button>
              </article>
            </div>
          </div> <!-- row end -->
          <div class="row">
            <div class="col-md-6">
              <article class="friends-profile">
                <img class="img-rounded img-thumbnail" src="http://lorempixel.com/output/cats-q-c-150-150-4.jpg" alt="users" />
                <div class="nametag">
                  <a href="#">Hermione Gronger</a>
                  <p>
                    432 Friends
                  </p>
                </div>
                <button class="btn btn-danger" type="button" name="button">Unfriend Me</button>
              </article>
            </div>
            <div class="col-md-6">
              <article class="friends-profile">
                <img class="img-rounded img-thumbnail" src="http://lorempixel.com/output/technics-q-c-150-150-9.jpg" alt="users" />
                <div class="nametag">
                  <a href="#">Hermione Gronger</a>
                  <p>
                    432 Friends
                  </p>
                </div>
                <button class="btn btn-danger" type="button" name="button">Unfriend Me</button>
              </article>
            </div>
          </div> <!-- row end -->
        </div>
      </div> <!-- panel end -->
    </div>
  </section>
</main>
