<% content_for :navbar do %>
<%= render "shared/logged_navbar" %>
<% end %>
<!--HERO-->
<div class="container">
    <header class="hero">
        <div class="avatar">
        </div>
    </header>
    <!--SUB-NAVIGATION-->
    <%= render "shared/sub_navbar" %>
    <!--SECTION BAR-->
    <section class="nav-about">
        <h2>
        Friends
        </h2>
    </section>
    <!--FRIENDS GRID -->
    <main class="main-about">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="friend-box">
                <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Hermione Granger
                    </a>
                    Friends<span class="badge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="friend-box">
                <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Hermione Granger
                    </a>
                    Friends<span class="badge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="friend-box">
                <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Hermione Granger
                    </a>
                    Friends<span class="badge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="friend-box">
                <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Hermione Granger
                    </a>
                    Friends<span class="badge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="friend-box">
                <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Hermione Granger
                    </a>
                    Friends<span class="badge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="friend-box">
                <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Hermione Granger
                    </a>
                    Friends<span class="badge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
    </main>
</div>