<div id= "friends">
    <%= render "shared/cover" %>
    <%= render "shared/navigation" %>
	
	<!-- Friends Section -->
	<div class = "row big-title-section">
		<div class = "col-xs-12 text-center">
			<h2>Friends</h2>
		</div>
	</div>

	<div class = "row">
		<div class = "col-sm-8 col-sm-offset-2">

			<div class= "row friends-section">
				
				<!-- One Friend Block -->
				<div class= "col-sm-5 border-control">

					<!-- Header Post -->
					<div class= "row">
						<div class= "col-xs-1 post-picture-friend">
							<a class="profile-link" href="#"></a>
						</div>

						<div class = "col-xs-4">
							<a href="#">Hermione Granger</a>
							<p>432 Friends</p>
						</div>

						<div class= "col-xs-5">
							<button class= "btn btn-default">Unfriend Me</button>
						</div>
					</div><!-- End Header -->
				</div><!-- End Friend Block -->

				<!-- One Friend Block -->
				<div class= "col-sm-5 col-sm-offset-2 border-control">

					<!-- Header Post -->
					<div class= "row">
						<div class= "col-xs-1 post-picture-friend">
							<a class="profile-link" href="#"></a>
						</div>

						<div class = "col-xs-4">
							<a href="#">Hermione Granger</a>
							<p>432 Friends</p>
						</div>

						<div class= "col-xs-5">
							<button class= "btn btn-default">Unfriend Me</button>
						</div>
					</div><!-- End Header -->
				</div><!-- End Friend Block -->

				<!-- One Friend Block -->
				<div class= "col-sm-5 border-control">

					<!-- Header Post -->
					<div class= "row">
						<div class= "col-xs-1 post-picture-friend">
							<a class="profile-link" href="#"></a>
						</div>

						<div class = "col-xs-4">
							<a href="#">Hermione Granger</a>
							<p>432 Friends</p>
						</div>

						<div class= "col-xs-5">
							<button class= "btn btn-default">Unfriend Me</button>
						</div>
					</div><!-- End Header -->
				</div><!-- End Friend Block -->

			</div>
			<hr>
		</div>
	</div>
</div>