

<div class="container cover">
  <div class="row">
    <div class="col-md-12">
      <img src="http://i.imgur.com/RqYVi8w.jpg" width="99%" class="cover-pic hidden-sm hidden-xs" />
    </div>
  </div>
  <div class="row cover-profile">
    <div class="col-md-2 col-md-offset-1">
        <img src="http://img3.wikia.nocookie.net/__cb20140407015951/degrassi/images/8/8b/Jon-Snow-S3.jpg" alt ="Jon Snow" height="100%" width="100%" class="hidden-sm hidden-xs profile-pic">

    </div>
  </div>
  <div class="row cover-menu">
    <div class="col-md-1 col-md-offset-3">
      <a class="btn btn-default btn-block" href="timeline.html" role="button">Timeline</a>
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-block" href="about.html" role="button">About</a>
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-block" href="photos.html" role="button">Photos</a>
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-block" href="friends.html" role="button">Friends</a>
    </div>
    <div class="col-md-1 pull-right">
      <a href="about_edit.html">Edit Profile</a>
    </div>
  </div>
</div>



<!--
End Cover/End Common Content
Begin Page Specific Conent
 -->

<div class="friends container">
  <div class="row friends-bar vcenter">
    <div class="col-sm-2 col-sm-offset-5">
      <h3>Friends</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="friend-box vcenter">
        <img src="http://images6.fanpop.com/image/polls/1384000/1384462_1402305957008_full.jpg">
        <a href="#">Samwell Tarly<span class="friend-count">126 Friends</span></a><a href="#" class="unfriend-button">Unfriend me</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="friend-box vcenter">
        <img src="http://images6.fanpop.com/image/polls/1384000/1384462_1402305957008_full.jpg">
        <a href="#">Samwell Tarly<span class="friend-count">126 Friends</span></a><a href="#" class="unfriend-button">Unfriend me</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="friend-box vcenter">
        <img src="http://images6.fanpop.com/image/polls/1384000/1384462_1402305957008_full.jpg">
        <a href="#">Samwell Tarly<span class="friend-count">126 Friends</span></a><a href="#" class="unfriend-button">Unfriend me</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="friend-box vcenter">
        <img src="http://images6.fanpop.com/image/polls/1384000/1384462_1402305957008_full.jpg">
        <a href="#">Samwell Tarly<span class="friend-count">126 Friends</span></a><a href="#" class="unfriend-button">Unfriend me</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="friend-box vcenter">
        <img src="http://images6.fanpop.com/image/polls/1384000/1384462_1402305957008_full.jpg">
        <a href="#">Samwell Tarly<span class="friend-count">126 Friends</span></a><a href="#" class="unfriend-button">Unfriend me</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="friend-box vcenter">
        <img src="http://images6.fanpop.com/image/polls/1384000/1384462_1402305957008_full.jpg">
        <a href="#">Samwell Tarly<span class="friend-count">126 Friends</span></a><a href="#" class="unfriend-button">Unfriend me</a>
      </div>
    </div>
  </div>
</div>
