<%= render "nav_home" %>

<div class="container">
     <main id="main-wrapper">
     <div class="row">
        <div class="col-sm-7" id="content">
          <header>
            <h2>Connect with all your friends!</h2>

          <p><small>
            <ul>
              <li><strong>See updates and photos</strong> in your newsfeed</li>
              <li><strong>Post your status for the world to see</strong> with your news feed</li>
              <li><strong>Get in touch with your friends</strong> by "friending" them</li>
              <li><strong>Like things</strong> because you're a positive person!</li>
            </ul></small>
          </p>
          </header>
        </div>
        <div class="col-sm-5" id="signup">

          <header>
            <h1>Sign Up</h1>
          </header>


          <form>

            <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group col-sm-6">
            <input type="text" class="form-control" placeholder="Last Name">
           </div>
           <div class="form-group col-sm-12">
          <input type="text" class="form-control" placeholder="Your Email">
           </div>
          <div class="form-group col-sm-12">
            <input type="text" class="form-control" placeholder="Your New Password">
              </div>
            <div class="form-group col-sm-12">
            <input type="text" class="form-control" placeholder="Confirm Your Password">
            </div>
            <div class="form-group col-sm-12">
            <h4>Birthday</h4>

            <div class="col-sm-4">
            <select  class="form-control input-sm" >
              <option selected disabled>Month</option>
            <option>Jan</option>
             <option>Feb</option>
             <option>Mar</option>
              </select>
        </div>
        <div class="col-sm-4">
          <select class="form-control input-sm">
            <option selected disabled>Day</option>
          <option>1</option>
           <option>2</option>
           <option>3</option>
        </select>
      </div>
      <div class="col-sm-4">
        <select class="form-control input-sm">
          <option selected disabled>Year</option>
        <option>1985</option>
         <option>1986</option>
         <option>1987</option>

      </select>
    </div>
    </div>
    <div id="gender" class="form-group col-sm-12">
    <label class="radio-inline">
 <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Female
</label>
<label class="radio-inline">
 <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Male
</label>
</div>
 <div class="form-group col-sm-12">
 <button id="sign-btn" type="button" class="btn-block btn-success">Sign Up!</button>
</div>


          </form>

        </div>
     </div>
   </main>
 </div>
