<div id= "homepage">
	<!-- Main Container -->
	<div class = "container">

		<div class = "row">

			<!-- Left Section -->
			<section class = "col-md-7 marketing">
				<h1>Connect with all your friends!</h1>
				<ul>
					<li><strong>See photos and updates</strong> in your feed.</li>
					<li><strong>Post your status for the world to see</strong> from your profile.</li>
					<li><strong>Get in touch with your friends</strong> by "friending them".</li>
					<li><strong>Like things</strong> because you're a positive person!</li>
				</ul>
			</section>

			<!-- Right Section -->
			<section class = "col-md-5 sign-up">

				<div class = "row col-lg-10 col-lg-offset-1">
					<h2>Sign up</h2>
					<div class = "row">


						<!-- Start Form -->
						<!-- Names -->
						<div class = "col-sm-6">
							<input type = "text" class = "form-control" placeholder = "First Name">
						</div>

						<div class = "col-sm-6">
							<input type = "text" class = "form-control" placeholder = "Last Name">
						</div>
					</div>

					<!-- Email and Password -->

					<div class = "row">
						<div class = "col-sm-12">
							<input type = "email" class = "form-control" placeholder = "Your Email">
							<input type = "password" class = "form-control" placeholder = "Your New Password">
							<input type = "password" class = "form-control" placeholder = "Confirm Your Password">


							<!-- Birthday -->
							<label for = "birthdate" class = "control-label">Birthday</label>

							<div class = "row">
								<div class = "col-xs-3">
									<select class = "form-control" id = "birthdate">
										<option>January</option>
										<option>February</option>
										<option>March</option>
									</select>
								</div>
								<div class = "col-xs-3">
									<select class = "form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
								</div>
								<div class = "col-xs-3">
									<select class = "form-control">
										<option>1985</option>
										<option>1986</option>
										<option>1987</option>
									</select>
								</div>
							</div>


							<!-- Gender and Submit -->
							<input type = "radio" name = "gender"><label class = "radio-inline">Female</label>
							<input type = "radio" name = "gender"><label class = "radio-inline">Male</label>

							<button type="submit" class = "col-xs-12 btn btn-success">Sign up!</button>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>