
<div id="homepage" class="container">
  <div class="row">

    <div class="col-md-7">
      <div id="info-msgs">
        <h2>Connect with all your friends!</h2>
        <ul>
          <li>See photos and updates in your news feed.</li>
          <li>Post your status for the world to see from your profile</li>
          <li>Get in touch with your friends by "friending" them</li>
          <li>Like things because you're a positive person!</li>
        </ul>
      </div>
    </div>

    <div class="col-md-5">
      <div id="signup-form">
        <h1>Sign Up</h1>
        <form>
          <!-- name -->
          <div class="row">
            <div class="form-group col-sm-6">
              <input class="form-control" type="text" placeholder="First Name">
            </div>
            <div class="form-group col-sm-6">
              <input class="form-control" type="text" placeholder="Last Name">
            </div>
          </div>
          <!-- email -->
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Your Email">
          </div>
          <!-- passwords -->
          <div class="form-group">
            <input class="form-control" type="password" placeholder="Your New Password">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" placeholder="Confirm Your Password">
          </div>
          <!-- birthday -->
          <div class="form-group">
            <label for="signup-birthday">Birthday</label>
            <input id="signup-birthday" class="form-control" type="date">
          </div>
          <!-- gender -->
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" name="" value="">
              Male
            </label>
            <label class="radio-inline">
              <input type="radio" name="" value="">
              Female
            </label>
          </div>

          <button class="btn btn-lg btn-success btn-block" type="button" name="button">Sign Up!</button>
        </form>
      </div>
    </div>
  </div>
</div>
