<main class="home">
  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="about-info col-xs-6 col-xs-offset-1">
          <h1>Connect with all your friends!</h1>
          <ul>
            <li><span class="bold-text">See photos and updates</span> in your news feed.</li>
            <li><span class="bold-text">Post your status for the world</span> to see from your profile</li>
            <li><span class="bold-text">Get in touch with your friends</span> by "friending" them</li>
            <li><span class="bold-text">Like things</span> because you're a positive person!</li>
          </ul>
        </div>
        <div class="sign-up-container col-xs-4">
          <header class="row">
            <h1 class="sign-up-header">Sign Up</h1>
          </header>
          <%= render 'users/form' %>
        </div> <!--close sign-up-container -->
      </div> <!-- close row -->
    </div> <!-- close container -->
  </section> <!-- close main-content section -->
</main> <!-- close main -->
