<main class="container main">
    <div class="row">
      <section class="col-s-6 col-md-6 col-md-offset-1">
        <header class="connect-message">
          <h3>Connect with all your friends!</h3>
        </header>
        <ul class="signup-list">
          <li>See photos and updates in your news feed</li>
          <li>Post your status for the world to see from your profile</li>
          <li>Get in touch with your friends by "friending" them</li>
          <li>Like things because you're a positive person!</li>
        </ul>
      </section>
      <section class="col-s-6 col-md-4">
        <h2 class="h1">Sign Up</h2>
        <form>
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="first-name" class="sr-only form-control">First Name</label>
              <input type="text" placeholder="First Name" id="first-name" class="form-control"></div>
              <div class="col-md-6 form-group">
                <label for="last-name" class="sr-only">Last Name</label>
                <input type="text" placeholder="Last Name" id="last-name" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" placeholder="Email" id="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="sr-only">Your New Password</label>
              <input type="password" placeholder="Your New Password" id="password" class="form-control">
            </div>
            <div class="form-group">
            <label for="password-confirmation" class="sr-only">Confirm Your Password</label>
            <input type="password" placeholder="Confirm Your Password" id="password-confirmation" class="form-control"></div>
            <div class="form-group">
              <label for="birthday" class="h4">Birthday</label><br>
              <select name="birthday-month" id="birthday-month">
              <option value="Month" checked>Month</option>
               <option value="1">Jan</option>
               <option value="2">Feb</option>
               <option value="3">Mar</option>
               <option value="4">Apr</option>
               <option value="5">May</option>
               <option value="6">Jun</option>
               <option value="7">Jul</option>
               <option value="8">Aug</option>
               <option value="9">Sep</option>
               <option value="10">Oct</option>
               <option value="11">Nov</option>
               <option value="12">Dec</option>
              </select>
              <select name="birthday-day" id="birthday-day">
                <option value="Day" checked>Day</option>
                 <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
              <select name="birthday-year" id="birthday-year">
              <option value="Year">Year</option>
                <option value="1990">1990</option>
                <option value="1989">1989</option>
                <option value="1988">1988</option>
                <option value="1987">1987</option>
                <option value="1986">1986</option>
              </select>
            </div>
            <div class="form-group">
              <label class="radio-inline" for="sex">
              <input type="radio" name="sex" id="female" value="female">Female
              </label>
            <label class="radio-inline" for="sex">
            <input type="radio" name="sex" id="male" value="male">Male
            </label>
            </div>
            <button type="submit" class="btn btn-block btn-success">Sign Up!</button>
            
          </form>
        </section>
      </div>
      </main>