<main class="container" id="home">
  <div class="row">
    <aside class="col-md-6">
      <h2>Connect with all your friends!</h2>
      <ul>
        <li>See photos and updates in your news feed.</li>
        <li>Post your status for the world to see from your profile.</li>
        <li>Get in touch with your friends by "friending" them.</li>
        <li>Like things because you're a positive person.</li>
      </ul>
    </aside>
    <form class="col-md-6 form-horizontal">
      <h3>Sign Up</h3>
      <div class="form-group">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <input type="email" class="form-control" placeholder="Your Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <input type="password" class="form-control" placeholder="Your New Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <input type="password" class="form-control" placeholder="Confirm Your Password">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12">Birthday</label>
        <div class="col-md-12">
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" value="female">Female
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" value="male">Male
          </label>
        </div>
      </div>
      <button class="btn btn-primary btn-lg btn-block">Sign Up!</button>
      </div>
    </form>
  </div>
</main>