<%= render :partial => 'shared/nav' %>
  
<div class="row" style="margin-top: 32px;">
  
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <%
      [
        ['About', current_user ? user_path(current_user) : '#'],
        ['About Edit', current_user ? edit_user_path(current_user) : '#'],
        ['Friends', '/friends'],
        ['News Feed', '/news_feed'],
        ['Photos', '/photos'],
        ['Signup', '/signup'],
        ['Timeline', '/timeline'],
        ['Sign Out', session_path, :method => :delete]
      ].each do |link_args|
      %>
        <li role="presentation">
          <%= link_to(*link_args) %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
