<%= render :partial => 'shared/nav' %>
	
<div class="row">
	
	<div class="col-xs-12">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="/about">About</a></li>
			<li role="presentation"><a href="/about_edit">About Edit</a></li>
			<li role="presentation"><a href="/friends">Friends</a></li>
			<li role="presentation"><a href="/news_feed">News Feed</a></li>
			<li role="presentation"><a href="/photos">Photos</a></li>
			<li role="presentation"><a href="/signup">Signup</a></li>
			<li role="presentation"><a href="/timeline">Timeline</a></li>
		</ul>
	</div>

</div>
