<%= render :partial => 'shared/nav' %>
<%= render :partial => 'shared/flash' %>
  
<div class="row" style="margin-top: 32px;">
  
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <%
      [
        ['Users', users_path],
        ['About', current_user ? user_path(current_user) : '#'],
        ['About Edit', current_user ? edit_user_path(current_user) : '#'],
        ['Friends', current_user ? user_friendships_path(current_user) : '#'],
        ['News Feed', current_user ? posts_path : '#'],
        ['Photos', '/photos'],
        ['Signup', '/signup'],
        ['Timeline', current_user ? user_posts_path(current_user) : '#'],
        ['Sign Out', logout_path]
      ].each do |link_args|
      %>
        <li role="presentation">
          <%= link_to(*link_args) %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
