<section class="container main-header">
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag 'hogwarts_small.jpg' %>
      <%= image_tag 'user_silhouette_generic.gif', class:"profile" %>
    </div>
  </div>

<!-- content -->
<section class="container content">
  <div class="row title-header">
    <div class="col-xs-4 col-xs-offset-4">
      <p class="title">Friends</p>
    </div>
  </div>
  <div class="row content-space">

    <div class="col-xs-6 friend-col">
      <div class="row friend-row">
        <div class="col-xs-3">
          <img class="friend-profile" src="assets/user_silhouette_generic.gif">
        </div>
        <div style="margin-top: 32px" class="col-xs-5">
          <a class="friend-name" href="hermione"><u>Hermione Granger</u></a>
          <p>432 Friends</p>
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-secondary unfriend-button">Unfriend Me</button>
        </div>
      </div>

      <div class="row friend-row">
        <div class="col-xs-3">
          <img class="friend-profile" src="assets/user_silhouette_generic.gif">
        </div>
        <div style="margin-top: 32px" class="col-xs-5">
          <a class="friend-name" href="hermione"><u>Hermione Granger</u></a>
          <p>432 Friends</p>
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-secondary unfriend-button">Unfriend Me</button>
        </div>
      </div>

      <div class="row friend-row">
        <div class="col-xs-3">
          <img class="friend-profile" src="assets/user_silhouette_generic.gif">
        </div>
        <div style="margin-top: 32px" class="col-xs-5">
          <a class="friend-name" href="hermione"><u>Hermione Granger</u></a>
          <p>432 Friends</p>
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-secondary unfriend-button">Unfriend Me</button>
        </div>
      </div>

    </div>

    <div class="col-xs-6 friend-col">

      <div class="row friend-row">
        <div class="col-xs-3">
          <img class="friend-profile" src="assets/user_silhouette_generic.gif">
        </div>
        <div style="margin-top: 32px" class="col-xs-5">
          <a class="friend-name" href="hermione"><u>Hermione Granger</u></a>
          <p>432 Friends</p>
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-secondary unfriend-button">Unfriend Me</button>
        </div>
      </div>

      <div class="row friend-row">
        <div class="col-xs-3">
          <img class="friend-profile" src="assets/user_silhouette_generic.gif">
        </div>
        <div style="margin-top: 32px" class="col-xs-5">
          <a class="friend-name" href="hermione"><u>Hermione Granger</u></a>
          <p>432 Friends</p>
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-secondary unfriend-button">Unfriend Me</button>
        </div>
      </div>

      <div class="row friend-row">
        <div class="col-xs-3">
          <img class="friend-profile" src="assets/user_silhouette_generic.gif">
        </div>
        <div style="margin-top: 32px" class="col-xs-5">
          <a class="friend-name" href="hermione"><u>Hermione Granger</u></a>
          <p>432 Friends</p>
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-secondary unfriend-button">Unfriend Me</button>
        </div>
      </div>

    </div>

  </div>