<%= render :partial => 'shared/nav' %>

<!-- Profile Page / News Feed -->
<section id="news-feed" class="row profile-page-container row-offcanvas row-offcanvas-left">

	<!-- Details -->
	<div class="col-sm-3 details-container sidebar-offcanvas">

		<div class="row">

			<!-- Profile Avatar -->
			<section id="profile-avatar" class="col-xs-12">
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<div class="profile-image-container">
							<a href="/about">
								<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
							</a>
						</div>
					</div>
					<div class="col-md-12 col-lg-6">
						<div class="profile-avatar-links-container">
							<a class="profile-link" href="/about">
								Harry Potter
							</a>
							<a href="/about_edit">
								Edit Profile
							</a>
						</div>
					</div>
				</div>
			</section>

			<!-- Recently Active -->
			<section id="recently-active" class="col-xs-12">
				<header class="details-header">
					<h1>
						Recently Active
					</h1>
				</header>

				<!-- Activity Links -->
				<div class="activity-container">

					<div class="row">

						<div class="activity-link-container col-xs-12">
							<div class="row">
									<div class="col-md-12 col-lg-3">
										<div class="profile-image-container">
											<a href="/about">
												<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
											</a>
										</div>
									</div>
									<div class="col-md-12 col-lg-8 col-lg-offset-1 activity-info-container">
										<a href="/about">
											Harry Potter
										</a>
										<time>
											Commented on Thursday 7/30/2015
										</time>
									</div>
							</div>	
						</div>

						<div class="activity-link-container col-xs-12">
							<div class="row">
									<div class="col-md-12 col-lg-3">
										<div class="profile-image-container">
											<a href="/about">
												<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
											</a>
										</div>
									</div>
									<div class="col-md-12 col-lg-8 col-lg-offset-1 activity-info-container">
										<a href="/about">
											Harry Potter
										</a>
										<time>
											Commented on Thursday 7/30/2015
										</time>
									</div>
							</div>	
						</div>

						<div class="activity-link-container col-xs-12">
							<div class="row">
									<div class="col-md-12 col-lg-3">
										<div class="profile-image-container">
											<a href="/about">
												<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
											</a>
										</div>
									</div>
									<div class="col-md-12 col-lg-8 col-lg-offset-1 activity-info-container">
										<a href="/about">
											Harry Potter
										</a>
										<time>
											Commented on Thursday 7/30/2015
										</time>
									</div>
							</div>	
						</div>

						<div class="activity-link-container col-xs-12">
							<div class="row">
									<div class="col-md-12 col-lg-3">
										<div class="profile-image-container">
											<a href="/about">
												<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
											</a>
										</div>
									</div>
									<div class="col-md-12 col-lg-8 col-lg-offset-1 activity-info-container">
										<a href="/about">
											Harry Potter
										</a>
										<time>
											Commented on Thursday 7/30/2015
										</time>
									</div>
							</div>	
						</div>

						<div class="activity-link-container col-xs-12">
							<div class="row">
									<div class="col-md-12 col-lg-3">
										<div class="profile-image-container">
											<a href="/about">
												<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
											</a>
										</div>
									</div>
									<div class="col-md-12 col-lg-8 col-lg-offset-1 activity-info-container">
										<a href="/about">
											Harry Potter
										</a>
										<time>
											Commented on Thursday 7/30/2015
										</time>
									</div>
							</div>	
						</div>

						<div class="activity-link-container col-xs-12">
							<div class="row">
									<div class="col-md-12 col-lg-3">
										<div class="profile-image-container">
											<a href="/about">
												<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
											</a>
										</div>
									</div>
									<div class="col-md-12 col-lg-8 col-lg-offset-1 activity-info-container">
										<a href="/about">
											Harry Potter
										</a>
										<time>
											Commented on Thursday 7/30/2015
										</time>
									</div>
							</div>	
						</div>

						<div class="activity-link-container col-xs-12">
							<div class="row">
									<div class="col-md-12 col-lg-3">
										<div class="profile-image-container">
											<a href="/about">
												<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
											</a>
										</div>
									</div>
									<div class="col-md-12 col-lg-8 col-lg-offset-1 activity-info-container">
										<a href="/about">
											Harry Potter
										</a>
										<time>
											Commented on Thursday 7/30/2015
										</time>
									</div>
							</div>	
						</div>

						<div class="activity-link-container col-xs-12">
							<div class="row">
									<div class="col-md-12 col-lg-3">
										<div class="profile-image-container">
											<a href="/about">
												<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
											</a>
										</div>
									</div>
									<div class="col-md-12 col-lg-8 col-lg-offset-1 activity-info-container">
										<a href="/about">
											Harry Potter
										</a>
										<time>
											Commented on Thursday 7/30/2015
										</time>
									</div>
							</div>	
						</div>

						<div class="activity-link-container col-xs-12">
							<div class="row">
									<div class="col-md-12 col-lg-3">
										<div class="profile-image-container">
											<a href="/about">
												<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
											</a>
										</div>
									</div>
									<div class="col-md-12 col-lg-8 col-lg-offset-1 activity-info-container">
										<a href="/about">
											Harry Potter
										</a>
										<time>
											Commented on Thursday 7/30/2015
										</time>
									</div>
							</div>	
						</div>

					</div>

				</div>
				<footer>
					<a href="/photos">
						See All Your Friends
					</a>
				</footer>
			</section>
		</div>

	</div>

	<!-- News Feed -->
	<div class="col-sm-8 col-sm-offset-1 news-feed-container">

		<div class="pull-left visible-xs offcanvas-toggle-container">
			<button type="button" class="btn btn-primary offcanvas-toggle" data-toggle="offcanvas">
				<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</button>
		</div>

		<div class="row">
			
			<!-- Post Form -->
			<div id="post-form-wrapper" class="col-xs-12">
				<header class="post-form-header">
					<h1>
						Post
					</h1>
				</header>
				<div class="post-form-container">
					<form>
						<div class="form-group">
							<textarea id="post" name="post" class="form-control" placeholder="Tell the world something..."></textarea>
						</div>
						<footer class="post-form-footer">
							<button class="btn btn-primary submit" type="submit">
								Post
							</button>
						</footer>
					</form>
				</div>
			</div>

			<!-- Posts -->
			<div class="post col-xs-12">
				<header>
					<div class="row">
						<div class="col-xs-2">
							<div class="post-profile-image-container">
								<a href="/about">
									<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
								</a>
							</div>
						</div>
						<div class="col-xs-8 post-info-container">
							<a href="/about">
								Harry Potter
							</a>
							<time>
								Posted on Thursday 7/30/2015
							</time>
						</div>
					</div>
				</header>
				<article>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos distinctio ut iusto fuga, soluta. In cupiditate excepturi repudiandae consectetur unde optio, doloribus recusandae amet tenetur nobis sequi, corporis quaerat!</p>
				</article>
				<footer>
					<div class="row post-footer-links">
						<div class="col-xs-1 like-link-container">
							<a href="#">
								Like
							</a>
						</div>
						<div class="col-xs-2 col-xs-offset-1 comment-link-container">
							<a href="#">
								Comment
							</a>
						</div>
						<div class="col-xs-8 delete-link-container">
							<a href="#">
								Delete
							</a>
						</div>
					</div>
				</footer>
			</div>

			<!-- Post With Likes -->
			<div class="post col-xs-12">
				<header>
					<div class="row">
						<div class="col-xs-2">
							<div class="post-profile-image-container">
								<a href="/about">
									<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
								</a>
							</div>
						</div>
						<div class="col-xs-8 post-info-container">
							<a href="/about">
								Harry Potter
							</a>
							<time>
								Posted on Thursday 7/30/2015
							</time>
						</div>
					</div>
				</header>
				<article>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos distinctio ut iusto fuga, soluta. In cupiditate excepturi repudiandae consectetur unde optio, doloribus recusandae amet tenetur nobis sequi, corporis quaerat!</p>
				</article>
				<footer>
					<div class="row post-footer-links">
						<div class="col-xs-1 like-link-container">
							<a href="#">
								Like
							</a>
						</div>
						<div class="col-xs-2 col-xs-offset-1 comment-link-container">
							<a href="#">
								Comment
							</a>
						</div>
						<div class="col-xs-8 delete-link-container">
							<a href="#">
								Delete
							</a>
						</div>
					</div>

					<!-- Post Likes -->
					<div class="post-likes">
						<a href="#">
							Somebody Else
						</a>
						likes this
					</div>
				</footer>
			</div>

			<!-- Post With Comments -->
			<div class="post col-xs-12">
				<header>
					<div class="row">
						<div class="col-xs-2">
							<div class="post-profile-image-container">
								<a href="/about">
									<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
								</a>
							</div>
						</div>
						<div class="col-xs-8 post-info-container">
							<a href="/about">
								Harry Potter
							</a>
							<time>
								Posted on Thursday 7/30/2015
							</time>
						</div>
					</div>
				</header>
				<article>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos distinctio ut iusto fuga, soluta. In cupiditate excepturi repudiandae consectetur unde optio, doloribus recusandae amet tenetur nobis sequi, corporis quaerat!</p>
				</article>
				<footer>
					<div class="row post-footer-links">
						<div class="col-xs-1 like-link-container">
							<a href="#">
								Like
							</a>
						</div>
						<div class="col-xs-2 col-xs-offset-1 comment-link-container">
							<a href="#">
								Comment
							</a>
						</div>
						<div class="col-xs-8 delete-link-container">
							<a href="#">
								Delete
							</a>
						</div>
					</div>

					<div class="post-likes">
						You and 
						<a href="#">
							Somebody Else
						</a>
						and 
						<a href="#">
							3 others
						</a>
						like this
					</div>
				</footer>

				<!-- Post Comments -->
				<section class="post-comments">

					<!-- Comments -->
					<div class="comment">
						<header>
							<div class="row">
								<div class="col-xs-2 col-xs-offset-1">
									<div class="post-profile-image-container">
										<a href="#">
											<img src="/assets/images/user_silhouette_generic.gif.png" alt="Image"/>
										</a>
									</div>
								</div>
								<div class="col-xs-8 comment-info-container">
									<a href="#">
										Somebody Else
									</a>
									<time>
										Commented on Thursday 7/30/2015
									</time>
								</div>
							</div>
						</header>
						<article>
							<div class="row">
								<div class="col-xs-8 col-xs-offset-3">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos distinctio ut iusto fuga, soluta. In cupiditate excepturi repudiandae consectetur unde optio, doloribus recusandae amet tenetur nobis sequi, corporis quaerat!</p>
								</div>
							</div>
						</article>
						<footer>
							<div class="row post-footer-links">
								<div class="col-xs-12 like-link-container">
									<a href="#">
										Like
									</a>
									<a href="#">
										3
									</a>
									other people like this
								</div>
							</div>
						</footer>
					</div>

					<div class="comment">
						<header>
							<div class="row">
								<div class="col-xs-2 col-xs-offset-1">
									<div class="post-profile-image-container">
										<a href="/about">
											<img src="/assets/images/harry_potter_small.jpg" alt="Image"/>
										</a>
									</div>
								</div>
								<div class="col-xs-8 comment-info-container">
									<a href="/about">
										Harry Potter
									</a>
									<time>
										Commented on Thursday 7/30/2015
									</time>
								</div>
							</div>
						</header>
						<article>
							<div class="row">
								<div class="col-xs-8 col-xs-offset-3">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos distinctio ut iusto fuga, soluta. In cupiditate excepturi repudiandae consectetur unde optio, doloribus recusandae amet tenetur nobis sequi, corporis quaerat!</p>
								</div>
							</div>
						</article>
						<footer>
							<div class="row post-footer-links">
								<div class="col-xs-7 link-link-container">
									<a href="#">
										Like
									</a>
									<a href="#">
										3
									</a>
									other people like this
								</div>
								<div class="col-xs-5 delete-link-container">
									<a href="#">
										Delete
									</a>
								</div>
							</div>
						</footer>
					</div>

					<!-- Comment Form -->
					<div class="comment-form-container">
						<form class="comment-form">
							<div class="form-group">
								<textarea id="comment" name="comment" class="form-control" placeholder="Write a comment..."></textarea>
							</div>
							<footer class="comment-form-footer">
								<div class="pull-left">
									<a href="#">
										Cancel
									</a>
								</div>
								<div class="pull-right">
									<button class="btn btn-primary submit" type="submit">
										Comment
									</button>
								</div>
							</footer>
						</form>
					</div>
				</section>

			</div>

		</div>

</section>
