<nav class = "navbar navbar-default navbar-fixed-top" id = "navbar-color">
  <div class = "container-fluid" >
    <div class = "navbar-header">

      <button type="button" class="btn btn-navbar navbar-toggle collapsed" id = "toggle-colors" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class = "navbar-brand" href="home.html">
        <img src="danish_flag.gif" class = "img-circle img-responsive" height = "30px" width = "40px">
      </a>
      <a class = "navbar-brand" id = "brand-color" href="home.html">
        Danebook
      </a>
    </div>

    <div id = "navbar" class = "navbar-collapse collapse">

      <form class="navbar-form navbar-left" role = "search">
        <div class = "form-group">
          <input type="search" class = "form-control" placeholder = "Search for Users" size = "30">
        </div>

        <button type = "submit" class = "btn btn-default">
          Submit  <span class="glyphicon glyphicon-search"></span>
        </button>
      </form>

      <p class="navbar-text navbar-right">
        Signed in as 
        <a href="#" class="navbar-link">Harry Potter</a>
      </p>

    </div>
  </div>

</nav>

<main class = "container">

  <header>

    <div class = "photo-container">
      <img src="hogwarts_small.jpg" class = "img-responsive" id = "cover-photo">
    </div>

    <div id = "pages-nav">
      <div class = "row">

        <div class = "col-md-3">
          <div class = "profile-pic-container">
            <img src="harry_potter_small.jpg" class = "img-responsive">
          </div>
          <h1 class = "profile-name">Harry Potter</h1>
        </div>

        <div class = "col-xs-7 navigation-container">
          <ul class = "nav navbar-nav nav-pills">
            <li>
              <a href="timeline.html">Timeline</a>
            </li>

            <li>
              <a href="about.html">About</a>
            </li>

            <li class = "active">
              <a href="photos.html">Photos (123)</a>
            </li>

            <li>
              <a href="friends.html">Friends <span>(542)</span></a>
            </li>
          </ul>
        </div>

        <div class = "col-sm-2 pull-right">
          <ul class = "nav navbar-nav">
            <li>
              <a href="about_edit.html">Edit Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </header>

  <section id="photos-section">
    <header>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <h2>Photos</h2>
        </div>
        <form class="col-xs-2" action="#">
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="edit-profile">Add Photo!</button>
          </div>
        </form>
      </div>
    </header>

    <div class = "photo-row">
      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>
    </div>

    <div class = "photo-row">
      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>
    </div>

    <div class = "photo-row" >
      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>
    </div>

    <div class = "photo-row" >
      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 photo">
        <a href="#">
          <img src="icon_photo_small.png" height = "200px" width = "200px">
        </a>
        <div class="upload-date">
          <p>Uploaded June 15, 2015</p>
        </div>
      </div>
    </div>
    <div class = "clearfix"></div>
  </section>
</main>

<br>