<% content_for :title do %>
  <title>Photos</title>
<% end %>

<div class="container">
  <div class="pages">
    <%= render partial: '/shared/toolbar' %>
    <div class="row about-title">
      <div class="col-md-10">
        <h3>Photos</h3>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary">Add Photo</button>
      </div>
    </div>
    <div class="row about-container">
      <div class="col-md-3">
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
        <div class="img-thumb">
          <img src="https://unsplash.it/120/120"/>
          <p class="updated-time">Updated 10/1/2004</p>
        </div>
      </div>
    </div>
  </div>
</div>