<main class="main container">
    <header class="row">
      <div class="profile-top col-xs-12">
        <div class="profile-cover" style="background-image: url('images/hogwarts_small.jpg')">
        </div>
        <h2 class="profile-name">Harry Potter</h2>
        <img src="images/user_silhouette_generic.png" alt="" class="img-thumbnail profile-pic">
        <nav class="profile-nav">
          <ul class="nav nav-pills">
            <li><a href="timeline.html">Timeline</a></li>
            <li><a href="about.html">About</a></li>
            <li class="current"><a href="photos.html">Photos <span class="text-muted">(123)</span></a></li>
            <li><a href="friends.html">Friends <span class="text-muted">(123)</span></a></li>
          </ul>
          <p class="profile-edit"><a href="about_edit.html">Edit Profile</a></p>
        </nav>
      </div>
    </header>
    <section class="row">
      <div class="col-xs-12">
        <div class="info-box row">
         <header class="col-xs-12">
            <h2 class="module-title">Photos</h2>
              <a href="about_edit.html" class="btn btn-primary btn-sm module-edit">Add Photos</a>
          </header>
       <div class="col-xs-12">
          <div class="row photo-grid">
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('images/icon_photo_small.png')"></div>
               </a>
               <figcaption><span>Uploaded January 1, 2015</span></figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('images/icon_photo_small.png')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('images/icon_photo_small.png')"></div>
               </a>
               <figcaption><span>Uploaded January 1, 2015</span></figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('images/icon_photo_small.png')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('images/icon_photo_small.png')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('images/icon_photo_small.png')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('images/icon_photo_small.png')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           <div class="col-xs-4 col-sm-3">
             <figure class="photo-item">
               <a href="#">
                 <div class="photo-bg" style="background-image: url('images/icon_photo_small.png')"></div>
               </a>
               <figcaption>Uploaded January 1, 2015</figcaption>
             </figure>
           </div>
           
         </div>
       </div>
        </div>
        </div>
      </section>
      </main>