<div class="container cover-section">
  <div class="cover-photo-container">
    <img class="cover-photo" src="imgs/hogwarts_small.jpg">
    <img class="profile-img" src="imgs/harry_potter_small.jpg">
    <h2 class="profile-name">Harry Potter</h2>
  </div>
  <div class="row midde-nav-row">
    <div class="col-xs-7 col-xs-offset-3">
      <ul class="nav nav-pills middle-nav">
        <li><a href="timeline.html">Timeline</a></li>
        <li><a href="about.html">About</a></li>
        <li><a class="selected" href="photos.html">Photos <span class="middle-nav-count">(123)</span></a></li>
        <li><a href="friends.html">Friends <span class="middle-nav-count">(542)</span></a></li>
      </ul>
    </div>
    <div class="col-xs-2">
      <ul class="nav nav-pills">
        <li class="pull-right edit-link" role="presentation"><a href="about_edit.html">Edit Profile</a></li>
      </ul>
    </div>
  </div>
</div>
	
<main>
	<div class="container about-info-container">
		<header>
			<div class="row main-content-header">
				<div class="col-xs-2 col-xs-offset-5">
					<h2>Photos</h2>
				</div>
				<div class="col-xs-3 pull-right h2 btn-container">
					<a class="btn btn-primary" href="#">Add Photo!</a>
				</div>
			</div>
		</header>

		<div class="row photos-section-container">
			<section class="clearfix">
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
			</section>

			<section class="clearfix">
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
			</section>

			<section class="clearfix">
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
			</section>

			<section class="clearfix">
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#">
						<div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
							<img class="img-responsive" src="imgs/icon_photo_small.png">
							<div class="project-overlay"></div>
						</div>
					</a>
				</div>
			</section>
		</div>
	</div>
</main>
