
<div id="about" class="container">
  <header class="row" id="row-header">
    <div class="col-xs-2 col-xs-offset-5 content-center">
      <h1 id="about-header">Photos</h1> 
    </div>
    <div class="col-xs-2 col-xs-offset-3 content-center">
      <input type="button" id="edit-button" value="Add Photo!">
    </div>
  </header>
  <div class="row photos-main">
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center hover">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
  </div>
  <div class="row photos-main">
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center hover">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
  </div>
  <div class="row photos-main">
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center hover">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
  </div>
  <div class="row photos-main">
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center hover">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
    <div class="col-xs-3 content-center">
      <img src="images/icon_photo_small.png" class="small-photo hover">
      <figcaption>Uploaded January 1, 2015</figcaption>
    </div>
  </div>
</div>

