<div class="container-fluid about-page">
  <%= render :partial => "main_nav", :locals => {profile: @profile} %>
  <!--main photo-->
  <div class="row">
    <div class="col-md-12 cover-photo">
      <img src="assets/hogwarts_small.jpg" alt="hogwarts">
      <div id="profile-pic"><img class="img-responsive img-thumbnail" alt="profile picture" src="assets/harry_potter_small.jpg">

    </div>
      <div id="profile-name"><h3>Harry Potter</h3></div>
  </div>
  </div>
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      
      <!--middle navigation-->
     <%= render :partial => "middle_nav", :locals => {:page=>"photos"} %>
<!--Main box-->
    <div class="row friend-container">
      <div class="col-md-12">
        <div class="row friend-header">
          <div class="col-md-12">
        Photos
        <button type="button" class="btn btn-default btn-small edit-button">Add Photo!</button>
      </div>
    </div>
    <!--Row 1-->
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo">
        <span class="hover-text">Updated January 1, 2015</span>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo">
        <span class="hover-text">Updated January 1, 2015</span>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
       <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
    </div><!--row 1 end-->
    <!--Row 2-->
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
       <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
    </div><!--row 2 end-->
     <!--Row 3-->
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
       <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
    </div><!--row 3 end-->
    <!--Row 4-->
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
      <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
       <div class="col-md-3">
        <a href="#" class="thumbnail"><img class="img-responsive" src="assets/icon_photo_small.png" alt="photo"><span class="hover-text">Updated January 1, 2015</span></a>
      </div>
    </div><!--row 4 end-->
  </div><!--end main box-->
</div>