<main class="container content-container">

  <%= render :partial => "header", :locals => { :toggled => "about" } %>




<!-- Start of main Friends section -->
  <section id="photos" class="row">

    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-default">


          <div class="panel-heading">
            <div class="row">

              <div class="col-xs-4 col-xs-offset-4 text-center">
                <h1 class="panel-title">Photos</h1>
              </div>

              <div class="col-xs-4 text-right">
                <a href="#" class="btn btn-primary btn-sm pull-right" alt="Add a photo.">
                  Add Photo!
                </a>
              </div>

            </div>

          </div> <!-- end of panel heading -->




          <div class="panel-body">
            <div class="row center-block">

    <!-- photo column -->
              <div class="col-md-12 text-center">

    <!-- 4 PHOTOS -->
              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

                <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

    <!-- 4 PHOTOS -->
              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

                <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

    <!-- 4 PHOTOS -->
              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

                <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

    <!-- 4 PHOTOS -->
              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

                <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>

              <!-- PHOTO -->
                  <a href="#" alt="Individual photo page">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="Sweet photo">
                  </a>


              </div> <!-- photo column -->

            </div>
          </div> <!-- end of larger panel body -->

        </div>

      </div>
    </div>
  </section>




</main> <!-- container -->