
<%= render "shared/cover_section" %>
<section class="col-sm-12 bkg-fix buffer" role="photos">
  <div class="row grey-title">
    <h4>Photos</h4>
  </div>
  
  <div class="photos-page col-sm-12">
   
    <div class="row buffer">
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>

      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>
    </div>

    <div class="row buffer">
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>

      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>

    </div>          
    <div class="row buffer">
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>

      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>

    </div>

    <div class="row buffer">
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>
      
      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>

      <div class="col-sm-3">
        <img class="img-thumbnail" src="icon_photo_small.png">
      </div>
    </div>

  </div> <!-- /photos-body -->
  
</section> <!-- /PHOTOS -->