 <% content_for :navbar do %>
      <%= render "shared/logged_navbar" %>
 <% end %>

<!--HERO-->
<div class="container">
    <header class="hero">
        <div class="avatar">
        </div>
    </header>
    <!--SUB-NAVIGATION-->
    <%= render "shared/sub_navbar" %>
    <!--SECTION BAR-->
    <section class="nav-about">
        <h2>
        Photos
        </h2>
        <a class="btn btn-primary" href="#" role="button">
            Add Photo!
        </a>
    </section>

    <!--PHOTOS TABLE-->
    <main class="main-about photos">
        <div class="row"> <!-- 1st ROW-->

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                    </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>
        </div>

        <div class="row"><!-- 2nd ROW-->
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>
        </div>

        <div class="row"><!-- 3rd ROW-->
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>
        </div>

        <div class="row"><!-- 4th ROW-->
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        <time datetime="01/15/2016" class="overlay">
                            Uploaded January 15, 2016
                        </time>
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>