<%= render :partial => 'shared/nav' %>
<%= render :partial => 'shared/profile_header' %>

<!-- Profile Page / Photos -->
<section id="photos" class="row profile-page-container">
	
	<header class="col-xs-12 profile-page-header">
		<h1>
			Photos
		</h1>
		<div class="add-photo-link-container">
			<a href="#" class="btn btn-primary">
				Add Photo
			</a>
		</div>
	</header>

	<!-- Photos -->
	<div class="row">
		<div class="col-xs-12">
			
			<!-- Photo -->
			<div class="row photos-container">
				
				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3 photo-container">
					<img src="/assets/images/icon_photo_small.png" alt="Image"/>
					<div class="pub-date-container">
						Published on July 1, 2015
					</div>
				</div>

			</div>

		</div>
	</div>

</section>
