<%= render 'shared/nav' %>

<main class="container">

  <%= render 'shared/navigation' %>

  <section class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Photos</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/abstract-q-c-150-150-8.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/abstract-q-c-150-150-2.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/abstract-q-c-150-150-3.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/business-q-c-150-150-7.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
          </div> <!-- row end -->
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/food-q-c-150-150-1.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/food-q-c-150-150-4.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/food-q-c-150-150-5.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/food-q-c-150-150-8.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
          </div> <!-- row end -->
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/food-q-c-150-150-7.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/nature-q-c-150-150-6.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/nature-q-c-150-150-10.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/sports-q-c-150-150-6.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
          </div> <!-- row end -->
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/sports-q-c-150-150-7.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/transport-q-c-150-150-1.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/transport-q-c-150-150-7.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail imgWrap">
                <img src="http://lorempixel.com/output/transport-q-c-150-150-3.jpg" alt="icon_photo">
                <p class="imgDescription">Updated 1st May 2015.</p>
              </a>
            </div>
          </div> <!-- row end -->
        </div>
      </div>
    </div>
  </section>
</main>
