<main>
	<div class="container about-info-container">
		<header>
			<div class="row main-content-header">
				<div class="col-xs-2 col-xs-offset-5">
					<h2>Photos</h2>
				</div>
				<div class="col-xs-3 pull-right h2 btn-container">
          <%= link_to "Add Photo!", "#", class: "btn btn-primary" %>
				</div>
			</div>
		</header>

		<div class="row photos-section-container">
			<% 4.times do %>
        <%= render "shared/photos-section-row" %>
      <% end %>
	</div>
</main>
