<% content_for :navbar do %>
<%= render "shared/home_navbar" %>
<% end %>
<div class="container">
  <div class="row">
    <aside class="col-md-7">
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
          <h2>Connect with all your friends!</h2>
          <ul>
            <li>See photos and updates in your news feed.</li>
            <li>Post your status for the world to see from your profile.</li>
            <li>Get in touch with your friends by "friending" them</li>
            <li>Like things because you're a positive person!</li>
          </ul>
        </div>
      </div>
    </aside>
    <!--FORM SECTION -->
    <section class="col-md-5">
      <div class="">
        <h1>Sign Up</h1>
        <form class="form-horizontal">
          <fieldset class="form-group row">
            <div class="col-xs-6">
              <input type="text" name="first-name" class="form-control" required placeholder="First Name">
            </div>
            <div class="col-xs-6">
              <input type="text" name="last-name" class="form-control" required placeholder="Last Name">
            </div>
            <div class="col-xs-12">
              <input type="email" name="email" class="form-control" required placeholder="Your Email">
            </div>
            <div class="col-xs-12">
              <input type="text" name="password" class="form-control" required placeholder="Your New Password">
            </div>
            <div class="col-xs-12">
              <input type="text" name="passoword-confirm" class="form-control" required placeholder="Confirm Your Password">
            </div>
            <div class="col-xs-12">
              <h4>Birthday</h4>
            </div>
            <div class="col-xs-3">
              <div class="dropdown">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Month
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMonth">
                  <li><a href="#" value="January">January</a></li>
                  <li><a href="#" value="February">February</a></li>
                  <li><a href="#" value="March">March</a></li>
                  <li><a href="#" value="April">April</a></li>
                  <li><a href="#" value="May">May</a></li>
                  <li><a href="#" value="June">June</a></li>
                  <li><a href="#" value="July">July</a></li>
                  <li><a href="#" value="August">August</a></li>
                  <li><a href="#" value="September">September</a></li>
                  <li><a href="#" value="October">October</a></li>
                  <li><a href="#" value="November">November</a></li>
                  <li><a href="#" value="December">December</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-3 col-xs-pull-1">
              <div class="dropdown">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownDay" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Day
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownDay">
                  <li><a href="#" value="1">1</a></li>
                  <li><a href="#" value="2">2</a></li>
                  <li><a href="#" value="3">3</a></li>
                  <li><a href="#" value="4">4</a></li>
                  <li><a href="#" value="5">5</a></li>
                  <li><a href="#" value="6">6</a></li>
                  <li><a href="#" value="7">7</a></li>
                  <li><a href="#" value="8">8</a></li>
                  <li><a href="#" value="9">9</a></li>
                  <li><a href="#" value="10">10</a></li>
                  <li><a href="#" value="11">11</a></li>
                  <li><a href="#" value="12">11</a></li>
                  <li><a href="#" value="13">11</a></li>
                  <li><a href="#" value="14">11</a></li>
                  <li><a href="#" value="15">11</a></li>
                  <li><a href="#" value="16">11</a></li>
                  <li><a href="#" value="17">11</a></li>
                  <li><a href="#" value="18">11</a></li>
                  <li><a href="#" value="19">11</a></li>
                  <li><a href="#" value="20">11</a></li>
                  <li><a href="#" value="21">11</a></li>
                  <li><a href="#" value="22">11</a></li>
                  <li><a href="#" value="23">11</a></li>
                  <li><a href="#" value="24">11</a></li>
                  <li><a href="#" value="25">11</a></li>
                  <li><a href="#" value="26">11</a></li>
                  <li><a href="#" value="27">11</a></li>
                  <li><a href="#" value="28">11</a></li>
                  <li><a href="#" value="29">11</a></li>
                  <li><a href="#" value="30">11</a></li>
                  <li><a href="#" value="31">11</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-3 col-xs-pull-2">
              <div class="dropdown">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Year
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownDay">
                  <li><a href="#" value="1993">1993</a></li>
                  <li><a href="#" value="1992">1992</a></li>
                  <li><a href="#" value="1991">1991</a></li>
                  <li><a href="#" value="1990">1990</a></li>
                  <li><a href="#" value="1989">1989</a></li>
                  <li><a href="#" value="1988">1988</a></li>
                  <li><a href="#" value="1987">1987</a></li>
                  <li><a href="#" value="1986">1986</a></li>
                  <li><a href="#" value="1985">1985</a></li>
                  <li><a href="#" value="1984">1984</a></li>
                  <li><a href="#" value="1983">1983</a></li>
                  <li><a href="#" value="1982">1982</a></li>
                  <li><a href="#" value="1981">1981</a></li>
                  <li><a href="#" value="1980">1980</a></li>
                  <li><a href="#" value="1979">1979</a></li>
                  <li><a href="#" value="1978">1978</a></li>
                  <li><a href="#" value="1977">1977</a></li>
                  <li><a href="#" value="1976">1976</a></li>
                  <li><a href="#" value="1975">1975</a></li>
                  <li><a href="#" value="1974">1974</a></li>
                  <li><a href="#" value="1973">1973</a></li>
                  <li><a href="#" value="1972">1972</a></li>
                  <li><a href="#" value="1971">1971</a></li>
                  <li><a href="#" value="1970">1970</a></li>
                  <li><a href="#" value="1969">1969</a></li>
                  <li><a href="#" value="1968">1968</a></li>
                  <li><a href="#" value="1967">1967</a></li>
                  <li><a href="#" value="1966">1966</a></li>
                  <li><a href="#" value="1965">1965</a></li>
                  <li><a href="#" value="1964">1964</a></li>
                  <li><a href="#" value="1963">1963</a></li>
                  <li><a href="#" value="1962">1962</a></li>
                  <li><a href="#" value="1961">1961</a></li>
                  <li><a href="#" value="1960">1960</a></li>
                  <li><a href="#" value="1959">1959</a></li>
                  <li><a href="#" value="1958">1958</a></li>
                  <li><a href="#" value="1957">1957</a></li>
                  <li><a href="#" value="1956">1956</a></li>
                  <li><a href="#" value="1955">1955</a></li>
                  <li><a href="#" value="1954">1954</a></li>
                  <li><a href="#" value="1953">1953</a></li>
                  <li><a href="#" value="1952">1952</a></li>
                  <li><a href="#" value="1951">1951</a></li>
                  <li><a href="#" value="1950">1950</a></li>
                  <li><a href="#" value="1949">1949</a></li>
                  <li><a href="#" value="1948">1948</a></li>
                  <li><a href="#" value="1947">1947</a></li>
                  <li><a href="#" value="1953">1953</a></li>
                  <li><a href="#" value="1952">1952</a></li>
                  <li><a href="#" value="1951">1951</a></li>
                  <li><a href="#" value="1950">1950</a></li>
                  <li><a href="#" value="1949">1949</a></li>
                  <li><a href="#" value="1948">1948</a></li>
                  <li><a href="#" value="1947">1947</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12">
              <label class="radio-inline">
                <input type="radio" name="male" id="radiomale" value="male">Male
              </label>
              <label class="radio-inline">
                <input type="radio" name="female" id="radiofemale" value="female">Female
              </label>
            </div>
          </fieldset>
          <input class="betn btn-success btn-lg btn-block" type="submit" value="Sign Up!">
        </form>
      </div>
    </section>
  </div>
</div>