<div id= "timeline">
    <%= render "shared/cover" %>
    <%= render "shared/navigation" %>

	<!-- Timeline Section -->

	<div class = "row">

		<!-- Left Section -->
		<div class = "col-xs-3 col-xs-offset-1" id="left-section">

			<!-- About Container -->
			<div class ="row border-control">
				<div class= "col-xs-12">
					<h3 class= "small-title-section text-center">About</h3>
				</div>
				<div class= "col-xs-12">
					<table class= "table">
						<tr>
							<td><strong>Born on:</strong></td>
							<td>July 31, 1980</td>
						</tr>
						<tr>
							<td><strong>Went to school at:</strong></td>
							<td>Hogwarts</td>
						</tr>
						<tr>
							<td><strong>Hometown:</strong></td>
							<td>Godrick's Hollow, Englant</td>
						</tr>
						<tr>
							<td><strong>Currently Lives:</strong></td>
							<td>Godrick's Hollow</td>							
						</tr>
					</table>
				</div>
			</div><!-- End About Container -->


			<!-- Gallery Photos -->

			<!-- Header -->
			<div class= "col-xs-12">
				<h3 class= "small-title-section text-center">Photos <small>(123)</small></h3>
			</div>

			<div class= "row border-control text-center">
				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="icon_photo_small.png">
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="icon_photo_small.png">
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="icon_photo_small.png">
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="icon_photo_small.png">
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="icon_photo_small.png">
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="icon_photo_small.png">
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="icon_photo_small.png">
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="icon_photo_small.png">
					</a>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="icon_photo_small.png">
					</a>
				</div>
				<a href="#">See More Photos</a>
			</div>



			<!-- Friends Gallery -->

			<!-- Header -->
			<div class= "col-xs-12">
				<h3 class= "small-title-section text-center">Friends <small>(100)</small></h3>
			</div>

			<!-- Gallery -->
			<div class= "row border-control text-center">
				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="user_generic.png">
					</a>
					<h5>Ron Weasley</h5>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="user_generic.png">
					</a>
					<h5>Ginny Weasley</h5>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="user_generic.png">
					</a>
					<h5>Hermione Granger</h5>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="user_generic.png">
					</a>
					<h5>Hermione Granger</h5>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="user_generic.png">
					</a>
					<h5>Hermione Granger</h5>
				</div>

				<div class= "col-xs-4">
					<a class= "thumbnail"href="#">
						<img class= "img-responsive" src="user_generic.png">
					</a>
					<h5>Hermione Granger</h5>
				</div>
				<a href="#">See More Friends</a>
			</div>



		</div><!-- End Left Section --> 


<!-- Right Section -->

		<div class = "col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">

			<!-- Create Post Section -->
			<div class= "create-post-section border-control">
				<div class = "row">
					<div class ="col-xs-12">
						<h3 class= "small-title-section text-center">Create Post</h3>
					</div>

					<div class= "row">
						<form class= "post-creation form-group col-xs-10 col-xs-offset-1">
							<textarea rows="5" class= "form-control">Tell the world something..."</textarea>
						</form>
					</div>
					<div class="row col-xs-2 col-xs-offset-9">
						<button class="btn btn-primary pull-right">Post</button>
					</div>
				</div>
			</div>

<!-- Post Section -->

			<div class= "row post-section border-control">
				<div class= "col-xs-12">

					<!-- Header Post -->
					<header class= "row">
						<div class= "col-xs-1 post-picture">
							<a class="profile-link" href="about.html"></a>
						</div>

						<div class = "col-xs-5">
							<a href="about.html">Harry Potter</a>
							<p>Posted on thursday 6/1/2016</p>
						</div>
					</header>

					<!-- Content Post -->
					<div class= "row">
						<div class= "col-xs-12">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
						</div>
					</div>

					<!-- Footer Post -->
					<footer class = "row">
						<div class= "col-xs-12">
							<hr>
							<a class= "pull-left" href="#">Like</a>
							<a class= "pull-left" href="#">Comment</a>
							<a class= "pull-right" href="#">Delete</a>
						</div>
					</footer>
				</div>
			</div>

<!-- Post With Like -->


			<!-- Post Section -->
			<div class= "row post-section border-control">
				<div class= "col-xs-12">

					<!-- Header Post -->
					<header class= "row">
						<div class= "col-xs-1 post-picture">
							<a class="profile-link" href="about.html"></a>
						</div>

						<div class = "col-xs-5">
							<a href="about.html">Harry Potter</a>
							<p>Posted on thursday 5/1/2016</p>
						</div>
					</header>

					<!-- Content Post -->
					<div class= "row">
						<div class= "col-xs-12">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
						</div>
					</div>

					<!-- Footer Post -->
					<footer class = "row">
						<div class= "col-xs-12">
							<hr>
							<a class= "pull-left" href="#">Like</a>
							<a class= "pull-left" href="#">Comment</a>
							<a class= "pull-right" href="#">Delete</a>
						</div>
						<div class="col-xs-12">
							<hr>
							</span><a href="#">Hermione Granger</a> like this.</span>
						</div>
					</footer>
				</div>
			</div>



<!-- Post With Comments -->


			<!-- Post Section -->
			<div class= "row post-section border-control">
				<div class= "col-xs-12">

					<!-- Header Post -->
					<header class= "row">
						<div class= "col-xs-1 post-picture">
							<a class="profile-link" href="about.html"></a>
						</div>

						<div class = "col-xs-5">
							<a href="about.html">Harry Potter</a>
							<p>Posted on thursday 5/1/2016</p>
						</div>
					</header>

					<!-- Content Post -->
					<div class= "row">
						<div class= "col-xs-12">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
						</div>
					</div>

					<!-- Footer Post -->
					<footer class = "row">
						<div class= "col-xs-12">
							<hr>
							<a class= "pull-left" href="#">Like</a>
							<a class= "pull-left" href="#">Comment</a>
							<a class= "pull-right" href="#">Delete</a>
						</div>
						<div class="col-xs-12">
							<hr>
							</span>You and <a href="#">Hermione Granger</a> and 3 others like this.</span>
							<hr>
						</div>
					</footer>

					<!-- Comments Section -->
					<div class= "row comments-section">
						<div class = "col-xs-10 col-xs-offset-1">

							<!-- One Comment -->
							<div class= "one-comment">

								<!-- Header Post -->
								<header class= "row">
									<div class= "col-xs-2 post-picture-friend img-circle">
										<a class="profile-link" href="about.html"></a>
									</div>

									<div class = "col-xs-9">
										<a href="about.html">Ron Weasley</a>
										<span>Said on thursday 5/1/2016</span>
									</div>
								</header>

								<!-- Comment Body -->
								<div class= "row">
									<div class= "col-xs-10 col-xs-offset-2">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
									</div>

									<!-- Comment Footer -->
									<div class= "col-xs-10 col-xs-offset-2">
										<span><a href="#">Like</a> <small>3 others people like it.</small></span>
									</div>
								</div>
								<hr>
							</div><!-- One Comment -->

							<!-- One Comment -->
							<div class= "one-comment">

								<!-- Header Post -->
								<header class= "row">
									<div class= "col-xs-2 post-picture">
										<a class="profile-link" href="about.html"></a>
									</div>

									<div class = "col-xs-9">
										<a href="about.html">Harry Potter</a>
										<span>Said on thursday 5/1/2016</span>
									</div>
								</header>

								<!-- Comment Body -->
								<div class= "row">
									<div class= "col-xs-10 col-xs-offset-2">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
									</div>

									<!-- Comment Footer -->
									<div class= "col-xs-10 col-xs-offset-2">
										<span><a href="#">Like</a> <small>3 others people like it.</small></span>
										<a class= "pull-right" href="#">Delete</a>
									</div>
								</div>
								<hr>
							</div><!-- End One Comment -->

							<!-- Create Comment Section -->
							<div class= "row">
								<form class= "post-creation form-group col-xs-12">
									<textarea rows="3" class= "form-control">Write a comment...</textarea>
								</form>
								<a class= "pull-left" href="#">Cancel</a>
								<button class="btn btn-primary pull-right">Comment</button>

							</div>

						</div>
					</div><!-- End Comment Section -->
				</div>
			</div>
			
		</div><!-- End of Right Column -->
	</div>
</div>