<% content_for :title do %>
  <title>Timeline</title>
<% end %>
<div class="container">
  <div class="pages">
   <%= render partial: '/shared/toolbar' %>
    <div class="row timeline-container">
      <div class="col-md-5 left-pane">
        <div class="row section-title">
          <div class="col-md-12">
            <h4>About (Text Area)</h4></div>
          </div>
        <div class="row about-summary">
          <div class="col-md-12">
            <p><span>Born on:</span>July 31st, 1980</p>
            <p><span>Went to school at:</span>Hogwarts</p>
            <p><span>Hometown:</span>Godrick's Hollow, England</p>
            <p><span>Currently Lives:</span>Godrick's Hollow</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 section-title">
            <h4>Photos(123) (Copied Text Area)</h4></div>
          </div>
        <div class="row section-outline">
          <div class="col-md-4">
            <div class="img-thumb-small">
              <img src="https://unsplash.it/50/50"/>
            </div>
            <div class="img-thumb-small">
              <img src="https://unsplash.it/50/50"/>
            </div>
            <div class="img-thumb-small">
              <img src="https://unsplash.it/50/50">
            </div>
          </div>
          <div class="col-md-4">
            <div class="img-thumb-small">
              <img src="https://unsplash.it/50/50"/>
            </div>
            <div class="img-thumb-small">
              <img src="https://unsplash.it/50/50"/>
            </div>
            <div class="img-thumb-small">
              <img src="https://unsplash.it/50/50">
            </div>
          </div>
          <div class="col-md-4">
            <div class="img-thumb-small">
              <img src="https://unsplash.it/50/50"/>
            </div>
            <div class="img-thumb-small">
              <img src="https://unsplash.it/50/50"/>
            </div>
            <div class="img-thumb-small">
              <img src="https://unsplash.it/50/50">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 centre-text">
              <a href="">See More Photos</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 section-title">
            <h4>Friends(5+2) (Copied Text Area)</h4>
          </div>
        </div>
        <div class="row section-outline">
           <div class="col-md-4">
            <div class="img-thumb-small row">
              <img class="col-md-12 friend-link" src="https://unsplash.it/50/50"/>
              <a class="col-md-12" href="">Ronald Weasley</a>
            </div>
            <div class="img-thumb-small row">
              <img class="col-md-12 friend-link" src="https://unsplash.it/50/50"/>
              <a class="col-md-12" href="">Ginny Weasley</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="img-thumb-small row">
              <img class="col-md-12 friend-link" src="https://unsplash.it/50/50">
              <a class="col-md-12" href="">Hermione Granger</a>
            </div>
            <div class="img-thumb-small row">
              <img class="col-md-12 friend-link" src="https://unsplash.it/50/50"/>
              <a class="col-md-12" <a href="">Slytherine</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="img-thumb-small row">
              <img class="col-md-12 friend-link" src="https://unsplash.it/50/50"/>
              <a class="col-md-12" ref="">Lord Voldemort</a>
            </div>
            <div class="img-thumb-small row">
              <img class="col-md-12 friend-link" src="https://unsplash.it/50/50">
              <a class="col-md-12" href="">Severus Snape</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 centre-text">
              <a href="">See More Friends</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-1 right-pane">
        <div class="row section-title">
          <div class="col-md-12">
            <h4>Post (copied)</h4>
          </div>
        </div>
        <div class="row about-summary">
          <div class="col-md-12">
            <textarea class="post-input" placeholder="Tell the world something.."></textarea> 
          </div>
        </div>
        <div class="row section-footer">
          <div class="col-md-10"></div>
          <div class="col-md-2"><button class="btn btn-primary">Post</button>
          </div>
        </div>

        <div class="section-outline">
          <div class="row comment-title">
            <div class="col-md-1"><img src="harry_potter_small.jpg" width="30px" height="30px"/></div>
            <div class="col-md-11">
              <a href="">Harry Potter</a>
              <p>Posted on Thursday 6/1/2004</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="row comment-links section-footer">
          <div class="col-md-1">
            <a href="">Like</a>
          </div>
          <div class="col-md-9">
            <a href="">Comments</a>
          </div>
          <div class="col-md-2">
            <a href="">Delete</a>
          </div>
        </div>

        <div class="section-outline">
          <div class="row comment-title">
            <div class="col-md-1"><img src="harry_potter_small.jpg" width="30px" height="30px"/></div>
            <div class="col-md-11">
              <a href="">Harry Potter</a>
              <p>Posted on Thursday 6/1/2004</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="row comment-links section-footer">
          <div class="col-md-1">
            <a href="">Like</a>
          </div>
          <div class="col-md-9">
            <a href="">Comments</a>
          </div>
          <div class="col-md-2">
            <a href="">Delete</a>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p><a href="">Hermione Granger likes this</a></p>
            </div>
          </div>
        </div>

        <div class="section-outline">
          <div class="row comment-title">
            <div class="col-md-1"><img src="harry_potter_small.jpg" width="30px" height="30px"/></div>
            <div class="col-md-11">
              <a href="">Harry Potter</a>
              <p>Posted on Thursday 6/1/2004</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          
          <div class="row comment-links last-post">
            <div class="col-md-10">
              <a href="">Unlike</a>
            </div>
            <div class="col-md-2">
              <a href="">Delete</a>
            </div>
            <div class= "row">
              <div class="col-md-12">
                <p>You and <a href="">Hermione Granger</a> and 3 others like this</p>
              </div>
            </div>
            <hr></hr>
            <div class="row comment-title">
              <div class="col-md-1"><img src="harry_potter_small.jpg" width="30px" height="30px"/></div>
              <div class="col-md-11">
                <p><a href="">Ron Weasley</a> Said on Thursday 6/1/2004</p>
                <div class="row">
                  <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div class="row">
                    <div class="col-md-10">
                      <p><a href="">Like   </a>3 others people like this</p>
                    </div>
                    <div class="col-md-2">
                      <p><a href="">Delete</a></p>
                    </div>
                    </div>
                  </div>
              </div>     
            </div>

            <div class="row comment-title">
              <div class="col-md-1"><img src="harry_potter_small.jpg" width="30px" height="30px"/></div>
              <div class="col-md-11">
                <p><a href="">Harry Potter</a> Said on Thursday 6/1/2004</p>
                <div class="row">
                  <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div class="row">
                    <div class="col-md-10">
                      <p><a href="">Like   </a>3 others people like this</p>
                    </div>
                    <div class="col-md-2">
                      <p><a href="">Delete</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>    
            <div class="row">
              <div class="col-md-12">
                <textarea class="post-input" placeholder="Write a comment"></textarea> 
              </div>
            </div>
            <div class="row add-comment">
              <div class="col-md-10">
                <p><a href="">Cancel</a></p>
              </div>
              <div class="col-md-2">
                <button class="btn btn-primary">Comment</button>
              </div>
            </div>
          </div> <!-- last post div -->
        </div>

      </div> <!-- left pane div -->
    </div> <!-- whole timeline content div -->
  </div> <!-- pages div to speparate stylesheet from homepage -->
</div>        
