

<div class="container cover">
  <div class="row">
    <div class="col-md-12">
      <img src="http://i.imgur.com/RqYVi8w.jpg" width="99%" class="cover-pic hidden-sm hidden-xs" />
    </div>
  </div>
  <div class="row cover-profile">
    <div class="col-md-2 col-md-offset-1">
        <img src="http://img3.wikia.nocookie.net/__cb20140407015951/degrassi/images/8/8b/Jon-Snow-S3.jpg" alt ="Jon Snow" height="100%" width="100%" class="hidden-sm hidden-xs profile-pic">

    </div>
  </div>
  <div class="row cover-menu">
    <div class="col-md-1 col-md-offset-3">
      <a class="btn btn-default btn-block" href="timeline.html" role="button">Timeline</a>
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-block" href="about.html" role="button">About</a>
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-block" href="photos.html" role="button">Photos</a>
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-block" href="friends.html" role="button">Friends</a>
    </div>
    <div class="col-md-1 pull-right">
      <a href="about_edit.html">Edit Profile</a>
    </div>
  </div>
</div>


<!--
End Cover/End Common Content
Begin Page Specific Conent
 -->


<main class="container">
  <div class="row">
    <div class="col-sm-4">



      <div class="row about-me-box">
        <div class="col-sm-12 box-title">
          <h5>About Me</h5>
        </div>
        <div class="col-sm-12">
          <table class="table">
            <tr>
                  <td>Birthday:</td>
                  <td>July 31st, 282 AC</td>
                </tr>
                <tr>
                  <td>Occupation:</td>
                  <td>Lord Commander of the Night's Watch</td>
                </tr>
                <tr>
                  <td>Hometown:</td>
                  <td>Winterfell</td>
                </tr>
                <tr>
                  <td>Currently Lives:</td>
                  <td>Castle Black</td>
                </tr>
          </table>
        </div>
      </div>

      <div class="row photos-box">
        <div class="col-sm-12 box-title">
          <h5> Photos (123)</h5>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" class="image">
          <br><p>Uploaded Mar 24, 299</p>
        </div>
      </div>

      <div class="row friends-box">
        <div class="col-sm-12 box-title">
          <h5> Friends (456)</h5>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
          <br><p>Sam Tarly</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
          <br><p>Sam Tarly</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
          <br><p>Sam Tarly</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
          <br><p>Sam Tarly</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
          <br><p>Sam Tarly</p>
        </div>
        <div class="col-sm-4">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
          <br><p>Sam Tarly</p>
        </div>
      </div>
    </div>




    <div class="col-sm-7 col-sm-offset-1">
      <article class="row newpost-box">
        <div class="col-sm-12 box-title">
          <h5> Post </h5>
        </div>
        <div class="col-sm-12">
          <textarea placeholder="Share Your Thoughts"></textarea>
        </div>
        <div class="col-sm-12 submit-bar">
          <span class="pull-right"><a class="btn btn-primary" href="#.html" role="button">Post</a></span>

        </div>
      </article>

      <article class ="row post">
        <div class="col-sm-2 posted-by">
          <img src="http://images6.fanpop.com/image/polls/1384000/1384462_1402305957008_full.jpg">
        </div>
        <div class="col-sm-10 posted-name">
          <p>Samwell Tarly<br>Posted on June 29, 302</p>
        </div>

          <div class="col-sm-12">
            <p class="post-text">
              <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>

        <div class="col-sm-12 like-bar">
          <div class="col-sm-1 ">
            <a href="#">Like</a>
          </div>
          <div class="col-sm-1">
            <a href="#">Comment</a>
          </div>
          <div class="col-sm-1 col-sm-offset-8">
            <a href="#">Delete</a>
          </div>
        </div>
      </article>


      <article class ="row post">
        <div class="col-sm-2 posted-by">
          <img src="http://images6.fanpop.com/image/polls/1384000/1384462_1402305957008_full.jpg">
        </div>
        <div class="col-sm-10 posted-name">
          <p>Samwell Tarly<br>Posted on June 29, 302</p>
        </div>

          <div class="col-sm-12">
            <p class="post-text">
              <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>

        <div class="col-sm-12 like-bar">
          <div class="col-sm-1 ">
            <a href="#">Like</a>
          </div>
          <div class="col-sm-1">
            <a href="#">Comment</a>
          </div>
          <div class="col-sm-1 col-sm-offset-8">
            <a href="#">Delete</a>
          </div>
        </div>
        <div class="col-sm-12 like-bar liked">
          <div class="col-sm-12 ">
            <a href="#">Samwell Tarly</a> likes this.
          </div>
        </div>
      </article>


      <article class ="row post">
        <div class="col-sm-2 posted-by">
          <img src="http://images6.fanpop.com/image/polls/1384000/1384462_1402305957008_full.jpg">
        </div>
        <div class="col-sm-10 posted-name">
          <p>Samwell Tarly<br>Posted on June 29, 302</p>
        </div>

          <div class="col-sm-12">
            <p class="post-text">
              <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>

        <div class="col-sm-12 like-bar">
          <div class="col-sm-1 ">
            <a href="#">Unlike</a>
          </div>
          <div class="col-sm-1 col-sm-offset-9">
            <a href="#">Delete</a>
          </div>
        </div>
        <div class="col-sm-12 like-bar liked">
          <div class="col-sm-12 ">
            You and <a href="#">Samwell Tarly</a> like this.
          </div>
        </div>
        <div class="col-sm-12 combox">
          <div class="col-sm-2 posted-by">
            <img src="http://images6.fanpop.com/image/polls/1384000/1384462_1402305957008_full.jpg">
          </div>
          <div class="col-sm-10 posted-name">
            <p>Samwell Tarly said on June 29, 302</p>
          </div>
          <div class="col-sm-12">
            <p class="post-text">
              <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            
              <div class="col-sm-1 ">
                <a href="#">Like</a>
              </div>
              <div class="col-sm-8">
                <span class="grey">3 other people like this</span>
              </div>
              <div class="col-sm-1 col-sm-offset-1">
                <a href="#">Delete</a>
              </div>

          </div>

          <div class="col-sm-2 posted-by">
            <img src="http://images6.fanpop.com/image/polls/1384000/1384462_1402305957008_full.jpg">
          </div>
          <div class="col-sm-10 posted-name">
            <p>Samwell Tarly said on June 29, 302</p>
          </div>
          <div class="col-sm-12">
            <p class="post-text">
              <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="col-sm-1 ">
              <a href="#">Like</a>
            </div>
            <div class="col-sm-8">
              <span class="grey">3 other people like this</span>
            </div>
            <div class="col-sm-1 col-sm-offset-1">
              <a href="#">Delete</a>
            </div>
            <div class="col-sm-12">
              <textarea placeholder="Write a comment"></textarea>
            </div>
            <div class="col-sm-12 submit-bar">
              <a href="#">Cancel</a><span class="pull-right"><a class="btn btn-primary" href="#.html" role="button">Post</a></span>

            </div>

          </div>


        </div>
      </article>


    </div>

  </div>
</main>
