  <div class="container" id="timeline-page">
    <div class="row">

      <!-- left column -->
      <div class="col-sm-4" id="left-column">
        <header class="row content-center grey-background" id="timeline-about">
          <div class="col-sm-12 border-3sides">
            <h4>About (Text Area)</h4>
          </div>
        </header>
        <div class="row border-3sides border-bottom">
          <div class="col-sm-10 col-sm-offset-1">
            <p><strong>Born on:</strong> July 31st, 1980</p>
            <p><strong>Went to school at:</strong> Howarts</p>
            <p><strong>Hometown:</strong> Godrick's Hollow, England</p>
            <p><strong>Currently Lives:</strong> Godrick's Hollow</p>
          </div>
        </div>

        <!-- photos section -->
        <header class="row content-center grey-background" id="timeline-photos">
          <div class="col-sm-12 border-3sides">
            <h4>Photos (123) (Copied Text Area)</h4>
          </div>
        </header>
        <div class="row padding-top border-3sides">
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/icon_photo_small.png" class="small-photo"></a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/icon_photo_small.png" class="small-photo"></a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/icon_photo_small.png" class="small-photo"></a>
          </div>
        </div>
        <div class="row padding-top border-2sides">
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/icon_photo_small.png" class="small-photo"></a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/icon_photo_small.png" class="small-photo"></a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/icon_photo_small.png" class="small-photo"></a>
          </div>
        </div>
        <div class="row padding-top border-2sides">
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/icon_photo_small.png" class="small-photo"></a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/icon_photo_small.png" class="small-photo"></a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/icon_photo_small.png" class="small-photo"></a>
          </div>
        </div>
        <div class="row border-2sides border-bottom content-center">
          <div class="col-xs-12">
            <a href="photos.html" class="footer-link more-link">See More Photos</a>
          </div>
        </div>

        <!--friends section  -->
        <header class="row content-center grey-background" id="timeline-photos">
          <div class="col-sm-12 border-3sides">
            <h4>Friends (542) (Copied Text Area)</h4>
          </div>
        </header>
        <div class="row padding-top border-3sides">
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/user_silhouette_generic.gif" class="small-photo"></a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/user_silhouette_generic.gif" class="small-photo"></a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/user_silhouette_generic.gif" class="small-photo"></a>
          </div>
        </div>
        <div class="row border-2sides content-center">
          <div class="col-sm-4 small-photo-div">
            <a href="#" class="user-link">Ron Weasley</a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#" class="user-link">Ginny Weasley</a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#" class="user-link">Hermione Granger</a>
          </div>
        </div>
        <div class="row padding-top border-2sides">
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/user_silhouette_generic.gif" class="small-photo"></a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/user_silhouette_generic.gif" class="small-photo"></a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#"><img src="images/user_silhouette_generic.gif" class="small-photo"></a>
          </div>
        </div>
        <div class="row border-2sides content-center">
          <div class="col-sm-4 small-photo-div">
            <a href="#" class="user-link">Ron Weasley</a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#" class="user-link">Ginny Weasley</a>
          </div>
          <div class="col-sm-4 small-photo-div">
            <a href="#" class="user-link">Hermione Granger</a>
          </div>
        </div>
        <div class="row border-2sides border-bottom content-center">
          <div class="col-xs-12">
            <a href="friends.html" class="footer-link more-link">See More Friends</a>
          </div>
        </div>          
      </div>

      <!--right column-->
      <div class="col-sm-7 col-sm-offset-1" id="right-column">
        <!--post creation section-->
        <header class="row content-center grey-background border-3sides">
          <div class="col-sm-12">
            <h4>Post (copied)</h4>
          </div>
        </header>
        <div class="row">
          <div class="col-sm-12 border-3sides">
            <div id="post-input-div">
              <textarea placeholder="Tell the world something..."></textarea>
            </div>
          </div>
        </div>
        <div class="row grey-background border-3sides border-bottom">
          <div class="col-sm-2 col-sm-offset-10">
            <input type="button" id="post-button" value="Post"> 
          </div>
        </div>

        <!-- a post  -->
        <div class="row border-3sides" id="posts-section" >
          <header>
            <div class="col-sm-1 small-profile-photo-div">
              <a href="#"><img class="small-profile-photo" src="images/user_silhouette_generic.gif"></a>
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-12">
                  <a href="#">Harry Potter</a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  Posted on Thursday 6/1/2014
                </div>
              </div>
            </div>
          </header>
        </div>
        <div class="row post-content border-2sides">
          <div class="col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident facilis sint, fuga veritatis qui fugit similique quaerat possimus ea cupiditate dicta dolores, voluptates sed odio quam suscipit pariatur recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis deleniti labore voluptatibus doloribus dolorem doloremque, reiciendis laudantium minus molestiae libero nobis architecto molestias aliquam dolores veritatis neque. Fuga, possimus, neque?</p>
          </div>
        </div>
        <footer class="row border-3sides border-bottom grey-background">
          <div class="col-sm-12">
            <a href="#" class="footer-link">Like</a>
            <a href="#" class="footer-link">Comment</a>
            <a href="#" class="footer-link float-right">Delete</a>
          </div>
        </footer>

        <!-- another post -->
        <div class="row border-3sides" id="posts-section" >
          <header>
            <div class="col-sm-1 small-profile-photo-div">
              <a href="#"><img class="small-profile-photo" src="images/user_silhouette_generic.gif"></a>
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-12">
                  <a href="#">Harry Potter</a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  Posted on Thursday 5/21/2014
                </div>
              </div>
            </div>
          </header>
        </div>
        <div class="row post-content border-2sides">
          <div class="col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident facilis sint, fuga veritatis qui fugit similique quaerat possimus ea cupiditate dicta dolores, voluptates sed odio quam suscipit pariatur recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis deleniti labore voluptatibus doloribus dolorem doloremque, reiciendis laudantium minus molestiae libero nobis architecto molestias aliquam dolores veritatis neque. Fuga, possimus, neque?</p>
          </div>
        </div>
        <footer class="row border-3sides grey-background">
          <div class="col-sm-12">
            <a href="#" class="footer-link">Like</a>
            <a href="#" class="footer-link">Comment</a>
            <a href="#" class="footer-link float-right">Delete</a>
          </div>
        </footer>
        <div class="row border-2sides border-bottom grey-background">
          <div class="col-sm-12">
            <p><a class="user-link" href="#">Hermione Granger</a> likes this.</p>
          </div>
        </div>

        <!-- a third post -->
        <div class="row border-3sides" id="posts-section" >
          <header>
            <div class="col-sm-1 small-profile-photo-div">
              <a href="#"><img class="small-profile-photo" src="images/user_silhouette_generic.gif"></a>
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-12">
                  <a href="#">Harry Potter</a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  Posted on Thursday 5/21/2014
                </div>
              </div>
            </div>
          </header>
        </div>
        <div class="row post-content border-2sides">
          <div class="col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident facilis sint, fuga veritatis qui fugit similique quaerat possimus ea cupiditate dicta dolores, voluptates sed odio quam suscipit pariatur recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis deleniti labore voluptatibus doloribus dolorem doloremque, reiciendis laudantium minus molestiae libero nobis architecto molestias aliquam dolores veritatis neque. Fuga, possimus, neque?</p>
          </div>
        </div>
        <footer class="row border-3sides grey-background">
          <div class="col-sm-12">
            <a href="#" class="footer-link">Unike</a>
            <a href="#" class="footer-link float-right">Delete</a>
          </div>
        </footer>
        <div class="row border-2sides grey-border-bottom grey-background">
          <div class="col-sm-12">
            <p class="grey-out">You and <a class="user-link" href="#">Hermione Granger</a> and 3 others this.</p>
          </div>
        </div>
        <!-- insert comment markup -->
        <div class="row border-2sides grey-background">
          <div class="comment">
            <div class="col-sm-1">
              <img src="images/user_silhouette_generic.gif" class="small-profile-photo">
            </div>
            <div class="col-sm-11">
              <div class="row">
                <div class="col-sm-12">
                  <p class="grey-out"><a href="#" class="user-link">Ron Weasley</a> Said on Thursday 5/21/2014:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ex, saepe, quam doloremque debitis velit. Fugit quos quo nesciunt dignissimos id veritatis incidunt, adipisci expedita impedit vitae? Quibusdam, sint, possimus.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="grey-out"><a href="#" class="footer-link">Like</a> 3 other people like this</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end comment markup -->
        <!-- insert comment markup -->
        <div class="row border-2sides grey-background">
          <div class="comment">
            <div class="col-sm-1">
              <img src="images/user_silhouette_generic.gif" class="small-profile-photo">
            </div>
            <div class="col-sm-11">
              <div class="row">
                <div class="col-sm-12">
                  <p class="grey-out"><a href="#" class="user-link">Harry Potter</a> Said on Friday 5/22/2014:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ex, saepe, quam doloremque debitis velit. Fugit quos quo nesciunt dignissimos id veritatis incidunt, adipisci expedita impedit vitae? Quibusdam, sint, possimus.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <p class="grey-out"><a href="#" class="footer-link">Like</a> 3 other people like this</p>
                </div>
                <div class="col-sm-2">
                  <a href="#" class="footer-link">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 grey-background border-2sides">
            <textarea class="write-comment border-3sides border-bottom" placeholder="Write a comment..."></textarea>
          </div>
        </div>
        <div class="row grey-background border-2sides border-bottom" id="page-end">
          <div class="col-xs-1">
            <a href="#" class="footer-link">Cancel</a>
          </div>
          <div class="col-xs-3 col-xs-offset-8">
            <input type="button" value="Comment" id="comment-button">
          </div>  
        </div>
      </div> 
      <!-- end of right column -->
    </div>  
  </div>
