<% content_for :navbar do %>
<%= render "shared/logged_navbar" %>
<% end %>
<!--HERO-->
<div class="container">
    <header class="hero">
        <div class="avatar">
        </div>
    </header>
    <!--SUB-NAVIGATION-->
    <%= render "shared/sub_navbar" %>
            <!--TOP ABOUT BOX-->
            <main class="row">
            <article class="col-xs-4">
                <section class="post">
                    <header class="nav-post">
                        <h4>
                        About (text area)
                        </h4>
                    </header>
                    <div class="post-body">
                        <table class="tab-timeline">
                            <tr>
                                <th>
                                    Born on:
                                </th>
                                <td>
                                    July 31st, 1980
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Went to school:
                                </th>
                                <td>
                                    Hogwarts
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Hometown:
                                </th>
                                <td>
                                    Godrick's Hollow, England
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Currently live:
                                </th>
                                <td>
                                    Godrick's Hollow
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
                
                <!--PHOTOS BOX-->
                <section class="post">
                    <header class="nav-post">
                        <h4>
                        Photos (123) (Copied text area)
                        </h4>
                    </header>
                    <div class="container-fluid">
                        <div class="row"> <!-- 1st ROW-->
                        <div class="col-md-4 col-xs-12">
                            <div class="hovereffect">
                                <a href="#">
                                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="hovereffect">
                                <a href="#">
                                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="hovereffect">
                                <a href="#">
                                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row"> <!-- 2nd ROW-->
                    <div class="col-md-4 col-xs-12">
                        <div class="hovereffect">
                            <a href="#">
                                <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="hovereffect">
                            <a href="#">
                                <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="hovereffect">
                            <a href="#">
                                <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row"> <!-- 3rd ROW-->
                <div class="col-md-4 col-xs-12">
                    <div class="hovereffect">
                        <a href="#">
                            <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="hovereffect">
                        <a href="#">
                            <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="hovereffect">
                        <a href="#">
                            <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-bottom-link">
            <a class="edit-profile" href="photos.html">
                See More Photos
            </a>
        </div>
    </section>
    <!--FRIENDS BOX-->
    <section class="post">
        <header class="nav-post">
            <h4>
            Friends (542) (Copied text area)
            </h4>
        </header>
        <div class="container-fluid">
            <div class="row"> <!-- 1st ROW-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        Ron Weasley
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        Ron Weasley
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <a href="#">
                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                        Ron Weasley
                    </a>
                </div>
            </div>
        </div>
        <div class="row"> <!--2nd row-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <a href="#">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                    Ron Weasley
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <a href="#">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                    Ron Weasley
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <a href="#">
                    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                    Ron Weasley
                </a>
            </div>
        </div>
    </div>
    <div class="row"> <!--3rd row-->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <a href="#">
                <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                Ron Weasley
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <a href="#">
                <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                Ron Weasley
            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <a href="#">
                <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                Ron Weasley
            </a>
        </div>
    </div>
</div>
<div class="nav-bottom-link">
    <a class="edit-profile" href="friends.html">
        See More Friends
    </a>
</div>
</section>
</article>
<!--TOP POST BOX-->
<article class="col-xs-8">
<section class="post">
<header class="nav-post">
    <h4>
    Post (copied)
    </h4>
</header>
<div class="post-body">
    <div class="form-group">
        <textarea class="form-control" placeholder="Message">Tell the world something...</textarea>
    </div>
</div>
<div class="nav-footer">
    <button class="btn btn-primary" type="button">
    Post
    </button>
</div>
</section>

<!--COMMENT POST BOX-->
<section class="post">
<div class="post-body">
    <img src="assets/user_silhouette_generic.gif">
    <div class="author-box">
        <a href="#">
            Harry Potter
        </a>
        <time datetime="6/1/2013" pubdate>
        Posted on Thursday 6/1/2013
        </time>
    </div>
    <p class="comment-area">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum tempora inventore praesentium, distinctio saepe facere, dolores laboriosam magnam id cum eius repellendus harum, excepturi, dolorem vero quisquam. Fugiat, quod ad.
    </p>
</div>
<div class="nav-footer">
    <a href="#" class="link pull-left">
        Like
    </a>
    <a href="#" class="comment pull-left">
        Comment
    </a>
    <a href="#" class="delete pull-right">
        Delete
    </a>
</div>
</section>
<!--COMMENT-LIKED POST BOX-->
<section class="post">
<div class="post-body">
    <img src="assets/user_silhouette_generic.gif">
    <div class="author-box">
        <a href="#">
            Harry Potter
        </a>
        <time datetime="5/21/2014" pubdate>
        Posted on Thursday 5/21/2014
        </time>
    </div>
    <p class="comment-area">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum tempora inventore praesentium, distinctio saepe facere, dolores laboriosam magnam id cum eius repellendus harum, excepturi, dolorem vero quisquam. Fugiat, quod ad.
    </p>
</div>
<div class="nav-footer">
    <div class="clearfix">
        <a href="#" class="like pull-left">
            Link
        </a>
        <a href="#" class="comment pull-left">
            Comment
        </a>
        <a href="#" class="delete pull-right">
            Delete
        </a>
    </div>
    <div class="liked-box">
        <a href="#" class="liking">
            Hermione Granger
        </a>
        <p>
            likes this
        </p>
    </div>
</div>
</section>
<!--UNFOLDED COMMENT-LIKED POST BOX-->
<section class="post">
<div class="post-body">
    <img src="assets/user_silhouette_generic.gif">
    <div class="author-box">
        <a href="#">
            Harry Potter
        </a>
        <time datetime="5/21/2014" pubdate>
        Posted on Thursday 5/21/2014
        </time>
    </div>
    <p class="comment-area">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum tempora inventore praesentium, distinctio saepe facere, dolores laboriosam magnam id cum eius repellendus harum, excepturi, dolorem vero quisquam. Fugiat, quod ad.
    </p>
</div>
<div class="nav-footer">
    <div class="clearfix">
        <a href="#" class="like pull-left">
            Unike
        </a>
        <a href="#" class="delete pull-right">
            Delete
        </a>
    </div>
    <div class="liked-box">
        <p>
            You and
        </p>
        <a href="#" class="liking">
            Hermione Granger
        </a>
        <p>
            and 3 other like this
        </p>
    </div>
</div>
<!--UNFOLD SECTION OF THE POST-->
<div class="post-body unfolded">
    <img src="assets/user_silhouette_generic.gif">
    <div class="author-box">
        <a href="#">
            Ron Weasley
        </a>
        <time datetime="5/21/2014" pubdate>
        Posted on Thursday 5/21/2014
        </time>
    </div>
    <div class="comment-area">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum tempora inventore praesentium, distinctio saepe facere, dolores laboriosam magnam id cum eius repellendus harum, excepturi, dolorem vero quisquam. Fugiat, quod ad.
        </p>
        <div class="like-area">
            <div class="clearfix">
                <a href="#" class="like pull-left">
                    Like
                </a>
                3 other people like this
            </div>
        </div>
    </div>
    <div class="post-body unfolded">
        <img src="assets/user_silhouette_generic.gif">
        <div class="author-box">
            <a href="#">
                Ron Weasley
            </a>
            <time datetime="5/22/2014" pubdate>
            Posted on Thursday 5/21/2014
            </time>
        </div>
        <div class="comment-area">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum tempora inventore praesentium, distinctio saepe facere, dolores laboriosam magnam id cum eius repellendus harum, excepturi, dolorem vero quisquam. Fugiat, quod ad.
            </p>
            <div class="like-area">
                <a href="#" class="like pull-left">
                    Like
                </a>
                3 other people like this
                <a href="#" class="delete pull-right">
                    Delete
                </a>
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Message" rows="6">Tell the world something...</textarea>
                <div class="nav-footer">
                    <div class="clearfix">
                        <a href="#" class="like pull-left">
                            Cancel
                        </a>
                        <button type="button" class="btn btn-primary btn-sm">Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</article>
</main>
</div>