<header>
  <%= render 'shared/nav' %>
</header>
<!-- header finish here -->
<main class="container">

  <%= render 'shared/navigation' %>

  <section class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Post</h3>
            </div>
            <div class="panel-body">
              <textarea id="textarea2" class="form-control" placeholder="tell me the world something"></textarea>
              <button id="post-btn" class="btn btn-success btn-lg col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-9" type="button" name="button">Post</button>
            </div>
          </div> <!-- post area finish -->
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 postHeaderWrap">
                  <div class="postImgWrap">
                    <div>
                      <img class="img-responsive" src="http://lorempixel.com/output/people-q-c-50-50-7.jpg" alt="" />
                    </div>
                  </div>
                  <div class="nameWrap">
                    <a href="#">Harry Potter</a>
                    <p>
                      Posted on Thursday 6/1/2014
                    </p>
                  </div>
                </div> <!-- post header finish -->
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-xs-1">
                  <a><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                </div>
                <div class="col-xs-2">
                  <a href="#">Comment</a>
                </div>
                <div class="col-xs-2 col-xs-offset-7">
                  <a href="#" class="pull-right">Delete</a>
                </div>
              </div> <!-- likes button finish -->
            </div> <!-- footer end -->
          </div> <!-- first post finish -->
          <!-- second post start -->
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 postHeaderWrap">
                  <div class="postImgWrap">
                    <div>
                      <img class="img-responsive" src="http://lorempixel.com/output/people-q-c-50-50-6.jpg" alt="" />
                    </div>
                  </div>
                  <div class="nameWrap">
                    <a href="#">Harry Potter</a>
                    <p>
                      Posted on Thursday 6/2/2014
                    </p>
                  </div>
                </div> <!-- post header finish -->
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-xs-1">
                  <a><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                </div>
                <div class="col-xs-2">
                  <a href="#">Comment</a>
                </div>
                <div class="col-xs-2 col-xs-offset-7">
                  <a href="#" class="pull-right">Delete</a>
                </div>
              </div> <!-- likes button finish -->
              <div class="row">
                <div class="col-xs-12">
                  <a href="#">Herr Frank</a> likes this.
                </div>
              </div>
            </div> <!-- footer end -->
          </div> <!-- post finish -->
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 postHeaderWrap">
                  <div class="postImgWrap">
                    <div>
                      <img class="img-responsive" src="http://lorempixel.com/output/people-q-c-50-50-9.jpg" alt="" />
                    </div>
                  </div>
                  <div class="nameWrap">
                    <a href="#">Harry Potter</a>
                    <p>
                      Posted on Thursday 2/9/2014
                    </p>
                  </div>
                </div> <!-- post header finish -->
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-xs-1">
                  <a>Unlike</a>
                </div>
                <div class="col-xs-2">
                  <a href="#">Comment</a>
                </div>
                <div class="col-xs-2 col-xs-offset-7">
                  <a href="#" class="pull-right">Delete</a>
                </div>
              </div> <!-- likes button finish -->
              <div class="row">
                <div class="col-xs-12">
                  You and <a href="#">Herr Frank</a> and 3 others likes this.
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-offset-1">
                  <div class="col-xs-2">
                    <div class="postImgWrap">
                      <div>
                        <img class="img-responsive" src="http://lorempixel.com/output/people-q-c-50-50-1.jpg" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-10">
                    <div class="row">
                      <div class="col-xs-12">
                        <a href="#">hRon Wesley</a> Said on Thursday 5/21/2014
                      </div>
                    </div>
                    <div class="row comment-style">
                      <div class="col-xs-12">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a> 2 other people likes this.
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- comment finish -->
              <hr>
              <div class="row">
                <div class="col-xs-offset-1">
                  <div class="col-xs-2">
                    <div class="postImgWrap">
                      <div>
                        <img class="img-responsive" src="http://lorempixel.com/output/people-q-c-50-50-8.jpg" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-10">
                    <div class="row">
                      <div class="col-xs-12">
                        <a href="#">Harry Potter</a> Said on Thursday 5/21/2014
                      </div>
                    </div>
                    <div class="row comment-style">
                      <div class="col-xs-12">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a> 2 other people likes this.
                        <a href="#" class="pull-right">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- comment finish -->
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <textarea id="textarea3" class="form-control" placeholder="make a comment here."></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <a href="#">Delete</a>
                  <button class="btn btn-default btn-success pull-right" type="button" name="button">Comment</button>
                </div>
              </div>
            </div> <!-- footer end -->
          </div> <!-- post finish -->
        </div> <!-- right colume end -->
        <div class="col-md-5 col-md-pull-7">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">About</h3>
            </div>
            <div class="panel-body">
                    <h3>Basic Information</h3>
                    <div class="row">
                      <div class="col-md-4">
                        <p>Birthday:</p>
                      </div>
                      <div class="col-md-8">
                        <p>July 31st, 1980</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <p>College:</p>
                      </div>
                      <div class="col-md-8">
                        <p>Hogwarts College</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <p>Hometown:</p>
                      </div>
                      <div class="col-md-8">
                        <p>Godrick's Hollow, England</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <p>Currently Lives:</p>
                      </div>
                      <div class="col-md-8">
                        <p>Godrick's Hollow, England</p>
                      </div>
                    </div>
                    <!-- basic information end -->
            </div>
          </div> <!-- panel end -->
          <div class="panel panel-default">  <!-- photo panel start -->
            <div class="panel-heading">
              <h3 class="panel-title">Photos <span class="badge">132</span></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/people-q-c-150-150-9.jpg" alt="icon_photo">
                  </a>
                </div>
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/people-q-c-150-150-4.jpg" alt="icon_photo">
                  </a>
                </div>
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/people-q-c-150-150-2.jpg" alt="icon_photo">
                  </a>
                </div>
              </div> <!-- row end -->
              <div class="row">
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/people-q-c-150-150-5.jpg" alt="icon_photo">
                  </a>
                </div>
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/people-q-c-150-150-10.jpg" alt="icon_photo">
                  </a>
                </div>
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/people-q-c-150-150-7.jpg" alt="icon_photo">
                  </a>
                </div>
              </div> <!-- row end -->
              <div class="row">
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/nightlife-q-c-150-150-1.jpg" alt="icon_photo">
                  </a>
                </div>
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/nightlife-q-c-150-150-2.jpg" alt="icon_photo">
                  </a>
                </div>
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/nightlife-q-c-150-150-8.jpg" alt="icon_photo">
                  </a>
                </div>
              </div> <!-- row end -->
              <div class="text-center">
                <a href="#">See More Photos</a>
              </div>
            </div>
          </div> <!-- panel end -->
          <div class="panel panel-default">  <!-- photo panel start -->
            <div class="panel-heading">
              <h3 class="panel-title">Friends <span class="badge">254</span></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/people-q-c-150-150-6.jpg" alt="icon_photo">
                  </a>
                  <div class="text-center">
                    <a href="#">Rita Brightman</a>
                  </div>
                </div>
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/people-q-c-150-150-1.jpg" alt="icon_photo">
                  </a>
                  <div class="text-center">
                    <a href="#">Tamesha Clara</a>
                  </div>
                </div>
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/people-q-c-150-150-8.jpg" alt="icon_photo">
                  </a>
                  <div class="text-center">
                    <a href="#">Thao Miracle</a>
                  </div>
                </div>
              </div> <!-- row end -->
              <div class="row">
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/city-q-c-150-150-1.jpg" alt="icon_photo">
                  </a>
                  <div class="text-center">
                    <a href="#">Esta Vanslyke</a>
                  </div>
                </div>
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/city-q-c-150-150-8.jpg" alt="icon_photo">
                  </a>
                  <div class="text-center">
                    <a href="#">Fredric Mcfadden</a>
                  </div>
                </div>
                <div class="col-xs-4">
                  <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/output/sports-q-c-150-150-3.jpg" alt="icon_photo">
                  </a>
                  <div class="text-center">
                    <a href="#">Shawnta Gall</a>
                  </div>
                </div>
              </div> <!-- row end -->
              <div class="text-center">
                <a href="#">See More Photos</a>
              </div>
            </div>
          </div> <!-- panel end -->

        </div>

      </div> <!-- row end -->
    </div>
  </section>
</main>
