<div class="container cover-section">
  <div class="cover-photo-container">
    <img class="cover-photo" src="imgs/hogwarts_small.jpg">
    <img class="profile-img" src="imgs/harry_potter_small.jpg">
    <h2 class="profile-name">Harry Potter</h2>
  </div>
  <div class="row midde-nav-row">
    <div class="col-xs-7 col-xs-offset-3">
      <ul class="nav nav-pills middle-nav">
        <li><%= link_to "Timeline", timeline_path, class: "selected" %></li>
        <%= link_to "About", about_path %>
        <li><%= link_to "About", about_path %></li>
        <li><a href="photos.html">Photos <span class="middle-nav-count">(123)</span></a></li>
        <li><a href="friends.html">Friends <span class="middle-nav-count">(542)</span></a></li>
      </ul>
    </div>
    <div class="col-xs-2">
      <ul class="nav nav-pills">
        <li class="pull-right edit-link" role="presentation"><a href="about_edit.html">Edit Profile</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
	<main class="timeline-content-area">
		<div class="row">
			<div class="col-xs-4">
				<section class="tl-about-box tl-content-box">
					<div class="row">
						<header class="col-xs-12">
							<h4>About</h4>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12 tl-about-info tl-content-template">
							<ul class="list-unstyled">
								<li><strong>Birthday:</strong> July 31st, 1980</li>
								<li><strong>College:</strong> Hogwarts College</li>
								<li><strong>Hometown:</strong> Godrick's Hollow, England</li>
								<li><strong>Currently Lives:</strong> Godrick's Hollow, England</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="tl-content-box">
					<div class="row">
						<header class="col-xs-12 tl-photos-header">
							<h4>Photos (123)</h4>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12 tl-content-template tl-photos-box">
							<div class="col-xs-4 first-row">
								<a href="#"><img class="img-responsive" src="imgs/icon_photo_small.png"></a>
							</div>
							<div class="col-xs-4 first-row">
								<a href="#"><img class="img-responsive" src="imgs/icon_photo_small.png"></a>
							</div>
							<div class="col-xs-4 first-row">
								<a href="#"><img class="img-responsive" src="imgs/icon_photo_small.png"></a>
							</div>
							<div class="col-xs-4">
								<a href="#"><img class="img-responsive" src="imgs/icon_photo_small.png"></a>
							</div>
							<div class="col-xs-4">
								<a href="#"><img class="img-responsive" src="imgs/icon_photo_small.png"></a>
							</div>
							<div class="col-xs-4">
								<a href="#"><img class="img-responsive" src="imgs/icon_photo_small.png"></a>
							</div>
							<div class="col-xs-4">
								<a href="#"><img class="img-responsive" src="imgs/icon_photo_small.png"></a>
							</div>
							<div class="col-xs-4">
								<a href="#"><img class="img-responsive" src="imgs/icon_photo_small.png"></a>
							</div>
							<div class="col-xs-4">
								<a href="#"><img class="img-responsive" src="imgs/icon_photo_small.png"></a>
							</div>
							<div class="col-xs-12">
								<a class="tl-to-photos-link" href="photos.html">See More Photos</a>
							</div>
						</div>
					</div>
				</section>
				<section class="tl-content-box">
					<div class="row">
						<header class="col-xs-12 tl-photos-header">
							<h4>Friends (542)</h4>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12 tl-content-template tl-photos-box">
							<div class="col-xs-4 first-row">
								<a href="#"><img class="img-responsive" src="imgs/user_silhouette_generic.gif"></a>
								<a class="tl-friend-link" href="#">Ron Weasley</a>
							</div>
							<div class="col-xs-4 first-row">
								<a href="#"><img class="img-responsive" src="imgs/user_silhouette_generic.gif"></a>
								<a class="tl-friend-link" href="#">Ginny Weasley</a>
							</div>
							<div class="col-xs-4 first-row">
								<a href="#"><img class="img-responsive" src="imgs/user_silhouette_generic.gif"></a>
								<a class="tl-friend-link" href="#">Hermione Granger</a>
							</div>
							<div class="col-xs-4">
								<a href="#"><img class="img-responsive" src="imgs/user_silhouette_generic.gif"></a>
								<a class="tl-friend-link" href="#">Albus Dubuldore</a>
							</div>
							<div class="col-xs-4">
								<a href="#"><img class="img-responsive" src="imgs/user_silhouette_generic.gif"></a>
								<a class="tl-friend-link" href="#">Albus Dubuldore</a>
							</div>
							<div class="col-xs-4">
								<a href="#"><img class="img-responsive" src="imgs/user_silhouette_generic.gif"></a>
								<a class="tl-friend-link" href="#">Albus Dubuldore</a>
							</div>
							<div class="col-xs-12">
								<a class="tl-to-friend-link" href="friends.html">See More Friends</a>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="col-xs-8">
				<section class="tl-content-box tl-post-box">
					<div class="row">
						<header class="col-xs-12">
							<h4>Post</h4>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12 tl-content-template">
							<form>
								<div class="form-group tl-post-form">
									<textarea class="form-control" rows="2" placeholder="Tell the world something..."></textarea>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<footer class="col-xs-12">
							<div class="col-xs-3 pull-right h2 btn-container">
								<a class="btn btn-primary" href="#">Post</a>
							</div>
						</footer>
					</div>
				</section>

				<section class="tl-exist-post">
					<div class="row">
						<header class="clearfix">
							<div class="col-xs-2 ex-post-profile-container">
								<a href="about.html"><img class="ex-post-profile" src="imgs/harry_potter
								_small.jpg"></a>
							</div>
							<div class="col-xs-10 ex-poster-info">
								<a href="about.html">Harry Potter</a>
								<p class="ex-post-timestamp">Posted on Thursday 6/1/2014</p>
							</div>
						</header>
					</div>

					<div class="row">
						<div class="col-xs-12 ex-post-border">
							<p class="ex-post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="row">
						<footer class="col-xs-12 tl-post-footer">
								<a href="#">Like</a>
								<a href="#">Comment</a>
								<a class="pull-right" href="#">Delete</a>
						</footer>
					</div>
				</section>

				<section class="tl-exist-post">
					<div class="row">
						<header class="clearfix">
							<div class="col-xs-2 ex-post-profile-container">
								<a href="about.html"><img class="ex-post-profile" src="imgs/harry_potter
								_small.jpg"></a>
							</div>
							<div class="col-xs-10 ex-poster-info">
								<a href="about.html">Harry Potter</a>
								<p class="ex-post-timestamp">Posted on Thursday 5/21/2014</p>
							</div>
						</header>
					</div>

					<div class="row">
						<div class="col-xs-12 ex-post-border">
							<p class="ex-post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="row">
						<footer class="clearfix tl-post-footer">
							<div class="col-xs-12">
								<a class="ex-post-like-link" href="#">Like</a>
								<a href="#">Comment</a>
								<a class="pull-right" href="#">Delete</a>
							</div>
							<div class="col-xs-12">
								<span class="ex-post-like"><a href="#">Hermione Granger</a> likes this.</span>
							</div>
						</footer>
					</div>
				</section>

				<section class="tl-exist-post">
					<div class="row">
						<header class="clearfix">
							<div class="col-xs-2 ex-post-profile-container">
								<a href="about.html"><img class="ex-post-profile" src="imgs/harry_potter
								_small.jpg"></a>
							</div>
							<div class="col-xs-10 ex-poster-info">
								<a href="about.html">Harry Potter</a>
								<p>Posted on Tuesday 5/05/2014</p>
							</div>
						</header>
					</div>

					<div class="row">
						<div class="col-xs-12 ex-post-border">
							<p class="ex-post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="row">
						<footer class="clearfix tl-post-footer">
							<div class="col-xs-12">
								<a class="ex-post-like-link" href="#">Unlike</a>
								<a href="#">Comment</a>
								<a class="pull-right" href="#">Delete</a>
							</div>
							<div class="col-xs-12 border-bottom">
								<span class="ex-post-like">You and <a href="#">Hermione Granger</a> and 3 others like this.</span>
							</div>

							<div class="col-xs-12">
								<div class="row">
									<div class="clearfix tl-comment-container">
										<div class="col-xs-2 ex-post-profile-container">
											<a href="#"><img class="ex-post-profile" src="imgs/user_silhouette_generic.gif"></a>
										</div>
										<div class="col-xs-10 ex-poster-info">
											<a href="#">Ron Weasley</a>
											<p class="ex-post-timestamp">Said on Wednesday 5/10/2014</p>
										</div>
										<p class="ex-post-content tl-comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<div class="col-xs-12 tl-comment-footer">
											<a href="#">Like</a>
											<span>3 other people like this</span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="row">
									<div class="clearfix tl-comment-container">
										<div class="col-xs-2 ex-post-profile-container">
											<a href="about.html"><img class="ex-post-profile" src="imgs/harry_potter
											_small.jpg"></a>
										</div>
										<div class="col-xs-10 ex-poster-info">
											<a href="about.html">Harry Potter</a>
											<p class="ex-post-timestamp">Said on Wednesday 5/10/2014</p>
										</div>
										<p class="ex-post-content tl-comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<div class="col-xs-12 tl-comment-footer">
											<a href="#">Like</a>
											<span>3 other people like this</span>
											<a class="pull-right" href="#">Delete</a>
										</div>
									</div>
								</div>
								<form>
									<div class="form-group">
										<textarea class="form-control tl-comment-post" rows="5" placeholder="Write a comment..."></textarea>
									</div>
								</form>
								<a href="#">Cancel</a>
								<div class="col-xs-3 pull-right btn-container">
									<a class="btn btn-primary comment-btn" href="#">Comment</a>
								</div>
							</div>
						</footer>
					</div>
				</section>
			</div>
		</div>
	</main>
</div>
