<!-- cover -->
<div class="jumbotron">
  <div class="container">
    <div class="dp">
      <a href="#" class="dp-profile-name">
        <img class="dp-img" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg" alt="user image">
        Henry Potter
        <i class="glyphicon glyphicon-ok"></i>
      </a>
    </div>
  </div>
</div>

<div class="timeline-nav">
  <div class="container">
    <div class="nav nav-pills">
      <li class="active"><a href="#">Timeline</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="friends.html">Friends <span class="label label-primary">26k</span></a></li>
      <li><a href="photos.html">Photos <span class="label label-primary">555</span></a></li>
      <li class="pull-right"><a href="about_edit.html">Edit profile</a></li>
    </div>

  </div>
</div>

<div class="container">

  <div class="row">
    <!-- sidebar -->
    <div class="col-sm-4">
      <!-- about -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          About
        </div>
        <div class="panel-body">
          <p><strong>Born on</strong>: July 31st, 1990</p>
          <p><strong>Went to School on</strong>: Hogwarts</p>
          <p><strong>Hometown</strong>: Godrick's Hollow, England</p>
          <p><strong>Currently lives</strong>: Godrick's Hollow</p>
        </div>
      </div>
      <!-- photos -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Photos
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
              </div>
            </div>
          </div>

          <p class="text-center"><a href="#">See More Photos</a></p>
        </div>
      </div> <!-- /photos -->

      <!-- friends -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Friends
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
                <p class="text-center"><a href="#"><a href="#">Hermione Granger</a></a></p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
                <p class="text-center"><a href="#"><a href="#">Hermione Granger</a></a></p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
                <p class="text-center"><a href="#"><a href="#">Hermione Granger</a></a></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
                <p class="text-center"><a href="#"><a href="#">Hermione Granger</a></a></p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
                <p class="text-center"><a href="#"><a href="#">Hermione Granger</a></a></p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
                <p class="text-center"><a href="#"><a href="#">Hermione Granger</a></a></p>
              </div>
            </div>
          </div>
           <!-- /friends -->

          <p class="text-center"><a href="#">See More Friends</a></p>
        </div>
      </div>

    </div> <!-- /sidebar -->

    <div class="col-sm-8">
      <!-- new post -->
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Post
        </div>
        <div class="panel-body">
          <textarea class="form-control" rows="8" cols="80" placeholder="What's on your mind?"></textarea>
        </div>
        <div class="panel-footer text-right">
          <button class="btn btn-primary">Post</button>
        </div>
      </div>
      <!-- post -->
      <div class="panel">
        <div class="panel-heading">
          <div class="media">
            <div class="pull-left">
              <a href="#">
                <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="#">Hermione Granger</a></h4>
              <span class="text-info">Posted on Thursday 6/1/2014</span>
            </div>
          </div>

        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="panel-footer">
          <p>
            <a href="#">Like</a> |
            <a href="#">Comment</a> |
            <a href="#">Delete</a>
          </p>
        </div>
      </div>
      <!-- liked post -->
      <div class="panel">
        <div class="panel-heading">
          <div class="media">
            <div class="pull-left">
              <a href="#">
                <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="#">Hermione Granger</a></h4>
              <span class="text-info">Posted on Thursday 6/1/2014</span>
            </div>
          </div>

        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="panel-footer">
          <p>
            <a href="#">Like</a> |
            <a href="#">Comment</a> |
            <a href="#">Delete</a>
          </p>
          <p>
            <a href="#">Hermione Granger</a> likes this.
          </p>
        </div>
      </div>
      <!-- post with comments and comment form -->
      <div class="panel">
        <div class="panel-heading">
          <div class="media">
            <div class="pull-left">
              <a href="#">
                <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="#">Hermione Granger</a></h4>
              <span class="text-info">Posted on Thursday 6/1/2014</span>
            </div>
          </div>

        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="panel-footer">
          <!-- actions -->
          <p>
            <a href="#">Unlike</a> |
            <a href="#">Delete</a>
          </p>
          <!-- likes -->
          <p>
            You and <a href="#">Hermione Granger</a> and 3 others like this.
          </p>
          <!-- comments -->
          <ul class="media-list">
            <!-- a comment -->
            <li class="media">
              <div class="pull-left">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
              </div>
              <div class="media-body">
                <p class="media-heading"><a href="#">Hermione Granger</a> said on Thusday 6/1/2014:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><a href="#">Like</a> | 3 other people like this.</p>
              </div>
            </li>
            <!-- another comment -->
            <li class="media">
              <div class="pull-left">
                <a href="#">
                  <img class="user-thumbnail" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="...">
                </a>
              </div>
              <div class="media-body">
                <p class="media-heading"><a href="#">Hermione Granger</a> said on Thusday 6/1/2014:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><a href="#">Like</a> | 3 other people like this. | <a href="#">Delete</a></p>
              </div>
            </li>
          </ul>
          <!-- comment form -->
          <p><textarea class="form-control" rows="8" cols="80" placeholder="Write a comment..."></textarea></p>
          <p class="text-right">
            <button class="btn btn-danger">Cancel</button>
            <button class="btn btn-primary">Comment</button>
          </p>
        </div>
      </div>

    </div>

  </div>

</div>
