<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag("danish_flag.gif", id: "logo") %><span id="brand-name">Danebook</span></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form" role="search">
          <div class="col-sm-7 col-sm-offset-3" id="search-wrapper">
            <input class="btn-block" type="search" placeholder="Search for Users"></input>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name.capitalize %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "logout", logout_path  %></li>
            </ul>
          </li>
        </ul>
      </div><!-- Collapsing div -->
  </div><!-- Navbar Container -->
</nav>
<%# flash.each do |type, message| %>
  <!-- <div id="alert-wrapper" class="alert-<%= type == "error" ? "danger" : type %>" role="alert"> -->
    <!-- <strong><%# type %>! <%# message %></strong> -->
  <!-- </div> -->
<%# end %>
