<!-- Your markup here! -->
<!DOCTYPE html>

<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="col-xs-3">
          <div class="navbar-header">
             <a href="timeline.html" class="navbar-left brand-img"><img src="./img/danish_flag.gif"</a>
            <a class="navbar-brand" href="timeline.html">&nbspDanebook</a>
          </div>
        </div>
      
      <div class="container col-xs-7">
        <form class="navbar-form" role="search">
           <input type="text" class="form-control" placeholder="Search for Users">
        </form>
      </div>

      <div class="col-xs-1 col-xs-offset-1">
          <div class="navbar-header">
            <a class="navbar-brand" href="timeline.html">Adrian</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="photo-container">
        <a href="#"><img class="img" src="./img/harry_potter_small.jpg"/></a>
      </div>
      <div class="row nav-default container-fluid">
        
        <div class="col-xs-9 col-xs-offset-3">
          <ul class="nav nav-pills">
            <li><a href="timeline.html">Timeline</a></li>
            <li class="active"><a class="active" href="about.html">About</a></li>
            <li><a href="photos.html">Photos <span>(123)</span></a></li>
            <li><a href="friends.html">Friends <span>(542)</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="main">
      <div class="container">
        <div class= "row">
          <div class ="row header-bar">
            <h1>Edit Profile</h1>
            
          </div> 
        </div>

        <div class="row row-eq-height">
          <!--left column start-->
          <div class="col-xs-6"> 
            <h2>Basic Information </h2>
            <div class="row">
              <div class="form-group">
                <div class="col-xs-3 col-xs-offset-1">
                  <ul class="list-unstyled">
                    <li>Birthday:</li>
                  </ul>
                </div>
                <div class="col-xs-7">
                  <ul class="list-unstyled">
                    <li>July 31st, 1980</li>
                  </ul>  
                </div>
                <div class="col-xs-1"></div>
              </div>

              <div class="form-group">
                <div class="col-xs-3 col-xs-offset-1">
                  <ul class="list-unstyled">
                    <li>College: </li>
                  </ul>
                </div>
                <div class="col-xs-7">
                  <div class="input-group">
                    <input type="text" placeholder="Hogwarts College" class="form-control" aria-label="...">
                  </div>  
                </div>
                <div class="col-xs-1"></div>
              </div>

              <div class="form-group">
                <div class="col-xs-3 col-xs-offset-1">
                  <ul class="list-unstyled">
                    <li>Hometown: </li>
                  </ul>
                </div>
                <div class="col-xs-7">
                  <div class="input-group">
                    <input type="text" placeholder="Godrick's Hollow, England" class="form-control" aria-label="...">
                  </div>  
                </div>
                <div class="col-xs-1"></div>
              </div>

              <div class="form-group">
                <div class="col-xs-3 col-xs-offset-1">
                  <ul class="list-unstyled">
                    <li>Currenty Lives: </li>
                  </ul>
                </div>
                <div class="col-xs-7">
                  <div class="input-group">
                    <input type="text" placeholder="Godrick's Hollow, England" class="form-control" aria-label="...">
                  </div>  
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>

            
              <h2>Contact Information</h2>
              <div class="form-group">
                <div class="col-xs-3 col-xs-offset-1">
                  <ul class="list-unstyled">
                    <li>Email: </li>
                  </ul>
                </div>
                <div class="col-xs-7">
                  <ul class="list-unstyled">
                    <li>harry_potter@hogwarts.edu</li>
                  </ul>
                </div>
                <div class="col-xs-1"></div>
              </div>

              <div class="form-group">
                <div class="col-xs-3 col-xs-offset-1">
                  <ul class="list-unstyled">
                    <li>Telephone: </li>
                  </ul>
                </div>
                <div class="col-xs-7">
                  <div class="input-group">
                    <input type="text" placeholder="555-619-4567" class="form-control" aria-label="...">
                  </div>  
                </div>
                <div class="col-xs-1"></div>
              </div>
            

          </div> <!--left column end-->
        
          <!--right column start-->
          <div class="col-xs-6">
            <div class="form-group">
              <h3>Words to Live By </h3>
              <div class="form-group">
                <textarea name="message" rows="4" class="form-control">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </textarea>
              </div>
            </div>
    
            <div class="form-group">
              <h3>About Me </h3>
              <div class="form-group">
                <textarea name="message" rows="9.5" class="form-control">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
               </textarea>
              </div>
            </div>
          </div><!--right column end-->


        </div>
        
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">

            <button type="button" class="btn btn-primary btn-lg">Save Changes</button>

          </div>
          <div class="col-xs-3">
          </div>
        </div>

      </div>
    </div>
  </body>
</html>