<!-- Your markup here! -->
<!-- Your markup here! -->

<div id="static_pages">
	<%= render 'navbar' %>

	<%= render 'banner', user: @user %>

	<div class="container section-container">
		<div class="row section-header">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="text-center">Edit Profiles</h2>
			</div>
		</div>

		<%= render 'profile_form', user: @user %>
	</div><!-- About container -->
</div>
