<%= render partial: 'shared/profile_header' %>
<section class="row">
  <div class="col-xs-12">
    <div class="info-box row">
      <header class="col-xs-12">
        <h2 class="module-title">About</h2>
        <%= link_to "Edit Your Profile", edit_user_path(@user), {class: 'btn btn-primary btn-sm module-edit'} %>
      </header>
      <div class="col-xs-12">
        <div class="row">
          <%= render partial: 'profile_form', locals: {user: @user} %>
        </div>
      </div>
    </div>
  </div>
</section>