<%= render "shared/cover_section" %>

<section class="col-sm-12 bkg-fix buffer" role="about">
  <div class="row grey-title">
    <div class="col-sm-7 col-sm-offset-2">
      <h4>About</h4>
    </div>
  </div>

  <div class="col-sm-6">
    <%= render 'profile_form'%>
  </div>
</section> <!-- /ABOUT -->