
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="images/hogwarts_small.jpg" class="cover-photo hidden-xs hidden-sm img-responsive" alt="profile cover photo">
          <div class="profile-photo"> 
            <img src="images/harry_potter_small.jpg" class="hidden-xs hidden-sm">
          </div>
        </div>
      </div>
 

    <div class="row">
      <nav class="col-md-7 col-md-offset-2">
        <ul class="nav nav-tabs">
          <li><a href="timeline.html">Timeline</a></li>
          <li class="active"><a href="about.html">About</a></li>
          <li><a href="photos.html">Photos <span class="unread-number">(123)</span></a></li>
          <li><a href="friends.html">Friends <span class="unread-number">(542)</span></a></li>
        </ul>
      </nav>
      <div class="col-md-2 pull-right">
        <ul class="nav profile-link">
        <li><a href="about_edit.html" class="pull-right ">Edit Profile</a></li>
        </ul>
      </div>
    </div>

    <section class="timeline-wrap">
      <div class="row">
        <div class="col-md-4">

          <div class="panel panel-default friends">
            <div class="panel-heading">
              <h3 class="panel-title timeline-panel-header">Photos <span class="grey-text">(123)</span></h3>
            </div>
            <div class="panel-body">

              <div class="row">
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="images/icon_photo_small.png" alt=""></a>
                </div>
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="images/icon_photo_small.png" alt=""></a>
                </div>
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="images/icon_photo_small.png" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="images/icon_photo_small.png" alt=""></a>
                </div>
              </div> <!-- end row -->

              <div class="text-center">
                <a href="#" class="text-center">See More Photos</a>
              </div>

            </div> <!-- end panel -->
          </div> <!-- end friends panel-->


          <div class="panel panel-default friends">
            <div class="panel-heading ">
              <h3 class="panel-title timeline-panel-header">Friends <span class="grey-text">(542)</span></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="images/user_silhouette_generic.gif" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="images/user_silhouette_generic.gif" alt=""></a>

                </div>
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="images/user_silhouette_generic.gif" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="images/user_silhouette_generic.gif" alt=""></a>

                </div>
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="images/user_silhouette_generic.gif" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="images/user_silhouette_generic.gif" alt=""></a>

                </div>
              </div> <!-- end row -->
              <div class="text-center">
                <a href="#" class="text-center">See More Friends</a>
              </div>

            </div>
          </div> <!-- end friends panel-->


        </div> <!--col-md -4 -->



        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title timeline-panel-header">Post</h3>
            </div>

            <div class="panel-body">
              <form>
                <div class="form-group">
                  <textarea class="form-control"  placeholder="Write on the wall"></textarea>
                </div>    
              </form>
            </div>

            <div class="panel-footer clearfix">

              <button type="submit" class="pull-right btn btn-sm btn-primary">Post</button>
            </div>
          </div> <!-- end panel default -->
       

          <article class="panel panel-default comments">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-2">
                  <div class="thumbnail">
                   <img src="images/harry_potter_small.jpg">
                  </div>
                </div> <!-- col-md-2 end -->
              
                <div class="col-md-7 poster">
                  <a href="#">Harry Potter</a>
                  <p class="grey-text">Posted on Thursday 6/1/2014</p>
                </div>
              </div> <!-- row end -->
              <div class="row">
                <div class="col-md-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
              </div>
            </div>
              <div class="panel-footer clearfix">
                <div class="pull-right">
                  <a href="#">Delete</a>
                </div>
                <div class="pull-left">
                  <a href="#">Like</a>
                  <a href="#">Comment</a> 
                </div>
              </div>
          </article> <!-- end comment panel -->
          
                    <article class="panel panel-default comments">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-2">
                  <div class="thumbnail">
                   <img src="images/harry_potter_small.jpg">
                  </div>
                </div> <!-- col-md-2 end -->
              
                <div class="col-md-7 poster">
                  <a href="#">Harry Potter</a>
                  <p class="grey-text">Posted on Thursday 6/1/2014</p>
                </div>
              </div> <!-- row end -->
              <div class="row">
                <div class="col-md-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
              </div>
            </div>
              <div class="panel-footer clearfix">
               
                  <div class="pull-right">
                    <a href="#">Delete</a>
                  </div>
                  <div class="pull-left">
                    <a href="#">Like</a>
                    <a href="#">Comment</a> 
                  </div>
                  <br>
                  <div class="pull-left liked">
                    <a href="#">Hermione Granger</a> likes this
                    </div>
                </div>
              
          </article> <!-- end comment panel -->
            

                              <article class="panel panel-default comments">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-2">
                  <div class="thumbnail">
                   <img src="images/harry_potter_small.jpg">
                  </div>
                </div> <!-- col-md-2 end -->
              
                <div class="col-md-7 poster">
                  <a href="#">Harry Potter</a>
                  <p class="grey-text">Posted on Thursday 6/1/2014</p>
                </div>
              </div> <!-- row end -->
              <div class="row">
                <div class="col-md-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
              </div>
            </div>
              <div class="panel-footer clearfix">
               
                  <div class="pull-right">
                    <a href="#">Delete</a>
                  </div>
                  <div class="pull-left">
                    <a href="#">UnLike</a> 
                  </div>
                  <br>
                  <div class="pull-left liked">
                    <span class="grey-text">You and </span><a href="#">Hermione Granger</a> <span class="grey-text"> and 3 others like this</span>
                    </div>
                </div>

                <div class="row commented">
                  <hr>
                <div class="col-sm-2">
                  <div class="thumbnail">
                   <img src="images/user_silhouette_generic.gif">
                  </div>
                </div> <!-- col-md-2 end -->
              
                <div class="col-md-7 poster">
                  <a href="#">Ron Weasley</a><span class="grey-text"> Said on Thursday 6/1/2014</span>
                  <p>
                     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  </p>
                  <div class="clearfix">
                 
                    <div class="pull-right">
                      <a href="#">Delete</a>
                    </div>
                    <div class="pull-left">
                      <a href="#">Like</a><span class="grey-text">  3 other people like this</span>
                      
                    </div>
                  </div>
                </div> <!-- col-md-7 end -->
              </div> <!-- row end -->
              
               <div class="row commented">
                <div class="col-sm-2">
                  <div class="thumbnail">
                   <img src="images/user_silhouette_generic.gif">
                  </div>
                </div> <!-- col-md-2 end -->
              
                <div class="col-md-7 poster">
                  <a href="#">Ron Weasley</a><span class="grey-text"> Said on Thursday 6/1/2014</span>
                  <p>
                     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  </p>
                  <div class="clearfix">
                 
                    <div class="pull-right">
                      <a href="#">Delete</a>
                    </div>
                    <div class="pull-left">
                      <a href="#">Like</a><span class="grey-text">  3 other people like this</span>
                      
                    </div>
                  </div>
                  
                  <textarea class="form-control" name="comment-textarea" id=""  placeholder="Write a comment.."></textarea>
                  
                  <div>
                    <div class="pull-right">
                      <a href="" class="btn btn-primary">Comment</a>
                    </div>
                    <div class="pull-left">
                      <a href="#">Cancel</a>
                    </div>
                  </div>


                </div> <!-- col-md-7 end -->
              </div> <!-- row end -->
          </article> <!-- end comment panel -->
        </div><!-- col-md-8 end -->
      
      </div> <!-- end of row -->

    </section>

  </div> <!-- end of container -->
</main>