<%= content_for :usernav, true %>
<section id="about" class="post col-xs-12">
  <div class="row">
    <header class="post-header col-xs-12">
      <a href="about_edit.html" class="edit-button btn btn-primary">Edit your Profile</a>
      <h2>About</h2>
    </header>
  </div>
  <div class="row">
    <section class="post-content col-xs-12">
      <div class="row">
        <div class="information col-md-5">
          <h3>Basic Information</h3>
          <%= render partial: 'shared/info/basic', locals: {user: current_user} %>

          <h3>Contact Information</h3>
          <%= render partial: 'shared/info/contact', locals: {user: current_user} %>

        </div>

        <div class="personality col-md-7">
          <h3>Words To Live By</h3>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima natus assumenda, iste nesciunt odio dolorum. Eveniet accusamus, quis, esse dignissimos ex fuga est, excepturi ab non itaque nostrum quae.
          </p>
          <h3>About Me</h3>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra tellus nisi, id condimentum dui tristique sed. Donec luctus eros quis ante consequat sagittis. Phasellus consectetur lectus ac lectus mattis vulputate. Maecenas non risus tellus. Proin ullamcorper, ex id iaculis scelerisque, odio dui posuere purus, sit amet viverra mi nibh sit amet risus. Duis tempor pretium arcu, ut dictum justo interdum pharetra. Suspendisse vulputate pellentesque massa, eu gravida diam semper ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pharetra erat eget vulputate lacinia. Aenean in porta elit. Aenean egestas in urna id bibendum. Integer nec placerat metus.
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
