<main class="main about">

 <%= render partial: 'shared/profile_header_and_links', locals: { user: @current_user } %>

  <div class="container">

    <div class="row bar-div">
      <header class="bar about-bar">
        <h1 class="about-heading about-title">About</h1>
        <%= link_to "Edit Your Profile", edit_user_profile_path, method: :get, :class => "white-text edit pull-right btn btn-primary" %>
      </header>
    </div>


    <div class="info-section row">
      <div class="col-xs-6">

        <%= render partial: 'profiles/about/leftside', locals: { user: @current_user } %>

      </div>

      <div class="col-xs-6">

        <%= render partial: 'profiles/about/rightside', locals: { user: @current_user } %>

      </div>

    </div>

  </div>

</main>
