<div class="about-page">
  <header>
    <div class="row">
      <div class="col-md-12">
        <div class="cover-wraper">
          <%= image_tag "cover/cover.jpg", :alt => "cover photo", class: "cover-photo" %>
        </div>
      </div>
    </div>
  </header>
</div>
