
<div class="jumbotron" id="big-body">
  <div class="photo-container">
    <a href="#"><img class="img" src="./img/harry_potter_small.jpg"/></a>
  </div>
  <div class="row nav-default container-fluid">
    
    <div class="col-xs-9 col-xs-offset-3">
      <ul class="nav nav-pills">
        <li class="active"><a href="timeline.html">Timeline</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="photos.html">Photos <span>(123)</span></a></li>
        <li><a href="friends.html">Friends <span>(542)</span></a></li>
        <li class="pull-right edit-link" role="presentation"><a href="about_edit.html"><u>Edit Profile</u></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="row">
    <!--(First Panel)-->
    <div class="col-xs-6" id="panels">
      <div class ="row header-bar">  
        <div class="col-xs-6">
          <h4>About(Text Area)</h4>
        </div>
      </div>

      <p><b>Born on: </b>July 31st, 1980</p>
      <p><b>Went to school at: </b> Hogwarts</p>
      <p><b>Hometown: </b>Godrick's Hollow, England</p>
      <p><b>Favorite Singer/Band: </b>Justin Bieber</p>
    </div>
    
    <!--(Second Panel)-->
    <div class="col-xs-6" id="panels">
      <div class ="row header-bar">  
        <div class="col-xs-6">
          <h4>Post(copied)</h4>
        </div>
      </div>

      <textarea name="message" rows="4" class="form-control">Tell the World something.. </textarea>

      <div class ="row footer-bar">  
        <ul class="list-unstyled" id="footers">
          <li class="pull-right edit-link" role="presentation"><a href="about_edit.html"><u>Post</u></a></li></ul>
          
      </div>
    </div>

    <!--(Third Panel)-->
    <div class="col-xs-6" id="panels">
      <div class ="row header-bar">  
        <div class="col-xs-12">
          <h4>Photos(123) Copied Text Area</h4>
        </div>
      </div>

      <div class="row row-eq-height">
        
        <div class="col-xs-4" id="photos"> 
          <div class="container" id="friends" style="padding: 0px">
            <a href="#" data-toggle="tooltip" title="Uploaded January 1, 2015"><img alt="friend_picture" src="./img/emmawastonhermione.jpg"></a>
          </div>
        </div>
        
        <div class="col-xs-4" id="photos"> 
          <div class="container" id="friends" style="padding: 0px">
            <a href="#" data-toggle="tooltip" title="Uploaded January 1, 2015"><img alt="friend_picture" src="./img/emmawastonhermione.jpg"></a>
          </div>
        </div>

        <div class="col-xs-4" id="photos"> 
          <div class="container" id="friends" style="padding: 0px">
            <a href="#" data-toggle="tooltip" title="Uploaded January 1, 2015"><img alt="friend_picture" src="./img/emmawastonhermione.jpg"></a>
          </div>
        </div>

      </div>

      <div class="row row-eq-height">
        
        <div class="col-xs-4" id="photos"> 
          <div class="container" id="friends" style="padding: 0px">
            <a href="#" data-toggle="tooltip" title="Uploaded January 1, 2015"><img alt="friend_picture" src="./img/emmawastonhermione.jpg"></a>
          </div>
        </div>
        
        <div class="col-xs-4" id="photos"> 
          <div class="container" id="friends" style="padding: 0px">
            <a href="#" data-toggle="tooltip" title="Uploaded January 1, 2015"><img alt="friend_picture" src="./img/emmawastonhermione.jpg"></a>
          </div>
        </div>

        <div class="col-xs-4" id="photos"> 
          <div class="container" id="friends" style="padding: 0px">
            <a href="#" data-toggle="tooltip" title="Uploaded January 1, 2015"><img alt="friend_picture" src="./img/emmawastonhermione.jpg"></a>
          </div>
        </div>

      </div>

      <div class="row row-eq-height">
        
        <div class="col-xs-4" id="photos"> 
          <div class="container" id="friends" style="padding: 0px">
            <a href="#" data-toggle="tooltip" title="Uploaded January 1, 2015"><img alt="friend_picture" src="./img/emmawastonhermione.jpg"></a>
          </div>
        </div>
        
        <div class="col-xs-4" id="photos"> 
          <div class="container" id="friends" style="padding: 0px">
            <a href="#" data-toggle="tooltip" title="Uploaded January 1, 2015"><img alt="friend_picture" src="./img/emmawastonhermione.jpg"></a>
          </div>
        </div>

        <div class="col-xs-4" id="photos"> 
          <div class="container" id="friends" style="padding: 0px">
            <a href="#" data-toggle="tooltip" title="Uploaded January 1, 2015"><img alt="friend_picture" src="./img/emmawastonhermione.jpg"></a>
          </div>
        </div>

      </div>


      <ul class="list-unstyled"><li class="text-center"><a href="#"><u>See More Photos</u></a></li></ul>

  </div>

  <!--(Fourth Panel)-->
    <div class="col-xs-6" id="panels">
      <div class ="row header-bar">  
        <div class="col-xs-12"> 
          <div class="container" id="friends">
            <div class="row row-eq-height">
              <div class="col-xs-3">
                <img alt="friend_picture" src="./img/harry_potter_small.jpg">
              </div>
              <div class="col-xs-9">
                <u><a href="#">Harry Pot ter</a></u>
                <span id="helpBlock" class="help-block">Posted on Thursday: 4/20/2016</span>
                <span>&nbsp</span>


                
              </div>      
            </div>
          </div>
        </div>
      </div>

      <p>&nbsp&nbsp&nbsp&nbspLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

      

      <div class ="row footer-bar">  
        <ul class="list-unstyled" id="footers">
          
          <li><a href="#"><u>Like</u></a></li>
          <li><a href="#"><u>Comment</u></a></li>
          <li class="pull-right edit-link" role="presentation"><a href="about_edit.html"><u>Post</u></a></li></ul>
          
      </div>
    </div>

    <!--(Sixth Panel)-->

    <div class="col-xs-6" id="panels">
      <div class ="row header-bar">  
        <div class="col-xs-12"> 
          <div class="container" id="friends">
            <div class="row row-eq-height">
              <div class="col-xs-3">
                <img alt="friend_picture" src="./img/harry_potter_small.jpg">
              </div>
              <div class="col-xs-9">
                <u><a href="#">Harry Pot ter</a></u>
                <span id="helpBlock" class="help-block">Posted on Thursday: 4/20/2016</span>
                <span>&nbsp</span>


                
              </div>      
            </div>
          </div>
        </div>
      </div>

      <p>&nbsp&nbsp&nbsp&nbspLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

      <div class ="row footer-bar">
        <ul class="list-unstyled" id="footers">
          <li><a href="#"><u>Like</u></a></li>
          <li><a href="#"><u>Comment</u></a></li>
          <li class="pull-right edit-link" role="presentation"><a href="about_edit.html"><u>Post</u></a></li>
        </ul>
  
      </div>

      <div class ="row footer-bar">  
        <p style="color: #3b5998"><u>Hermoine Granger</u> likes this.</p>
          
      </div>
    </div>

    
      <div class ="row footer-bar">
        <ul class="list-unstyled" id="footers">
          <li><a href="#"><u>Unlike</u></a></li>
          <li class="pull-right edit-link" role="presentation"><a href="about_edit.html"><u>Post</u></a></li>
        </ul>
  
      </div>

      <div class ="row footer-bar">  
        <p style="color: #3b5998"><span>You and <u>Hermoine Granger</u> and 3 others like this. </span></p>
          
      </div>

      <!--a single reply post-->
      <div class ="row footer-bar">
        <div class ="row header-bar">  
        <div class="col-xs-10 col-xs-offset-1"> 
          <div class="container" id="friends">
            <div class="row row-eq-height">
              <div class="col-xs-3">
                <img alt="friend_picture" src="./img/emmawastonhermione.jpg">
              </div>
              <div class="col-xs-9">
                <u><a href="#">Hermoine Granger</a></u>
                <span>&nbsp&nbspPosted on Thursday: 4/20/2016</span>


               <p>&nbsp&nbsp&nbsp&nbspLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                
              </div>      
            </div>
          </div>
          <div class ="row footer-bar">
            <ul class="list-unstyled" id="footers">
              <li><a href="#"><u>Like</u></a></li>
              <li style="color:#3b5998"><span>3 others like this. </span></li>
            </ul>
    
          </div>

        </div>
      </div>

      <!--a single reply post-->
      <div class ="row footer-bar">
        <div class ="row header-bar">  
        <div class="col-xs-10 col-xs-offset-1"> 
          <div class="container" id="friends">
            <div class="row row-eq-height">
              <div class="col-xs-3">
                <img alt="friend_picture" src="./img/harry_potter_small.jpg">
              </div>
              <div class="col-xs-9">
                <u><a href="#">Harry Pot ter</a></u>
                <span>&nbsp&nbspPosted on Thursday: 4/20/2016</span>


               <p>&nbsp&nbsp&nbsp&nbspLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                
              </div>      
            </div>
          </div>
          <div class ="row footer-bar">
            <ul class="list-unstyled" id="footers">
              <li><a href="#"><u>Like</u></a></li>
              <li style="color:#3b5998"><span>3 others like this. </span></li>
              <li class="pull-right edit-link" role="presentation"><a href="#">Delete</a></li>
            </ul>
    
          </div>

        </div>
      </div>

     

      

      </div>

      <textarea name="message" rows="3" class="form-control">Write A Comment.. </textarea>

      <div class ="row footer-bar">  
        <ul class="list-unstyled" id="footers">
          <li class="pull-right edit-link" role="presentation"><a href="about_edit.html"><u>Post</u></a></li></ul>
          
      </div>
    </div>



    </div>

</div>