<main class="container">
  <div class="row">
    <div class="col-sm-6 info_block">
      <header>
        <h1>Connect with all your friends!</h1>
      </header>
      <div>
        <ul>
          <li>See photos and updates in your newsfeed.</li>
          <li>Post your status for the world to see from your profile.</li>
          <li>Get in touch with friends by "friending" them.</li>
          <li>Like things because you're a positive person!</li>
        </ul>
      </div>
    </div>
    <%= render partial: "shared/sign_up_form", locals: { user: @user } %>
    <div class="col-sm-6 pull-right">
      <%= link_to "Sign Up with Github!", '/auth/github', class: "btn btn-success btn-lg sign_up_button_github" %>
    </div>
  </div>

</main>
