<%= render 'users/user_header', user: @feed.user %>

<div class="row top-row">
  <div class="col col-2 sidebar-left">
    <ul>
      <li>stuff</li>
      <li>stuff</li>
      <li>stuff</li>
      <li>stuff</li>
      <li>stuff</li>
      <li>stuff</li>
      <li>stuff</li>
    </ul>
  </div>
  <div class="col col-6 main-content">
    <% if policy(@feed.post).create? %>
      <%= render 'shared/activity_form', user: @feed.user, post: @feed.post, photo: @feed.photo %>
    <% end %>

    <% @feed.activities.each do |activity| %>
      <%= render activity %>
    <% end %>

  </div><!-- col col-6 main-content -->

  <div class="col col-4 sidebar-right">
    <article>
      <header>Sponsored Content</header>
      <section>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
    </article>
    <article>
      <header>Sponsored Content</header>
      <section>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
    </article>
    <article>
      <header>Sponsored Content</header>
      <section>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
    </article>
    <article>
      <header>Sponsored Content</header>
      <section>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
    </article>
    <article>
      <header>Sponsored Content</header>
      <section>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
    </article>
  </div>

</div> <!-- row -->
