<%= render partial: "static_pages_controller/navbar" %>
<main>

  <!-- Profile Header -->

  <div class = "container">

    <div class = "row">

      <div class = "col-sm-12 header-photo">

        <div class = "profile-name">

          <h1>Harry Potter</h1>

        </div>

        <img src = "http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

      </div>

    </div>

    <div class = "row header-nav">

      <div class = "col-xs-8 col-xs-offset-4 centered-pills">

        <ul class="nav nav-pills header-nav-pills">
          <li role="presentation"><a href="timeline.html">Timeline</a></li>
          <li role="presentation"><a href="about.html">About</a></li>
          <li role="presentation"><a href="photos.html">Photos</a></li>
          <li role="presentation" class="active"><a href="friends.html">Friends</a></li>
        </ul>
        <section class="col-md-13 pull-right edit-profile navbar-text">
        <a href="about_edit.html edit-hide">Edit Profile</a>
        </section>

      </div>

    </div>

  </div>


  <!-- /profile header -->


  <!-- Main Content -->

  <div class="container">

    <div class="row test">

      <div class="col-xs-2 col-xs-offset-5">

        <h3>Friends</h3>

      </div>

      <div class="col-xs-5 edit-btn">

        <a class="btn btn-primary pull-right" href="about_edit.html" type="button">Edit Your Profile</a>

      </div>

    </div>

    <div class="row main-content">

      <div class="col-sm-6">

        <div class="friend-container">

          <div class="col-xs-3">

            <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

          </div>

          <div class="col-xs-5">

            <div class="friend-info">

              <a href="%"><h4>Ron Weasley</h4></a>
              432 Friends

            </div>

          </div>

          <div class="col-xs-4">

            <a href="#" class="btn btn-primary btn-unfriend">Unfriend Me</a>

          </div>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="friend-container">

          <div class="col-xs-3">

            <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

          </div>

          <div class="col-xs-5">

            <div class="friend-info">

              <a href="%"><h4>Ron Weasley</h4></a>
              432 Friends

            </div>

          </div>

          <div class="col-xs-4">

            <a href="#" class="btn btn-primary btn-unfriend">Unfriend Me</a>

          </div>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="friend-container">

          <div class="col-xs-3">

            <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

          </div>

          <div class="col-xs-5">

            <div class="friend-info">

              <a href="%"><h4>Ron Weasley</h4></a>
              432 Friends

            </div>

          </div>

          <div class="col-xs-4">

            <a href="#" class="btn btn-primary btn-unfriend">Unfriend Me</a>

          </div>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="friend-container">

          <div class="col-xs-3">

            <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

          </div>

          <div class="col-xs-5">

            <div class="friend-info">

              <a href="%"><h4>Ron Weasley</h4></a>
              432 Friends

            </div>

          </div>

          <div class="col-xs-4">

            <a href="#" class="btn btn-primary btn-unfriend">Unfriend Me</a>

          </div>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="friend-container">

          <div class="col-xs-3">

            <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

          </div>

          <div class="col-xs-5">

            <div class="friend-info">

              <a href="%"><h4>Ron Weasley</h4></a>
              432 Friends

            </div>

          </div>

          <div class="col-xs-4">

            <a href="#" class="btn btn-primary btn-unfriend">Unfriend Me</a>

          </div>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="friend-container">

          <div class="col-xs-3">

            <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

          </div>

          <div class="col-xs-5">

            <div class="friend-info">

              <a href="%"><h4>Ron Weasley</h4></a>
              432 Friends

            </div>

          </div>

          <div class="col-xs-4">

            <a href="#" class="btn btn-primary btn-unfriend">Unfriend Me</a>

          </div>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="friend-container">

          <div class="col-xs-3">

            <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

          </div>

          <div class="col-xs-5">

            <div class="friend-info">

              <a href="%"><h4>Ron Weasley</h4></a>
              432 Friends

            </div>

          </div>

          <div class="col-xs-4">

            <a href="#" class="btn btn-primary btn-unfriend">Unfriend Me</a>

          </div>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="friend-container">

          <div class="col-xs-3">

            <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

          </div>

          <div class="col-xs-5">

            <div class="friend-info">

              <a href="%"><h4>Ron Weasley</h4></a>
              432 Friends

            </div>

          </div>

          <div class="col-xs-4">

            <a href="#" class="btn btn-primary btn-unfriend">Unfriend Me</a>

          </div>

        </div>

        <hr>

      </div>

    </div>

  </div>

</main>
