<%= render partial: "static_pages_controller/navbar" %>
<main>

  <!-- Profile Header -->

  <%= render partial: "static_pages_controller/menu", :locals => { :active => 'Photos' } %>

  <!-- /profile header -->


  <!-- Main Content -->

  <div class="container">

    <div class="row test">

      <div class="col-xs-2 col-xs-offset-5">

        <h3>Photos</h3>

      </div>

      <div class="col-xs-5 edit-btn">

        <a class="btn btn-primary pull-right" href="about_edit.html" type="button">Add Photo</a>

      </div>

    </div>

    <div class="row main-content">

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>

      <div class="col-sm-3">

        <div class="photo-container">

          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png">

          <div class="photo-overlay">

            <strong>Uploaded January 1, 2015</strong>

          </div>

        </div>

      </div>
      
    </div>

  </div>

</main>
