/* navbar css */

.container-fluid {
  padding: 0 10% 0 10%;
}

.navbar {
  background-color: #3385ff;
  border: 2px black solid;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-img {
  height: 25px;
  width: 25px;
  border-radius: 15px;
}

/* main photo css */
.jumbotron {
  height: 400px;
  z-index: -1;
  background-image: url("hogwarts_small.jpg");
  background-size: cover;
}

/* profile pic css */
.profile-pic > img {
  width:  300px;
  height: 300px; 
  margin-top: -250px;
}