

.navbar{
  background-color: #6699ff;
  padding: 10px;
  margin: 0;
  border: 0;
  .username {
    color: white;
  }
  .navbar-text{
    color: white;
  }

}

 .nav-links{
  border: 1px solid black;
  a{
    color: black
  }
 }

 .img-handler{
  position: relative;
  border: 1px solid black;
 }

 .main-image{
  max-height: 100%;
  max-width: 100%;
 }

 .profile-image{
  position: absolute;
  bottom: -17px;
  left: 30px;
 }

.current-page{
  background-color: #d9d9d9;
 }


 .about-title{
  background-color: #d9d9d9;
  margin-top: 10px;
  text-align: center;
  border: 1px solid black;

  .btn{
    margin-top: 15px;
  }
 }

 .about-container{
  padding: 60px;
  border: 1px solid black;
  .row{
    padding: 10px;
  }
 }

 .username-tag{
  position: absolute;
  bottom: 450px;
  right: 170px;
 }


.edit-input{
  width: 100%;
}


.live-by-input{
  width: 100%;
  height: 100px;
}
.about-me-input{
  width: 100%;
  height: 200px;
}

.save-about-content{
  width: 100%;
  padding: 15px;
}


.unfriend-btn{
  background-color: #d9d9d9;
}

.friend{
  border: 1px solid black;
  padding: 10px;
}
