

.navbar{
  background-color: #6699ff;
  padding: 10px;
  margin: 0;
  border: 0;
  .username {
    color: white;
  }
  .navbar-text{
    color: white;
  }

}

 .img-logo{
  border-radius: 50%;
 }

 .nav-links{
  border: 1px solid black;
 }

 .img-handler{
  position: relative;
 }

 .profile-image{
  position: absolute;
  bottom: -17px;
  left: 30px;
 }