.navbar {
  background-color: #3b5998;
  color: #fff;
}

.navbar-brand {
  font-size: 55px;
  color: #fff;
}

.connectheading {
  margin-top: 80px;
}

li {
  font-size: 20px;
  font-weight: 200;
  color: #999;
  line-height: 2em;
  margin-left: 40px;
  margin-top: 20px;
}

ul {
  list-style-type: disc !important;
  padding-left: 1em;
}


.signup {
  margin-top: 20px;
}

.signheading {
  font-size: 50px;
}

.birthday {
width:auto;
display:inline-block;
}

.gender {
  margin-bottom: 20px;
}