$navbarpadding: 35px;

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
}


/* nav bar css */

.container-fluid{
  width: 1170px;
}

.navbar {
  background-color: #3385ff;
  height: 100px;
  margin-bottom: 0px;
  margin-top: -50px;
  border: 2px black solid;
} 

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 40px;
  padding-top: $navbarpadding;
}

.navbar-form .navbar-right {
  padding-top: $navbarpadding;
}

.label{
  display:flex;
  font-size: 14px;
  padding: 5px 0 0;
}

button{
  margin-top: 26px;
}

.btn-info{
  color: #333;
}

.form-group{
  padding-left: 10px;
}

.navbar-form .form-control{
  border: 2px solid black;
}


/* left-hand side css */
.about, .signup {
  padding-top: 70px
}
.bullet-points{
  font-size: 22px;
  line-height: 2;
  padding-top: 10px;
  padding-left: 70px;
  color: #666;
}