<br>
<em>"Your wise and gentle heart! I'll remember your<br>
Kindness. Your glory is too great to forget"<br>
-Beowulf</em><br>
<br>
<h1>Someone has left you a comment!</h1>
<br>
<p><quote><strong><%= @comment.commenter.name %></strong> said,</p>
<em>"<%= @comment.text %>"</quote></em>

<br>
<p>Why not go <%= link_to "check it out", @user %>?</p>


<p>The Dåneboøk Team</p>
