<h1>Hey <%= @user.name %>!</h1>

<p>
  Someone commented on your post!
</p>

<p>
  Check out what they said at <%= link_to "#{user_timeline_url(comment.user)}", user_timeline_url(comment.user) %>
</p>
