<h1>New Notification!</h1>

<p>
  <%= @commenter.full_name %> commented on your <%= link_to "#{@resource.class.to_s.downcase}", @link %>
</p>

<p>
  Link to commenter: <%= link_to "#{user_url(@user.id)}", user_url(@user.id) %>
</p>