<h3>Hi <%= @user.profile.full_name %>!</h3>

<p>
  <%= @commenter_name %> has recently commented on your <%= @commentable_type %>.
</p>

<p>
  View the discussion at <%= link_to "#{@link.to_s}", @link %>.
</p>