<h1>Reset your password!</h1>

<p>
  Looks like you've forgotten your password, <%= @user.first_name %>. Click on the link below to reset it now!
</p>

<%= link_to 'Reset your password!', edit_password_reset_url(@user.reset_token,
                                                             email: @user.email) %>

<p>
  You better hurry! This link expires in 24 hours!
</p>
