<h1>Welcome <%= @user.profile.first_name %>, <%= @user.profile.last_name %>!</h1>

<p>
  View your account
</p>

<h2> With Danebook, you can </h2>
<ul>
  <li> Connect with all your friends </li>

  <li> See photos and updates in your news feed </li>

  <li> Post your status for the world to see </li>

  <li> Get in touch wit your friends by friending them </li>

  <li> Like things because you are a positive person! </li>
</ul>

<br>
<p>Support: support@danebook.com, Helpline - 1-800-999-9999<p> 
