<h1>Welcome to Danebook!!!</h1>

<p>Hi <%=@user.first_name%>, you have just signed up for the most amazingly Danish social network on all the Internets. Pretty soon, you'll have friended all the Viking raiders in town.</p>

<p>Not sure where to get started? Log in and go straight to your newsfeed at 
  <%=link_to "#{user_url(@user)}", user_url(@user) %>. Pretty soon, <%= @user.name %> could have the most popular page in your fjord!</p>

<p>In the meantime, you might want to go fill out the rest of your profile information <%= link_to "here", edit_user_profile.url(@user) %>.</p>

<p><strong>--Danebook Staff</strong></p>