<br>
<em>"The men did not dally; they strode inland in a group<br>
Until they were able to discern the timbered hall,<br>
Splendid and ornamented with gold.<br>
The building in which that powerful man held court<br>
Was the foremost of halls under heaven;<br>
Its radiance shone over many lands."<br>
-Beowulf</em><br>
<h1>Welcome to Dåneboøk, <%= @user.name %>!</h1>
<p>Write posts, make friends, upload photos, and more.<br>
Be sure to check out your <%= link_to "profile", @user %>.</p>

<p>Enjoy!<br>
The Dåneboøk Team</p>
