<h1>Welcome to Danebook!</h1>

<p>Thank you for registering to our website <%= @user.first_name %></p>

<p>You can visit your profile by clicking <%= link_to "here", user_url(@user) %></p>

<p>We hope to see you soon and share your thoughts with the world!</p>