<h1>Hi <%= @user.name %>!</h1>

<p>Welcome to DaneBook!</p>

<p>Join your friends in posting thoughts and pics here:</p>

<div class="button-holder">
  <%= link_to 'Come on In!', root_url, class: 'button' %>
</div>
