<h1> Hey <%= @user.name %> ! </h1>

<p> You just signed up for our email list. And we love you for it. </p>

<p>View your timeline at <%= link_to user_timeline_url(@user.id), user_timeline_url(@user.id) %>.</p>

<footer> 
  Forever sores,
  The Project Gothbook Team
</footer>