<div class="email">
<h1>Welcome!</h1>

<p>
  Hi <%= @user %>, welcome to Bookish!
</p>

<p>
  View your account <%= link_to "here", user_url(@user.id) %>.
</p>

<p>This is email was sent using Rail's ActionMailer gem and Heroku's SendGrid.<br>The process was managed using the Delayed Job gem and through the use of a worker dyno.</p>
</div>
