
<div class="panel panel-default panel-styler">
  <div class="panel-body panel-body-style basic-margin">
    <div style="clear:both;text-align:left;font-size:0.75em;">  
      <%= comment.body %>
    </div>
  </div>
</div>    
  