<article class="comment-body">

  <% unless post.comments.empty? %>

    <%= render template: 'comments/index', locals: { user: current_user,
                                                  comments: post.comments
                                                } %>

    <hr style="border-color:black; width:95%;">

  <% end %>

    <div class="comment-text-area-div">
      <%= render template: 'comments/new', locals: { comment: post.comments.build,
                                               commentable_id: post.id,
                                             commentable_type: 'Post'
                                           } %>
    </div>

</article>
