<div class="col-xs-12 comment-block">

  <%= image_tag(profile_pic_url(user), class: "post-pic img-responsive pull-left") %>
  <div class="col-xs-9">
      <div class="col-xs-12">
        <p class="commenter-info">
          <%= link_to "#{comment.user.full_name}", user_path(comment.user.id), class: "commenter-name" %> <%= comment.description.capitalize %>
        </p>
        <%= render 'comments/comment_like_bar', resource: comment, user: user %>
      </div><!-- Commenter info and content -->
  </div>
</div>
