<div class="row comment">

  <div class="comment-pic col-xs-2">

    <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

  </div>

  <div class="comment-author col-xs-10">

    <a href="#">Ron Weasley</a> Said on Thursday 5/21/2014

  </div>

  <div class="col-xs-10 comment-content">

    <p>Lorem ipsum dolor sit amet, id primis utamur vix. Mutat officiis at pri, sadipscing disputationi ne vix. At epicurei nominati rationibus per, conceptam mnesarchum id vel, his nonumes percipitur no. Utinam noluisse at per, ut vel vocent complectitur.</p>

    <p><a href="#">Like</a>3 other people like this</p>

  </div>

</div>