
<div class="row">
    <div class="col-xs-12">
        <%= form_for @comment, post_comment_path(@post), method: :post   do |comment_builder| %>

        <!-- <textarea class="col-xs-1 form-control" placeholder="Write a comment..." rows="5"></textarea> -->
        <%= comment_builder.label :body, "Write a comment..." %>
        sdf
        <%= comment_builder.text_area :body, cols: "50", rows: "10" %>
    </div>
</div>
<div class="row rs30">
    <div class="col-xs-12">
        <a href="#">Cancel</a>
        <%= comment_builder.submit "Save Comment", class: 'btn btn-success pull-right' %>
        <% end %>
    </div>
</div>
