<div class="media-left">
    <%= image_tag("default_image.jpg", class: "comment-picture") %>
</div>
<div class="media-body">
  <%= form_for [comment, new_comment] do |c| %>
    <%= c.text_field :content, placeholder: "Write your comment here", class: "comment-text form-control", 'aria-label'=> "basic-addon1" %>
    <%= c.submit "Comment on Post", class: "btn btn-success" %>
  <% end %>
</div>

