    <div class="row">
        <div class="media-left media-middle col-xs-2">
            <a href="#">
                <figure>
                    <img alt="User's Extra-Small Avatar" class="img-responsive" src="">
                </figure>
            </a>
        </div>
        <div class="media-body col-xs-8">
            <a href="#">
                <h4 class="media-heading"><%= "COMMENTER" %></h4>
            </a>
            <h6>
                <%= "Posted on #{comment.created_at.strftime('%B, %d, %Y')}" %>
            </h6>
        </div>
    </div>
    <div class="row">
        <!-- <br>TO REMOVE -->
        <p class="col-xs-12">
          <%= comment.body %>
        </p>
    <div class="row">
      <div class="col-xs-1">

      </div>
    </div>
  </div>

<!--
 [#<Comment id: 4, body: "131", user_id: 1, like_count: 0, created_at: "2016-12-14 04:30:07",
                updated_at: "2016-12-14 04:30:07", commentable_type: "Post", commentable_id: 20>]> -->
