    <div class="row">
        <div class="media-left media-middle col-xs-2">
            <a href="#">
                <figure>
                    <img alt="User's Extra-Small Avatar" class="img-responsive" src="">
                </figure>
            </a>
        </div>
        <div class="media-body col-xs-8">
            <a href="#">
                <h4 class="media-heading"><%= "COMMENTER" %></h4>
            </a>
            <h6>
                <%= "Posted on #{comment.created_at.strftime('%B, %d, %Y')}" %>
            </h6>
        </div>
    </div>
    <div class="row">
        <p class="col-xs-12">
          <%= comment.body %>
        </p>
    <div class="row">
      <div class="col-xs-1">

      </div>
    </div>
  </div>
