<article class="friend-summary">
  <img href="cat.jpg" style="height:150px; width:150px;">
  <div class="friend-name">
    <a href="soandsoprofilepage.html">Your Friend</a>
    <p>324 Friends</p>
  </div>
  <input type="submit" class="unfriend pull-right" value="Unfriend Me">
</article>
