<div class="col-md-6 friend-list-entry">
  <div class="row">
    <div class="pull-left col-xs-3">
      <%= link_to(profile_photo(friend, :small, "pull-left profile-photo"), user_path(friend)) %>
    </div>
    <div class="pull-left col-xs-6">
      <p><%= link_to friend.name, user_path(friend) %></p>
      <p><%= "#{friend.friends.count} friends" %></p>
    </div>
    <div class="pull-right col-xs-3">
      <%= friend_button(friend, "btn btn-danish") %>
    </div>
  </div>
</div>