<div class="col-md-6 friend-list-entry">
  <div class="pull-left">
    <%= link_to image_tag("user_silhouette_generic.gif", :alt => "Harry Potter", :class => "pull-left"), user_path(friend) %>
  </div>
  <div class="pull-left">
    <p><%= link_to friend.name, user_path(friend) %></p>
    <p><%= "#{friend.friends.count} friends" %></p>
  </div>
  <div class="pull-right">
    <%= friend_button(friend, "btn btn-danish") %>
  </div>
</div>