<div class="col-sm-6">
  <section class="friend">
      <%= profile_photo(friend) %>

      <div class="friend-name">
          <%= link_to full_name(friend), user_timeline_path(friend) %>
          <p class='sub-heading'><%= pluralize(friend.number_of_friends, 'friend') %></p>
      </div>
      <% if current_user == user %>
        <%= link_to 'Unfriend', user_friend_path(id: current_user.id), method: "DELETE", class: 'btn btn-info' %>
      <% end %>




  </section>    
</div>