<div class="col-sm-6">
  <section class="friend">
      <img src="images/icon_photo_small.png">
      <div class="friend-name">
          <a href="#"><%= link_to full_name(friend), user_timeline_path(friend) %></a>
          <p><%= pluralize(friend.number_of_friends, 'friend') %></p>
      </div>
      <% if current_user == user %>
        <button class="btn">Unfriend Me</button>
      <% end %>
  </section>    
</div>