<main class="container content-container">

  <%= render :partial => "shared/header", :locals => { :user => @user } %>




<!-- Start of main Friends section -->
  <section id="friends" class="row">

    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-default">


          <div class="panel-heading">
            <div class="row">

              <div class="col-xs-12 text-center">
                <h1 class="panel-title">Friends</h1>
              </div>

            </div>

          </div> <!-- end of panel heading -->




          <div class="panel-body">
            <div class="row">

              <%= render :partial => 'friend', :collection => @friends %>

            </div>
          </div> <!-- end of larger panel body -->


        </div>

      </div>
    </div>
  </section>




</main> <!-- container -->