<%= render 'users/user_header', user: @user %>

<div class="friends-list">
  <article class="user-profile">
    <header>
      <h1>Friends</h1>
    </header>
    <section>

    <% @friends.each do |friend| %>
      <div class="image-tile">
        <%= link_to display_profile_pic(friend, :tile), user_timeline_path(friend) %>
      </div> <!-- image-tile -->
    <% end %>
    </section>
  </article>
</div> <!-- row -->
