<%= render partial: "shared/header", locals: { active: :friends } %>

<main class="container">
  <div class="row">
    <section class="col-sm-12">
      <div class="row profile-box-title">
        <h2>Frænds</h2>
      </div>

      <div class="row profile-box">
        <div class="col-sm-6">
          <div class="row friend-box">
            <div class="col-sm-3">
              <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Brunhild_(Postkarte),_G._Bussiere,_1897.jpg" class="img-responsive">
            </div>
            <div class="friend-container">
              <div class="col-sm-6">
                <a href="#">Brynhildr</a><br>
                <span>342 Friends</span>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Unfriend</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row friend-box">
            <div class="col-sm-3">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Gustave_Dore_Ancient_Mariner_Illustration.jpg" class="img-responsive">
            </div>
            <div class="friend-container">
              <div class="col-sm-6">
                <a href="#">Ancient Mariner</a><br>
                <span>93 Friends</span>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Unfriend</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row profile-box">
        <div class="col-sm-6">
          <div class="row friend-box">
            <div class="col-sm-3">
              <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/'Twenty_Thousand_Leagues_Under_the_Sea'_by_Neuville_and_Riou_027.jpg" class="img-responsive">
            </div>
            <div class="friend-container">
              <div class="col-sm-6">
                <a href="#">Captain Nemo</a><br>
                <span>342 Friends</span>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Unfriend</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row friend-box">
            <div class="col-sm-3">
              <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Blackbeard,_Buccaneer_-_Page_224_-_He_Looked_Like_the_Belial_Whom_He_was_so_Fond_of_Claiming_as_His_Mentor_(bw).jpg" class="img-responsive">
            </div>
            <div class="friend-container">
              <div class="col-sm-6">
                <a href="#">Blackbeard</a><br>
                <span>93 Friends</span>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Unfriend</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row profile-box profile-box-bottom">
        <div class="col-sm-6">
          <div class="row friend-box">
            <div class="col-sm-3">
              <img src="https://c1.staticflickr.com/3/2791/4395612363_7049da2b18_b.jpg" class="img-responsive">
            </div>
            <div class="friend-container">
              <div class="col-sm-6">
                <a href="#">Sebastian</a><br>
                <span>342 Friends</span>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Unfriend</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row friend-box">
            <div class="col-sm-3">
              <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Odin,_der_G%C3%B6ttervater.jpg" class="img-responsive">
            </div>
            <div class="friend-container">
              <div class="col-sm-6">
                <a href="#">Odin</a><br>
                <span>93 Friends</span>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Unfriend</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

  </div>
</main>
