<%=render 'sessions/sign_up_navbar'%>

<main class="container">
<div class="col-md-6">
  <h1>Connected with all your friend</h1>
  <ul class="danebook-adv">
    <li><h3>see photos and updates in your news feed</h3></li>
    <li><h3>post the status for the world to see in your profile</h3></li>
    <li><h3>get in touch with your friend by friending them</h3></li>
    <li><h3>like things beacuse you are  a positive person</h3></li>
  </ul>
</div>

<%=render"sign_up_form"%>
</main>

<div class="container">
  <hr>
</div> <!-- /container -->


<footer>
<p>&copy; Company 2014</p>
</footer>
