<section class="post-content col-xs-12">
  <div class="row">
    <% user.friends.first(9).each do |friend| %>
      <div class="col-xs-6 col-md-4 photo text-center">
        <a href="#">
          <%= image_tag render_profile_img(friend.profile) %>
          <p><%= format_user_name(friend) %></p>
        </a>
      </div>
    <% end %>

    <div class="col-xs-12 text-center">
      <h4><%= link_to "See More Friends", user_friends_path(user) %></h4>
    </div>
  </div>
</section>
