<section class="post-content col-xs-12">
  <div class="row">

    <div class="col-xs-6 col-md-4 photo text-center">
      <a href="#">
        <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
        <p>Ron Weasley</p>
      </a>
    </div>

    <div class="col-xs-6 col-md-4 photo text-center">
      <a href="#">
        <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
        <p>Ginny Weasley</p>
      </a>
    </div>

    <div class="col-xs-6 col-md-4 photo text-center">
      <a href="#">
        <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
        <p>Hermione Granger</p>
      </a>
    </div>

    <div class="col-xs-6 col-md-4 photo text-center">
      <a href="#">
        <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
        <p>Professor Dumbledore</p>
      </a>
    </div>

    <div class="col-xs-6 col-md-4 photo text-center">
      <a href="#">
        <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
        <p>Sirius Black</p>
      </a>
    </div>

    <div class="col-xs-6 col-md-4 photo text-center">
      <a href="#">
        <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
        <p>Proffessor Lupin</p>
      </a>
    </div>

    <div class="col-xs-12 text-center">
      <h4><a href="#">See More Friends</a></h4>
    </div>
  </div>
</section>
