<section class="post-content col-xs-12">
  <div class="row">

    <% user.images.each do |image| %>
      <%= render partial: 'shared/photos/photo_mini', locals: {photo: image} %>
    <% end %>

    <div class="col-xs-12 text-center">
      <h4><%= link_to "See More Photos", user_galleries_path(user) %></h4>
    </div>
  </div>
</section>
