<div class="col-xs-3">
  <%= render 'shared/photos/display_photo' %>
  <%= render 'shared/photos/display_photo' %>
  <%= render 'shared/photos/display_photo' %>
  <%= render 'shared/photos/display_photo' %>
</div>
