/* line 10, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#body-bag {
  background-color: #e9ebee;
}

/* line 16, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login nav {
  height: 90px;
}
/* line 17, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login nav .container {
  padding-top: 20px;
}
/* line 20, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login nav button {
  border-color: white;
}
/* line 23, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login nav span {
  background-color: white;
}
/* line 27, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login nav form,
#login nav .horizontal-form {
  background-color: #2b78e4;
}
/* line 34, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login nav #btn-login {
  color: black;
  position: absolute;
  background-image: none;
  background-color: #95c5f8;
  width: 100px;
  height: 30px;
  padding: 5px 12px;
  border-radius: 0;
}
/* line 47, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login .navbar {
  background: none;
  color: white;
  background-color: #2b78e4;
}
/* line 53, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login .navbar .navbar-brand {
  font-size: 40px;
  color: #fff;
}
/* line 59, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main {
  padding-top: 20px;
}
/* line 60, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main .alert {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
/* line 70, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main .catch-phrase {
  margin-bottom: 20px;
}
/* line 74, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main ul {
  padding-top: 10px;
  padding-left: 20px;
}
/* line 79, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main li {
  line-height: 30px;
  list-style-type: none;
  margin: 10px 10px;
  font-size: 16px;
}
/* line 81, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main li span {
  font-size: 20px;
  margin-right: 14px;
}
/* line 90, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main h2 {
  margin-top: 0;
  font-size: 50px;
  margin-bottom: 25px;
}
/* line 96, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main h3 {
  font-size: 32px;
}
/* line 101, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main section select.full-width-input {
  color: #cacaca;
}
/* line 105, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main section .full-width-input {
  min-width: 100%;
  max-width: 100%;
  height: 2.5em;
  padding: 2px 0 2px 5px;
}
/* line 112, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main section .birthday-forms {
  margin-bottom: 10px;
}
/* line 116, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main section .radio-inline:first-child {
  margin-left: 10px;
}
/* line 120, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login main section .sign-up-btn {
  min-width: 100%;
  font-size: 16px;
  letter-spacing: 3px;
}
/* line 129, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login .vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 137, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#login #date-picker {
  padding-left: 15px;
}

/* line 142, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/sessions.css.scss */
#alert-wrapper {
  padding: 10px 100px;
  margin: inherit 10px;
}
@import url(//fonts.googleapis.com/css?family=Open+Sans);
/* line 21, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages {
  /*
----------------------------------------------
	Navbar
----------------------------------------------
*/
  /*
----------------------------------------------
	Banner Photos and name
----------------------------------------------
*/
  /*
----------------------------------------------
	Navigation Tiles
----------------------------------------------
*/
  /*----------------------------------------------
	Common Section Header Styling
---------------------------------------------- */
  /*
----------------------------------------------
	About Edit Page Styling
----------------------------------------------
*/
  /*
----------------------------------------------
	Friends Page Styling
----------------------------------------------
*/
  /*
----------------------------------------------
	Photos Page Styling
----------------------------------------------
*/
  /*
----------------------------------------------
	Timeline Page Styling
----------------------------------------------
*/
}
/* line 22, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  padding-top: 50px;
  font-size: 16px;
}
/* line 32, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages nav {
  background-color: #2b78e4;
}
/* line 34, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages nav .dropdown * {
  background-color: #2b78e4;
  background-image: none;
  border: none;
}
/* line 39, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages nav .nav .open > a:focus,
#static_pages nav .nav .open > a:hover,
#static_pages nav .nav > li > a:focus,
#static_pages nav .nav > li > a:hover,
#static_pages nav .open > a {
  background-color: #2b78e4;
}
/* line 46, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages nav .navbar-brand {
  padding-top: 7px;
}
/* line 49, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages nav .navbar-toggle {
  border: 1px solid white;
}
/* line 52, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages nav .icon-bar {
  background-color: white;
}
/* line 55, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages nav input {
  padding-left: 5px;
  min-height: 34px;
}
/* line 59, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages nav a {
  color: white;
}
/* line 62, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages nav a.dropdown-toggle {
  padding-top: 10px;
  padding-bottom: 5px;
}
/* line 66, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages nav span {
  font-size: 0.8em;
}
/* line 70, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #logo {
  display: inline-block;
  max-height: 34px;
  padding: 0;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}
/* line 78, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #brand-name {
  line-height: 40px;
  font-size: 28px;
  vertical-align: middle;
  color: white;
  font-weight: 300;
}
/* line 85, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #username {
  font-size: 20px;
  color: white;
  letter-spacing: 2.5px;
  line-height: 34px;
  padding: 0 10px;
}
/* line 92, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #search-wrapper {
  min-height: 100%;
  margin-left: 10px;
}
/* line 101, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #cover-photo {
  overflow: hidden;
  min-height: 450px;
  border: 1px solid black;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
/* line 108, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #profile-pic {
  height: 160px;
  min-height: 160px;
  width: 160px;
  min-width: 160px;
  background-color: #fff;
  border: 4px solid #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  bottom: 25px;
  z-index: 1001;
}
@media only screen and (max-width: 396px) {
  /* line 108, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages #profile-pic {
    height: 130px;
    min-height: 130;
    width: 130px;
    min-width: 130px;
    max-height: 130px;
    max-width: 130px;
  }
}
@media only screen and (max-width: 641px) {
  /* line 108, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages #profile-pic {
    bottom: 60px;
  }
}
/* line 131, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .username {
  position: absolute;
  top: 350px;
}
/* line 134, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .username a,
#static_pages .username img {
  display: inline-block;
}
/* line 138, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .username #user-name-and-link {
  display: inline-block;
}
/* line 140, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .username #user-name-and-link h1 {
  display: inline-block;
  color: white;
  line-height: 30px;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 5px 5px;
}
@media only screen and (max-width: 396px) {
  /* line 140, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages .username #user-name-and-link h1 {
    font-size: 20px;
  }
}
/* line 158, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #link-bar {
  background-color: white;
  padding-left: 190px;
  height: 43px;
  min-height: 43px;
}
/* line 163, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #link-bar * {
  border: none;
}
/* line 166, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #link-bar a {
  color: #365899;
  font-weight: bold;
  padding-top: 0;
  padding-botttom: 0;
  height: 43px;
  min-height: 43px;
  line-height: 43px;
}
/* line 175, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #link-bar li {
  border-right: 1px solid #e9ebee;
  height: 43px;
  min-height: 43px;
}
/* line 179, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #link-bar li .sm-gray {
  margin-left: 4px;
  font-size: 0.7em;
  color: #89919c;
}
@media only screen and (max-width: 350px) {
  /* line 175, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages #link-bar li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 189, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #link-bar li:first-child {
  border-left: 1px solid #e9ebee;
}
/* line 193, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #link-bar li.active * {
  color: #4b4f56;
}
@media only screen and (max-width: 350px) {
  /* line 197, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages #link-bar a {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 203, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #link-bar #edit-profile-link {
  padding-right: 15px;
}
@media only screen and (max-width: 437px) {
  /* line 203, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages #link-bar #edit-profile-link {
    display: none;
  }
}
@media only screen and (max-width: 641px) {
  /* line 158, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages #link-bar {
    padding-left: 0;
  }
}
@media only screen and (max-width: 396px) {
  /* line 213, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages #link-bar a {
    font-size: 14px;
  }
}
/* line 217, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #link-bar ul li[role='presentation']:hover {
  background-color: #e9ebee;
}
/* line 221, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #link-bar .nav-tabs > li.active > a:hover {
  background-color: #e9ebee;
}
/* line 228, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-container {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  z-index: 10;
}
/* line 234, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-container textarea {
  min-width: 100%;
  min-height: 60px;
  resize: none;
}
/* line 240, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-container .about-content {
  padding-top: 5px;
}
/* line 245, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-header h4 {
  line-height: 22px;
}
/* line 248, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-header .edit-btn {
  margin: 20px 0 10px 0;
}
/* line 251, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-header a {
  background-image: none;
}
/* line 255, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .content-id {
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 259, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-content {
  padding: 20px;
}
/* line 267, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #save-change-wrapper {
  margin-top: 40px;
  margin-bottom: 50px;
}
/* line 270, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages #save-change-wrapper a {
  background-image: none;
  letter-spacing: 2.5px;
}
@media only screen and (min-width: 768px) {
  /* line 280, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages .content-left {
    padding-right: 25px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 285, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages .content-right {
    padding-left: 25px;
  }
}
/* line 290, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .friend-wrapper {
  border: 1px solid #e9ebee;
  padding: 5px;
  margin-bottom: 25px;
}
/* line 294, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .friend-wrapper .friend-name-wrapper {
  margin: 3.5em 0;
  padding-left: 0;
}
/* line 298, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .friend-wrapper a,
#static_pages .friend-wrapper p {
  font-size: 16px;
  line-height: 20px;
}
/* line 303, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .friend-wrapper a {
  text-decoration: underline;
}
/* line 306, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .friend-wrapper p {
  margin-bottom: 0;
  color: #8e898f;
}
/* line 311, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .unfriend-btn {
  font-size: 1em;
  background-color: #ddd;
  background-image: none;
  margin-top: 3.5em;
  margin-bottom: 0.5em;
}
/* line 318, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .friend-img {
  vertical-align: middle;
  min-height: 100%;
  max-height: 185px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}
/* line 328, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .friend-preview-img {
  min-height: 150px;
}
/* line 331, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .friend-prev-name {
  margin-top: 5px;
  margin-bottom: 5px !important;
}
/* line 336, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages figure, #static_pages figure a {
  padding: 0;
  height: 185px;
  min-height: 185px;
  width: 100%;
  min-width: 100%;
  background-color: #e9ebee;
  vertical-align: middle;
}
/* line 346, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .photo-show {
  background-color: none;
  max-height: 100%;
  height: auto;
  width: auto;
  max-width: 100%;
}
/* line 354, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .show-img {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: none;
}
/* line 363, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .pic-select {
  display: inline-block;
}
/* line 372, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .photo-container {
  margin-top: 30px;
  text-align: center;
}
/* line 376, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .photo-container:last-child {
  margin-bottom: 30px;
}
/* line 379, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .show-pic-tainer {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
}
/* line 384, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .photo-wrapper {
  display: block;
}
/* line 387, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .photo-date {
  width: 90%;
  font-size: 14px;
  line-height: 30px;
  background-color: #828282;
  color: #eee;
  position: absolute;
  bottom: 0;
  visibility: hidden;
}
@media only screen and (max-width: 767px) {
  /* line 387, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages .photo-date {
    font-size: 12px;
  }
}
/* line 400, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .photo-container:hover .photo-date {
  visibility: visible;
  z-index: 1000;
}
/* line 412, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .new-post {
  display: inline-block;
}
/* line 416, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-block {
  margin-top: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: none;
  border-top: 1px solid #e9ebee;
}
/* line 422, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-block input {
  background-color: #365899;
}
/* line 427, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-body {
  border-bottom: 1px solid #e9ebee;
}
/* line 431, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-pic {
  min-width: 60px;
  min-height: 60px;
  max-height: 60px;
  max-width: 60px;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
/* line 440, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 443, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-wrapper p {
  margin-bottom: 0;
  font-size: 16px;
}
/* line 447, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-wrapper .friend-name-wrapper {
  padding-top: 5px;
  margin-left: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 447, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
  #static_pages .post-wrapper .friend-name-wrapper {
    margin-left: 30px;
  }
}
/* line 454, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-wrapper form.button_to {
  display: inline-block !important;
  line-height: 28px;
  text-decoration: none;
  color: #337ab7;
  margin-bottom: -15px;
}
/* line 461, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-wrapper .friend-name:first-child {
  margin-right: 10px;
}
/* line 464, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-wrapper .post-content {
  margin-bottom: 10px;
}
/* line 467, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-wrapper .commenter-info {
  margin-bottom: 15px;
}
/* line 470, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-wrapper .commenter-info a.commenter-name {
  margin-right: 5px;
}
/* line 476, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .comment-block {
  margin-bottom: 10px;
}
/* line 480, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .no-right-padding {
  padding-right: 0;
}
/* line 484, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .new-comment-input {
  margin: 10px auto;
}
/* line 487, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .button_to,
#static_pages .friend-name,
#static_pages .liker-name {
  line-height: 28px;
  text-decoration: underline;
}
/* line 493, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .post-content {
  margin-top: 10px;
}
/* line 496, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-footer {
  border-top: 1px solid #e9ebee;
  background-color: #f6f7f9;
  padding-bottom: 8px;
}
/* line 500, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-footer h2 {
  margin-top: 10px;
}
/* line 503, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-footer .edit-btn {
  margin: 10px 0;
}
/* line 506, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-footer a {
  background-image: none;
  line-height: 22px;
}
/* line 510, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .section-footer p {
  line-height: 22px;
  font-size: 16px;
}
/* line 515, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .like-link,
#static_pages .like-listing,
#static_pages .like-listing-expanded {
  margin-top: 10px;
}
/* line 520, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .commenter-name,
#static_pages .like-link {
  font-weight: bold;
  font-color: #365899;
  line-height: 22px;
}
/* line 526, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .like-listing-expanded {
  margin-bottom: 10px;
}
/* line 528, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .like-listing-expanded p {
  color: #6e7580;
}
/* line 532, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .hr-block {
  margin-bottom: 5px;
}
/* line 535, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .commenter-name {
  margin: 0;
}
/* line 538, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .left-gutter {
  padding-left: 50px;
  margin-bottom: 10px;
}
/* line 542, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .right-gutter {
  padding-right: 25px;
}
/* line 545, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .goofy-btn {
  border: none;
  background: none;
  text-decoration: none;
  line-height: 28px;
}
/* line 551, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages hr {
  border: 1px solid #e9ebee;
  z-index: 10000;
  width: 95%;
  margin: 5px auto;
}
/* line 557, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .comment-btn {
  width: 100px;
  font-size: 16px;
}
/* line 561, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .about-content {
  font-size: 14px;
  line-height: 18px;
  padding: 15px 25px;
}
/* line 565, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .about-content p {
  margin-bottom: 5px;
}
/* line 569, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .img-container {
  padding: 0 10px 10px;
}
/* line 571, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .img-container div {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}
/* line 577, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .alert {
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
}
/* line 583, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#static_pages .no-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 590, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
.glyphicon {
  font-size: 1.1em;
}

/* line 593, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
.glyphicon-globe,
.glyphicon-thumbs-up {
  color: #2b78e4;
}

/* line 597, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
.glyphicon-camera {
  color: #55a950;
}

/* line 602, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
#login .glyphicon-camera {
  color: #333;
}

/* line 607, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
.glyphicon-heart {
  color: #f50e6b;
}

/* line 611, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
.glyphicon-pencil {
  font-size: 1em;
  color: #fcbe11;
}

/* line 616, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/static_pages.css.scss */
textarea[name="post[description]"] {
  border-color: #e9ebee;
  padding-left: 6px;
  padding-top: 4px;
}
/* line 7, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users {
  /*
  ----------------------------------------------
  	Navbar
  ----------------------------------------------
  */
  /*
  ----------------------------------------------
  	Common Section Header Styling
  ----------------------------------------------
  */
  /*
  ----------------------------------------------
  	Friends Page Styling
  ----------------------------------------------
  */
  /*
  ----------------------------------------------
  	Photos Page Styling
  ----------------------------------------------
  */
  /*
  ----------------------------------------------
  	Timeline Page Styling
  ----------------------------------------------
  */
}
/* line 24, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users body {
  font-family: Arial, sans-serif;
  padding-top: 50px;
  font-size: 16px;
}
/* line 36, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users nav {
  background-color: #2b78e4;
}
/* line 39, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users nav .navbar-brand {
  padding-top: 7px;
}
/* line 43, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users nav .navbar-toggle {
  border: 1px solid white;
}
/* line 47, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users nav .icon-bar {
  background-color: white;
}
/* line 51, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users nav input {
  padding-left: 5px;
  min-height: 34px;
}
/* line 56, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users nav a {
  color: white;
}
/* line 60, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users nav a.dropdown-toggle {
  padding-top: 10px;
  padding-bottom: 5px;
}
/* line 66, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users #logo {
  display: inline-block;
  max-height: 34px;
  padding: 0;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}
/* line 75, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users #brand-name {
  line-height: 40px;
  font-size: 28px;
  vertical-align: middle;
  color: white;
  font-weight: 300;
}
/* line 83, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users #username {
  font-size: 20px;
  letter-spacing: 2.5px;
  line-height: 34px;
  padding: 0 10px;
}
/* line 90, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users #search-wrapper {
  min-height: 100%;
  margin-left: 10px;
}
/* line 100, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-container {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
}
/* line 105, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-container textarea {
  min-height: 120px;
}
/* line 110, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-header {
  border-bottom: 2px solid black;
  background-color: #eee;
}
/* line 114, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-header h2 {
  margin-top: 10px;
}
/* line 118, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-header .edit-btn {
  margin: 10px 0;
}
/* line 122, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-header a {
  background-image: none;
}
/* line 127, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .content-id {
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 132, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-content {
  padding: 20px 20px;
}
@media only screen and (min-width: 768px) {
  /* line 143, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
  #users .content-left {
    padding-right: 25px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 149, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
  #users .content-right {
    padding-left: 25px;
  }
}
/* line 155, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .friend-wrapper {
  border: 2px solid black;
  padding: 5px 5px;
  margin-bottom: 25px;
}
/* line 160, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .friend-wrapper .friend-name-wrapper {
  margin: 3.5em 0;
  padding-left: 0;
}
/* line 165, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .friend-wrapper a, #users .friend-wrapper p {
  font-size: 16px;
  line-height: 20px;
}
/* line 170, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .friend-wrapper a {
  text-decoration: underline;
}
/* line 174, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .friend-wrapper p {
  margin-bottom: 0;
  color: #8e898f;
}
/* line 180, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .unfriend-btn {
  font-size: 1em;
  background-color: #ddd;
  background-image: none;
  margin-top: 3.5em;
  margin-bottom: 0.5em;
}
/* line 188, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .friend-img {
  height: 100%;
  max-width: 100%;
}
/* line 199, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .photo-container {
  margin-top: 30px;
  text-align: center;
}
/* line 204, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .photo-container:last-child {
  margin-bottom: 30px;
}
/* line 208, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .photo-wrapper {
  display: block;
}
/* line 212, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .photo-date {
  width: 90%;
  font-size: 14px;
  line-height: 30px;
  background-color: #828282;
  color: #eee;
  position: absolute;
  bottom: 0px;
  visibility: hidden;
}
@media only screen and (max-width: 767px) {
  /* line 212, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
  #users .photo-date {
    font-size: 12px;
  }
}
/* line 227, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .photo-container:hover .photo-date {
  visibility: visible;
  z-index: 1000;
}
/* line 238, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .whiteness {
  background-color: white;
  padding: 0 0;
}
/* line 242, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .whiteness textarea {
  padding: 5px 5px;
}
/* line 247, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .post-block {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  border-bottom: none;
  border-top: 2px solid black;
}
/* line 255, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .post-pic {
  height: 60px;
  width: 60px;
  position: relative;
}
/* line 263, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .post-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 267, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .post-wrapper p {
  margin-bottom: 0;
  font-size: 16px;
}
/* line 272, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .post-wrapper .friend-name-wrapper {
  padding-top: 5px;
  margin-left: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 272, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
  #users .post-wrapper .friend-name-wrapper {
    margin-left: 30px;
  }
}
/* line 285, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .post-wrapper form.button_to {
  display: inline-block !important;
}
/* line 289, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .post-wrapper .friend-name:first-child {
  margin-right: 10px;
}
/* line 293, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .post-wrapper .post-content {
  margin-bottom: 10px;
}
/* line 297, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .post-wrapper .commenter-info {
  margin-bottom: 15px;
}
/* line 302, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .liker-name,
#users .friend-name {
  line-height: 28px;
  text-decoration: underline;
}
/* line 308, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .post-content {
  margin-top: 10px;
}
/* line 312, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-footer {
  border-top: 2px solid black;
  background-color: #eee;
  padding-bottom: 8px;
}
/* line 317, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-footer h2 {
  margin-top: 10px;
}
/* line 321, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-footer .edit-btn {
  margin: 10px 0;
}
/* line 325, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-footer a {
  background-image: none;
  line-height: 22px;
}
/* line 330, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .section-footer p {
  line-height: 22px;
  font-size: 16px;
}
/* line 336, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .like-link,
#users .like-listing,
#users .like-listing-expanded {
  margin-top: 10px;
}
/* line 342, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .like-link,
#users .commenter-name {
  text-decoration: underline;
  line-height: 22px;
}
/* line 348, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .like-listing-expanded {
  margin-bottom: 10px;
}
/* line 350, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .like-listing-expanded p {
  color: #6e7580;
}
/* line 355, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .hr-block {
  margin-bottom: 0;
}
/* line 360, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .commenter-name {
  margin: 0 0;
}
/* line 364, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .nav-margin {
  margin-top: 50px;
}
/* line 368, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .padding-tainer {
  padding: 20px 20px;
}
/* line 372, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .left-gutter {
  padding-left: 40px;
}
/* line 376, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .right-gutter {
  padding-right: 25px;
}
/* line 380, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users hr {
  border: 1px solid #bbb;
  z-index: 10000;
  width: 98%;
}
/* line 386, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .comment-btn {
  width: 100px;
  font-size: 16px;
}
/* line 391, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .about-content {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 15px;
  padding: 15px 25px;
}
/* line 397, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .about-content p {
  margin-bottom: 5px;
}
/* line 402, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .img-container {
  padding: 0 10px;
  padding-bottom: 10px;
}
/* line 405, /Users/jonathansteenbergen/vcs_prep/rails_workspace/project_danebook/app/assets/stylesheets/users.scss */
#users .img-container div {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

