<section class="row">
  <div class="col-xs-12">
    <div class="info-box row">
      <header class="col-xs-12">
        <h2 class="module-title"><%= content_for :module_title %></h2>
      </header>
      <%= content_for :module_body %>
    </div>
  </div>
</section>