<%= render "shared/search_navbar" %>
<%= render "shared/profile_header" %>
<%= render "shared/flash" %>
<div class="container" %>
  <% @friends.each do |friend| %>
    <div class="col-md-6">
      <% if (@user == current_user) || (friend.friends.include?(current_user)) %>
        <%= link_to friend.name, user_profiles_path(friend) %>
      <% end %>
    </div>
  <% end %>
</div>