<table id="basic-info-table">
  <caption class="heading">Basic Information</caption>
  <tr>
    <td class="bold">Birthday:</td>
    <td><%= user.profile.birthday %></td>
  </tr>
  <tr>
    <td class="bold">College:</td>
    <td><%= user.profile.college %></td>
  </tr>
  <tr>
    <td class="bold">Hometown:</td>
    <td><%= user.profile.hometown %></td>
  </tr>
    <td class="bold">Currently Lives:</td>
    <td><%= user.profile.current_town %></td>
  </tr>
</table>
