<table id="contact-info-table">
  <caption class="heading">Contact Information</caption>
  <tr>
    <td class="bold">Email:</td>
    <td><%= user.email %></td>
  </tr>
  <tr>
    <td class="bold">Phone Number:</td>
    <td><%= user.profile.telephone %></td>
  </tr>
</table>
