<article class="about-me-blurbs right-side">
  <h1 class="heading">Words to Live by</h1>
    <p><%= user.profile.words_to_live_by %></p>
  <h1 class="heading about-me">About Me</h1>
    <p><%= user.profile.about_me %></p>
  </article>
