<!--Individual friend surrounded by border-->
<div class="col-sm-6 friend-list-entry">
  <div class="row">
    <div class="col-sm-3 col-xs-6">
      <%= link_to image_tag("user_silhouette_generic.gif", height: "100px", width: "100px"), "#" %>
    </div>
    <div class="col-sm-4 col-xs-6">
      <p><%= link_to friend.name, user_path(friend) %></p>
      <p><%=friend.friends.size %> Friends</p>
    </div>
    <form class="col-sm-5 col-xs-12">
      <div class="form-group">
        <%=friend_button(friend) %>
      </div>
    </form>
  </div>
</div><!--friend entry-->
