<div class="col-xs-4">
  <img class="col-xs-12" src='<%= asset_path('ron.jpg') %>'>
  <%= link_to mini_friend.name, user_timeline_path(mini_friend), class: 'center-text mini-text col-xs-offset-1' %>
</div>
