<!-- Friends bar -->
<div class="navbar friends-bar">
  <section>
      <h3 class="navbar-header friends-text">Friends</h3>
  </section>
</div>


<% if all_friends(@user).count.between?(1,6) %>
  <% 6.times do %>
    <%= render partial: "friend", locals: { friend: all_friends(@user).sample } %>
  <% end %>

<% elsif all_friends(@user).count >= 6 %>

  <%= render @user.friends %>

<% else %>

  <h3 class="text-center">No friends yet, use the search bar to find `em!</h3>

<% end %>


