<main>

<!-- This part changes page by page -->
  <section class="container" id="information-pane">
    <header class="row">
      <div class="col-sm-offset-2 col-sm-8 about-header">
        <h2>Friends</h2>
      </div>
    </header>


    <div class = "row" id="friends-list">

      <% @friends.each_with_index do |friend, index| %>
        <% break if index >= 6 %>
        <%= render partial: "friend", locals: { friend: friend } %>
      <% end %>

    </div>
  </section>

</main>