<!-- Friends bar -->
<div class="navbar friends-bar">
  <section>
      <h3 class="navbar-header friends-text">Friends</h3>
  </section>
</div>


<% @friended_users.each do |friend| %>
  <%= render partial: "friend", locals: {friend: friend} %>
<% end %>



<% @users_friended_by.each do |friend| %>
  <%= render partial: "friend", locals: {friend: friend} %>
<% end %>