<%= render partial: "layouts/navlinks", locals: {user: @user} %>

<section class="container content">
  <div class="row title-header">
    <div class="col-xs-4 col-xs-offset-4">
      <p class="title">Friends</p>
    </div>
  </div>
  <div class="row content-space">

    <% @user.friendeds.each do |friend| %>

    <div class="col-xs-6 friend-col">
      <div class="row friend-row">
        <div class="col-xs-3">
          <%= image_tag 'user_silhouette_generic.gif', class:"friend-profile" %>
        </div>
        <div style="margin-top: 32px" class="col-xs-5">
          <%= link_to friend.name, user_path(friend), class: "friend-name" %>
        </div>
        <div class="col-xs-4">
          <%= link_to "Unfriend Me", friending_path(friend), method: :delete, class: "btn btn-secondary unfriend-button" %>
        </div>
      </div>
    </div>

    <% end %>

  </div>
</div>