<p>
  Hello <%= @friend_request.approver.name %>!
</p>
<p>
  You've just received a new friend request from <%= @friend_request.initiator.name %>.
</p>
<p>
  Visit your profile <%= link_to('here', user_url(@friend_request.approver)) %> to accept or reject the request.
</p>