<div class="posts-container">
  <% if posts.length == 0 %>
    <h4 class="centered-text">
      No recent activity. Make a post to get started!
    </h4>
  <% end %>
  <% posts.each do |post| %>
    <%= render :partial => "shared/post", :locals => {:post => post, :user => user, :comment => comment} %>
  <% end %>
</div> 
