<div class="container newsfeed">
    <div id="smush" class="col-sm-3">
        <h1>Newsfeed</h1>
        <h3>Look who's been active:
        </h3>
        <% current_user.recent_friends.each do |friend| %>
        <div class="col-sm-12 text-center">
            <div class="small-image">
                <%= profile_pic(friend) %>
            </div>
            <h5>
                <%= link_to friend, friend %>
            </h5>
        </div>
        <% end %>
    </div>
    <div class="col-sm-9">
        <div class="row wrapper">
            <div class="col-sm-12">
                <h2>Post</h2>
                <div class="col-sm-10">
                    <%= render partial: "/posts/form", locals: { user: @user } %>
                </div>
            </div>
        </div>
        <div class="post-rows">
            <% @posts.each do |user_post| %>
            <%= render partial: 'posts/post', locals: { post: user_post } %>
            <% end %>
        </div>
    </div>

</div>
