<%= render 'shared/search_nav' %>
<%= render 'shared/banner_nav' %>

<main class="container">
    <div class="row">
        <div class="panel panel-default col-xs-offset-1 col-xs-10">
            <div class="panel-heading row">
                <div class="panel-title">
                    <h2 class="col-xs-offset-5 col-xs-2 text-center">
                      News Feed
                    </h2>


                </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <h2>Coming Soon</h2>
                <%= link_to "Back to timeline...", user_timeline_path(@user), class: "btn btn-info btn-block" %>
              </div>
            </div>
        </div>
    </div>
</main>
