<!-- Row to track likes -->
<div class="row">
  <div class="col-xs-12">

    <div class="pull-left">
      <p><%= display_likers(liked_object) %></p>
    </div>

  </div>
</div>  <!-- end of likes row -->