<div class="row">
  <div class="col-sm-5">
    <strong>Birthday</strong>
  </div>
  <div class="col-sm-7">
    <div class="form-group">
      <p><%= @user.birth_date.strftime("%m/%d/%Y") %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <strong>College</strong>
  </div>
  <div class="col-sm-7">
    <div class="form-group">
      <p><%= @user.college %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <strong>Hometown</strong>
  </div>
  <div class="col-sm-7">
    <div class="form-group">
      <p><%= @user.hometown.location if @user.hometown %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <strong>Currently Lives</strong>
  </div>
  <div class="col-sm-7">
    <div class="form-group">
      <p><%= @user.residency.location if @user.residency %></p>
    </div>
  </div>
</div>
