<div class="col-sm-6">

        <div class="friend-container">

          <div class="col-xs-3">

            <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

          </div>

          <div class="col-xs-5">

            <div class="friend-info">

              <h4><%=link_to friend.full_name, user_path(friend)%></h4>
              432 Friends

            </div>

          </div>

          <div class="col-xs-4">
            <%= link_to "Friend Me", add_friend_path, class: "btn btn-primary btn-unfriend" %>
            

          </div>

        </div>

      </div>
