<div class="row center-text">
  <a href="<%= user_path(friend) %>"><img src="<%= friend.profile_url %>" class="img-responsive">
    <br>
  <%= friend.first_name %><br>
  <%= friend.last_name %>
  </a>
</div>
