<!-HEADER->

<main class="container">


<div class="row">
  <header class="col-sm-12">
    <img src="images/user_silhouette_generic.gif" alt="profile-pic" class="">

    <h3 class="col-sm-offset-2">Harry Potter</h3>
    <%= link_to "Edit Profile", edit_user_path(@user), class: 'navbar-right right-link' %>

  </header>  
</div>

<div class="row">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="btn-toolbar">
        <div class="btn-group btn-group-lg" role="group">test</div>
        <div class="btn-group btn-group-lg" role="group">test</div>
        <div class="btn-group btn-group-lg" role="group">test</div>
    </div>  
  </div>
</div>

<!-- <div class="row">
  <div class="toolbar">
      <div class="collapse navbar-collapse">
        <ul class="nav nav-pills">
          <li>
            <a class="inactive" href="timeline.html">Timeline</a>
          </li>
          <li>
            <a class="active" href="about.html">About</a>
          </li>
          <li>
            <a class="inactive" href="photos.html">Photos <span>(123)</span></a>
          </li>
          <li>
            <a class="inactive" href="friends.html">Friends <span>(231)</span></a>
          </li>
        </ul>
      </div>
  </div>
</div> -->