<ul id="index_left_list">
	<li><%= image_tag("homepage_1.png")%><strong>See photos and updates</strong> in your news feed.</li>
	<li><%= image_tag("homepage_2.png")%><strong>Post your status for the world to see</strong> from your profile</li>
	<li><%= image_tag("homepage_3.png")%><strong>Get in touch with your friends</strong> by "friending" them</li>
	<li><strong><%= image_tag("homepage_4.png")%>     Like things</strong> because you're a positive person!</li>
</ul>