<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Photos (<%= @user.photos.count %>)</h2>
  </div>
  <div class = "panel-body" id="timeline-photo-box">
    <% @photos.each do |photo| %>
      <%= render partial: "photo_box_photo", locals: { photo: photo } %>
    <% end %>

    <div class="row">
      <div class="col-sm-12 center-text">
        <a href="<%= user_photos_path(@user) %>">See photos</a>
      </div>
    </div>
  </div>
</div>
