<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Photos (834)</h2>
  </div>
  <div class = "panel-body">
    <% 3.times do %>
      <%= render "photo_box_row" %>
    <% end %>

    <div class="row">
      <div class="col-sm-12 center-text">
        <a href="<%= user_photos_path(@user) %>">See more photos</a>
      </div>
    </div>
  </div>
</div>
