<!-- Recent post -->
<div class="row">
  <div class="col-xs-12">
    <div class="white-bg">
      <!-- Post Header -->
      <div class="row">
        <!-- Post author pic -->
        <div class="col-xs-3 col-sm-2">
          <a href="#">
            <img src="/images/harry_potter_profile.png" class="img-thumbnail" style="margin: 5px">
          </a>
        </div>
        <!-- End of Post author pic -->

        <!-- Post info -->
        <div class="col-xs-8 col-sm-9">
          <div style="margin: 20px 0 0 0;font-size: 18px;">
            <a href="about.html">Harry Potter</a>
          </div>
          <p class="post-datetime">Posted on <time datetime="2014-06-01">6/1/2014</time></p>
        </div>
        <!-- End of Post info -->
      </div>
      <!-- End of Post Header -->

      <!-- Post Content -->
      <div class="row">
        <div class="col-xs-12">
          <p class="post-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div>
      <!-- End of Post Content -->

      <!-- Post options -->
      <div class="row">
        <div class="col-xs-12">
          <div class="post-cta-bg">
            <div class="like-link">
              <a href="#">Like</a>
            </div>
            <div class="comment-link">
              <a class="comment-link" href="#">Comment</a>
            </div>
            <div class="delete-link">
              <a class="delete-link" href="#">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Post options -->
    </div>
  </div>
</div>
<!-- End of Recent post -->
