<div class = "panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Pöst</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <textarea class="form-control" rows="3" placeholder="Tell the world something..."></textarea><br>
        <div class="col-sm-3 col-sm-offset-9">
          <button type="submit" class="btn btn-primary btn-block">Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
