<!-- Recent post -->
<div class="row">
  <div class="col-xs-12">
    <div class="white-bg">
      <!-- Post Header -->
      <div class="row">
        <!-- Post author pic -->
        <div class="col-xs-3 col-sm-2">
          <a href="#">
            <img src="/images/harry_potter_profile.png" class="img-thumbnail" style="margin: 5px">
          </a>
        </div>
        <!-- End of Post author pic -->

        <!-- Post info -->
        <div class="col-xs-8 col-sm-9">
          <div style="margin: 20px 0 0 0;font-size: 18px;">
            <%= link_to @user.name, profile_path(@user) %>
          </div>
          <%= content_tag :p, "Posted on #{post.created_at.strftime("%A %m/%d/%Y %I:%M %p")}", class: "post-datetime" %>
        </div>
        <!-- End of Post info -->
      </div>
      <!-- End of Post Header -->

      <!-- Post Content -->
      <div class="row">
        <div class="col-xs-12">
          <%= content_tag :p, post.body, class: "post-content" %>
          </div>
      </div>
      <!-- End of Post Content -->

      <!-- Post options -->
      <div class="row">
        <div class="col-xs-12">
          <div class="post-cta-bg">
            <div class="like-link">
              <a href="#">Like</a>
            </div>
            <div class="comment-link">
              <a class="comment-link" href="#">Comment</a>
            </div>
            <div class="delete-link">
              <a class="delete-link" href="#">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Post options -->
    </div>
  </div>
</div>
<!-- End of Recent post -->
