<article class="status-box">
  <header>Make Post | Upload Video | Something Else</header>
  <div class="post-form">
    <%= form_for [user, post] do |f| %>
      <section>
        <%= f.text_area :body, placeholder: "What's on Your Mind?" %>
      </section>
      <footer>
        <%= f.submit "Post", class: "#{button_classes} right" %>
      </footer>
    <% end %> <!-- form_for @user.posts -->
  </div> <!-- post-form -->
</article>
