<div class = "panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Pöst</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <%= form_tag(user_posts_path) do |f| %>
          <%= f.text_area_field :text, class:"form-control", rows: 3, placeholder: "Tell the world something..." %>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-sm-offset-9">
          <%= f.submit_tag "Post!" %>
          <!-- <button type="submit" class="btn btn-primary btn-block">Post</button> -->
        </div>
        <% end %>
    </div>

  </div>
</div>
