<div class="row" id="upper">
  <div id="profile-pic"></div>
    <div class="col-sm-12" id="banner"></div>
  <div id="cover-nav">
    <div class="col-sm-2"></div>
    <%= link_to "Timeline", root_path, class: "col-sm-2"  %>
    <%= link_to "About", current_user, class: "col-sm-2"  %>
    <%= link_to "Edit Profile", "#"  %>
  </div>
</div>
