<div class="row" id="upper">
  <div id="profile-pic"></div>
    <div class="col-sm-12" id="banner"></div>
  <div id="cover-nav">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Timeline</div>
    <div class="col-sm-2">About</div>
    <div class="col-sm-2" id="current-link">Photos (100)</div>
    <div class="col-sm-2">Friends (100)</div>
    <div class="col-sm-2"><a href="#">Edit Profile</a></div>
  </div>
</div>
