<div class="row">
  <p class="col-sm-6"><strong>Born on:</strong></p>
  <p class="col-sm-6"><%= @user.birthday %></p>
</div>
<div class="row">
  <p class="col-sm-6"><strong>Went to school at:</strong></p>
  <p class="col-sm-6"><%= @user.profile.school %></p>
</div>
<div class="row">
  <p class="col-sm-6"><strong>Hometown:</strong></p>
  <p class="col-sm-6"><%= @user.profile.hometown %></p>
</div>
<div class="row">
  <p class="col-sm-6"><strong>Currently Lives:</strong></p>
  <p class="col-sm-6"><%= @user.profile.current_town %></p>
</div>
