<div class="row">
  <p class="col-xs-6"><strong>Born on:</strong></p>
  <p class="col-xs-6"><%= @user.birthday.to_formatted_s(:long_ordinal) %></p>
</div>
<div class="row">
  <p class="col-xs-6"><strong>Went to school at:</strong></p>
  <p class="col-xs-6"><%= @user.profile.school %></p>
</div>
<div class="row">
  <p class="col-xs-6"><strong>Hometown:</strong></p>
  <p class="col-xs-6"><%= @user.profile.hometown %></p>
</div>
<div class="row">
  <p class="col-xs-6"><strong>Currently Lives:</strong></p>
  <p class="col-xs-6"><%= @user.profile.current_town %></p>
</div>
