          <p>
            <ul>
              <li>
                <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851565_602269956474188_918638970_n.png">
                <strong>See photos and updates </strong> from friends in News Feed.
              </li>

              <li>
                <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851585_216271631855613_2121533625_n.png">
                <strong>Share what's new</strong> in your life on your Timeline.
              </li>

              <li>
                <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851558_160351450817973_1678868765_n.png">
                <strong>Find more</strong> of what you're looking for with Graph Search
              </li>

              <li>
                <img id="like" src="http://www.intruo.com/assets/images/fbLike.gif">
                <strong>Like things</strong> because you're a positive.
              </li>
            </ul>
          </p>