<h1>Users#edit</h1>

<!-- Hidden input telling rails to fake a PATCH request through a POST request -->

<input name="_method" type="hidden" value="patch"/>

<%= render partial: 'form', locals: { user: @user } %>