<main class="container">
  <header class="row">
    <%= render partial: 'static_pages/masthead', locals: { user: user } %>
  </header>

  <div class="row">
    <%= render partial: "static_pages/edit_profile", locals: { user: @user, microposts: nil, cities: @cities, states: @states, countries: @countries, profile: @profile } %>
  </div>

<%= link_to 'Sign out', logout_path, method: :delete%>
</main>