<!-- banner box -->
<%= render 'layouts/jumbotron'%>

<div class="row">
<!-- profile panel -->
	<div class="box-container about-container about-page-container">
      <h2 class="col-sm-6 col-sm-offset-1"><%= image_tag('about_icon.png')%>Edit</h2>  
	</div>
</div>
<%= render 'user_form' %>



