<section id="interior-page">

  <div class="container">
    <h1>Welcome <%= @user.email %></h1>
    <%= link_to "Sign Out", logout_path, method: :delete %>
    <hr>
  </div>

  <%= render partial: "header", locals: { user: @user } %>
  
  <main class="container">
    <div class="row">
      <div class="panel panel-default col-xs-offset-1 col-xs-10">
        <div class="panel-heading row">
          <div class="panel-title">
            <h2 class="text-center">About</h2>
          </div>
        </div>
        <div class="panel-body">
          <div class="row bottom-box">
            <div class="col-md-6 col1">
              <div class="row">
                <div class="col-xs-12">
                  <h3>Basic Information</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <p><strong>Birthday:</strong></p>
                </div>
                <div class="col-xs-6">
                  <p>July 31st, 1980</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <p><strong>College:</strong></p>
                </div>
                <div class="col-xs-6">
                  <input type="text" value="Hogwarts College">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <p><strong>Hometown:</strong></p>
                </div>
                <div class="col-xs-6">
                  <input type="text" value="Godrick's Hollow, England">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <p><strong>Currently Lives:</strong></p>
                </div>
                <div class="col-xs-6">
                  <input type="text" value="Godrick's Hollow, England">
                </div>
              </div><!--  -->
              <!--END OF BASIC INFORMATION  -->
              <!--  -->
              <div class="row">
                <div class="col-xs-12">
                  <h3>Contact Information</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <p><strong>Email:</strong></p>
                </div>
                <div class="col-xs-6">
                  <p>harry_potter@hogwarts.edu</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <p><strong>Telephone:</strong></p>
                </div>
                <div class="col-xs-6">
                  <input type="text" value="555-123-4567">
                </div>
              </div>
            </div><!--  -->
            <!-- END OF LEFT HALF -->
            <!--  -->
            <div class="col-md-6 col2">
              <div class="row">
                <div class="col-xs-12">
                  <h3>Words to Live By</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <textarea class="form-control" rows=
                  "2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h3>About Me</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <textarea class="form-control" rows=
                  "10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-center rs30">
                <a class="btn btn-success btn-lg" href="#">Save Changes</a>
              </div>
            </div>
          </div><!--Panel content-->
        
        </div>
      </div>
    </div>
  </main>