<%= render :partial => 'shared/signed_in_navbar' %>

<main class = "container">

  <%= render :partial => 'shared/middle_navbar' %>

  <section id="about-edit">
    <header>
      <div class="row">
        <div class="col-xs-12">
          <h2>Edit Profile</h2>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <%= render :partial => 'form' %>
      </div>
    </div>


  </section>

</main>

<br>