<h1>Users#edit</h1>

<!-- Hidden input telling rails to fake a PATCH request through a POST request -->

<input name="_method" type="hidden" value="patch"/>

<%= render template: 'static_pages/about', locals: { user: @user }, action: :edit %>