<main class="main friends">
  <% user = User.find(params[:user_id]) %>
  <%= render partial: '/profiles/profile_header_and_links', locals: { user: user }%>

  <div class="container">
    <div class="row">
      <header class="bar friend-bar">
        <h1 class="friends-title">Friends</h1>
      </header>
    </div>

    <div class="row friend-link-section">
      <% if friend_list(user).empty? %>
        <div class="find-friend-link-section">
          <%= link_to "Find Friends", "#" %>
        </div>
      <% else %>
        <%= render partial: '/users/friends/column', locals: { user: user, friends: split_list_of_friends(user)[0] } %>
        <% unless split_list_of_friends(user)[1].nil? %>
          <%= render partial: '/users/friends/column', locals: { user: user, friends: split_list_of_friends(user)[1]  } %>
        <% end %> 
      <% end %>
    </div>

  </div>
</main>
