
  <body>
    <%= render partial: 'header' %>

	<!-- Main Content Friends -->
	<main>
	  <div class="main container">

	  <!-- Header Row -->
	    <div class="nav row">
	      <h1><strong>Friends</strong></h1>
	    </div><!-- End header Row -->

	    <!-- Content 1st Row -->
	    <div class="content row">

	      <!-- Left Side Content -->
	      <div class="col-sm-6">
	        <div class="friends row">
	          <div class="col-sm-10 col-sm-offset-1">

	           <!-- Friend's Profile Pic -->
	           <a href="#"><img class="frnd-img" src="/assets/default_user.gif"></a>
	     	   
	     	   <!-- Link to Friend with number of friends -->
	           <div class="profile"><a href="#">Hermione Granger</a><span><small>134 Friends</small></span></div>
	  			
	  			<!-- Unfriend just incase -->
	            <button type="button" class="btn btn-default">Unfriend Me</button>
	          </div>
	        </div>
	      </div>
 		  
 		  <!-- Right Side Content -->
	      <div class="col-sm-6">
	        <div class="friends row">
	          <div class="col-sm-10 col-sm-offset-1">

	           <!-- Friend's Profile Pic -->
	           <a href="#"><img class="frnd-img" src="/assets/default_user.gif"></a>
	     	   
	     	   <!-- Link to Friend with number of friends -->
	           <div class="profile"><a href="#">Hermione Granger</a><span><small>134 Friends</small></span></div>

	  			<!-- Unfriend just incase -->
	            <button type="button" class="btn btn-default">Unfriend Me</button>
	          </div><!-- Friend profile column -->
	        </div><!-- End Row -->
	      </div><!-- End Outside Column -->
	    </div><!-- End Outside Row -->

	    <!-- Content 1st Row -->
	    <div class="content row">

	      <!-- Left Side Content -->
	      <div class="col-sm-6">
	        <div class="friends row">
	          <div class="col-sm-10 col-sm-offset-1">

	           <!-- Friend's Profile Pic -->
	           <a href="#"><img class="frnd-img" src="/assets/default_user.gif"></a>
	     	   
	     	   <!-- Link to Friend with number of friends -->
	           <div class="profile"><a href="#">Hermione Granger</a><span><small>134 Friends</small></span></div>
	  			
	  			<!-- Unfriend just incase -->
	            <button type="button" class="btn btn-default">Unfriend Me</button>
	          </div>
	        </div>
	      </div>
 		  
 		  <!-- Right Side Content -->
	      <div class="col-sm-6">
	        <div class="friends row">
	          <div class="col-sm-10 col-sm-offset-1">

	           <!-- Friend's Profile Pic -->
	           <a href="#"><img class="frnd-img" src="/assets/default_user.gif"></a>
	     	   
	     	   <!-- Link to Friend with number of friends -->
	           <div class="profile"><a href="#">Hermione Granger</a><span><small>134 Friends</small></span></div>

	  			<!-- Unfriend just incase -->
	            <button type="button" class="btn btn-default">Unfriend Me</button>
	          </div><!-- Friend profile column -->
	        </div><!-- End Row -->
	      </div><!-- End Outside Column -->
	    </div><!-- End Outside Row -->

	    <!-- Content 1st Row -->
	    <div class="content row">

	      <!-- Left Side Content -->
	      <div class="col-sm-6">
	        <div class="friends row">
	          <div class="col-sm-10 col-sm-offset-1">

	           <!-- Friend's Profile Pic -->
	           <a href="#"><img class="frnd-img" src="/assets/default_user.gif"></a>
	     	   
	     	   <!-- Link to Friend with number of friends -->
	           <div class="profile"><a href="#">Hermione Granger</a><span><small>134 Friends</small></span></div>
	  			
	  			<!-- Unfriend just incase -->
	            <button type="button" class="btn btn-default">Unfriend Me</button>
	          </div>
	        </div>
	      </div>
 		  
 		  <!-- Right Side Content -->
	      <div class="col-sm-6">
	        <div class="friends row">
	          <div class="col-sm-10 col-sm-offset-1">

	           <!-- Friend's Profile Pic -->
	           <a href="#"><img class="frnd-img" src="/assets/default_user.gif"></a>
	     	   
	     	   <!-- Link to Friend with number of friends -->
	           <div class="profile"><a href="#">Hermione Granger</a><span><small>134 Friends</small></span></div>

	  			<!-- Unfriend just incase -->
	            <button type="button" class="btn btn-default">Unfriend Me</button>
	          </div><!-- Friend profile column -->
	        </div><!-- End Row -->
	      </div><!-- End Outside Column -->
	    </div><!-- End Outside Row -->

	    <!-- Content 1st Row -->
	    <div class="content row">

	      <!-- Left Side Content -->
	      <div class="col-sm-6">
	        <div class="friends row">
	          <div class="col-sm-10 col-sm-offset-1">

	           <!-- Friend's Profile Pic -->
	           <a href="#"><img class="frnd-img" src="/assets/default_user.gif"></a>
	     	   
	     	   <!-- Link to Friend with number of friends -->
	           <div class="profile"><a href="#">Hermione Granger</a><span><small>134 Friends</small></span></div>
	  			
	  			<!-- Unfriend just incase -->
	            <button type="button" class="btn btn-default">Unfriend Me</button>
	          </div>
	        </div>
	      </div>
 		  
 		  <!-- Right Side Content -->
	      <div class="col-sm-6">
	        <div class="friends row">
	          <div class="col-sm-10 col-sm-offset-1">

	           <!-- Friend's Profile Pic -->
	           <a href="#"><img class="frnd-img" src="/assets/default_user.gif"></a>
	     	   
	     	   <!-- Link to Friend with number of friends -->
	           <div class="profile"><a href="#">Hermione Granger</a><span><small>134 Friends</small></span></div>

	  			<!-- Unfriend just incase -->
	            <button type="button" class="btn btn-default">Unfriend Me</button>
	          </div><!-- Friend profile column -->
	        </div><!-- End Row -->
	      </div><!-- End Outside Column -->
	    </div><!-- End Outside Row -->


	  </div><!-- End Main Container -->

	</main>




	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>