<main>
    <div class="container">
        <%= render "profile_bar" %>
        <div class="row wrapper">
            <div class="col-sm-12">
                <h2>Friends</h2>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="row friend-row">
                        <div id="friend-pic"></div>
                        <div>
                            <ul>
                                <li>
                                    <a href="#">Hermione Granger</a>
                                </li>
                                <li>
                                    432 Friends
                                </li>
                            </ul>
                        </div>
                        <div>
                            <button class="btn btn-warning">Unfriend Me</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row friend-row">
                        <div id="friend-pic"></div>
                        <div>
                            <ul>
                                <li>
                                    <a href="#">Hermione Granger</a>
                                </li>
                                <li>
                                    432 Friends
                                </li>
                            </ul>
                        </div>
                        <div>
                            <button class="btn btn-warning">Unfriend Me</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="row friend-row">
                        <div id="friend-pic"></div>
                        <div>
                            <ul>
                                <li>
                                    <a href="#">Hermione Granger</a>
                                </li>
                                <li>
                                    432 Friends
                                </li>
                            </ul>
                        </div>
                        <div>
                            <button class="btn btn-warning">Unfriend Me</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row friend-row">
                        <div id="friend-pic"></div>
                        <div>
                            <ul>
                                <li>
                                    <a href="#">Hermione Granger</a>
                                </li>
                                <li>
                                    432 Friends
                                </li>
                            </ul>
                        </div>
                        <div>
                            <button class="btn btn-warning">Unfriend Me</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="row friend-row">
                        <div id="friend-pic"></div>
                        <div>
                            <ul>
                                <li>
                                    <a href="#">Hermione Granger</a>
                                </li>
                                <li>
                                    432 Friends
                                </li>
                            </ul>
                        </div>
                        <div>
                            <button class="btn btn-warning">Unfriend Me</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row friend-row">
                        <div id="friend-pic"></div>
                        <div>
                            <ul>
                                <li>
                                    <a href="#">Hermione Granger</a>
                                </li>
                                <li>
                                    432 Friends
                                </li>
                            </ul>
                        </div>
                        <div>
                            <button class="btn btn-warning">Unfriend Me</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
