<section class="info-pane col-md-12">
  <header class="row">
    <div class="col-md-12">
      <h2><%= "Friend Requests"%></h2>
    </div>
  </header>

  <section class = "row">

    <%= render @users %>
    <div class="col-xs-12 pagination">
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </div>

  </section>
</section>
