<div class="friends-page">
  <main>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Friends</strong></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <% @users.each do |user| %>
              <article class="friends-profile">

                <%= link_to "#{user.username}", timeline_path(user) %>

              </article>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
