<%= render template: 'static_pages/all_users', locals: { users: @users } %>

<div><%= link_to 'Home', root_path, method: :get %></div>
<div><%= link_to 'Log out', logout_path, method: :delete %></div>
