
<section id="interior-page">

  <%= render partial: "shared/nav" %>
  <%= render partial: "shared/flash" %>

  <div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-6">
      <%= render partial: "shared/post_form", locals: { user: current_user, post: @post } %>
      <%= render partial: "shared/posts", locals: { user: current_user, post: @post, posts: @posts } %>
    </div>

  </div>

</section>