<%= content_for :usernav, true %>
<div class="col-xs-12">

  <div class="row">
    <div class="col-sm-5 col-md-4 right-gutter hidden-xs">
      <%= render partial: 'shared/timeline_sidebar', locals: { user: @user || current_user } %>
    </div>

    <div id="timeline" data-user-id="<%= @user.id %>" class="col-sm-7 col-md-8">
      <%= render_new_post(@user, @post) %>
      <%#= render_posts(@posts) %>
    </div>

  </div>
</div>
