
<section id="interior-page">

  <%= render partial: "shared/nav", locals: { user: @user } %>

  <div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-6">
      <%= render partial: "shared/form", locals: { user: @user, post: @post } %>
      <%= render partial: "shared/post", locals: { user: @user, post: @post, posts: @posts } %>
    </div>

  </div>

</section>