<br>
<br>
<br>
<br>
<br>


<h3> 
    These users popped up in your query search :: 
  </h3>

<ul>
  <% unless @users.blank? %>
    <% @users.each_with_index do |user, index| %>

      <li>
        <h5>
        <%=index %> user_name :: <%= link_to user.username, user_path(user) %>
        </h5>
        profile_name :: <%= user.profile.first_name %>, <%= user.profile.last_name %>
      </li>
    <% end %>
  <% end %> 
</ul>