<%= render partial: "shared/navbar", locals: { :user => @user } %>

<!-- Hero -->
<div class="container">
    <header class="hero">
        <div class="avatar">
        </div>
    </header>
    
    <%= render partial: "shared/subnav", locals: { :user => @user } %>

    <!-- Current location header -->
    <section class="nav-about">
        <h2>
        Friends
        </h2>
    </section>

    <!-- Main -->
    <main class="main-about">
        <div class="row">
           <div class="col-xs-12 col-md-6">
                <div class="friend-box">
                    <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Hermione Granger
                    </a>
                    Friends<span class="badge budge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="friend-box">
                <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Neville Longbottom
                    </a>
                    Friends<span class="badge budge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="friend-box">
                <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Ginny Weasley
                    </a>
                    Friends<span class="badge budge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="friend-box">
                <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Bill Weasley
                    </a>
                    Friends<span class="badge budge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="friend-box">
                <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Ron Weasley
                    </a>
                    Friends<span class="badge budge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="friend-box">
                <img src="assets/user_silhouette_generic.gif" class="img-thumbnail">
                <div class="friend-name">
                    <a href="#">
                        Rubeus Hagrid
                    </a>
                    Friends<span class="badge budge">(432)</span>
                </div>
                <form>
                    <button type="submit" class="btn btn-default btn-sm unfriend">Unfriend me</button>
                </form>
            </div>
        </div>
    </main>
</div>