
<main class="homepage-content-wrapper jumbotron">
  <div class="container">
    <section class="messaging-sign-in-row row">
      <div class="messaging col-lg-offset-1 col-md-6">
        <header>
          <h2><strong>Connect with friends</strong></h2>
        </header>

        <div class="value-messages">
        	<%= render 'values' %>
      	</div>
      </div>
      <div class="sign-up-block col-md-5">
        <header>
          <h2><strong>Sign Up</strong></h2>
          <h4>It's free... sort of.</h4>
        </header>
   		  <%= render 'new_user' %>
      </div>
    </section>
  </div>
</main>
