<% content_for :navbar do %>
  <%= render "shared/home_navbar" %>
<% end %>
<div class="container">
  <div class="row">
    <aside class="col-md-7">
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
          <h2>Connect with all your friends!</h2>
          <ul>
            <li>See photos and updates in your news feed.</li>
            <li>Post your status for the world to see from your profile.</li>
            <li>Get in touch with your friends by "friending" them</li>
            <li>Like things because you're a positive person!</li>
          </ul>
        </div>
      </div>
    </aside>
    <!--FORM SECTION -->
    <section class="col-md-5">
      <div class="">
        <h1>Sign Up</h1>

        <%= render partial: "signup_form", :locals => {:user => @user} %>

      </div>
    </section>
  </div>
</div>