<div class="row">
	<section class="col-md-7 home_left">
		<p><h2>Connect with all your friends!</h2></p>
		<%= render 'homepage_left' %>
	</section><!-- end left homepage section -->
	
	<section class="col-md-5">
		<h1 id="index_sign_up">Sign Up</h1>
		<p id="index_sign_up_text">It's 'free'... <em>for now.</em></p>
		<%= render 'user_fields' %>
	</section>
</div><!-- / main row-->
