<main class="container" id="login-main">
  <div class="row">
    <!-- Left column benefits to signing up -->
    <div class="col-md-6 col-md-offset-1" id="benefits">
      <h2>Connect with åll your frænds!</h2>
      <ul>
        <li><strong>See photøs and updates</strong> in your newsfeed</li>
        <li><strong>Post your status for the wörld to see</strong> from your profile</li>
        <li><strong>Get in tøuch with your frænds</strong> by "frænding" them</li>
        <li><strong>Like things</strong> becåuse you're a pösitive person</li>
      </ul>
    </div>

    <!-- Right column signup form -->
    <div class="col-md-5" id="signup-form">
      <div class="col-sm-12">
        <div id="flash-messages">
          <%= render partial: "shared/flash" %>
        </div>
      </div>

      <div class="col-sm-12">
        <h2>Sign Up</h2>
      </div>

      <%= render "signup_form" %>
    </div>
  </div>
</main>
