<main class="main container">
  <div class="row">

    <article class="home-benefits col">
      <h1>Connect with all your friends!</h1>
      <ul>
        <li><strong>See photos and updates</strong> in your news feed.</li>
        <li><strong>Post your status for the world to see</strong> from your profile.</li>
        <li><strong>Get in touch with your friends</strong> by "friending" them.</li>
        <li><strong>Like things</strong> because you are a positive person!</li>
      </ul>
    </article>
    <article class="home-sign-up-form col">
      <%= render partial: 'signup_form', locals: { user: @user } %>
    </article>

  </div>
</main>
