<div id="home">



<main class = "container">
  <div class = "row">
    <div class = "col-sm-7">

      <div class = "row">
        <div class = "col-sm-12">
          <h2>
            Connect with all your friends!
          </h2>

          <ul>
            <li><b>See photos and updates</b> in your news feed.</li>
            <li><b>Post your status for the world</b> to see from your profile.</li>
            <li><b>Get in touch with your friends</b> by "friending" them.</li>
            <li><b>Like things</b> because you're a positive person!</li>
          </ul>
        </div>
      </div>

    </div>



    <div class = "col-sm-5">

      <div class = "row">
        <div class = "col-sm-10">
          <h1>Sign Up</h1>
        </div>
      </div>

      <%= render partial: "users_form", locals: { user: @user} %>



    </div>
  </div>

</main>
</div>