<div class="container">
  <div class="row" style="margin-top: -20px">
    <div class="col-xs-4 white-bg">
      <%= render partial: "recently_active" %>
    </div>
    <div class="col-xs-8">NEWSFEED
    </div>
  </div>
</div>
