<main>
    <div class="container">
        <%= render "profile_bar" %>
        <div class="row wrapper">
            <div class="col-sm-12">
                <h2>Photos</h2>
            </div>
            <div class="col-sm-12">
                <div id="icon-picture">
                    <p>Uploaded Jan 1st</p>
                </div>
                <div id="icon-picture">
                    <p>Uploaded Jan 1st</p>
                </div>
                <div id="icon-picture">
                    <p>Uploaded Jan 1st</p>
                </div>
                <div id="icon-picture">
                    <p>Uploaded Jan 1st</p>
                </div>
                <div id="icon-picture">
                    <p>Uploaded Jan 1st</p>
                </div>
                <div id="icon-picture">
                    <p>Uploaded Jan 1st</p>
                </div>
                <div id="icon-picture">
                    <p>Uploaded Jan 1st</p>
                </div>
                <div id="icon-picture">
                    <p>Uploaded Jan 1st</p>
                </div>
                <div id="icon-picture">
                    <p>Uploaded Jan 1st</p>
                </div>
                <div id="icon-picture">
                    <p>Uploaded Jan 1st</p>
                </div>
            </div>
        </div>
    </div>
</main>
