<!-- Your markup here! -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>photos</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>

  <body>
  <%= render partial: 'header' %>
    

	<main>
	  <!-- Main Container -->
	  <div class="container main">

	    <!-- Photos Container -->
	    <div class="photos-header nav row">
		  <div class="center col-md-2 col-md-offset-5"><h1>Photos</h1></div>
	  	  <div class="col-md-2 col-md-offset-3">

	  	  <!-- Edit Profile Button -->
	  	  	<div class="navbar-right edit-button">
	  	  	  <button type="button" class="btn btn-primary">Add Photos!</a>
  	  		  </button>
	  	    </div>
	  	  </div>
	  	</div><!-- End Photos Header Container-->

	  	<!-- Photos Grid Container -->
	  	<div class="photos-row row">
	  	  <div class="col-sm-12">
	  	    <div class="row heading-row">
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	    </div>
	  	    <div class="row">
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	    </div>
	  	    <div class="row">
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	    </div>
	  	    <div class="row">
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	      <div class="photos-thumb col-sm-3">
	  	        <a href="#"><img src="/assets/default_user.gif"><div class="panel-footer hover-date">Uploaded October 31, 2015</div></a>
	  	      </div>
	  	    </div>
	  	  </div>
	  	</div>

    



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>