<% content_for :title do %>
  <title>Search</title>
<% end %>
<div class="container">
  <div class="pages">
     <!-- %= render partial: '/shared/toolbar', locals: { user: current_user, profile: @user.profile } %> -->
    <div class="row about-title">
      <div class="col-md-12">
        <h3>Search</h3>
      </div>
    </div>
    <div class="row about-container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h2>Basic Information</h2>
            <% @users.each do |user| %>
               <div class="col-md-1">
                <%= image_tag(get_profile_photo(user), size: "30x30") %>
              </div>
              <div class="col-md-11">
                 <%= link_to "#{user_fullname(post)}", user_path(user) %>
              </div>
            <% end %>


          </div>
        </div>
        
      </div>
     
    </div>
  </div>
</div>