<main>
    <div class="container">
        <%= render partial: "/shared/profile_bar", locals: { user: @user }%>
        <div class="col-sm-5 timeline-col">
            <div class="row wrapper">
                <div class="col-sm-12">
                    <h2>About</h2>
                </div>
                <div class="col-sm-12">
                    <%= @user.profile.about %>
                </div>
            </div>

            <div class="row wrapper">
                <div class="col-sm-12">
                    <h2>Photos</h2>
                </div>
                <div class="col-sm-12">
                    <div id="icon-picture">
                        <p>Uploaded Jan 1st</p>
                    </div>
                </div>
                <div class="more">
                    <a href="#">See More Photos</a>
                </div>
            </div>

            <div class="row wrapper">
                <div class="col-sm-5">
                    <h2>Friends</h2>
                </div>
                <div class="col-sm-12">
                    <div id="friend-pic" class="friends-col">
                        <p>
                            <a>paragrah text</a>
                        </div>
                        <div id="friend-pic" class="friends-col">
                            <p>
                                <a>paragrah text</a>
                            </p>
                        </div>

                        <div class="more">
                            <a href="#">See More Friends</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-7 timeline-col-2nd">
                <% if @user == current_user %>
                <div class="row wrapper">
                    <div class="col-sm-12">
                        <h2>Post</h2>
                        <div class="col-sm-10">
                            <%= render partial: "/posts/form", locals: { user: @user } %>
                        </div>
                    </div>

                </div>
                <% end %>
                <% @posts.each do |p| %>
                <%= render partial: "/posts/post", locals: {post: p} %>
                <% end %>
            </div>
        </div>
    </main>

</body>
