<body>
  <%= render partial: 'header' %>
	<main>
	
	<!-- Navbar for Main Content -->
	  <div class="container main">
		<div class="nav row">
		  <div class="center col-md-2 col-md-offset-5"><h1>About</h1></div>
	  	  <div class="col-md-2 col-md-offset-3">

	  	  <!-- Edit Profile Button -->
        <% if current_user? %>
	  	  	<div class="navbar-right edit-button">
	  	  	  <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-primary" %>
	  	    </div>
        <% end %>
	  	  </div>
	  	</div>

	  	<div class="content row">

	  	<!-- Content Left -->
	  	  <div class="col-md-5">

	  	  <!-- First row Header -->
	  	    <div class="header row">
 			  <div class="col-md-10 col-md-offset-2">
 			    <h1>Basic Information</h1>
 			  </div>
 			</div>

 			<div class="content row">
 			  <div class="col-md-4 col-md-offset-2">
 			    <strong>Birthday:</strong>
 			  </div>
 			  <div class="col-md-6">
 			    July 31st, 1980
 			  </div>
 			</div>

 			<div class="content row">
 			  <div class="col-md-4 col-md-offset-2">
 			    <strong>College:</strong>
 			  </div>
 			  <div class="col-md-6">
 			    Hogwarts College
 			  </div>
 			</div>

 			<div class="content row">
 			  <div class="col-md-4 col-md-offset-2">
 			  	<strong>Hometown:</strong>
 			  </div>
 			  <div class="col-md-6">
 			    Godrick's Hollow, England
 			  </div>
 			</div>

 			<div class="content row">
 			  <div class="col-md-4 col-md-offset-2">
 			  	<strong>Birthday:</strong>
 			  </div>
 			  <div class="col-md-6">
 			    Godrick's Hollow, England
 			  </div>
 			</div>

			<div class="header2 row">
 			  <div class="col-md-10 col-md-offset-2">
 			    <h1>Contact Information</h1>
 			  </div>
 			</div>

 			<div class="content row">
 			  <div class="col-md-4 col-md-offset-2">
 			  	<strong>Email:</strong>
 			  </div>
 			  <div class="col-md-6">
 			    Harry_potter@hogwarts.edu
 			  </div>
 			</div>

 			<div class="content row">
 			  <div class="col-md-4 col-md-offset-2">
 			  	<strong>Telephone:</strong>
 			  </div>
 			  <div class="col-md-6">
 			    555 - 123 - 4567
 			  </div>
 			</div>

 		  </div><!-- End Left Content Container -->

 		  <!-- Right Side Content -->
 		  <div class="col-md-5 col-md-offset-1">
 		   <div class="header row">
 		     <h1>Words to Live By</h1>
 		   </div>
 		   <div class="conent row">
 		   	 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 		   	 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
 		   </div>
 		   <div class="header row">
 		     <h1>About Me</h1>
 		   </div>
 		   <div class="conent row">
 		     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 		     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 		     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 		     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 		     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 		     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		   </div>
		  </div>
		</div>

  </div>
</main>
