<main>
    <div class="container">
        <%= render "profile_bar" %>
        <div class="row wrapper">
            <div class="col-sm-12">
                <h2>About</h2>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <div class="row">
                        <h3>Basic Information</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Birthday:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><%= @user.profile.birthday.strftime("%x") %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Email:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><%= @user.email %></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <h3>About Me</h3>
                        <p><<%= @user.profile.about %>p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
