<% content_for :navbar do %>
<%= render "shared/logged_navbar" %>
<% end %>
<!--HERO-->
<div class="container">
    <header class="hero">
        <div class="avatar">
        </div>
    </header>
    <!--SUB-NAVIGATION-->
    <%= render "shared/sub_navbar" %>
    <!--SECTION BAR-->
    <section class="nav-about">
        <h2>
        About
        </h2>
        <a class="btn btn-primary" href="about_edit.html" role="button">
            Edit Your Profile
        </a>
    </section>
    <!--DATA TABLE-->
    <main class="main-about">
    <div class="row">
        <article class="col-xs-12 col-sm-6 interior">
            <table class="tab-about">
                <caption>
                <h3>
                Basic Information
                </h3>
                </caption>
                <tr>
                    <th>
                        Birthday:
                    </th>
                    <td>
                        July 31st, 1980
                    </td>
                </tr>
                <tr>
                    <th>
                        College:
                    </th>
                    <td>
                        Hogwarts College
                    </td>
                </tr>
                <tr>
                    <th>
                        Hometown:
                    </th>
                    <td>
                        Godrick's Hollow, England
                    </td>
                </tr>
                <tr>
                    <th>
                        Currently Lives:
                    </th>
                    <td>
                        Godrick's Hollow, England
                    </td>
                </tr>
            </table>
            <!--CONTACT INFO TABLE-->
            <table class="tab-about">
                <caption><h3>Current Information</h3></caption>
                <tr>
                    <th>
                        Email:
                    </th>
                    <td>
                        harry_poter@hogwarts.edu
                    </td>
                </tr>
                <tr>
                    <th>
                        Telephone:
                    </th>
                    <td>
                        555-123-4567
                    </td>
                </tr>
            </table>
        </article>
        <!-- ABOUT RIGHT COLUMN-->
        <article class="col-xs-12 col-sm-6 interior">
            <h3>Words to Live By</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sequi magni, voluptatibus dolore illo. Non quae mollitia dolores in tempora. Maiores natus odit quia et, officia iure molestiae ullam repellendus.</p>
            <h3>About Me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere magnam, velit, nam pariatur aut amet excepturi modi aperiam atque placeat expedita quaerat voluptatem cum fuga nisi vitae temporibus quas possimus necessitatibus. Ipsum fuga recusandae odit molestiae ab excepturi, voluptates rerum ullam tempore repellat commodi similique autem deleniti illum enim error reprehenderit ut iste, dicta et veniam quasi, amet nihil perspiciatis. Officia, perspiciatis amet. Fugiat tenetur, minima facere et repellat. </p>
        </article>
    </div>
    </main>
</div>