<%= render 'about_nav' %>

<%= render 'header' %>


<div class="row">

<!-LEFT COLUMN CONTENT IN COl-SM-4 begins here->

<div class="col-sm-4">

  <!-ABOUT section->
  <section class="row">
      <h5 class="timeline-title">About (Text Area)</h5>
      <section class="timeline-content col-sm-12">
        <table class="table table-borderless">
            <tr>
              <td>Birthday:</td>
              <td>July 31st, 1980</td>
            </tr>
             <tr>
              <td>College:</td>
              <td>Hogwarts College</td>
            </tr>
             <tr>
              <td>Hometown:</td>
              <td>Godrick's Hollow, England</td>
            </tr>
             <tr>
              <td>Current Location:</td>
              <td>Godrick's Hollow, England</td>
            </tr>
          </table>
      </section>
  </section>

  <!-PHOTOS section->
  <section class="row">
    <h5 class="timeline-title">Photos (123) (Copied Text Area)</h5>
    <section class="timeline-content col-sm-12">
      <img class="photos-img" src="images/icon_photo_small.png">
      <img class="photos-img" src="images/icon_photo_small.png">
      <img class="photos-img" src="images/icon_photo_small.png">
      <img class="photos-img" src="images/icon_photo_small.png">
      <img class="photos-img" src="images/icon_photo_small.png">
      <img class="photos-img" src="images/icon_photo_small.png">
      <img class="photos-img" src="images/icon_photo_small.png">
      <img class="photos-img" src="images/icon_photo_small.png">
      <img class="photos-img" src="images/icon_photo_small.png">     
      <a class="text-center"  href="photos.html">See more Photos</a>
    </section>

  </section>

  <!-FRIENDS section->
  <section class="row">
    <h5 class="timeline-title">Friends (542) (Copied Text Area)</h5>
    <section class="timeline-content col-sm-12">

    <div class="friend-photo">
      <img class="photos-img" src="images/icon_photo_small.png">
      <a href="#">Ron Weasley</a>       
    </div>
    <div class="friend-photo">
      <img class="photos-img" src="images/icon_photo_small.png">
      <a href="#">Ron Weasley</a>       
    </div>    <div class="friend-photo">
      <img class="photos-img" src="images/icon_photo_small.png">
      <a href="#">Ron Weasley</a>       
    </div>    <div class="friend-photo">
      <img class="photos-img" src="images/icon_photo_small.png">
      <a href="#">Ron Weasley</a>       
    </div>    <div class="friend-photo">
      <img class="photos-img" src="images/icon_photo_small.png">
      <a href="#">Ron Weasley</a>       
    </div>    <div class="friend-photo">
      <img class="photos-img" src="images/icon_photo_small.png">
      <a href="#">Ron Weasley</a>       
    </div>    
      <a class="text-center" href="friends.html">See more Friends</a>
    </section>
  </section>





</div><!-LEFT COLUMN CONTENT IN COl-SM-4 ends here->


<!-RIGHT COLUMN CONTENT IN COl-SM-4 ends here->
<div class="col-sm-8">

<!-NEW POST section->
  <section class="row">
    <h5 class="timeline-title col-xs-11 col-xs-offset-1">
      Post (copied)
    </h5>
    <section class="timeline-content col-xs-11 col-xs-offset-1">
      <div class="form-group">
              <textarea class="form-control" rows="5" id="edit About Me" placeholder="Tell the world something..."></textarea>
      </div>
    </section>
    <div class="post-bar col-xs-11 col-xs-offset-1">
      <button class="btn btn-primary pull-right">Post</button>
    </div>
  </section>


<!-POST 1 section->

  <section class="row">
    <section class="timeline-content col-xs-11 col-xs-offset-1">

    <div class="poster">
        <img src="images/icon_photo_small.png">
        <div class="poster-name">
          <a href="about.html">Harry Potter</a>
          <span>Posted on Thursday 6/1/2014</span>              
        </div>

    </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    <div class="post-bar col-xs-11 col-xs-offset-1">
        <a href="#">Like</a>
        <a href="#">Comment</a>
        <a class="pull-right" href="#">Delete</a>
    </div>
  </section>


<!-POST 2 section->

  <section class="row">
    <section class="timeline-content col-xs-11 col-xs-offset-1">

    <div class="poster">
        <img src="images/icon_photo_small.png">
        <div class="poster-name">
          <a href="about.html">Harry Potter</a>
          <span>Posted on Thursday 6/1/2014</span>              
    </div>

    </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    <div class="post-bar col-xs-11 col-xs-offset-1">
        <a href="#">Like</a>
        <a href="#">Comment</a>
        <a class="pull-right" href="#">Delete</a>
        <br><br><span class="likes"><a href="#">Hermione Granger</a> likes this.</span>
    </div>
  </section>


<!-POST 3 section->

  <section class="row">
    <section class="timeline-content col-xs-11 col-xs-offset-1">
      <div class="poster">
          <img src="images/icon_photo_small.png">
          <div class="poster-name">
            <a href="about.html">Harry Potter</a>
            <span>Posted on Thursday 6/1/2014</span>              
      </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    <div class="post-bar col-xs-11 col-xs-offset-1">
        <a href="#">Like</a>
        <a href="#">Comment</a>
        <a class="pull-right" href="#">Delete</a>
        <br><br><span class="likes">You and <a href="#">Hermione Granger</a>and 3 others like this.</span>
        <hr>

    <!-COMMENTS->
    <div class="comment">
          <img src="images/icon_photo_small.png">

          <div class="comment-text">
            <a href="about.html">Harry Potter</a>
            <span>Said on Thursday 5/1/2014:</span>              
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. </p>
            <a href="#">Like</a> <span>3 other people like this</span> <a class="pull-right" href="#">Delete</a>        
          </div>
    </div>

    <div class="comment">
          <img src="images/icon_photo_small.png">

          <div class="comment-text">
            <a href="about.html">Harry Potter</a>
            <span>Said on Thursday 5/1/2014:</span>              
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. </p>
            <a href="#">Like</a> <span>3 other people like this</span> <a class="pull-right" href="#">Delete</a>        
          </div>
    </div>

    <br>
    <textarea class="form-control" rows="3" id="edit About Me" placeholder="Write a comment..."></textarea>
    <br>
    <a href="#">Cancel</a>
    <button class="btn btn-primary pull-right">Comment</button>


    </div>


  </section>



</div>

