<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row friend-wrapper">

        <div class="col-xs-3">
          <a href="#" alt="Hermione Granger's profile">
            <img src="assets/user_silhouette_generic.gif" alt="Hermione Granger's photo">
          </a>
        </div>

        <div class="col-xs-5">
          <div class="vcenter">
            <a href="#">
              Hermione Granger
            </a>
            <p>432 Friends</p>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="vcenter">
            <button class="btn btn-default active">
              Unfriend Me
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>