<table id="basic-info-table">
  <caption class="heading">Basic Information</caption>
  <tr>
    <td class="bold">Birthday:</td>
    <td><input type="text" placeholder="July 30, 1986"></td>
  </tr>
  <tr>
    <td class="bold">College:</td>
    <td><input type="text" placeholder="Some College"></td>
  </tr>
  <tr>
    <td class="bold">Hometown:</td>
    <td><input type="text" placeholder="That Place, USA"></td>
  </tr>
    <td class="bold">Currently Lives:</td>
    <td><input type="text" placeholder="This Place, USA"></td>
  </tr>
</table>
