<div class="about-me-blurbs right-side">
  <h1 class="heading">Words to Live by</h1>
    <%= profile_fields.text_field :words_to_live_by, size: 30 %>
  <h1 class="heading about-me">About Me</h1>
    <%= profile_fields.text_field :about_me, size: 30 %>
</div>
