
		<main>
			<header class="container">
				<div class="row">
					<div class="col-md-12">
						<img src="images/hogwarts_small.jpg" class="cover-photo hidden-xs hidden-sm img-responsive" alt="profile cover photo">
						<div class="profile-photo"> 
							<img src="images/harry_potter_small.jpg" class="hidden-xs hidden-sm">
						</div>
					</div>
				</div>
				<div class="row">
					<nav class="col-md-7 col-md-offset-2">
						<ul class="nav nav-tabs">
							<li><a href="timeline.html">Timeline</a></li>
							<li class="active"><a href="about.html">About</a></li>
							<li><a href="photos.html">Photos <span class="unread-number">(123)</span></a></li>
							<li><a href="friends.html">Friends <span class="unread-number">(542)</span></a></li>
						</ul>
					</nav>
					<div class="col-md-2 pull-right">
						<ul class="nav profile-link">
							<li><a href="about_edit.html" class="pull-right ">Edit Profile</a></li>
						</ul>
					</div>
				</div>

				<section class="panel panel-default panel-custom">
					<div class="panel-heading clearfix">
						<a href="about_edit.html" class=" btn btn-primary btn-sm pull-right">Edit your profile</a>
						<h4 class="panel-text text-center">Friends</h4>


					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="row text-center friends-list">
									<div class="col-sm-3">
										<div class="thumbnail">
											<img src="images/icon_photo_small.png" alt="icon">
										</div>
									</div>
									<div class="col-sm-4 friends-margin">
										<a href="">Hermione Granger</a>
										<p class="grayed-out">432 Friends</p>
									</div>
									<div class="col-sm-5 friends-margin">
										<a class="btn btn-danger" href="#">Unfriend Me</a>
									</div>
								</div>
							</div><!--col-md-6 end -->
							<div class="col-md-6">
								<div class="row text-center friends-list">
									<div class="col-sm-3">
										<div class="thumbnail">
											<img src="images/icon_photo_small.png" alt="icon">
										</div>
									</div>
									<div class="col-sm-4 friends-margin">
										<a href="">Hermione Granger</a>
										<p class="grayed-out">432 Friends</p>
									</div>
									<div class="col-sm-5 friends-margin">
										<a class="btn btn-danger" href="#">Unfriend Me</a>
									</div>
								</div>
							</div><!--col-md-6 end -->
						</div><!-- row end -->

						<div class="row">
							<div class="col-md-6">
								<div class="row text-center friends-list">
									<div class="col-sm-3">
										<div class="thumbnail">
											<img src="images/icon_photo_small.png" alt="icon">
										</div>
									</div>
									<div class="col-sm-4 friends-margin">
										<a href="">Hermione Granger</a>
										<p class="grayed-out">432 Friends</p>
									</div>
									<div class="col-sm-5 friends-margin">
										<a class="btn btn-danger" href="#">Unfriend Me</a>
									</div>
								</div>
							</div><!--col-md-6 end -->
							<div class="col-md-6">
								<div class="row text-center friends-list">
									<div class="col-sm-3">
										<div class="thumbnail">
											<img src="images/icon_photo_small.png" alt="icon">
										</div>
									</div>
									<div class="col-sm-4 friends-margin">
										<a href="">Hermione Granger</a>
										<p class="grayed-out">432 Friends</p>
									</div>
									<div class="col-sm-5 friends-margin">
										<a class="btn btn-danger" href="#">Unfriend Me</a>
									</div>
								</div>
							</div><!--col-md-6 end -->
						</div><!-- row end -->

						<div class="row">
							<div class="col-md-6">
								<div class="row text-center friends-list">
									<div class="col-sm-3">
										<div class="thumbnail">
											<img src="images/icon_photo_small.png" alt="icon">
										</div>
									</div>
									<div class="col-sm-4 friends-margin">
										<a href="">Hermione Granger</a>
										<p class="grayed-out">432 Friends</p>
									</div>
									<div class="col-sm-5 friends-margin">
										<a class="btn btn-danger" href="#">Unfriend Me</a>
									</div>
								</div>
							</div><!--col-md-6 end -->
							<div class="col-md-6">
								<div class="row text-center friends-list">
									<div class="col-sm-3">
										<div class="thumbnail">
											<img src="images/icon_photo_small.png" alt="icon">
										</div>
									</div>
									<div class="col-sm-4 friends-margin">
										<a href="">Hermione Granger</a>
										<p class="grayed-out">432 Friends</p>
									</div>
									<div class="col-sm-5 friends-margin">
										<a class="btn btn-danger" href="#">Unfriend Me</a>
									</div>
								</div>
							</div><!--col-md-6 end -->
						</div><!-- row end -->

					</div><!-- panel end-->
				</div>
				
			</div>
		</section>

	</div>
</div>

</main>



