<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">About</h3>
  </div>
  <div class="panel-body">
    <p><b>Born on:</b> <%= @user.profile.birthday %></p>
    <p><b>Went to school at:</b> <%= @user.profile.college %></p>
    <p><b>Hometown:</b> <%= @user.profile.hometown %></p>
    <p><b>Currently Lives:</b> <%= @user.profile.currently_lives %></p>
  </div>
</div>
