<div class="panel panel-default">
  <div class="panel-heading text-center">
    About
  </div>
  <div class="panel-body">
    <p><strong>Born on</strong>: July 31st, 1990</p>
    <p><strong>Went to School on</strong>: Hogwarts</p>
    <p><strong>Hometown</strong>: Godrick's Hollow, England</p>
    <p><strong>Currently lives</strong>: Godrick's Hollow</p>
  </div>
</div>
