<% if params[:user_id] != current_user.id.to_s %>
  <div class="main-friend-btn-wrapper">
    <% if current_user.friended_users.pluck(:id).include?(@user.id) %>
      <%= link_to "Remove Friend", friending_path(:user_id => params[:user_id]), method: 'delete', class: "btn btn-default btn-bg friender pull-right" %>
    <% elsif current_user.id == @user.id %>
    ''
    <% else %>
      <%= link_to "Friend me", friending_path(:user_id => params[:user_id]), method: 'post', class: "btn btn-default btn-bg friender pull-right" %>
    <% end %>
  </div>
<% end %>
