
  <div class="col-xs-2">
    <a href=#authorprofile><img src=https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png class="img-responsive"></a>
  </div>
  <!-- commenter info and comment-->
  <div class="col-xs-10">
    <h6><%= link_to user_header_name(comment.user_id), user_path(comment.user_id) %>
      Posted on <%= comment.created_at.strftime("%m/%d/%Y") %></h6>
    <p><%= comment.body %></p>
    <div class="row">
      <div class="col-xs-1">
        <h6><a href=#likecomment>Like</a></h6>
      </div>
      <div class="col-xs-6">
        <h6> 3 other people like this</h6>
      </div>
    </div>
  </div>