<section class="col-md-12 comment-section">

  <% parent.comments.each do |comment| %>
    <%= render partial: "shared/single_comment", locals: {comment: comment} %>
  <% end %>





  <!--post a comment form -->
  <%= form_for [@user, parent, parent.comments.build], class: "col-md-12 col-xs-12" do |f| %>
    <div class="form-group row">
      <div class = "col-md-12">
        <%= f.text_area :body, class: "form-control", rows: "4", placeholder: "Write a comment..." %>
      </div>
    </div>
    <div class="form-group row">
      <div class = "link-wrapper col-md-2 col-xs-2">
        <a href="#">Cancel</a>
      </div>

      <div class = "submit-wrapper col-md-4 col-xs-4 col-md-offset-6 col-xs-offset-6">
        <%= f.submit "Post Comment", class: "btn comment-button  danebook-button"%>
      <div>
    </div>
  <% end %>
</section>