
<div class="post-body unfolded"> 
    <% post.comments.limit(40).order(:created_at).each do |comment| %>
      <%= render "/shared/comment_display", post: post, comment: comment %>
    <% end %> 
 <br>

  <%= form_for Comment.new, url: comments_path(:id => post.id, :type => post.class.to_s), remote: true do |f| %>               
  <div class="form-group">
    <%= f.text_area :body, class: "form-control writer", placeholder: "Type a comment in here", rows: 4 %>
      <div class="nav-footer">
        <div class="clearfix">
      <%= f.submit "Comment", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
  