<section class="cover-profile-block col-xs-12">
    <div class="cover-photo-wrapper">
      <div class="cover-photo row">
        <div class="profile-photo-wrapper">  
          <h3 class="profile-name">Harry Potter</h3>
          <div class="profile-photo">
            <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg" alt="Portrait of Harry Potter" class="img-thumbnail">
          </div>
        </div>
      </div>
    </div>


    <div class="menu-wrapper">
      <div class="menu-row row">
        <div class="btn-group col-xs-offset-2 col-sm-10">
          <button type="button" class="active menu-item col-xs-12 col-sm-2 btn-default">
            <h5><a href="./timeline.html">Timeline</a></h5>
          </button>

          <button type="button" class="menu-item col-xs-12 col-sm-2 btn-default" >
            <h5><a href="./about.html">About</a></h5>
          </button>

          <button type="button" class="menu-item col-xs-12 col-sm-2 btn-default">
            <h5><a href="./photos.html">Photos (800)</a></h5>
          </button>

          <button type="button" class="menu-item col-xs-12 col-sm-3 btn-default">
            <h5><a href="./friends.html">Friends (>9,000)</a></h5>
          </button>

          <div class="edit col-sm-2">
            <a href="./about_edit.html">Edit profile</a>
          </div>    
        </div> <!-- /button group -->
  
      </div> <!-- /menu-row -->
    </div> <!-- /menu-wrapper -->
</section> <!-- /cover-profile-block -->