<div id= "cover">
<!-- Cover Photo -->
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-xs-12 cover">
				<div class ="row">
					<div class = "col-xs-3 col-xs-offset-1">
						<a href="#">
							<img id = "user-picture" class = "thumbnail" src="harry_potter_small.jpg">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>