    <div class="row">
      <div class="col-md-12">
        <img src="/images/bgs/<%= rand(1...10) %>.jpg" class="cover-photo hidden-xs hidden-sm img-responsive" alt="profile cover photo">
        <div class="profile-photo"> 
          <img src="<%= @user.profile.photo_url %>" class="hidden-xs hidden-sm">
        </div>
      </div>
    </div>