<div class="col-md-10 col-md-offset-1 col-xs-12" id="cover-photo">
  <% if real_user.profile.cover_photo_id %>
    <%= image_tag real_user.cover_photo.url, class:"img-responsive"  %>
  <% else %>
    <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/hogwarts_small.jpg" class="img-responsive">
  <% end %>
  <div class="row">
    <!--profile picture which is overlayed on cover photo-->
    <div class="col-md-6 col-md-offset-1 col-xs-10" id="profile-picture">
      <% if real_user.profile.prof_photo_id %>
        <%= image_tag real_user.profile_picture.url(:profile)  %>
      <% else %>
        <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">
      <% end %>
      <h2><h2><%= user_header_name(real_user_id) %></h2></h2>
    </div>
  </div>
</div>