<div class="row cover-panel">
  <div class="col-md-12">
     <%= image_tag @profile.cover_pic, class: 'cover-photo' %>
    <div class="profile-photo"> 
      <%= image_tag @profile.avatar_url, class: "hidden-xs hidden-sm" %>
    </div>
  </div>
</div>