<div class="row">
  <div class="col-md-12">
    <%= image_tag 'hogwarts_small.jpg',
           class: "cover-photo hidden-xs hidden-sm img-responsive",
           alt: "profile cover photo" %>
    <div class="profile-photo"> 
      <%= image_tag @profile.avatar_url, class: "hidden-xs hidden-sm" %>
    </div>
  </div>
</div>