<% if flash %>
  <% flash.each do |type, messages| %>
    <div class="alert alert-dismissible alert-<%= "#{type}" %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <% if messages.class.to_s == "Array" %>
        <% messages.each do |msg| %>
          <p>
            <%= msg %>
          </p>
        <% end %>
      <% else %>
        <p>
          <%= messages %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>