<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in below-navbar">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>