<% unless flash.blank? %>
<div class="flash-msgs">
  <% flash.each do |k, v| %>
  <div class="alert alert-<%= k %> text-center" style="margin-bottom:0">
    <%= v %>
  </div>
  <% end %>
</div>
<% end %>
