<footer class="navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row ">
          <div class="col-xs-4 text-center text-muted">
            <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a>
          </div>
          <div class="col-xs-4 text-center text-muted">
            <a href="http://www.liangboyuan.pub"><i class="fa fa-globe" aria-hidden="true"></i> About me</a>
          </div>
          <div class="col-xs-4 text-center text-muted">
            <a href="https://github.com/BranLiang"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
          </div>
        </div>

      </div>
      </div>
    </div>

</footer>
