

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
    <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
      <% unless friend.nil? %>
      <a href="/users/<%= friend.id %>">         
            <%= friend.first_name %> <%= friend.last_name %> </a>
          <% else %>
            "Not enough friends!"
       <% end %>
  </div>
</div>