<figure class="col-md-4 friend">
  <%= link_to profile_photo(friend), class: "photo-link" %>
  <figcaption>
    <div class = "photo-upload-date">
      <p>Uploaded January 1, 2015</p>
    </div>
    <p>
      <%= user_link(friend) %>
    </p>
  </figcaption>
</figure>
