<div class="col-xs-5 frd-box">
  <div class="row">
    <div class="col-xs-4">
      <img class="img-responsive friend-prof-photo" src="imgs/user_silhouette_generic.gif">
    </div>
    <div class="col-xs-4 frd-links">
      <%= link_to "Hermione Granger", "#" %>
      <p>432 Friends</p>
    </div>
    <div class="col-xs-4 frd-btn-container">
      <%= link_to "Unfriend Me", "#", class: "btn btn-default frd-btn" %>
    </div>
  </div>
</div>
