

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
    <% unless friend.nil? %>
    <img class="img-thumbnail" src="<%= set_avatar_photo(friend) %>" alt="">
      
      <a href="/users/<%= friend.id %>">         
            <%= friend.first_name %> <%= friend.last_name %> </a>
          <% else %>
            "Not enough friends!"
       <% end %>
  </div>
</div>