<div class="col-xs-5 frd-box">
  <div class="row">
    <div class="col-xs-4">
      <img class="img-responsive friend-prof-photo" src="/imgs/user_silhouette_generic.gif">
    </div>
    <div class="col-xs-4 frd-links">
      <%= link_to friend.fullname, user_activities_path(friend) %>
      <p><%= friend.followees.count %> friends</p>
    </div>
    <div class="col-xs-4 frd-btn-container">
      <%= friend_or_unfriend(friend) if required_user? || (controller_name = "UsersController" && action_name = "index") %>
    </div>
  </div>
</div>
