<!-- Header -->
<header class="container" id="bg">
  <section class="jumbotron">
      <%= image_tag("harry_potter_small.jpg", :class => "profile-image") %>
      <h3><%= "#{user.first_name} #{user.last_name}"%></h3>
  </section>
</header>