<header>
  <div class="grow-column">
    <h1>Facelook</h1>
  </div>
  <div class="login-column">
    <div class="login-field">
      <label>Email</label>
      <input>
    </div>
    <div class="login-field">
      <label>Password</label>
      <input>
    </div>
    <button>Log In</button>
  </div>
</header>
