<form class="sign-in-wrapper navbar-form navbar-right">
  <div class="navbar-email-group form-group">
   

    <span class="sign-in-label"><p>Email or Phone</p></span>
    <input type="text" class="navbar-email" role="email" placeholder="Email"/>
  </div>

  <div class="navbar-password-group form-group">
    <span class="sign-in-label"><p>Password</p></span>
    <input type="password" class="navbar-password" role="password" placeholder="Password"/>

    <button type="submit" class="sign-in-btn"><%= link_to("Log ind", timeline_path) %></button>
  </div>
</form>