<div class="jumbotron">
  <div class="container">
    <div class="dp">
      <%= link_to about_path, class: "dp-profile-name" do %>
        <img class="dp-img" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg" alt="user image">
        Henry Potter
        <i class="glyphicon glyphicon-ok"></i>
      <% end %>
    </div>
  </div>
</div>
