<footer class="row">
  <div class="col-xs-12">
    <div class="pull-left">
      <%= like_button(object, parent) %>
    </div>
    <div class="pull-left">
      <%= likes_count(object) %>
    </div>
    <div class="pull-right">
      <%= delete_button(object, parent) %>
    </div>
  </div>
</footer>