
    <header class="loggedin-nav">
      <div class="far-left">
      <img  href="logo.jpg" style="height:30px; width:30px;">
      <h1 class="loggedin-brand white-text">Danebook</h1>
    </div>
      <input class="search-bar" type="text" value="Search for Users">
      <div class="far-right white-text">Your Name</div>
    </header>
