<!-- Login Form -->
<div id="navbar-collapse" class="collapse navbar-collapse">

	<form id="navbar-signin" class="navbar-form form-inline navbar-right">
		<div class="form-group">
			<input type="email" name="email" class="form-control" placeholder="Email"/>
		</div>
		<div class="form-group">
			<input type="password" name="password" class="form-control" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-default">Sign In</button>
	</form>

</div>