<article class="post-copied">
  <h3 class="grey-back-ground">Post</h3>
    <div class="outer-post-area">
      <textarea class="make-new-post" placeholder="Tell us what's on your mind..."></textarea>
    </div>
    <div class="submit-post-button-area grey-back-ground" align="right">
      <input type="submit" value="Post" method="post" action="#" class="submit-post-button">
    </div>
</article>
