<nav class="navbar navbar-default logged-out sign-up">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span>Danebook</span></a>
      <%= link_to 'Sign up', new_user_path, class: 'btn btn-success' %>
    </div>
  </div>
</nav>