<nav class="navbar navbar-static-top">
  <div class="container">


    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <li><%= link_to "Danebook", user_timeline_path(current_user.id), class: "navbar-brand" %></li>
        <!-- <a class="navbar-brand">Danebook</a> -->
    </div>

    <% if signed_in_user? %>

        <%= render 'shared/logged_in_nav' %>

    <% else %>

        <%= render 'shared/log_in_form' %>

    <% end %>

  </div>
</nav>