<nav class="navbar navbar-default logged-out sign-up">
  <div class="container">
    <div class="navbar-header">
      <p>
        <%= link_to 'Danebook', new_user_path, class: 'navbar-brand h1' %>
        <%= link_to 'Sign up', new_user_path, class: 'btn btn-success sign-up' %>
      </p>
    </ul>
  </div>
</div>
</nav>