<nav class="navbar navbar-fixed-top">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-signin">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1><a href="<%= root_path %>" id="logo">Dåneboøk</a></h1>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-signin">
      <%= form_tag(login_path, class: "navbar-form navbar-right") do |f| %>
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" class="form-control" placeholder="user@danebook.com">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control" placeholder="password">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

 <!-- Help visitors with an example account -->
<script>
  $('input[name="email"]').val('moby@viking.com');
  $('input[name="password"]').val('password');
</script>