<% if current_page?(link) %>
  <li class="text-center disabled" role="presentation">
<% else %>
  <li class="text-center" role="presentation">
<% end %>

  <%= link_to link, alt: "Link to #{label} label" do %>
    <%= label %>

    <% if badge %>
      <span class='badge'><%= badge %></span>
    <% end %>

  <% end %>
</li>