<nav class="nav navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <img class="logo" src="/assets/danish_flag.gif">
            </a>
            <a class="navbar-brand" href="#">Danebook</a>
        </div>
        <div class="pull-right">
        <div class="row">
        <%= link_to current_user.profile.first_name, current_user %>
        <%= link_to "(Logout)", logout_path, :method => :delete %>
        </div>
      </div>
    </div>
</nav>
