<!-- <nav class="navbar navbar-fixed-top homepage">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Danebook</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <div id="login" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <p>Email</p>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <p>Password</p>
          <input type="password" class="form-control">
        </div>
        <button type="submit" class="btn" >Log In</button>
      </form>
    </div>
</nav>
 -->
<nav class="navbar navbar-fixed-top homepage">
  <div class="container">
    <div class="navbar-header">
      <a href= "timeline.html">
        <%= image_tag("danish_flag.gif",  :class => "brand-image pull-left img-circle") %>
      </a>
      <a class="navbar-brand" href="timeline.html">Danebook</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <div id="login" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <p>Email</p>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <p>Password</p>
          <input type="password" class="form-control">
        </div>
        <button type="submit" class="btn" >Log In</button>
      </form>
    </div>
</nav>
