<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href= "timeline.html">
        <%= image_tag("danish_flag.gif",  :class => "brand-image pull-left img-circle") %>
      </a>
      <a class="navbar-brand" href="timeline.html">Danebook</a>
    </div>
    <div class="container col-sm-6">
      <form class="navbar-form navbar-left"  role="search">
        <div class="form-group" id="search">
         <input type="text" class="form-control" placeholder="search">
        </div>
      </form>
    </div>
    <p class="navbar-right">Harry</p>
</nav>
