<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container">

    <header class="navbar-header">

      <a class="navbar-brand brand-text brand-large" href="#">
        Danebook
      </a>

    </header>


<!-- sign-in form -->

    <form class="sign-in-wrapper navbar-form navbar-right">

      <div class="form-group">

        <div class="row">

          <label class="col-xs-5 brand-text" for="user-email">
            Email
          </label>

          <label class="col-xs-5 brand-text" for="user-password">
            Password
          </label>

        </div>


        <div class="row">

          <div class="col-xs-5">
            <input type="email" class="form-control input-sm" id="user-email">
          </div>

          <div class="col-xs-5">
            <input type="password" class="form-control input-sm" id="user-password">
          </div>

          <div class="col-xs-2">
            <button type="submit" class="btn btn-primary input-sm custom-button">
              Log In
            </button>
          </div>

        </div>


      </div> <!-- form-group -->

    </form>

  </div>

</nav>