<nav class="navbar navbar-default ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1>
        <a class="navbar-brand " href="#">Danebook</a>
      </h1>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-right">
        <div class="form-group">
          <label for="login_email">Email</label><br>
          <input id="login_email" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="login_password">Password</label><br>
          <input id="login_password" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for=""> </label><br>
          <button style="margin-top:5px" type="submit" class="btn btn-default">Log in</button>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
