<header>
  <nav class="navbar navbar-default navbar-fixed-top search_navbar">
    <div class="container-fluid">
      <div class="container">
        <div class="navbar-header">
          <a href="timeline.html" class="navbar-left brand-img"><img src="imgs/danish_flag.gif"></a>
          <a class="navbar-brand" href="timeline.html"><span class="brand-text">Danebook</span></a>
        </div>
          <div class="col-xs-8">
            <form class="navbar-form" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for Users">
              </div>
            </form>
          </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="about.html">Harry</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
