<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Photos <span class="badge"><%= @user.photos.count %></span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="flex-flow">
      <div class="hundred-px salmon"></div>
      <div class="hundred-px salmon"></div>
      <div class="hundred-px salmon"></div>
      <div class="hundred-px salmon"></div>
      <div class="hundred-px salmon"></div>
      <div class="hundred-px salmon"></div>
      <div class="hundred-px salmon"></div>
      <div class="hundred-px salmon"></div>
      <div class="hundred-px salmon"></div>
    </div>
    <p class="text-center">
      <a href="photos.html">See More Photos</a>
    </p>
  </div>
</div>
