<div class="col-xs-3">
  <%= link_to "#" do %>
    <div data-content="Uploaded January 1, 2015" class="img-overlay img-center">
      <img class="img-responsive" src="imgs/icon_photo_small.png">
      <div class="project-overlay"></div>
    </div>
  <% end %>
</div>
