<br>
<p>
  <%= link_to "Set as Profile", photo_path(user, :profile_photo_id => photo.id), method: :put %>
</p>

<p>
  <%= link_to "Set as Cover", photo_path(user, :cover_photo_id => photo.id), method: :put %>
</p>

<p>
  <%= link_to "Delete Photo", photo_path(photo), method: :delete %>
</p>