  <section class="post">
                      <header class="nav-post">
                          <h4>
                          Photos (123)
                          </h4>
                      </header>
                      <div class="container-fluid">
                        <!-- 1st row -->
                        <div class="row"> 

                            <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- 2nd row -->
                        <div class="row"> 

                          <div class="col-md-4 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                  </a>
                              </div>
                          </div>
                           <div class="col-md-4 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                  </a>
                              </div>
                          </div>
                           <div class="col-md-4 col-xs-12">
                              <div class="hovereffect">
                                  <a href="#">
                                      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                  </a>
                              </div>
                          </div>
                        </div>
                        <!-- 3rd row -->
                        <div class="row"> 

                            <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                             <div class="col-md-4 col-xs-12">
                                <div class="hovereffect">
                                    <a href="#">
                                        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-bottom-link">
                        <a class="edit-profile" href="photos.html">
                            See More Photos
                        </a>
                    </div>
                </section>