<% if comment.persisted? %>
  <li style="list-style: none">
    <div class="col-xs-9">
      
        <%= User.find(comment.user_id).username %> says:
        <%= comment.description %>
      
    </div>
    <div class="col-xs-3">
      X
    </div>
  </li>
<% end %>
