<div class="row">
  <div class="col-sm-12">
    <div class="hero-image">
      <%= image_tag "harry_potter_small.jpg", class: "profile-photo" %>
      <div class="username"><%= @profile.name %></div>
    </div>
    <nav class="profile-navigation-bar">
      <div class="profile-photo-spacer"></div>
      <div class="profile-navigation-item"><a href="#!">Timeline</a></div>
      <div class="profile-navigation-item"><a href="#!">About</a></div>
      <div class="profile-navigation-item"><a href="#!">Photos</a> <span class="badge">(123)</span></div>
      <div class="profile-navigation-item"><a href="#!">Friends</a> <span class="badge">(542)</span></div>
    </nav>
  </div>
</div>
