<!-- Profile Header -->
<header id="profile-header" class="row">
	
	<!-- Cover Image -->
	<div class="col-xs-12">
		<div class="cover-image-container"></div>
	</div>
	
	<div class="col-xs-12">
		
		<!-- Profile Image -->
		<div class="profile-image-container">
			<img src="/assets/images/harry_potter_small.jpg" alt="Profile Image"/>
		</div>

		<!-- Profile Nav -->
		<div class="row profile-nav-container">
			
			<div class="col-sm-1 col-sm-offset-3">
				<a href="/timeline">
					Timeline
				</a>
			</div>
			<div class="col-sm-1">
				<a class="current" href="/about">
					About
				</a>
			</div>
			<div class="col-sm-2">
				<a href="/photos">
					Photos (123)
				</a>
			</div>
			<div class="col-sm-2">
				<a href="/friends">
					Friends (567)
				</a>
			</div>
			<div class="col-sm-3 edit">
				<a href="/about_edit">
					Edit Profile
				</a>
			</div>

		</div>

	</div>

</header>