<!-- Profile Header -->
<header id="profile-header" class="row">
  
  <!-- Cover Image -->
  <div class="col-xs-12">
    <div class="cover-image-container"></div>
  </div>
  
  <div class="col-xs-12">
    
    <!-- Profile Image -->
    <div class="profile-image-container">
      <img src="/assets/images/harry_potter_small.jpg" alt="Profile Image"/>
    </div>

    <!-- Profile Nav -->
    <div class="row profile-nav-container">
      
      <div class="col-sm-1 col-sm-offset-3">
        
        <%= link_to('Timeline', user_posts_path(user)) %>

      </div>
      <div class="col-sm-1">

        <%= link_to('About', user_path(user), :class => 'current') %>

      </div>
      <div class="col-sm-2">
        <a href="/photos">
          Photos (123)
        </a>
      </div>
      <div class="col-sm-2">
        <a href="/friends">
          Friends (567)
        </a>
      </div>

      <div class="col-sm-3 edit">

        <% if current_user.id == user.id %>

          <%= link_to('Edit Profile', edit_user_path(user)) %>

        <% else %>

          <%= render :partial => 'friends/form', :locals => {:user => user} %>

        <% end %>

      </div>

    </div>

  </div>

</header>
