<ul class="nav navbar-nav navbar-right">
  <li><%= link_to current_user.name, current_user %></li>
  <li><%= link_to "Requests", users_path %></li>
  <li><%= link_to "Sign Out", session_path, :method => :delete %></li>
</ul>
<form class="navbar-form navbar-right">
  <input type="text" class="form-control" placeholder="Search...">
</form>