<!-- <form class="navbar-form navbar-right">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->

<%= form_tag(search_path, method: "get", class: "navbar-form navbar-right" ) do %>
  <div class="form-group">
    <%= text_field_tag "value",nil, class: "form-control", placeholder: "Type 'all' or username" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary"  %>
<% end %>
