<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <%= link_to "#", class: "navbar-brand" do %>
            <%= image_tag "danish_flag.gif", class: "img-circle img-responsive img-small"  %>
            <span>Danebook</span>
            <% end %>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input class="form-control" placeholder="Search for Users" type="search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to "Sign Out", logout_path  %>
                </li>
            </ul>
        </div>
    </div>
</nav>
