<!-- Search Form -->
<div id="navbar-collapse" class="collapse navbar-collapse">
  <!-- Search -->
  <form id="navbar-search" class="navbar-form navbar-left">
    <div class="form-group">
      <input type="search" name="search" class="form-control" placeholder="Search..."/>
    </div>
  </form>
  <!-- Username -->
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to(current_user.first_name, user_path(current_user), :class => 'btn btn-default navbar-btn') %>
    </li>
    <li>
      <%= link_to('Sign Out', session_path, :method => :delete, :class => 'btn btn-default navbar-btn') %>
    </li>
  </ul>
</div>
