<!-- Search Form -->
<div id="navbar-collapse" class="collapse navbar-collapse">

	<div class="row">
		
		<!-- Search -->
		<div class="col-sm-6 col-md-7">

			<form id="navbar-search" class="navbar-form form-inline">
				<div class="form-group">
					<input type="search" name="search" class="form-control" placeholder="Search..."/>
				</div>
			</form>

		</div>

		<!-- Username -->
		<div class="col-sm-2 col-md-2">

			<p class="navbar-username navbar-text">
				<a href="/about">
					Harry
				</a>
			</p>

		</div>

	</div>

</div>
