<div class="col-sm-4">
  <!-- about -->
  <%= render :partial => "shared/about_panel" %>

  <!-- photos -->
  <%= render :partial => "shared/photos_panel" %>

  <!-- friends -->
  <%= render :partial => "shared/friends_panel" %>

</div> <!-- /sidebar -->
