<header class="navbar">
    <div class="container">

      <div class="row">
        
        <div class="navbar-header">
          <%= image_tag 'danish_flag.jpg', class: 'navbar-brand'  %>
        </div>

        <div class="test"><p ><%= current_user.first_name %></p>
        <p><%= link_to "Log Out", logout_path, method: :delete %></p></div>

        
        <form class="navbar-form " role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this site">
          </div>
        </form> 

      </div>

    </div>
  </header>