<nav role="navigation" class="navbar navbar-default navbar-fixed-top" id="navbar">

  <!-- <a href="/"><img src="/assets/images/danish_flag.gif" id="nav-image"></a> -->
  <%= image_tag("danish_flag.gif", id: "nav-image") %>
  <a href="#" class="navbar-brand" id="white-brand" class="white down">Darkbook</a>
  <form class="navbar-form navbar-middle">

    <div class="col-xs-6 col-xs-offset-2 form-group">
      <input class="form-control" type="text" width="100%" id="user-search" placeholder="Search for Users">
    </div>

  </form>
  <h4 id="current-user"><%= link_to current_user.first_name, user_timeline_path(current_user) %></h4>
  <h4><%= link_to "Log Out", session_path, method: "delete", id: "logout-link" %></h4>
  </nav>
