<nav role="navigation" class="navbar navbar-default navbar-fixed-top" id="navbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-2" id="logo">
        <a href="index.html"><img src="images/danish_flag.gif" id="nav-image"></a>
        <a href="#" class="navbar-brand" id="brand-title">Danebook</a>
      </div>
      <form class="navbar-form navbar-middle">

        <div class="col-xs-8 form-group">
          <input class="form-control" type="text" width="100%" id="user-search" placeholder="Search for Users">
        </div>

      </form>
      <div class="col-xs-1 col-xs-offset-1">
        <h4 id="current-user">Harry</h>
        </div>  
      </div>
    </div>
  </div>
</nav>