
  <div class="row">
    <section class="post post-small col-xs-12">
      <div class="row">
        <header class="post-header col-xs-12">
          <p>About</p>
        </header>
      </div>

      <div class="row">
        <section class="post-content col-xs-12">
          <%= render partial: 'shared/info/basic', locals: { user: user } %>
        </section>
      </div>

    </section>
  </div>

  <div class="row">
    <section class="post post-small col-xs-12">
      <div class="row">
        <header class="post-header col-xs-12">
          <p>Photos</p>
        </header>
      </div>

      <div class="row">
        <%= render partial: 'shared/sidebar/photos', locals: { user: user } %>
      </div>

    </section>
  </div>


  <div class="row">
    <section class="post post-small col-xs-12">
      <div class="row">
        <header class="post-header col-xs-12">
          <p>Friends</p>
        </header>
      </div>

      <div class="row">
        <%= render partial: 'shared/sidebar/friends', locals: { user: user } %>
      </div>

    </section>
  </div>
