<div class="row">
  <img class="col-md-12 banner-img" src="hogwarts_small.jpg" width="2200" height="300"/>
   <h2 class="username-tag">Harry Potter</h2>
</div>
<div class="row toolbar">
  <div class="col-md-3 img-handler">
    <img class ="profile-image" src="harry_potter_small.jpg" width="200" height="225"/>
  </div>
  <div class="col-md-1 nav-links"><a href="">Timeline</a></div>
  <div class="col-md-1 nav-links current-page"><a href="">About</a></div>
  <div class="col-md-1 nav-links"><a href="">Photos(123)</a></div>
  <div class="col-md-1 nav-links"><a href="">Friends(542)</a></div>
  <div class="col-md-5 nav-links"><a href="about_edit.html">Edit Profile</a></div>  
</div>