<ul class="nav navbar-nav pull-right">
  <li class="dropdown open">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Dropdown <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to current_user.profile.first_name, user_path(current_user) %></li>
      <li><%= link_to "logout", logout_path %></li>
    </ul>
  </li>
</ul>
