<div class="row">
  <div class="col-sm-12">

  <div class="photo-poster">
      <div class="col-sm-3">
        <div class="row">
          <div class="profile-photo">
            <%= profile_photo(user, 'thumb') %>
          </div>        
        </div>
      </div>

      <div class="col-sm-8">
        <div class="row">
          <%= link_to user.first_name, about_user_path(user) %>
          <p class="sub-heading"><%= posted_on(time) %></p>          
        </div>
    
      </div>  
    </div>

  </div>      
</div>