<div class="row">
  <header id="profile-header">
    <div class="cover-img">
      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/hogwarts_small.jpg" alt="Cover Image" class="sr-only">
    </div>
    <h1 class="profile-username">Harry Potter</h1>
    <section class="profile-img">
      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg" alt="profile">
    </section>
    <section class="col-xs-12 profile-nav">
      <button type="button" aria-expanded="false" class="navbar-toggle">
        <span class="sr-only">"Toggle Navigation"</span>
        <span class="glyphicon glyphicon-menu-down"></span>
      </button>
      <ul class="collapse nav navbar-nav" role="menu">
        <li><a href="timeline.html">Timeline</a></li>
        <li><a href="about.html" class="active">About</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="friends.html">Friends</a></li>
        <li class="edit"><a href="about_edit.html">Edit Profile</a></li>
      </ul>
    </section>
  </header>
</div>
