<form class="navbar-search-wrapper col-xs-3 col-lg-12 navbar-form navbar-left">
  <div class="nav-input form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>

</form> <!-- /search form -->
<div id="navbar-usr-profile">
  <h4><%= current_user.fname %></h4>
  <%= link_to("Log Out", session_path, method: :delete) %>
</div>