<% unless users.empty? %>
<% users.each do |user| %>
<div class="user-card col-md-6">
  <div class="row">
    <div class="col-xs-6">
      <h3><%= link_to "#{user.username}", timeline_path(user) %></h3>
      <p><span class="text-muted"><%= link_to "#{pluralize(user.friended_users.size, 'friend')}", friends_path(user) %></span></p>
      <p><%= user.about_me[0..25] %></p>
    </div>
    <div class="col-xs-6">
      <div class="friend-button">
        <% unless current_user == user %>
          <%= friending_link(user)  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
