<%= simple_form_for @post, :url => user_posts_path(current_user) do |f| %>

  <div class="col-xs-6" id="panels">
    <div class ="row header-bar">  
      <div class="col-xs-6">
        <h4>Post</h4>
      </div>
    </div>

    <%= f.label :description %>
    <br>
    <%= f.input_field :description%>
      <div class ="row footer-bar">  
        <ul class="list-unstyled" id="footers">
          <%= f.submit "Post the Post" %>
          </a></ul>
          
      </div>
    </div>
  </div>

<% end %>