<article class="photos-copied-text-area left-section-article-heading">
  <h3 class="grey-back-ground">Photos(293)</h3>
  <img href="#" style="height:80px; width:80px;">
  <img href="#" style="height:80px; width:80px;">
  <img href="#" style="height:80px; width:80px;">
  <br>
  <img href="#" style="height:80px; width:80px;">
  <img href="#" style="height:80px; width:80px;">
  <img href="#" style="height:80px; width:80px;">
  <br>
  <img href="#" style="height:80px; width:80px;">
  <img href="#" style="height:80px; width:80px;">
  <img href="#" style="height:80px; width:80px;">
  <br>
  <!-- eventually will link to pictures page -->
  <div class="more-link">
    <a href="#">See More Photos</a>
  </div>
</article>
