<article>
  <div class="post post-with-comment">
    <img href="#" style="height:50px; width:50px;">
    <div class="post-header">
      <a href="#">Cat Doe</a>
      <p>Posted on: date</p>
    </div><br>
    <br>
    <div class="post-comment-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="comment-area grey-back-ground">
    <div class="comment-header-area">
      <a href="#">Unlike</a>
      <a href="#">Delete</a>
      <p>You and 23 other people like this post</p>
    </div>
    <div class="comment-body">
      <img href="#" style="height:50px; width:50px;">
      <div class="inner-comment-body">
        <a href="#">Your Friend</a>
        <p>Said on: date</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a href="#">Like</a>
        <a href="#">Delete</a>
      </div>
      <br>
      <br>
      <div class="comment-text-area-div">
        <textarea class="comment-text-area" placeholder="Write your commment..."></textarea>
        <a href="#">Cancel</a>
        <input type="submit" value="Comment" method="post" action="#" class="submit-comment-button">
      </div>
    </div>
  </div>
</article>
