<tr>
  <td width="600" valign="top">Hi <%= @profile.first_name %>!</td>
</tr>
<tr>
  <td width="600" valign="top">Thank you for your interest in Danebook, the number 1 nordic social network. To get the most from your new account, here's what to do:</td>
</tr>
<tr>
  <td width="600" valign="top">The first item on your list should be to finish filling out your profile.</td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" border="0" align="center">
      <td width="20" valign="top">1. </td>
      <td width="560" valign="top"><%= link_to "Log in", login_url %> to the Danebook</td>
    </table>
  </td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" border="0" align="center">
      <td width="20" valign="top">2. </td>
      <td width="560" valign="top">Click the Edit Profile Link</td>
    </table>
  </td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" border="0" align="center">
      <td width="20" valign="top">3. </td>
      <td width="560" valign="top">Fill out any additional info you want your friends to see, and add a slogan</td>
    </table>
  </td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" border="0" align="center">
      <td width="20" valign="top">4. </td>
      <td width="560" valign="top">Select a profile image to use with your account</td>
    </table>
  </td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" border="0" align="center">
      <td width="20" valign="top">5. </td>
      <td width="560" valign="top">Save!</td>
    </table>
  </td>
</tr>
<tr>
  <td width="600" valign="top">Once you've finished editing your profile, you'll want to find some friends. You can search for users to friend using the search bar at the top of any page. You can browse through all of Danebooks vikings by leaving the search bar blank. "enter"</td>
</tr>
<tr>
  <td width="600" valign="top">Press the "enter" key on your keyboard while focused in the search bar to start your search.</td>
</tr>
<tr>
  <td width="600" valign="top">Once you're done adding friends, make sure to add some posts so your friends can see what's on your mind!</td>
</tr>
<tr>
  <td width="600" valign="top">That's it! you now have a solid start on your new social network. We hope you enjoy sharing with your fellow plunderers.</td>
</tr>
<tr>
  <td width="600" valign="top">Cheers,</td>
</tr>
<tr>
  <td width="600" valign="top">Sampson Crowley</td>
</tr>
