<div class="col-sm-6 friend-box">
  <article class="panel panel-default comments">
    <div class="panel-body">
      <div class="row">

        <div class="profile-thumb col-sm-3 col-md-3">
          <%= display_profile_photo(user_thumb_to_display(friendship)) %>
        </div>

        <div class="user-info col-sm-6 col-md-6">
          <%= display_friend_info(friendship) %>
        </div>

        <div class="button col-sm-3 col-md-3">
          <%= display_button(friendship) %>
        </div>

      </div>
    </div>
  </article>
</div>
