<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/images/hogwarts_small.jpg" class="cover-photo hidden-xs hidden-sm img-responsive" alt="profile cover photo">
        <div class="profile-photo">
          <img src="/images/harry_potter_small.jpg" class="hidden-xs hidden-sm">
        </div>
      </div>
    </div> <!-- end of row -->

    <div class="row">
      <%= render 'layouts/navbar' %>
    </div> <!-- end of row -->

    <section class="panel panel-default panel-custom">

      <div class="panel-heading clearfix">
        <% if !object_owner? %>
          <%= link_to "Add Friend", user_friendships_path(:user_id => current_user.id), class: "btn btn-primary btn-sm pull-right", method: :post %>
        <% end %>
      </div><!-- end of panel -->

      <% if object_owner? %>
      <div class="panel-body">
        <div class="row about-info">
          <% @pending_friends.each do |friendship| %>
            <%= render partial: 'friendships/show_pending',
                        locals: {friendship: friendship} %>
          <% end %>
        </div>
      </div>
      <% end %>

      <div class="panel-body">
        <div class="row about-info">
          <% @accepted_friends.each do |friendship| %>
            <%= render partial: 'friendships/show_accepted',
                        locals: {friendship: friendship} %>
          <% end %>
        </div>
      </div>

    </section> <!-- end of section -->

  </div>
</main>