<%= render partial: "shared/header", locals: { active: :friends } %>

<main class="container">

  <%= render "shared/flash" %>

  <div class="row timeline-left-column timeline-right-column">
    <div class = "panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Frænds</h2>
      </div>

      <div class="panel-body">

        <div class="row">
          <div class="col-sm-6">
            <% @left_col.each do |friend| %>
              <%= render partial: "friend_box", locals: { friend: friend } %>
            <% end %>
          </div>

          <div class="col-sm-6">
            <% @right_col.each do |friend| %>
              <%= render partial: "friend_box", locals: { friend: friend } %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
