<div class="home-page">
  <div class="row">
    <div class="col-md-5 col-md-push-7"> <!-- sign up form area -->
      <%= render 'devise/registrations/new' %>
    </div>

    <div class="col-md-7 col-md-pull-5"> <!-- slogan area -->
      <div class="jumbotron text-center">
        <h1>Keep Calm</h1>
        <h4></h4>
        <h1>And</h1>
        <h4></h4>
        <h1>Sign Up!</h1>
      </div>
    </div>

  </div>
</div>
