
<div class="search-page">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading text-center"><strong>Search Result</strong></div>
    <div class="panel-body">
      <h4><%= "#{pluralize(@users.size, "Result")} found" %></h4>
      <hr>
      <% unless @users.empty? %>
      <% @users.each do |user| %>
      <div class="user-card col-md-6">
        <div class="row">
          <div class="col-xs-6">
            <h3><%= link_to "#{user.username}", timeline_path(user) %></h3>
            <p><%= user.about_me[0..25] %></p>
          </div>
          <div class="col-xs-6">
            <div class="friend-button">
              <%= link_to "Friend", '#', class: "btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
