<div class="timeline">
  <div class="row">
    <div class="col-md-12">

      <%= render 'shared/cover_header', user: @user %>

      <main>
        <div class="row">
          <div class="col-md-7 col-md-push-5">
            <%= render 'posts/new' %>
            <%= render 'posts/index' %>
          </div>

          <div class="col-md-5 col-md-pull-7">
            <h1>test</h1>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
