<table id="basic-info-table">
  <caption class="heading">Basic Information</caption>
  <tr>
    <td class="bold">Birthday:</td>
    <td>July 30, 1986</td>
  </tr>
  <tr>
    <td class="bold">College:</td>
    <td>Some College</td>
  </tr>
  <tr>
    <td class="bold">Hometown:</td>
    <td>That Place, USA</td>
  </tr>
    <td class="bold">Currently Lives:</td>
    <td>This Place, USA</td>
  </tr>
</table>
