<table id="contact-info-table">
  <caption class="heading">Contact Information</caption>
  <tr>
    <td class="bold">Email:</td>
    <td>emailaddress@place.com</td>
  </tr>
  <tr>
    <td class="bold">Phone Number:</td>
    <td>(234)234-2345</td>
  </tr>
</table>
