# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1281a4abaad3f399eeb060a9a8cbfad635ea0ec3a18d078032081b90b5341e918a16fe707975dad9a43ddf0c7276cd7b6547dd9664845ac19b204365b5ceaf96

test:
  secret_key_base: 5cbec4f58b6f1a9a00896dd61011849c2a2e96b0859114e2cdfc40711945537a584d11221d946ccc91bceb288accb4702f64cdb608d45f44dd094618e7ec4516

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
