# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2a3c6159f6dbafa598d75da1e30ecdb4c438075300f4a634f716c985ad9671d726092882e52d1eacd252d5cb977de6a6d1f2f66367046e88260d672a71315314

test:
  secret_key_base: 4cb35010ff51ca498c2e9e63157bd5daff0300c31ef22aa092268d035c628bfd5aec8f30f5742570233917b7535bc3c086a9583a5a35c5e51a892fca1c0f9679

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
