# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 026c6b1576c76e59cdcacdda39a02fe61e484be7a6985ed227be1c957d842e7b25bfb8c23e5d0ee2e0d4da1293475eb538a880c51c4af2f99f565a75b085ce17

test:
  secret_key_base: 9ca2c56dcde48ea1f5425f15bf940f0ca586b38b861750bb631330cd92a9c20e5db9932e445e56d4d32e344a8ed6be26851cdadb9fb441ef15a20240bb79c3b2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
