@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin background-size($size) {
	-webkit-background-size: $size;
	   -moz-background-size: $size;
	     -o-background-size: $size;
	    -ms-background-size: $size;
		    background-size: $size;

}

body {
	font-family: Arial, sans-serif;
	padding-top: 70px;
	font-size: 16px;
}

/*
----------------------------------------------
	Navbar
----------------------------------------------
*/

nav {
	background-color: #2b78e4;

	.navbar-brand {
		padding-top: 7px;
	}

	.navbar-toggle {
		border: 1px solid white;
	}

	.icon-bar {
		background-color: white;
	}

	input {
		padding-left: 5px;
		min-height: 34px;
	}

	a {
		color: white;
	}
}

#logo {
	display: inline-block;
	max-height: 34px;
	padding: 0;
	margin-right: 5px;
	@include border-radius(50%);
	vertical-align: middle;
}

#brand-name {
	line-height: 40px;
	font-size: 28px;
	vertical-align: middle;
	color: white;
	font-weight: 300;
}

#username {
	font-size: 20px;
	letter-spacing: 2.5px;
	line-height: 34px;
	padding: 0 10px;
}

#search-wrapper {
	min-height: 100%;
	margin-left: 10px;
}

/*
----------------------------------------------
	Banner Photos and name
----------------------------------------------
*/

#cover-photo {
	overflow:hidden;
	min-height: 450px;
	// margin-top: 50px;
	border: 2px solid black;
	background: url(../images/hogwarts_small.jpg) no-repeat  center center; 
	@include background-size(cover);
}

#profile-pic {
	max-height: 150px;
	min-width: 130px;
	border: 2px solid black;
	position: relative;
	bottom: 25px;
	z-index: 1001;
}

.username {
	position: absolute;
	top: 400px;

	h1, img, a {
		display: inline-block;
	}

	h1 {
		color: black;
		font-weight: bold;
		text-shadow: 2px 2px #fff;
		letter-spacing: 1.5px;
		margin-left: 5px;

		@media only screen and (max-device-width: 396px) {
			// font-size: 20px;
			letter-spacing: 0;
		}
	}

	// @media and scre
}

/*
----------------------------------------------
	Navigation Tiles
----------------------------------------------
*/

.link-bar {
	border: 2px solid black;

	h5 {
		margin: 0;

		a {
			line-height: 40px;
		}
	}
}

.nav-pills {
	li {
		border-right: 2px solid black;

		a {
			color: black;
			font-size: 16px;
			font-weight: 600;

			span {
				color: #d0d0d0;
			}
		}
	}

	li:first-child {
		border-left: 2px solid black;
	}
}

.active-tab {
	background-color: #eee;
}

#edit-profile-link {
	text-decoration: underline;
}

#hide-word {
	@media only screen 
	  and (min-device-width: 768px) 
	  and (max-device-width: 991px) 
	  and (-webkit-min-device-pixel-ratio: 1) {
	  		display: none;
	}	
}
/*
----------------------------------------------
	Common Section Header Styling
----------------------------------------------
*/
.section-container {
	margin-top: 10px;
	margin-bottom: 20px;
	border: 2px solid black;
}

.section-header {
	border-bottom: 2px solid black;
	background-color: #eee;

	h2 {
		margin-top: 10px;
	}

	.edit-btn {
		margin: 10px 0;
	}

	a {
		background-image: none;
	}
}

.content-id {
	font-weight: bold;
	margin-bottom: 20px;
}

.section-content {
	padding: 20px 20px;
}

/*
----------------------------------------------
	About Edit Page Styling
----------------------------------------------
*/

#save-change-wrapper {
	margin-top: 40px;
	margin-bottom: 100px;

	a {
		background-image: none;
		letter-spacing: 2.5px;
	}
}

/*
----------------------------------------------
	Friends Page Styling
----------------------------------------------
*/

.content-left {
	@media only screen and (min-device-width: 768px) {
		padding-right: 25px;
	}
}

.content-right {
	@media only screen and (min-device-width: 768px) {
		padding-left: 25px;
	}
}

.friend-wrapper {
	border: 2px solid black;
	padding: 5px 5px;
	margin-bottom: 25px;

	.friend-name-wrapper {
		margin: 3.5em 0;
		padding-left: 0;
	}
	
	a, p{
		font-size: 16px;
		line-height: 20px;
	}

	a {
		text-decoration: underline;
	}

	p {
		margin-bottom: 0;
		color: #8e898f;
	}
}

.unfriend-btn {
	font-size: 1em;
	background-color: #ddd;
	background-image: none;
	margin-top: 3.5em;
	margin-bottom: 0.5em;
}

.friend-img {
	height: 100%;
	max-width: 100%;
}

/*
----------------------------------------------
	Photos Page Styling
----------------------------------------------
*/

.photo-container {
	margin-top: 30px;
	text-align: center;
}

.photo-container:last-child {
	margin-bottom: 30px;
}

.photo-wrapper {
	display: block;
}

.photo-date {
	width: 90%;
	font-size: 14px;
	line-height: 30px;

	@media only screen and (max-device-width: 767px) {
		font-size: 12px;
	}
	background-color: #828282;
	color: #eee;
	position: absolute;
	bottom: 0px;	
	visibility: hidden;
}

.photo-container:hover .photo-date {
	visibility: visible;
	z-index: 1000;
}

/*
----------------------------------------------
	Timeline Page Styling
----------------------------------------------
*/

.whiteness {
	background-color: white;
	padding: 0 0;

	textarea {
		padding: 5px 5px;
	}
}

.post-block {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-top: 5px;
	border-bottom: none;
	border-top: 2px solid black;
}

.post-pic {
	height: 60px;
	width: 60px;

	position: relative;
	// left: 10px;
}

.post-wrapper {
	padding-top: 5px;
	padding-bottom: 5px;

	p {
		margin-bottom: 0;
		font-size: 16px;
	}

	.friend-name-wrapper {
		padding-top: 5px;
		margin-left: 15px;

		@media only screen 
		  and (min-device-width: 768px) 
		  and (max-device-width: 1024px) 
		  and (-webkit-min-device-pixel-ratio: 1) {
		  	margin-left: 30px;
		}
	}

	.friend-name:first-child {
		margin-right: 10px;
	}

	.post-content {
		margin-bottom: 10px;
	}

	.commenter-info {
		margin-bottom: 15px;
	}
}

.liker-name,
.friend-name {
	line-height: 28px;
	text-decoration: underline;
}

.post-content {
	margin-top: 10px;
}

.section-footer{
	border-top: 2px solid black;
	background-color: #eee;
	padding-bottom: 8px;

	h2 {
		margin-top: 10px;
	}

	.edit-btn {
		margin: 10px 0;
	}

	a {
		background-image: none;
		line-height: 22px;
	}

	p {
		line-height: 22px;
		font-size: 16px;
	}
}

.like-link,
.like-listing,
.like-listing-expanded {
	margin-top: 10px;
}

.like-link,
.commenter-name {
	text-decoration: underline;
	line-height: 22px;
}

.like-listing-expanded {
	margin-bottom: 10px;
	p {
		color: #6e7580;
	}
}

.hr-block {
	margin-bottom: 0;
}


.commenter-name {
	margin: 0 0;
}

.left-gutter {
	padding-left: 40px;
}

.right-gutter {
	padding-right: 25px;
}

hr {
	border: 1px solid #bbb;
	z-index: 10000;
	width: 98%;
}

.comment-btn {
	width: 100px;
	font-size: 16px
}

.about-content {
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 15px;
	padding: 15px 25px;

	p {
		margin-bottom: 5px;	
	}
}

.img-container {
	padding: 0 10px;
	padding-bottom: 10px;
	div {
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 10px;
	}
}