body {
  padding-top: 51px;
}


.navbar-default {    
  .img-small {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-top: -6px;
  }  

}




.cover-banner {
  height: 450px;
  background-image: url("../images/hogwarts_small.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;  
  position: relative;
}

.mid-nav {
    button {
    height: 55px;
    width: 55px;
  }
}

.avatar-lg {  
  position: absolute;
  bottom: 15px;
  left: 15px;
    img {
     height: 225px;
    }
    h3 {
      font-weight:900;
      text-shadow: 0px 0px 15px white;
      font-size: 200%;
    }
}

.mid-title {
  border: 2px solid black;
  height: 80px;

  h2 {
    font-weight: bold;
  }

  a {
    margin-top: 14px;
  }
}


.bottom-box {
  // border: 2px solid black;
  margin-bottom: 55px;

  //EDIT PROFILE -- text input widths
  input[type=text] {
    width: 90%;
  }
}

.save-changes {
  border: 2px solid black;
  margin: 45px 0 100px 0;
  font-size: 200%;
  height: 75px;
}





.post {
  border: 2px solid black;

  header {
    border-bottom: 2px solid black;
  }

  .form-control {
    margin: 20px 0 20px 0;
  }

  footer {
    border-top: 2px solid black;
      a {
        margin: 15px 0 15px 0;
      }
  }
}




figure {
  overflow: hidden;
  height: 70px;
  width: 70px;
  display: inline-block;

  //margin: 15px 5px 25px auto;

  img {
  display: inline-block;
  }
}

.img-xs {
  display: inline-block;
  //height: 115px;
}


figcaption {
  display: inline-block;
  
}









.asdf {
  height: 500px;
  background-color: green;
}



.box {
  width: 200px;
  height: 100px;
}
  
.b {
  @extend .box;
  background-color: red;
}








//
//
//
//
//
//END OF ABOUT PAGE && UPPER PORTION TO BE RE-USED
//
//
//
//
//




