//panel theme color - light blue
$ptc: #337ab7;

//panel title styling
.pts {
  
  color: white !important;
}

.panel-heading {
  background-color: $ptc !important;
  .panel-title {
    @extend .pts;
  } 
}






//For space between rows
.rs15 {
  margin-top: 15px;
}

.rs30 {
  margin-top: 30px;
}

.rs45 {
  margin-top: 45px;
}










body {
  padding-top: 51px;
  background-color: #eee;

}


.navbar-default {   
  background-color: $ptc; 
  .img-small {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-top: -6px;
  }  

}


.navbar-header {
  span {
    @extend .pts;
  }  
}

.navbar-right {
  li {
    a {
      @extend .pts;
    }
  }
}










.cover-banner {
  height: 450px;
  background-image: url("../images/hogwarts_small.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;  
  position: relative;
}

.mid-nav {
    button {
    height: 55px;
    width: 55px;
  }
}

.avatar-lg {  
  position: absolute;
  bottom: 15px;
  left: 15px;
    img {
     height: 225px;
    }

    a {
text-decoration: none;
    }

    h3 {
      font-weight:900;
      text-shadow: 0px 0px 15px black;
      font-size: 200%;
      color: white;
    }
}

.mid-title {
  border: 2px solid black;
  height: 80px;

  h2 {
    font-weight: bold;
  }

  a {
    margin-top: 14px;
  }
}


.bottom-box {
  // border: 2px solid black;
  margin-bottom: 55px;

  //EDIT PROFILE -- text input widths
  input[type=text] {
    width: 90%;
  }
}





.post {
  border: 2px solid black;

  header {
    border-bottom: 2px solid black;
  }

  .form-control {
    //margin: 20px 0 20px 0;
  }

  footer {
    border-top: 2px solid black;
      a {
        margin: 15px 0 15px 0;
      }
  }
}




figure {
  overflow: hidden;
  height: 70px;
  width: 70px;
  display: inline-block;

  //margin: 15px 5px 25px auto;

  img {
  display: inline-block;
  }
}

.img-xs {
  display: inline-block;
  //height: 115px;
}


figcaption {
  display: inline-block;
  
}






.img-caption:hover .pub-date {
  display: block;
}

.pub-date {
  display: none;
}





.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}







//
//
//
//
//
//END OF ABOUT PAGE && UPPER PORTION TO BE RE-USED
//
//
//
//
//




