

  
<div class="panel panel-default friends">
  <div class="panel-heading ">
    <h3 class="panel-title timeline-panel-header">Friends <span class="grey-text"><%= @user.friends.count %></span></h3>
  </div>
  <div class="panel-body">
    <div class="row">

      <div class='col-md-12'>
        <% if @user.friends.empty? && @user != current_user && 
          !current_user.friended?(@user) %>
          <p>This user doesn't have any friends yet. Maybe you would like to <%= friend_button(@user) %></p>
          <% else current_user.friends_with?(@user) %>
          <div class="row"><% @user.friends.each do |friend| %>
            <div class="col-sm-4">
              <%= link_to image_tag(friend.profile.avatar_url, class: 'thumbnail'), profile_timeline_path(friend)%>
            </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-md-5 col-md-offset-4"><%= link_to "See More Friends", user_friends_path(@user), class: 'text-center'  %></div>
          </div>

          <% end %>
        </div>
      </div>



    </div>
</div> <!-- end friends panel-->
