<div class="panel panel-default friends">
  <div class="panel-heading ">
    <h3 class="panel-title timeline-panel-header">Friends <span class="grey-text"><%= @user.friends.count %></span></h3>
  </div>
  <div class="panel-body">

      <div class="row">
      <% @user.friends.each do |friend| %>
      <div class="col-sm-4">
        <%= link_to image_tag(friend.profile.avatar_url, class: 'thumbnail'), profile_timeline_path(@profile)%>  <a href= class="thumbnail">
      </div>
      <% end %>
      </div>


    <div class="text-center">
      <a href="#" class="text-center">See More Friends</a>
    </div>

  </div>
</div> <!-- end friends panel-->