<%= form_for(Post.new, remote: true) do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title timeline-panel-header">Post</h3>
  </div>

  <div class="panel-body">
    <div class="form-group new-comment-field">
      <%= f.text_area :body, class: "form-control",
      placeholder: "Write on the wall" %>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <%= f.hidden_field :profile_id, value: @profile.id %>
    <%= f.submit "Post", class: "pull-right btn btn-primary" %>
  </div>
</div> <!-- end panel default -->
<% end %>
