<div class="panel panel-default friends">
  <div class="panel-heading">
    <h3 class="panel-title timeline-panel-header">Photos <span class="grey-text"><%= @profile.user.photos.count %></span></h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <% @profile.user.photos.each do |photo| %>
      <div class="col-sm-4">
        <%= image_tag photo.picture.url(:thumb)  %>
      </div>
      <% end %>
    </div> <!-- end row -->
    <% if @profile.user.photos.empty? %>

    <p class="text-center">This user hasn't added any photos yet</p>
    <% else %>
    <div class="text-center">
    <% if current_user.friends_with?(@user) %>
      <%= link_to "See More Photos", user_photos_path(@user), class: 'text-center'  %>
    <% end %>
    </div>
    <% end %>

  </div> <!-- end panel -->
</div> <!-- end photo panel-->