.search_navbar {
	background-color: #3B5998;
	border-color: #3B5998;
  #nav-search-btn {
    width: 1%;
  }
	.brand-img {
		img {
		  height: 50px;
		  width: 50px;
		  padding: 5px;
		  border-radius: 50%;
		}
	}
	.brand-text {
		color: #fff;
		font-size: 25px;
	}
	.form-group {
		width: 100%;
		input {
			width: 100%;
		}
	}
	.navbar-nav {
		li {
			a {
				color: #fff;
				font-size: 18px;
			}
			a:hover {
				color: #fff;
			}
		}
	}
}

.cover-section {
	position: relative;
	.cover-photo-container {
		margin-left: -15px;
		margin-right: -15px;
    width: 1170px;
    height: 370px;
    overflow: hidden;
	}
	.midde-nav-row {
		border: 1px solid black;
	}
	.cover-photo {
		margin-top: 50px;
		width: 100%;
    height: 370px;
		border: 1px solid black;
	}
	.profile-img {
		overflow: hidden;
    height: 168px;
		width: 168px;
		position: absolute;
		bottom: 20px;
		left: 20px;
		border: 1px solid black;
	}
	.profile-name {
		color: #fff;
		position: absolute;
		bottom: 40px;
		left: 205px;
	}

	.middle-nav {
		li {
			margin: 0;
			border-left: 1px solid black;
			.selected {
				background-color: #eee;
			}
			a {
				height: 41px;
				border-radius: 0px;
			}
			&:last-child {
				border-right: 1px solid black;
			}
		}
		.middle-nav-count {
			color: #ccc;
			margin-left: 5px;
		}
	}
	.edit-link {
		text-decoration: underline;
		a {
			padding-right: 0px;
		}
		a:hover {
			background-color: #fff;
		}
	}
}
