.photos-section-container {
	border: 1px solid black;
	margin-bottom: 50px;
}

.img-overlay {
    position:relative;
    width:150px;
    height:150px;
    margin: 0 auto;
}
.img-overlay img {
    width:100%;
    vertical-align:top;
}
.img-overlay:after, .img-overlay:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.img-overlay:after {
    content:'\A';
    width:100%; height:30%;
    top:70%;
    background:rgba(0,0,0,0.6);
}
.img-overlay:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    // background:red;
}
.img-overlay:hover:after, .img-overlay:hover:before {
    opacity:1;
}