#navbar {
  color:$nav-font-color;
  background: $primary;
  border-color: rgb(8, 8, 8);
  .icon-bar {
    background-color:#fff;
  }
  .navbar-toggle:focus, .navbar-toggle:hover{
    background-color:#fff;
    .icon-bar {
      background-color: #000;
    }
  }
  .navbar-nav > li > p {
    padding: 15px;
    margin:0;
    line-height: 20px;
    color: $nav-font-color;
  }
  li:hover > a, .navbar-brand:hover {
    color:$nav-font-hover-color;
  }
  &, a, a:visited {
    font-size:20px;
    color:$nav-font-color;
    font-weight:bold;
  }
  .navbar-brand {
    padding:10px;
    font-size: 30px;
    line-height:1;
    color:$nav-font-color;

    img {
      height:30px;
      width:30px;
      border-radius:50%;
      float:left;
      margin-right:15px;
    }

  }
  #login-dp{
    min-width: 250px;
    padding: 14px;
    overflow:hidden;
    background-color:rgba(240,248,255,.8);
    &, a {
      color: #333;
    }
  }
  #login-dp .help-block{
      font-size:12px
  }
  #login-dp .bottom{
      background-color:rgba(240,248,255,.8);
      border-top:1px solid #ddd;
      clear:both;
      padding:14px;
  }
  #login-dp .social-buttons{
      margin:12px 0
  }
  #login-dp .social-buttons a{
      width: 49%;
  }
  #login-dp .form-group {
      margin-bottom: 10px;
  }
  .navbar-form {
    border:0;
    @media (max-width: 767px) {
      margin:0 -15px;

    }
  }


  .collapse {
    border-bottom: 1px solid rgb(204, 204, 204);
    @media (min-width: 768px) {
      border:0;
      display: block!important;
      height: auto!important;
      padding-bottom: 0;
      overflow: visible!important;
    }
  }
}
