.profile {
  padding-bottom: 15px;

  .profile-img {
    width:50px;
    height:50px;
    overflow:hidden;
    border-radius:2px;
    border: $content-border;

    img {
      width:100%
    }
  }

  .profile-info {
    padding-left:15px;

    a, a:visited, a:hover {
      text-decoration: underline;
    }
    p{
      color:#777;
    }
  }
}
