<div class="col-xs-12 ">
  <% unless photo_liked_by_current_user(p, @photo_likes) %>
    <%= link_to "Like", like_photo_path(p) %></a>
  <% else %>
    <%= link_to "Unlike", unlike_photo_path(p) %></a>
  <% end %>
  <% if p.user == current_user %>
    <%= link_to "Delete", photo_path(p), method: "DELETE", class: "pull-right" %>
  <% end %>
</div>

<div class="col-xs-12">
  <p class="text-muted"><%= p.likes.size %> people like this</p>
</div>