<div class="col-xs-3 photos-pic-container" id="thing">
  <%= linked_mini_photo mini_photo, class: 'photos-pic' do %>
    <%= image_tag(mini_photo.image.url(:thumb), class: 'col-xs-12') %>
  <% end %>
  <div class="pic-date-container col-xs-10 col-xs-offset-1">
    <%= content_tag(:p, mini_photo.updated_at.to_date, class: 'pic-date') %>
  </div>
</div>
