<br>
<p>
  <strong>
    <%= link_to 'Set as Profile', photo_path(photo, :profile_photo_id => photo.id), method: :put %>  
  </strong>
</p>

<p>
  <strong>
    <%= link_to 'Set as Cover', photo_path(photo, :cover_photo_id => photo.id), method: :put %>
  </strong>
</p>

<p>
  <strong>
    <%= link_to 'Delete Photo', photo_path(photo), method: :delete %>
  </strong>
</p>