<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
      <%= image_tag photo.image.url(:large) %>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
      <%= render partial: 'shared/photo_actions', locals: { user: current_user, photo: photo } if @user == current_user %>
    </div>
  </div>
</div>