<% unless photo.new_record? %>
  <article class="activity">

    <%= render 'shared/activity_header', object: photo %>

    <section class="activity-body">
      <%= image_tag photo.photo_data.url(:feed) %>
    </section>

    <%= render 'shared/activity_footer', object: photo %>

  </article>
<% end %>
