<div class="row">
<div class="col-sm-12">
  <div class="post-bar">
      <% @photo.comments.each do |comment| %>
          <%= render partial: 'posts/comment', locals: { comment: comment } %>
      <% end %>
</div>  
</div>