<section class="row section-container">
  <div class="col-xs-12 section-header text-center">
    <h4>Photos (<%= user.photo_posts.count %>)</h4>
  </div>
  <div class="col-xs-12 img-container text-center">
    <% user.photo_posts[0..7].each do |photo| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <%= link_to user_photo_path(user, photo) do %>
          <%= image_tag(photo.file.url, class: "post-pic img-responsive") %>
        <% end %>
      </div>
    <% end %>
    <div class="col-xs-12 text-center">
      <%= link_to "See More Photos", user_photos_path(@user), class: "friend-name"%>
    </div>
  </div>
</section><!-- Photos Section -->
