<figure>
  <%= link_to user_photo_path(user, photo) do %>
    <%= image_tag( photo.file.url :medium, class: "friend-img") %></a>
  <% end %>
  <figcaption class="photo-date">Uploaded <%= photo.created_at.strftime('%b %d, %Y') %></figcaption>
  <%# FIXME: fix styling for photos %>
</figure>
