<div class="col-sm-3 img-caption">
    <a class="thumbnail word" href="#">
      <%= image_tag photo.picture.expiring_url(10) %>

      <img alt="User's Medium Photo" class="img-responsive" src="assets/images/icon_photo_small.png">
        <h5 class="pub-date text-center">Posted on
            <time datetime="2014-06-14">6/1/2014</time>
        </h5>
    </a>
</div>
