<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload a Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for [@user, @photo] do |f| %>
          <%= f.file_field :photo_data %><br>
      </div><!-- body -->
      <div class="modal-footer">
        <%= f.submit "Upload", class: "#{button_classes} right" %>
        <% end %> <!-- form_for @user.photos -->
      </div><!-- footer -->
    </div>
  </div>
</div>
