
<main class="container">
  <div class="row">
    <!-- cover photo -->
    <%= render partial: "shared/cover_and_prof", locals: {user: @user} %>
    <!--set of profile tabs linking to different parts of the page-->
    <%= render "shared/nav_links" %>
  </div>
  <div class="row">
    <!--About page header and edit profile button-->
    <div class="col-md-10 col-md-offset-1" id="header-bar">
      <h2>Photos</h2>
      <% if current_user.id == @user.id %>
        <%= link_to "Add Photo!", new_photo_path(id: real_user_id), class:"btn btn-primary", role:"button" %>
      <% end %>
    </div>
    <!--user's photos-->
    
    <div class="col-md-10 col-md-offset-1" id="basic">
      <div class="row">
        <% @photos.each do |photo| %>
          <%= render partial: "shared/photo_box", locals: {user: @user, photo: photo} %>
        <% end %>
      </div>
    </div>
  </div>
  
</main>