<%= render partial: "shared/header", locals: { active: :photos } %>

<main class="container" id="photo-page-box">

  <%= render "shared/flash" %>

  <div class="row timeline-left-column timeline-right-column">
    <div class = "panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-11">
            <h2 class="panel-title">Photos</h2>
          </div>
          <div class="col-sm-1">
            <%= link_to "Add Photo", new_user_photo_path(current_user), class: "btn btn-primary btn-xs" if self_profile? %>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <% @photos.each do |photo| %>
            <%= render partial: "photo_thumbnail", locals: { photo: photo } %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</main>
