<div class="photos-page">
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/cover_header', user: @user %>

      <main>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><strong>Photo Gallery</strong></h3>
          </div>
          <div class="panel-body">
            <div>
              <%= link_to "Create New Photo", new_photo_path(user_id: @user), class: "btn btn-danger btn-lg btn-block" %>
              <hr>
            </div>

              <% unless @photos.empty? %>
                <div class="row">
                  <% @photos.each do |photo| %>
                  <div class="col-xs-6 col-md-3 thumb">
                    <%= link_to image_tag(photo.picture.url(:thumb), class: "img-responsive"), photo_path(photo), class: "thumbnail" %>
                  </div>
                  <% end %>
                </div>
              <% end %>
          </div>
        </div>

      </main>


    </div>
  </div>
</div>
