

<!-- This part changes page by page -->
  <section class="container" id="information-pane">
    <header class="row">
      <div class="col-md-offset-2 col-md-8 about-header">
        <h2>Photos</h2>
      </div>
      <form class="col-md-2 about-header">
        <div class="form-group">
          <%= link_to "Add Photo!", new_user_photo_path(@user), class: "btn btn-default", id: "edit-profile-button" %>
        </div>
      </form>
    </header>


    <div class = "row" id="photo-field">

    <% @photos.each_with_index do |photo, index| %>
      <% break if index > 15 %>
      <%= render partial: "photo", locals: { photo: photo } %>
    <% end %>
 
    </div> <!-- photo-field -->
  </section> <!--information-pane -->

