<main class="main">
  <%= render partial:'/profiles/profile_header_and_links', locals: { user: current_page_user } %>

  <div class="container photos-wrapper">

    <div class="row bar-div">
      <header class="bar">
        <h1 class="photos-heading photos-title">Photos</h1>
        <%= button_to "Add Photo", new_user_photo_path, method: :get, class: "photos-heading white-text edit pull-right" %>
      </header>
    </div>


    <% if @current_user != current_page_user %>
    <div class="row no-photos-border">
      <h4>This user has no uploaded photos</h4>
    </div> 
    <% elsif @photos.empty? %>
      <div class="row no-photos-border">
        <h4>Upload photos to your Album</h4>
        <%= button_to "Add Photo", new_user_photo_path, method: :get, class: "btn btn-primary btn-large" %>
      </div>
    <% else %>
      <% @photos.in_groups_of(4, false).each do |group| %>
        <div class="row photos-border">
          <% group.each do |photo| %>
            <div class="col-xs-3 img_wrapper" style="height:200px; width:200px;">
              <%= image_tag Photo.find(photo).photo.url(:medium) %>
              <p class="on-hover-description">Updated on this date</p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>


  </div>
</main>
