

<!-- This part changes page by page -->
  <section class="container" id="information-pane">
    <header class="row">
      <div class="col-sm-offset-2 col-sm-8 about-header">
        <h2>Photos</h2>
      </div>
      <form class="col-sm-2 about-header">
        <div class="form-group">
          <%= add_photo_link(@user) %>
        </div>
      </form>
    </header>


    <div class = "row" id="photo-field">

    <!-- TODO: stop this hardcoding. BAD DEVELOPER -->
    <% @photos.each_with_index do |photo, index| %>
      <% break if index > 15 %>
      <%= render partial: "photo", locals: { photo: photo } %>
    <% end %>

    </div> <!-- photo-field -->
  </section> <!--information-pane -->

