<!--HERO-->
<div class="container">
  <header class="hero">
    <div class="avatar"></div>
  </header>
  <!--SECTION BAR-->
  <!--SUB-NAVIGATION-->

  <%= render "shared/sub_navbar" %>
  <section class="nav-about">
    <h2>
      Photos
    </h2>
  </section>

  <!--PHOTOS TABLE-->
  <main class="main-about photos">

Pase the url of the photo on the web ...

User Web Photo

or ...

Select a photo from your hard drive...

Upload Photo

  </main>
</div>
