<div class="container">
    <%= render partial: "/shared/profile_bar", locals: { user: @user }%>
    <div class="col-sm-4 col-sm-offset-4">
        <h1>New Photo</h1>
        <%= form_for @photo, url: user_photos_path(@user) do |photo_fields| %>
        <div>
            <%= photo_fields.file_field :image %>
        </div>
        <div>
            <%= photo_fields.submit "Submit", class: 'btn btn-primary btn-sm' %>
        </div>
        <% end %>
    </div>
</div>
