<main class = "container">

  <section id="photo-upload">
    <header>
      <div class="row">
        <div class="col-xs-12">
          <h2>Photos</h2>
        </div>
      </div>
    </header>

    <%= render partial: 'form' %>

  </section>
</main>

<br>