<section class="container" id="information-pane">
  <header class="row">
    <div class="col-md-offset-2 col-md-8 about-header">
      <h2>Photos</h2>
    </div>
  </header>

  <div class = "row">

    <div class = "col-md-8">
      <!--  Photo -->
      
      <!-- action links -->
      Set as Profile
      Set as Cover
      delete photo
      
    </div>

    <div class = "col-md-4">
      
      <!-- User image and name and photo date -->
      
      <!-- like link and like sentence -->
      
      <!-- comment form -->
      
      <!-- comment section -->
      
      
    </div>
  
 
  </div> <!-- photo-field -->
</section> <!--information-pane -->

