<main>
	<div class="container about-info-container">
		<header>
			<div class="row main-content-header">
        <div class="col-xs-1 pull-left h2 btn-container">
          <%= link_to "Make Cover Photo", user_path(:id => @photo.owner.id, :user => { :cover_photo_id => @photo.id } ), method: :patch, class: "btn btn-primary"  if required_user? %>
        </div>
				<div class="col-xs-6 col-xs-offset-2">
					<h2>Photo</h2>
				</div>
        <div class="col-xs-3 pull-right h2 btn-container">
          <%= link_to "Make Profile Photo", user_path(id: @photo.owner.id, user: { :profile_photo_id => @photo.id } ), method: :patch, class: "btn btn-primary"  if required_user? %>
        </div>
			</div>
		</header>

		<div class="row photos-section-container">
      <div class="clearfix photo_shower">
  			<%= image_tag @photo.image.url, class: "center-block" %>
      </div>
    </div>
    <div class="row photo-exist-post">
      <%= render "shared/photo_activity", activity: @photo.activity %>
    </div>
	</div>
</main>
