<div class="container-fluid">

  <div class="row text-center">
    <h1>Photos</h1>
  </div>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-6">
      <%= image_tag @photo.avatar.url %>
    </div>

    <div class="col-sm-4">
    dsfddsfdsf
    </div>
  </div>
</div>