<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <%= image_tag @photo.image.expiring_url %>
      </div>
    </div>
    <div class="col-sm-4">
      <%= image_tag "harry_potter_small.jpg", style: "display: inline-block" %>
      <div class="username"><%= @profile.name %></div>
      <div class="like-line"><a href="#">Like</a></div>
      <%= render partial: 'comments/authoring_box' %>
      <%# render partial: 'comments/index', collection: @posts, as: :post %>
    </div>
  </div>
</div>
