<!--HERO-->
<div class="container">
  <header class="hero">
    <div class="avatar"></div>
  </header>
  <!--SECTION BAR-->
  <!--SUB-NAVIGATION-->

  <%= render "shared/sub_navbar" %>
  <section class="nav-about">
    <h2>
      Photos
    </h2>
  </section>

  <!--PHOTOS TABLE-->
  <main class="main-about photos">
<%= image_tag @photo.image.url(:medium) %>
PLACE FOR PHOTOS, COMMENTS, LIKES, CREATING comments

Set as Profile
Set as Cover
delete photo
  </main>
</div>
