<div class="row">
  <article class="col-md-8 col-md-offset-2" data-content="Photo-<%=@photo.id%>">

<%= image_tag @photo.picture.url %>
<hr>
<%= render partial: 'photos/photo_footer', locals: {p: @photo} %>

  </div>
</div>
