<main>

<!-- This part changes page by page -->
  <section class="container" id="information-pane">
    <header class="row">
      <div class="col-md-offset-2 col-md-8 about-header">
        <h2>Friends</h2>
      </div>
    </header>


    <div class = "row" id="friends-list">

      <% @friend_requesters.each_with_index do | friend_requester, index | %>
        <% break if index >= 6 %>
        <%= render partial: "friend_requester", locals: { friend_requester: friend_requester } %>
      <% end %>

    </div>
  </section>

</main>