<article class="about-text-area left-section-article-heading">
  <h3 class="grey-back-ground">About</h3>
  <p><strong>Born On:</strong> <%= birthday(user) %></p>
  <p><strong>Went to School at:</strong> <%= college(user) %></p>
  <p><strong>Hometown:</strong> <%= hometown(user) %></p>
  <p><strong>Currently Lives:</strong> <%= current_town(user) %></p>
</article>
