<article class="about-text-area left-section-article-heading">
  <h3 class="grey-back-ground">About</h3>
  <p><strong>Born On:</strong> Date you were born</p>
  <p><strong>Went to School at:</strong> nunyabiznas</p>
  <p><strong>Hometown:</strong> Somewhere, USA</p>
  <p><strong>Currently Lives:</strong> Somewhere else, USA</p>
</article>
