<div class="friend-pic-link col-md-4">

  <%= render partial: 'shared/photo_or_no_photo', locals: { user: friend,
                                                      image_size: :thumb,
                                                            file: 'no_photo_thumbnail.jpg' }
                                                             %>

  <%= link_to "#{full_name(friend)}", user_timeline_path(friend) %>

</div>
