<article class="left-section-article-heading">
  <h3 class="grey-back-ground">Friends(<%= link_to "#{friend_list(user).count}", "#" %>)</h3>
  <% if friend_list(user).empty? %>
    <div class="find-friends-link">
      <%= link_to "Find Friends", "#"%>
    </div>
  <% else %>
    <% friend_list(user).each do |friend| %>
      <%= render partial: 'users/timeline/friend_thumbnail', locals: { friend: User.find(friend) } %>
    <% end %>
    <div class="more-link">
      <%= link_to "See More Friends", user_friends_path %>
    </div>
  <% end %>
</article>
