<main class="main friends">

  <%= render partial: 'shared/profile_header_and_links', locals: { user: @current_user } %>

  <div class="container">
    <div class="row">
      <header class="bar friend-bar">
        <h1 class="friends-title">Friends</h1>
      </header>
    </div>

    <div class="row friend-link-section">

      <%= render 'shared/friends/column' %>
      <%= render 'shared/friends/column' %>

    </div>

  </div>
</main>
