<div class="row post-control">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 selected post-topbar">
        <div class="center"> About (Text Area)</div>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <!-- Conveniently, we can just re-use these from about.html and bootstrap scales it for us -->
        <div class="row">
          <div class="col-md-12">
            <b>Birthday:</b> July 31st, 1980
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <b>College:</b> Hogwart's School of Witchcraft and Wizardry
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <b>Hometown:</b> Godrick's Hollow, England
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <b>Currently Lives:</b> Godrick's Hollow, England
          </div>
        </div>
        </div>
      </div>

  </div>
</div>