<div class="row about-me-box">
  <div class="col-sm-12 box-title">
    <h5>About Me</h5>
  </div>
  <div class="col-sm-12">
    <table class="table">
      <tr>
            <td>Birthday:</td>
            <td><%= @user.profile.birthday %></td>
          </tr>
          <tr>
            <td>Went to school at:</td>
            <td><%= @user.profile.college %></td>
          </tr>
          <tr>
            <td>Hometown:</td>
            <td><%= @user.profile.hometown %></td>
          </tr>
          <tr>
            <td>Currently Lives:</td>
            <td><%= @user.profile.current_lives %></td>
          </tr>
    </table>
  </div>
</div>