<div class="row">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-2">
        <img class='comment-media' src="images/icon_photo_small.png">
      </div>
      <div class="col-sm-10">
      <p>
        <%= link_to comment.user.first_name, user_timeline_path(comment.user) %>
        said on <%= comment.created_at %>
      </p>
      <p><%= comment.content %></p>
      </div>
      
    </div>

  </div>
</div>