<div class="form-group">
  <textarea class="form-control" placeholder="Message" rows="6">Tell the world something...</textarea>
  <div class="nav-footer">
    <div class="clearfix">
      <a href="#" class="like pull-left">
        Cancel
      </a>
      <button type="button" class="btn btn-primary btn-sm">Comment</button>
    </div>
  </div>
</div>
