          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title timeline-panel-header">Post</h3>
            </div>

            <div class="panel-body">
              <%= form_for [@user, @post] do |f|%>            
              <div class="form-group">

                <%= f.text_area :body,class: 'form-control' %>
              </div>

            </div>

            <div class="panel-footer clearfix">
             <%= f.submit 'Post', class: 'pull-right btn btn-sm btn-primary' %>
             
           </div>
           <% end %> 
         </div> <!-- end panel default -->