<div class="row friends-box">
  <div class="col-sm-12 box-title">
    <h5> Friends(<%= user.num_of_friends %>)</h5>
  </div>
  <% user.friended_users.includes(:profile).limit(6).each do |friend| %>
    <div class="col-sm-4">
      <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
      <br>
      <p><%= link_to friend.profile.full_name, posts_path(user_id: friend.id) %></p>
    </div>
  <% end %>
</div>
