 <!-- Friends -->

        <div class="row aside-container">

          <section class="col-sm-12">

            <header class="aside-container-header">

              Friends (346)

            </header>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

              </div>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

              </div>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

              </div>

          </section>

          <article class="aside-container-link">

            <a href="friends.html">See More Friends</a>

          </article>

        </div>

      </aside>