<div class="row friends-box">
  <div class="col-sm-12 box-title">
    <h5> Friends (456)</h5>
  </div>
  <div class="col-sm-4">
    <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
    <br><p>Sam Tarly</p>
  </div>
  <div class="col-sm-4">
    <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
    <br><p>Sam Tarly</p>
  </div>
  <div class="col-sm-4">
    <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
    <br><p>Sam Tarly</p>
  </div>
  <div class="col-sm-4">
    <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
    <br><p>Sam Tarly</p>
  </div>
  <div class="col-sm-4">
    <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
    <br><p>Sam Tarly</p>
  </div>
  <div class="col-sm-4">
    <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" class="image">
    <br><p>Sam Tarly</p>
  </div>
</div>
