          <div class="panel panel-default friends">
            <div class="panel-heading ">
              <h3 class="panel-title timeline-panel-header">Friends <span class="grey-text">(542)</span></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>

                </div>
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>

                </div>
                <div class="col-sm-4">
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>
                  <a href="profile.html" class="thumbnail"><img src="/images/user_silhouette_generic.gif" alt=""></a>

                </div>
              </div> <!-- end row -->
              <div class="text-center">
                <a href="#" class="text-center">See More Friends</a>
              </div>

            </div>
          </div> <!-- end friends panel-->