<section class="post">
  <header class="nav-post">
    <h4>
    Friends (542) (Copied text area)
    </h4>
  </header>
  <div class="container-fluid">
    <div class="row"> <!-- 1st ROW-->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <a href="#">
          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
          Ron Weasley
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <a href="#">
          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
          Ron Weasley
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <a href="#">
          <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
          Ron Weasley
        </a>
      </div>
    </div>
  </div>
  <div class="row"> <!--2nd row-->
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <a href="#">
        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
        Ron Weasley
      </a>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <a href="#">
        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
        Ron Weasley
      </a>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <a href="#">
        <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
        Ron Weasley
      </a>
    </div>
  </div>
</div>
<div class="row"> <!--3rd row-->
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
    <a href="#">
      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
      Ron Weasley
    </a>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
    <a href="#">
      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
      Ron Weasley
    </a>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
    <a href="#">
      <img class="img-thumbnail" src="assets/icon_photo_small.png" alt="">
      Ron Weasley
    </a>
  </div>
</div>
</div>
<div class="nav-bottom-link">
<a class="edit-profile" href="friends.html">
  See More Friends
</a>
</div>
</section>