<% index = friend_counter + 1 %>
<%= '<div class="row thumbnail-grid text-center">'.html_safe if index % 3 == 0 %>
<div class="col-xs-4"><%= image_tag('user_silhouette_generic.png', class: 'img-thumbnail') %>
  <p class="name"><%= link_to friend.full_name, user_profile_path(friend) %></p>
</div>
<%=  '</div>'.html_safe if index % 3 == 0 %>