<div class="info-box row">
  <header class="col-xs-12">
    <h4>About</h4>
  </header>
  <div class="col-xs-12">
    <p><b>Born on:</b> <%= profile.birthdate %></p>
    <p><b>Went to school at:</b> <%= profile.college %></p>
    <p><b>Hometown:</b> <%= profile.hometown %></p>
    <p><b>Currently Lives:</b> <%= profile.current_city %></p>
  </div>
</div>