<section class = "col-md-12 like-section">
  <%= like_link(post) %>
  <a class="col-md-2" href = "#">Comment</a>
  <% if current_user_page?(@user) %>
    <%= link_to "Delete", user_post_path(current_user, post), method: "delete", class: "col-md-1 pull-right", data: {confirm: "Are you sure you want to delete this post?"} %>
  <% end %>

  <div class = "col-md-12">

    <% post.users_who_liked.each do |user| %>
      <p><%=link_to user.name, user_path(user) %> liked this.</p>
    <% end %>
    
  </div>
</section>