 <!-- form_for post do |f| %> -->

  <div class="row section-title">
    <div class="col-md-12">
      <h4>Post (copied)</h4>
    </div>
  </div>
  <div class="row about-summary">
    <div class="col-md-12">
      <textarea class="post-input" placeholder="Tell the world something.."></textarea> 
    </div>
  </div>
  <div class="row section-footer">
    <div class="col-md-10"></div>
    <div class="col-md-2"><button class="btn btn-primary">Post</button>
    </div>
  </div>
 <!-- end %> -->