<section class="post">
  <header class="nav-post">
    <h4>
    Post (copied)
    </h4>
  </header>
  <div class="post-body">
    <div class="form-group">
      <textarea class="form-control" placeholder="Message">Tell the world something...</textarea>
    </div>
  </div>
  <div class="nav-footer">
    <button class="btn btn-primary" type="button">
    Post
    </button>
  </div>
</section>