<div class="row">
	<div class="col-xs-12 post-control">
		<div class="row post-topbar selected">
			<div class="col-xs-12">
				<div class="center">Post</div>
			</div>
		</div>
		<%= form_for [@user, @new_post], remote: true do |f| %>
		<%= f.hidden_field :user_id %>
		<div class="row">
			<div class="col-xs-12">
			    <%= f.text_area :body, {class:"form-control", placeholder:"Tell the world something..."} %>
			</div>
		</div>
		<div class="row post-bottombar selected">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-2 col-xs-offset-10 ">
					    <%= f.submit "Post", class:"btn btn-primary pull-right new_post_btn"%>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
