<div class="row aside-container">

          <section class="col-sm-12">

            <header class="aside-container-header">

              Photos (123)

            </header>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

              </div>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

              </div>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

              </div>

          </section>

          <article class="aside-container-link">

            <a href="photos.html">See More Photos</a>

          </article>

        </div>