<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title text-center">Post</h4>
  </div>
  <div class="panel-body">
    <%= form_for [@user, @post ] do |post_builder|  %>
  <h3><%= post_builder.label :body, label: false %></h3>
      <%= post_builder.text_area :body, cols: "30", rows: "10" %>

      <%= post_builder.submit "Post", class: 'btn btn-success' %>
<% end %>

  </div>
  <div class="panel-footer text-right">

    <!-- <a class="btn btn-success">Post</a> -->
  </div>
</div><!--  -->
