<%= form_for [current_user, @post], html: {class: "row", id: "post-form"}  do |f| %>
  <div class = "col-md-12">
    <h5>Post</h5>
  </div>
  <div class = "col-md-12" id = "post-textarea-col">
    <div class = "form-group">
      <%=f.text_area :body, rows: "3", class: "form-control", placeholder: "Tell the world something..."%>
    </div>
  </div>

  <div class = "col-md-12" >
    <div class = "form-group pull-right">
      <%= f.submit "Post", class: "btn btn-primary", role: "Post" %>
    </div>
  </div>
<% end %>