
<div class="row">
  <div class="media-left media-middle col-xs-2">
      <figure>
          <% if @user.avatar %>
          <%= image_tag @user.avatar.picture.expiring_url(10, :small), class: "img-thumbnail img-responsive" %>
<% else %>
            <%= image_tag "default.gif", class: "thumbnail img-responsive" %>
  <% end %>            </figure>
    </div>
    <div class="media-body col-xs-8">
        <a href="#">
            <h4 class="media-heading"><%= "#{user.profile.first_name} #{user.profile.last_name}" %></h4>
        </a>
        <h6>
          <%= "Posted on #{post.created_at.strftime('%B %d, %Y')}" %>
        </h6>
    </div>
</div>
