<% if current_user && @user == current_user %>
  <%= form_for(@post, {html: { :class => "info-pane" }, url: {controller: 'posts', action: :create }, remote: true }) do |post_fields| %>
    <header class="row">
      <div class="col-xs-12">
        <h5>New Post</h5>
      </div>
    </header>

    <section class="row">
      <%= post_fields.text_area :content, :class => "form-control", rows: 3, placeholder: "Tell the world! Or at least Denmark..." %>
    </section>

    <footer class="row">
      <%= post_fields.submit 'Post!', :class => "btn btn-large btn-danish btn-block" %>
    </footer>
  <% end %>
<% end %>