<!-- Row to hold links -->
<div class="row">

  <div class="col-xs-12">

    <div class="pull-left">
        <% unless post.likers.include?(current_user) %>
          <%= link_to 'Like', likes_path(:liked_id => post.id), method: 'create', alt: 'Like this post' %>
        <% else %>
          <%= link_to 'Unlike', like_path(current_user.likes.find_by_liked_id(post.id)), method: 'delete', alt: 'Unlike this post' %>
        <% end %>
    </div>

    <div class="pull-right">
      <%= link_to 'Delete', user_post_path(post.author, post), method: 'post', alt: 'Delete this post' %>
    </div>

  </div>

</div>  <!-- end of links row -->


<!-- Row to track likes -->
<% unless post.likers.empty? %>

  <div class="row">

    <div class="col-xs-12">

      <div class="pull-left">
        <p>
          <%= display_likers(post) %>
        </p>
      </div>

    </div>

  </div>  <!-- end of likes row -->

<% end %>