
<!--post feed-->
<div class = "col-md-7 col-md-offset-1" id = "post-feed">


  <%= render "post_form" if current_user_page?(@user) %>


  <% @posts.each do |post| %>
    <%= render partial: "shared/single_post", locals: {post: post} %>
  <% end %>

</div>
