<% if current_user_view? %>
  <%= form_for([@user, @post], class: "panel panel-default 
                      panel-style container-border") do |post_fields| %>
    <div class="panel-heading">
      <h3 class="panel-title">Post</h3>
    </div>

    <div class="panel-body panel-body-style basic-margin">
      <%= post_fields.text_area :body, class: "form-control",
          rows: 5 %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-info btn-xs post-button">
              Post
      </button>
    </div>
  <% end %>
<% end %>