<% friends.sample(6).each_slice(2) do |friend_set| %>
  <div class="col-md-4">
    <% friend_set.each do |friend| %>
      <div class="img-thumb-small row">
        <img class="col-md-12 friend-link" src="https://unsplash.it/50/50"/>
        <%= link_to "#{user_fullname(friend)}", user_path(friend), class: "col-md-12" %>
      </div>
      <!-- <div class="img-thumb-small row">
        <img class="col-md-12 friend-link" src="https://unsplash.it/50/50"/>
        %= link_to "Ginny Weasley", "#", class: "col-md-12" %>
      </div> -->
    <% end %>
  </div>

  <!-- <div class="col-md-4">
    <div class="img-thumb-small row">
      <img class="col-md-12 friend-link" src="https://unsplash.it/50/50">
      %= link_to "Hermione Granger", "#", class: "col-md-12" %>
    </div>
    <div class="img-thumb-small row">
      <img class="col-md-12 friend-link" src="https://unsplash.it/50/50"/>
      %= link_to "Slytherine", "#", class: "col-md-12" %> 
    </div>
  </div>
  <div class="col-md-4">
    <div class="img-thumb-small row">
      <img class="col-md-12 friend-link" src="https://unsplash.it/50/50"/>
      %= link_to "Lord Voldemort", "#", class: "col-md-12" %> 
    </div>
    <div class="img-thumb-small row">
      <img class="col-md-12 friend-link" src="https://unsplash.it/50/50">
      %= link_to "Severus Snape", "#", class: "col-md-12" %>
    </div>
  </div> -->
 <!--  <div class="row">
    <div class="col-md-12 centre-text">
      %= link_to "See More Friends", friending_path(@user) %>
    </div>
  </div> -->
<% end %>