<% friends.sample(6).each_slice(2) do |friend_set| %>
  <div class="col-md-4">
    <% friend_set.each do |friend| %>
      <div class="img-thumb-small row">
        <%= image_tag(get_profile_photo(friend), size: "50") %>
        <%= link_to "#{user_fullname(friend)}", user_path(friend), class: "col-md-12" %>
      </div>
    <% end %>
  </div>
<% end %>