<div class="col-sm-4">
  <%= render partial: 'timeline_about', locals: { user: user } %>

  <%= render partial: 'timeline_photos', locals: { user: user } %>

  <%= render partial: 'timeline_friends', locals: { user: user } %>
</div>