<section class="row">
    <h5 class="timeline-title">About</h5>
    <section class="timeline-content col-sm-12">
      <table class="table table-borderless">
          <tr>
            <td>Birthday:</td>
            <td><%= display_birthday(user) %></td>
          </tr>
           <tr>
            <td>College:</td>
            <td><%= display_college(user) %></td>
          </tr>
           <tr>
            <td>Hometown:</td>
            <td><%= display_hometown(user) %></td>
          </tr>
           <tr>
            <td>Current Location:</td>
            <td><%= display_location(user) %></td>
          </tr>
        </table>
    </section>
</section>