    <main>

      <section class = "container" id="timeline">
        <div class = "row" id = "information-column">

          <!--details-->

        <%= render "timeline_aside" %>

        <%= render partial: "post_feed" %>
      </section>

    </main>
