<div class="col-md-2">
  <ul>
    <li>Friends</li>
    <li>Photos</li>
    <li>About</li>
    <li>Green!</li>
  </ul>
</div>

<div class="col-md-8">
  <%= render 'post_form' %>
  <div id="post-area">
    <%= render @posts %>
  </div>
</div>
