<% if @current_user == user %>

  <%= render template: 'posts/new', locals: { user: user, post: Post.new }%>

<% end %>

<% unless user.posts.empty? %>

  <div>
    <% user.posts.order({ created_at: :desc }).each do |post| %>
      <%= render partial: 'posts/post_with_comment', locals: { post: post } %>
    <% end %>
  </div>

<% end %>
