
<div class="row">

  <div class="col-sm-4">
    <% if @posts %>
    <%= render partial: "left_side", locals: { user: @posts.first.user } %>
    <% end %>
  </div>

  <div class="col-sm-7 col-sm-offset-1">
    <% if @posts && current_user == @posts.first.user %>
      <%= render partial: "new", locals: { post: @new_post } %>
    <% end %>
    
    <%= render @posts %>
  </div>


</div>