<br>
<br><br><br><br>

<ul>
  <h2> :: Recently Active News Feed :: </h2>
  <% @friends.each do |friend| %>
    <div class="row">  
      <%= render partial: "shared/wall_post", locals: { posts: friend.posts.recent_posts(1)} %>
    </div>
  <% end %>

  <h2> :: Normal News Feed :: </h2>

  <% @friends.each do |friend| %>
    <div class="row">
      <%= render partial: "shared/wall_post", locals: { posts: friend.posts} %>
    </div>
  <% end %>
</ul>