<main>
  <div class="container">
    <%= render partial: "/users/profile_bar" %>


    <div class="col-sm-5 timeline-col">
      <div class="row wrapper">
        <div class="col-sm-12">
          <h2>About</h2>
        </div>
        <div class="col-sm-12">
        </div>
      </div>


      <div class="row wrapper">
        <div class="col-sm-12">
          <h2>Photos</h2>
        </div>
        <div class="col-sm-12">
          <div id="icon-picture"><p>Uploaded Jan 1st</p></div>
          <div id="icon-picture"><p>Uploaded Jan 1st</p></div>
          <div id="icon-picture"><p>Uploaded Jan 1st</p></div>
          <div id="icon-picture"><p>Uploaded Jan 1st</p></div>
          <div id="icon-picture"><p>Uploaded Jan 1st</p></div>
          <div id="icon-picture"><p>Uploaded Jan 1st</p></div>
        </div>
          <div class="more"><a href="#">See More Photos</a></div>
      </div>

      <div class="row wrapper">
        <div class="col-sm-5">
          <h2>Friends</h2>
        </div>
        <div class="col-sm-12">
          <div id="friend-pic" class="friends-col"><p><a>paragrah text</a></div>
          <div id="friend-pic" class="friends-col"><p><a>paragrah text</a></p>
          </div>
          <div id="friend-pic" class="friends-col"><p><a>paragrah text</a></p>
          </div>
          <div id="friend-pic" class="friends-col"><p><a>paragrah text</a></p>
          </div>
          <div id="friend-pic" class="friends-col"><p><a>paragrah text</a></p>
          </div>
          <div id="friend-pic" class="friends-col"><p><a>paragrah text</a></p>
          </div>
          <div class="more"><a href="#">See More Friends</a></div>
        </div>
      </div>
    </div>



    <div class="col-sm-7 timeline-col-2nd">
      <div class="row wrapper">
        <div class="col-sm-12">
          <h2>Post</h2>
        </div>
        <textarea rows="3" cols="45"></textarea>
        <div class="col-sm-12">
        </div>
      </div>
      <%= render "/posts/post" %>
      <%= render "/posts/post" %>
      <div class="row wrapper post-rows">
        <div class="col-sm-12">
          <div id="post-img"></div>
          <ul>
            <li><a href="#">Harry Potter</a></li>
            <li>Posted on ...</li>
          </ul>
        </div>
        <div class="col-sm-12 post-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-sm-12">
            <a href="#">Like</a>
            <a href="#">Comment</a>
            <a href="#" class="delete">Delete</a>
        </div>
        <div class="col-sm-12">
          <p><a href="#">A Friend</a> likes this</p>
        </div>
        <div class="col-sm-12 post-rows">
          <div id="friend-pic" class="sub-post col-sm-2"></div>
          <div class="col-sm-10">
            <a href="#">Friend</a> Posted on...</li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p><a href="#">like</a> 3 others like this</p>
          </div>
        </div>
        <div class="col-sm-12 post-rows">
          <div id="post-img" class="sub-post col-sm-2"></div>
          <div class="col-sm-10">
            <a href="#">You</a> Posted on...</li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="#">like</a><a class="delete" href="#">delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

</body>
