/* ----------------------------------- *
 *       THEME COLORS & FONTS
 * ----------------------------------- */


/* COLORS */
$brand-color: #466bad;
$brand-secondary: #90949b;
$brand-secondary-bg: #f6f7f9;
$brand-background: #e9ebee;
$brand-color-light: #A0C6F7; /* light blue */
$secondary-color: #EEEEEE; /* light gray */
$tertiary-color: #2C9C20; /* green */
$border-color: #dddfe2;


/* DIMENSIONS */
$corner: 5px;
$shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
$padding: 2%;
$border: 1px solid $border-color;
$profile-pic: 150px;
$image-tile: 150px;
$thumbnail-pic: 35px;
$cover-pic-w: 770px;
$cover-pic-h: 230px;


/* from earlier html project */

/* Fonts */
$main-font: 'Quicksand', sans-serif;

/* Media Query Measurements */
$narrow-max: 769px;
$wide-min: 770px;

