/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
.gender-form,
.birth-form {
  margin-right: 15px;
}

.btn-default {
  margin-left: 10px;
}

.navbar {
  background-color: #3b5998;
  color: #fff;
  padding: 10px;
}

.navbar-brand {
  font-size: 45px;
  color: #fff;
  margin-top: 10px;
}

.connectheading {
  margin-top: 80px;
}

li {
  font-size: 20px;
  font-weight: 200;
  color: #999;
  line-height: 2em;
  margin-left: 40px;
  margin-top: 20px;
}

ul {
  list-style-type: disc !important;
  padding-left: 1em;
}


.signup {
  margin-top: 20px;
}

.sign-heading {
  font-size: 50px;
  margin-top: 80px;
}

.birthday {
width:auto;
display:inline-block;
}

.gender {
  margin-bottom: 20px;
}