// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  border-bottom: 1px solid silver;
  padding: .5em;
}
.comment:last-of-type {
  border-bottom: none;
}
.comment-body {
  background-color: white;
  padding: .5em;
}
.commenter-name {
  font-weight: bold;
}
