// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.comment {
  background-color: $flag-normal;
  color: white;
  font-size: 14px;
  line-height: 16px;
  border-top: 1px solid $flag-dark;
  a {
    color: white;
    font-size: 14px;
  }
}