$break-small:320px;
$break-middle:760px;
$break-larger:1200px;

.main-part {
  margin-top: 65px;
}

#avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  bottom: 30px;
  left: 50px;
  border-radius: 10px;
  border: 2px solid #666;
}

.avatar-wraper {
  position: relative;
  h2 {
    position: absolute;
    left: 160px;
    bottom: 20px;
  }
}

.user-cards {
  .avatar {
    padding: 5px;
    margin-right: 20px;
  }
}

.cover-header {
  .cover-photo {
    width: auto;
    height: 100%;
    @media screen and (max-width: $break-middle) {
      height: 100%;
      width: auto;
      margin-left: -100px;
    }
  }


  .cover-wraper {
    height: 350px;
    overflow: hidden;
    margin-top: -20px;
    border-radius: 5px;
    @media screen and (max-width: $break-middle) {
      height: 300px;
    }
  }

  .header-wraper {
    border: 1px solid #bbb;
    border-radius: 5px;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    ul {
      display: flex;
      @media screen and (max-width: $break-middle) {
        justify-content: center;
        width: 100%;
      }
    }
    li {
      width: 100px;
      text-align: center;
      @media screen and (max-width: $break-middle) {
        width: 25%;
      }
    }
  }
}
