@import "bootstrap-sprockets";
@import "bootstrap";

//panel theme color - light blue
$ptc: #337ab7;

//panel title styling
.pts {

  color: white !important;
}

.panel-heading {
  background-color: $ptc !important;
  .panel-title {
    @extend .pts;
  }
}


//my "palette": space between rows
.rs15 {
  margin-top: 15px;
}

.rs30 {
  margin-top: 30px;
}

.rs45 {
  margin-top: 45px;
}


//CSS begins

body {
  background-color: #eee;

}


.navbar-default {
  background-color: $ptc;
  .img-small {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-top: -6px;
  }

}

#flash {
  background: #fbff00;
  color: #000;
  padding: 10px 0;
  margin-bottom: 5px;
}

.navbar-header {
  span {
    @extend .pts;
  }
}

.navbar-right {
  li {
    a {
      @extend .pts;
    }
  }
}

#interior-page {
  padding-top: 51px;
}

.cover-banner {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}

.mid-nav {
    button {
    height: 55px;
    width: 55px;
  }
}

.avatar-lg {
  position: absolute;
  bottom: 15px;
  left: 15px;
    img {
     height: 160px;
    }

    a {
text-decoration: none;
    }

    h3 {
      font-weight:900;
      text-shadow: 0px 0px 15px black;
      font-size: 200%;
      color: white;
    }
}

.mid-title {
  border: 2px solid black;
  height: 80px;

  h2 {
    font-weight: bold;
  }

  a {
    margin-top: 14px;
  }
}


.bottom-box {
  margin: 20px 0;

  //EDIT PROFILE -- text input widths
  input[type=text] {
    width: 90%;
  }
}


.post {
  border: 2px solid black;

  header {
    border-bottom: 2px solid black;
  }

  .form-control {
    //margin: 20px 0 20px 0;
  }

  footer {
    border-top: 2px solid black;
      a {
        margin: 15px 0 15px 0;
      }
  }
}


figure {
  overflow: hidden;
  height: 70px;
  width: 70px;
  display: inline-block;

  //margin: 15px 5px 25px auto;

  img {
  display: inline-block;
  }
}

.img-xs {
  display: inline-block;
  //height: 115px;
}


figcaption {
  display: inline-block;
  }

.word {
  position: relative;
  }


.img-caption:hover .pub-date {
  visibility: visible;
}

.pub-date {
  visibility: hidden;

    background-color: black;

    color: white;
    bottom: -7px;
    left: 3%;
    width: 94%;
    display: inline;
    position: absolute;
    border-radius: 5px;
}

.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}





//~!~

nav {
    h1,
    h6 {
        font-weight: bold;
        color: white;
    }

    h1 {
        font-size: 40px;
        display: inline-block;
        vertical-align: middle;
        margin: 10px 0;
    }

    .icon-bar {
        // background-color: white;
    }

}

#login-nav {
  .navbar-form {

    display: inline-block;
    vertical-align: middle;

    label { color: #fff; -webkit-font-smoothing: antialiased; font-size: 14px; }
  }
}


    .navbar-default {
        background-color: #3C5A99;
    }

.right-side {
    h1,
    h4 {
        font-weight: bold;
    }

}


.navbar-toggle {
  margin-top: 25px;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f3f0f0;
}

.short {
        width: 200px;
    }

.big-three {
    width: 400px;
}

    #email-login {
        margin: 10px 0;
    }
