@import "theme_and_colors";

.main-content {

} /* .sidebar-left */

.sidebar-left {

} /* .sidebar-left */

.sidebar-right {
  header {
    background-color: white;
    color: $brand-secondary;
    font-weight: bold;
    padding: 4%;
    border: 0;
  } /* header */

} /* .sidebar-left */

