// Place all the styles related to the friendings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-prof-pic {
  max-height: 75px;
  max-width: 75px;
  margin: 10px;
  float: left;
}

.friend-info {
  float: left;
  font-size: 16px;
  margin-top: 20px;
  line-height: 15px;
}

.friend-info-fcount {
  font-size: 14px;
  color: #999;
}

.unfriend-wrapper {
  float: right;
  margin: 30px 30px 0 0;
}
