// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.friend-list-entry {
  padding: 5px;
  div.row {
    border: 1px solid $flag-darker;
    margin: 15px;
    padding: 15px;
  }
}