@import 'colors';

.btn-danish {
  background: $flag-normal;
  color: white;
  border: 1px solid $flag-dark!important;
  &:hover {
    background: $flag-light;
    color: white!important;
  }
}

body {
  background-color: #EDF0F5!important;
}

main {
  margin-top: 50px;
}

#main-navbar {
  background: $dark-normal;
  border-bottom: 1px solid $flag-darker;

  a, label, h1 {
    color: white;
  }

  li:hover {
    background: $darker-dark;
  }
}

.field_with_errors {
  * {
    border-color: red!important;
  }
}