@import 'colors';

.btn-danish {
  background: $flag-normal;
  color: white;
  border: 1px solid $flag-dark!important;
  &:hover {
    background: $flag-light;
    color: white!important;
  }
}

body {
  background-color: #EDF0F5!important;
}

main {
  margin-top: 50px;
}

#main-navbar {
  background: $dark-normal;
  border-bottom: 1px solid $flag-darker;

  a, label, h1 {
    color: white;
  }

  li:hover {
    background: $darker-dark;
  }
}

.field_with_errors {
  * {
    border-color: red!important;
  }
}

#hero {
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  li a {
    border-radius: 0;
  }

  #profile-picture {
    position: absolute;
    left: 40px;
    bottom: -20px;
    img {
      height: 250px;
      width: 180px;
    }
  }

  #hero-image {
    width: 100%;
    height: 400px;
  }
}

.info-pane {
  margin-top: 15px;
  margin-bottom: 15px;
  img {
    height: 100px;
    width: 100px;
    padding: 5px;
  }

  header {
    line-height: 36px;
    font-size: 20px;
    text-align: center;
    color: white;
    background: $normal-dark;
  }

  section {
    color: #333;
    background-color: white!important;
    border: 1px solid $flag-light;
  }

  footer {
    a {
      color: white;
    }
    background: $dark-normal;
    text-align: center;
  }
}
