.danebook-navbar{
	background-color: #2B78E4;
	border-radius: 0;
	border-bottom: 2px solid black;
}

.danebook-navbar-logo{
	height:100px;
}

#danebook-logo{
	color: white;
	font-size:52px;
	line-height:70px;
}

.connect-list-reasons{
	margin-top: 25px;
}

.connect-list-reasons li{
	margin-top: 15px;
}

.named-form {
	font-weight: bold;
	color: white;
	margin-top:5px;
}

.naming-form input{
	width: 100%;
}

.naming-form-left input{
	width: 100%;
	float: right;
}

.input-form input{
	width: 100%
}

.sign-in-button {
	background-color: #9EC4F7;
	margin-top: 35px;
}

#sign-up-forms div{
	margin-top: 5px;
	margin-bottom:5px;
}

.sign-up-button{
	width:100%
}

#collapse-button {
	border: 1px solid black;
}

.gender-container {
	margin-left: 5px;
}

.navbar-header button {
	margin-top:30px;
}