.homepage{
	.navbar{
	  background: -webkit-linear-gradient(#4C67A1, #3B5998);
	  background: -o-linear-gradient(#4C67A1, #3B5998); 
	  background: -moz-linear-gradient(#4C67A1, #3B5998);
	  background: linear-gradient(#4C67A1, #3B5998); 
	  height: 100px;
	  }

	.navbar-header {
	  navbar-brand{
	    margin-left: 35px;
	  }
	  a{
	    color: #fff;
	    font-size: 3em;
	    line-height: 60px;
	  }
	}
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand{
	  margin-left: 10px;
	}
	label {
	    display:block;
	}

	.inline-form{
	  margin-top: 15px;
	  line-height: 5px;
	  color: #fff;
	}
	.inline-form > button{
	  	margin-top: 1.1em;
	}
	.test{
		margin-top: 100px;
	}
}