#home {
  .navbar {
    color: white;
    background-color: #2B78E4!important;
    .navbar-brand {
      font-size: 2.0em;
      color: white!important;
    }
    .navbar-toggle {
      .icon-bar {
        background-color: #FFF;
      }
    }
    form>div {
      margin: 0;
    }
    button {
      font-size: 0.8em;
    }
  }

  .home-page-left {
    padding-top: 150px;
    font-size: 1.2em;
    @media(max-width:992px) {
      display: none;
    }
  }

  .sign-up-form {
    padding-top: 100px;
    @media(max-width:992px) {
      padding-top: 50px;
    }

    .textfield {
      width: 100%;
    }

    #first-name {
      margin-bottom: 10px;
      @media(min-width:992px) {
        margin-bottom: 0;
      }
    }

    h4 {
      margin: 5px 0 0;
    }

    button {
      width: 100%;
      height: 3em;
      font-size: 1.5em;
    }
  }

  form>div {
    margin: 10px 0;
  }
}