// Place all the styles related to the Newsfeeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#newsfeed {
  .media {
    padding-top: 8px;

    .media-heading {
      margin-top: 8px;
    }

    .pull-left {
      padding-right: 6px;
    }
  }
}