// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-form {
  .col-md-12 {
    text-align: center;
  }
}

.user-header {
  img {
    max-height: 50px;
    max-width: 50px;
  }
}