// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .new-photo {
//   position: fixed;
//   left:0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.7);
// }


.photo-show-page {
  .show-picture {
    width: 100%;
    height: auto;
  }
  .avatar {
    margin: 10px 0;
    margin-right: 10px;
    img {
      width: 50px;
      height: auto;
    }
  }
}

.post-avatar {
  img {
    width: 50px;
    height: auto;
  }
}

.photos-page {
  .show-image-thumb {
    width: 100%;
    height: auto;
  }
}
