// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.show-photo {
  margin-top: 15px;
  margin-bottom: 15px;
  img {
    padding: 5px;
    width: 100%;
    background: white;
    border: 1px solid $flag-darker;
  }
}