main.photos {
  .photo-container {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background:url('icon_photo_small.png') no-repeat;
    position: relative;
    .annotation {
      width: 150px;
      height: 0;
      background-color: #666;
      font-size: 12px;
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      text-align: center;
      -webkit-transition: height 0.5s;
      transition: height 0.5s;
    }

  }
  .photo-container:hover {
    .annotation {
      height: 24px;
    }
  }
}
