$main-border: 1px solid black;
$quarter-width: 25%;
$whitetext: #fff;
$primary-color: #066DEE;
$main-action: #00A600;
$light-grey: #DDDDDD;
$darker-grey: #666;

/*
  profile header and links section styles
*/

.top-main-section {
	height: 460px;
  width: 100%;
}

#cover-photo {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


.timeline-links {
	text-align: center;
	table-layout: fixed;
  td {
    vertical-align: middle;
  	padding: 20px 10px;
  }
}

.empty {
  width: 20%;
}

.edit-profile-link {
  text-align: right;
	vertical-align: middle;
  width: 35%;
}

.link {
  color: black;
  &:hover {
    color: blue;
  }
}

.timeline-link:hover,
.about-link:hover,
.photos-link:hover,
.friends-link:hover {
    background: $light-grey;
}


.link-background {
  background: $light-grey;
}

#cover-photo {
	margin-top: 60px;
}

.name-pic-block {
	position: relative;
	top: -240px;
	left: 20px;
	width: 400px;
	height: 200px;
	z-index: 1;
}

#profile-name {
	height: 80px;
	vertical-align: bottom;
	margin-left: 10px;
	font-size: 35px;
}
