// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.about-section {
  background-color:white;
  margin-bottom:20px;
  border: 1px solid #DCDCDC;
}


.photo-section {
  background-color:white;
  margin-bottom:20px;
  border: 1px solid #DCDCDC;
}

.friend-section {
  background-color:white;
  border: 1px solid #DCDCDC;
}

.post-section {
  background-color:white;
  border: 1px solid #DCDCDC; 
}
