// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.edit-profile-text-box {
	width:80%;
	height:100px;
}

.edit-profile-button {
	width:400px;
	height:50px;
	margin:20px;
}