
// Main content custom styles

.container {
  max-width: 846px; //applies to navbar as well
  //margin-top: 52px; // variable?
}


#user-photo {
  object-fit: cover;
  object-position: top;
  border: 1px solid #CCC;
  background-color: #FFF;
}


// Common styles for pages other than Home

#about, #edit-about, #timeline, #friends, #photos, #newsfeed {
  margin-top: 20px;

  h1 {
    font-size: 28px;
  }

  h1, h3 {
    font-weight: bold;
  }

  dl * {
    height: 30px;
    margin-bottom: 4px;
  }

  dt {
    text-align: left;
    width: 120px;
  }

  dd {
    width: 180px;
    margin-left: 140px;
  }

}




// Header styles
.cover-photo-row {
  /* background-size: cover; */
  background: no-repeat center;
  background-size: contain;

  .cover-box:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .cover-box {
    height: 263px;

    .spacer {
      height: 263px - 69px;
    }

    .user-name {
      color: #000;
      padding-left: 170px;

      h1 {
        font-weight: bold;
      }
    }
  }
}


.page-links-row {


  #user-photo {
    margin: 16px;
    position: relative;
    top: -130px;
  }


  .nav {
    outline: 1px solid #ddd;

    li {
      outline: 1px solid #ddd;
      max-height: 42px;
    }

    a {
      color: #333;
      font-weight: bold;
    }

    .pull-right {
      outline: none;
    }
  }
}






.buffer-top {
    margin-top: 30px;
}

.field_with_errors {
  input {
    border-color: #FF4040;
  }
}

.error-message {
  color: #FF2020;
}


