body {
  background-color: #edf0f5!important;
}


 .container .row .danebook-button {
  background: linear-gradient(#4C67A1, #3B5998);
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 2px #333;
  border: 1px solid #3B5998;
  border-radius: 2px;
}


 .container .row .danebook-button-grey {
  background: #d4d6d9;
  color: #646869;
  font-weight: bold;
  box-shadow: 2px 2px 2px #444;
  border: 1px solid #646668;
  border-radius: 2px;
  text-decoration: none;
}


 .container .row .danebook-button-outlines {
  font-weight: bold;
  box-shadow: 2px 2px 2px #444;
  border: 1px solid #646668;
  border-radius: 2px;
}

section.container a {
  text-decoration: underline;
}






#top-navbar {
  background: linear-gradient(#4C67A1, #3B5998);
  border: 1px solid #21346B;
  border-radius: 0;
  box-shadow: 0px 2px 2px #B9BABB;
  color: #fff;

  a.navbar-brand {
    font-size: 28px;
    color: #fff;
  }


  #navbar-user-links {

    a {
      color: #ecedee;
    }

    #navbar-username {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
  }

  .icon-bar {
    background-color: #fff;
  }

  #nav-search-bar {
    min-width: 350px;
    width: 100%;
    margin: 0 0 0 50px;
  }

}



.btn-unfriend {
  background: #b4b6b9;
  color: #666869;
  font-weight: bold;
  box-shadow: 3px 3px 3px black;
  border: 1px solid #666869;
  border-radius: 0;
  width: 120px;

}

