@import "theme_and_colors";

body {
  background-color: $brand-background;
}

.top-row {
  margin-top: 20px;
}

section {
  padding: 2% 5%;
}

article {
  background-color: white;
  border: $border;
  margin-bottom: 20px;
  border-radius: $corner;
  header {
    color: $brand-color;
    border-bottom: $border;
    border-radius: $corner $corner 0px 0px;
    background-color: $brand-secondary-bg;
    padding: $padding;
    font-size: 12px;
    line-height: 15px;
  } /* header */
}

footer {
  font-size: 0.75em;
  clear: both;
  overflow: auto;
  background-color: $brand-secondary-bg;
  padding: $padding;
}

/* --------------- Alignment --------------- */

.right {
  float: right;
} /* .right */


/* --------------- Forms --------------- */

input[type=submit] {
  margin-top: 20px;
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  border: 1px solid red;
}
.error-message {
  color: red;
}

