body {
  background-color: #edf0f5!important;
}


 .container .row .danebook-button {
  background: linear-gradient(#4C67A1, #3B5998);
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 2px #333;
  border: 1px solid #3B5998;
  border-radius: 2px;
}


 .container .row .danebook-button-grey {
  background: #d4d6d9;
  color: #646869;
  font-weight: bold;
  box-shadow: 2px 2px 2px #444;
  border: 1px solid #646668;
  border-radius: 2px;
  text-decoration: none;
}


 .container .row .danebook-button-outlines {
  font-weight: bold;
  box-shadow: 2px 2px 2px #444;
  border: 1px solid #646668;
  border-radius: 2px;
}

#login-navbar {

    background: linear-gradient(#4C67A1, #3B5998);
    color: #fff;
    border-bottom: 3px solid #559;
    min-height: 96px;
    padding-top: 20px;


    .container-fluid {

      .navbar-header {

        a {

          color: #fff;
          font-size: 36px;
          line-height: 48px;

        }
      }

    }

    // eg. hello form
    .form-group {

      padding: 10px 20px;

    }
}


#login-main {
  input, select, option {
      margin-bottom: 8px;
  }
  li {
    font-size: 18px;
  }
}

/* END SIGNUP PAGE STUFF */

section.container a {
  text-decoration: underline;
}

#profile-nav {

  .nav-tabs {
    border-bottom: 0;
  }

  background-color: #fff;
  border-bottom: 1px solid #d4d6d9;
  border-right: 1px solid #d4d6d9;
  border-left: 1px solid #d4d6d9;
  border-radius: 0 0 4px 4px;

  .col-sm-2 {
    a {
      text-decoration: underline;
    }
  }
}

#top-navbar {
  background: linear-gradient(#4C67A1, #3B5998);
  border: 1px solid #21346B;
  border-radius: 0;
  box-shadow: 0px 2px 2px #B9BABB;
  color: #fff;

  a.navbar-brand {
    font-size: 28px;
    color: #fff;
  }


  #navbar-user-links {

    a {
      color: #ecedee;
    }

    #navbar-username {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
  }

  .icon-bar {
    background-color: #fff;
  }

  #nav-search-bar {
    min-width: 400px;
    // width: 100%;
    margin: 0 0 0 50px;
  }


  #bs-example-navbar-collapse-1 {
    text-align: center;
  }
}

#cover-photo {
  background-color: #999;
  min-width: 960px;
  opacity: 0.5;
  border: 1px solid #444649;
  overflow: hidden;

  img {
    width: 100%;
    max-height: 450px;
  }
}

#profile-image {
  position: absolute;
  bottom: 20px;
  left: 20px;
  img {
    border: 1px solid #949699;
  }
  .user-headline {
    position: relative;
    bottom: -10px;
    left: 0px;

    .name-header {
      color: #fff;
      text-shadow:
       -1px -1px 0 #aaf,
       1px -1px 0 #aaf,
       -1px 1px 0 #aaf,
       1px 1px 0 #aaf;
    }
  }
}

#cover {
  position: relative;
  margin-top: -20px;

}

#profile-nav{
  border: 1px solid 444649;

  .link-count {
    color: #777;
  }

  li.active {
    a {
      background-color: #ccc;
      margin-right: 0;
    }
  }
}



#recent-friends {

  border-right: 1px solid #d4d6d8;

  h4 {
    margin-bottom: 25px;
  }

  .recently-active-user {
    margin: 10px 0px;
  }
}




#information-pane {

  z-index: 5;
  background-color: #fff;
  min-height: 400px;
  border: 1px solid #555;
  margin: 20px auto 50px auto;
  padding-bottom: 50px;
  border-radius: 6px;
  overflow: hidden;

  header {
    text-align: center;
    border-bottom: 1px solid #888;
    margin-bottom: 30px;
    background-color: #e4e6e9;
    z-index: 6;

    h2 {
      margin-top: 0;
    }

    .about-header {
      padding-top: 15px;
    }

  }

  .about-table {
    td {
      border: 0;

      &:first-child {
        width: 150px;
        font-weight: bold;
        padding-left: 0;
      }
    }
  }
}

#edit-profile-button {
    background: linear-gradient(#4C67A1, #3B5998);
    color: white;
    box-shadow: 3px 3px 3px black;
    border: 1px solid #3B5998;
    border-radius: 0;
    margin-top: 10px;
}

#timeline {
  margin-top: 15px;

  h5 {
    font-weight: bold;
    margin-top: 0;
  }
}

#timeline-aside {
  background-color: #fff;
}

#post-form {
  text-align: center;
  border: 1px solid #c4c6c8;
  border-radius: 6px;
  background-color: #e7e9ea;
  overflow: hidden;

    > * {
      padding-top: 15px;
      // border-top: 1px solid black;
      background-color: #e7e9ea;
    }

    button {
      background: linear-gradient(#4C67A1, #3B5998);
      color: white;
      font-weight: bold;
      box-shadow: 3px 3px 3px black;
      border: 1px solid black;
      border-radius: 0;
      width: 100px;
    }
}


#save-profile {
  background: linear-gradient(#4C67A1, #3B5998);
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 3px black;
  border: 1px solid black;
  border-radius: 0;
}

#photo-field {
  margin-top: 15px;
  .photo {
    margin-top: 15px;
    margin-bottom: 15px;
    img {
      border: 1px solid #646669;
    }

    .photo-link:hover + .photo-upload-date {
      display: block;
    }

  }

}

.photo-upload-date {
  position: absolute;
  text-align: center;
  z-index: 1000000;
  bottom: 0;
  width: 262px;
  height: 30px;
  color: white;
  background-color: #444;
  display: none;
  opacity: .5;
  border-top: 1px solid black;
  font-weight: bold;
}

.btn-unfriend {
  background: #b4b6b9;
  color: #666869;
  font-weight: bold;
  box-shadow: 3px 3px 3px black;
  border: 1px solid #666869;
  border-radius: 0;
  width: 120px;

}

#friends-list {

  .friend-list-entry {

    height: 150px;
    padding-top: 25px;

    img {
      border: 1px solid #b4b6b9;
    }

    .row {
      margin: 15px;
      padding: 15px;
      border: 1px solid #b4b6b9;
      border-radius: 6px;
    }

    .col-sm-5 {
      padding-top: 20px;
    }

    .col-sm-4 {
      padding-top: 30px;
    }

  }
}


#details {
  & > * {
    border: 1px solid #949699;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
  }

  .about-table {
    td {
      border: 0;

      &:first-child {
        font-weight: bold;
      }
    }
  }

  header {
    text-align: center;
    border-bottom: 1px solid #b4b6b9;
    background-color: #f4f5f7;
  }
}

#timeline-photos {
  text-align: center;
  padding-bottom: 15px;
  margin-top: 15px;
  .photo {
    padding-top: 15px;
    padding-bottom: 5px;
    img {
      width: 100px;
      height: 100px;
      border: 1px solid #c4c6c9;
    }
  }
}

#timeline-friends {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 15px;

  .friend {
    padding-top: 15px;
    padding-bottom: 5px;
    img {
      width: 100px;
      height: 100px;
      border: 1px solid #949699;
    }
  }
}

.photo-show-img {
  border: 1px solid #a4a6a9;
}


#post-feed {

  margin-bottom: 30px;


  p {
    padding-bottom: 15px;
  }

  & > article {
    border: 1px solid #c4c6c9;
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 15px;
    padding-top: 15px;

    .post-body {
      padding-top: 15px;
    }

    img {
      height:100%;
      width: 100%;
      border: 1px solid #949699;
    }

    .date-posted {
      color: #aaa;
    }
  }

  .like-section {
    border-top: 1px solid #e4e6e9;
    background-color: #fff;
    padding-bottom: 15px;

    & > * {
      padding-top: 15px;
    }

    span {
      color: #999;
    }
  }

  .comment-button {
    background: linear-gradient(#4C67A1, #3B5998);
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 3px black;
    border: 1px solid black;
    border-radius: 0;
  }
  .comment-section {
    border-top: 1px solid #d4d6d9;
    background-color: #f4f5f7;

    article {
      padding-top: 15px;

      span {
        color: #999;
      }
    }

    // requires JS to display
    .comment-form {
      display: none;
    }


    form {
      .form-group {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      textarea {
        border: 1px solid #777;
      }
    }



  }
}


@media (max-width: 993px) {
  .friend-list-entry {
    margin-bottom: 70px;
  }
}