// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$header-color: #2b78e4;
$body-color: #e9ebee;
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin background-size($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    -ms-background-size: $size;
    background-size: $size;
}

#static_pages {
    body {
        font-family: 'Open Sans', helvetica, arial, sans-serif;
        padding-top: 50px;
        font-size: 16px;
    }
    /*
  ----------------------------------------------
  	Navbar
  ----------------------------------------------
  */
    nav {
        background-color: #2b78e4;
        .dropdown * {
            background-color: #2b78e4;
            background-image: none;
            border: none;
        }
        .nav .open > a:focus,
        .nav .open > a:hover,
        .nav > li > a:focus,
        .nav > li > a:hover,
        .open > a {
            background-color: #2b78e4;
        }
        .navbar-brand {
            padding-top: 7px;
        }
        .navbar-toggle {
            border: 1px solid white;
        }
        .icon-bar {
            background-color: white;
        }
        input {
            padding-left: 5px;
            min-height: 34px;
        }
        a {
            color: white;
        }
        a.dropdown-toggle {
            padding-top: 10px;
            padding-bottom: 5px;
        }
        span {
            font-size: 0.8em;
        }
    }
    #logo {
        display: inline-block;
        max-height: 34px;
        padding: 0;
        margin-right: 5px;
        @include border-radius(50%);
        vertical-align: middle;
    }
    #brand-name {
        line-height: 40px;
        font-size: 28px;
        vertical-align: middle;
        color: white;
        font-weight: 300;
    }
    #username {
        font-size: 20px;
        color: white;
        letter-spacing: 2.5px;
        line-height: 34px;
        padding: 0 10px;
    }
    #search-wrapper {
        min-height: 100%;
        margin-left: 10px;
    }
    /*
  ----------------------------------------------
  	Banner Photos and name
  ----------------------------------------------
  */
    #cover-photo {
        overflow: hidden;
        min-height: 450px;
        border: 1px solid black;
        background-position: center center;
        @include background-size(cover);
    }
    #profile-pic {
        height: 160px;
        min-height: 160px;
        width: 160px;
        min-width: 160px;
        background-color: #fff;
        border: 4px solid #fff;
        @include border-radius(2px);
        position: relative;
        bottom: 25px;
        z-index: 1001;
        @media only screen and (max-width: 396px) {
            height: 130px;
            min-height: 130;
            width: 130px;
            min-width: 130px;
            max-height: 130px;
            max-width: 130px;
        }
        @media only screen and (max-width: 641px) {
            bottom: 60px;
        }
    }
    .username {
        position: absolute;
        top: 350px;
        a,
        img {
            display: inline-block;
        }
        #user-name-and-link {
            display: inline-block;
            h1 {
                display: inline-block;
                color: white;
                line-height: 30px;
                font-size: 24px;
                font-weight: 500;
                margin: 0 0 5px 5px;
                @media only screen and (max-width: 396px) {
                    font-size: 20px;
                }
            }
        }
    }
    /*
  ----------------------------------------------
  	Navigation Tiles
  ----------------------------------------------
  */
    #link-bar {
        background-color: white;
        padding-left: 190px;
        height: 43px;
        min-height: 43px;
        * {
            border: none;
        }
        a {
            color: #365899;
            font-weight: bold;
            padding-top: 0;
            padding-botttom: 0;
            height: 43px;
            min-height: 43px;
            line-height: 43px;
        }
        li {
            border-right: 1px solid $body-color;
            height: 43px;
            min-height: 43px;
            .sm-gray {
                margin-left: 4px;
                font-size: 0.7em;
                color: #89919c;
            }
            @media only screen and (max-width: 350px) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        li:first-child {
            border-left: 1px solid $body-color;
        }
        li.active {
            * {
                color: #4b4f56;
            }
        }
        a {
            @media only screen and (max-width: 350px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
        #edit-profile-link {
            padding-right: 15px;
            @media only screen and (max-width: 437px) {
                display: none;
            }
        }
        @media only screen and (max-width: 641px) {
            padding-left: 0;
        }
        @media only screen and (max-width: 396px) {
            a {
                font-size: 14px;
            }
        }
    }
    /*----------------------------------------------
  	Common Section Header Styling
  ---------------------------------------------- */
    .section-container {
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: white;
        @include border-radius(2px);
        z-index: 10;
        textarea {
            min-width: 100%;
            min-height: 60px;
            resize: none;
        }

        .about-content {
          padding-top: 5px;
        }
    }
    .section-header {
        h4 {
            line-height: 22px;
        }
        .edit-btn {
            margin: 20px 0 10px 0;
        }
        a {
            background-image: none;
        }
    }
    .content-id {
        font-weight: bold;
        margin-bottom: 20px;
    }
    .section-content {
        padding: 20px;
    }
    /*
  ----------------------------------------------
  	About Edit Page Styling
  ----------------------------------------------
  */
    #save-change-wrapper {
        margin-top: 40px;
        margin-bottom: 50px;
        a {
            background-image: none;
            letter-spacing: 2.5px;
        }
    }
    /*
  ----------------------------------------------
  	Friends Page Styling
  ----------------------------------------------
  */
    .content-left {
        @media only screen and (min-width: 768px) {
            padding-right: 25px;
        }
    }
    .content-right {
        @media only screen and (min-width: 768px) {
            padding-left: 25px;
        }
    }
    .friend-wrapper {
        border: 1px solid $body-color;
        padding: 5px;
        margin-bottom: 25px;
        .friend-name-wrapper {
            margin: 3.5em 0;
            padding-left: 0;
        }
        a,
        p {
            font-size: 16px;
            line-height: 20px;
        }
        a {
            text-decoration: underline;
        }
        p {
            margin-bottom: 0;
            color: #8e898f;
        }
    }
    .unfriend-btn {
        font-size: 1em;
        background-color: #ddd;
        background-image: none;
        margin-top: 3.5em;
        margin-bottom: 0.5em;
    }
    .friend-img {
        vertical-align: middle;
        min-height: 100%;
        max-height: 185px;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        overflow:hidden;
    }

    .friend-preview-img {
      min-height: 150px;
    }
    .friend-prev-name {
      margin-top: 5px;
      margin-bottom: 5px !important;
    }

    figure, figure a {
      padding: 0;
      height: 185px;
      min-height: 185px;
      width: 100%;
      min-width: 100%;
      background-color: $body-color;
      vertical-align: middle;
    }

    .photo-show{
      background-color: none;
      max-height: 100%;
      height: auto;
      width: auto;
      max-width: 100%;
    }

    .show-img {
      min-height: 100%;
      max-height: 100%;
      // width: 100%;
      min-width: 100%;
      max-width: 100%;
      overflow: none;
    }

    .pic-select {
      display: inline-block;

    }
    /*
  ----------------------------------------------
  	Photos Page Styling
  ----------------------------------------------
  */
    .photo-container {
        margin-top: 30px;
        text-align: center;
    }
    .photo-container:last-child {
        margin-bottom: 30px;
    }
    .show-pic-tainer {
      margin-top: 15px;
      text-align: center;
      margin-bottom: 15px;
    }
    .photo-wrapper {
        display: block;
    }
    .photo-date {
        width: 90%;
        font-size: 14px;
        line-height: 30px;
        @media only screen and (max-width: 767px) {
            font-size: 12px;
        }
        background-color: #828282;
        color: #eee;
        position: absolute;
        bottom: 0;
        visibility: hidden;
    }
    .photo-container:hover .photo-date {
        visibility: visible;
        z-index: 1000;
    }

    /*
  ----------------------------------------------
  	Timeline Page Styling
  ----------------------------------------------
  */


    .new-post{
      display: inline-block;
    }

    .post-block {
        margin-top: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: none;
        border-top: 1px solid $body-color;
        input {
          background-color: #365899;
        }
    }

    .post-body {
      border-bottom: 1px solid $body-color;
    }

    .post-pic {
        max-height: 60px;
        max-width: 60px;
        display: inline-block;
    }

    .post-wrapper {
        padding-top: 5px;
        padding-bottom: 5px;
        p {
            margin-bottom: 0;
            font-size: 16px;
        }
        .friend-name-wrapper {
            padding-top: 5px;
            margin-left: 15px;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                margin-left: 30px;
            }
        }
        form.button_to {
            display: inline-block !important;
            line-height: 28px;
            text-decoration: none;
            color: #337ab7;
            margin-bottom: -15px;
        }
        .friend-name:first-child {
            margin-right: 10px;
        }
        .post-content {
            margin-bottom: 10px;
        }
        .commenter-info {
            margin-bottom: 15px;

            a.commenter-name{
              margin-right: 5px;
            }
        }
    }

    .comment-block {
      margin-bottom: 10px;
    }

    .no-right-padding {
      padding-right: 0;
    }

    .new-comment-input {
        margin: 10px auto;
    }
    .button_to,
    .friend-name,
    .liker-name {
        line-height: 28px;
        text-decoration: underline;
    }
    .post-content {
        margin-top: 10px;
    }
    .section-footer {
        border-top: 1px solid $body-color;
        background-color: #f6f7f9;
        padding-bottom: 8px;
        h2 {
            margin-top: 10px;
        }
        .edit-btn {
            margin: 10px 0;
        }
        a {
            background-image: none;
            line-height: 22px;
        }
        p {
            line-height: 22px;
            font-size: 16px;
        }
    }
    .like-link,
    .like-listing,
    .like-listing-expanded {
        margin-top: 10px;
    }
    .commenter-name,
    .like-link {
        font-weight: bold;
        font-color: #365899;
        line-height: 22px;
    }
    .like-listing-expanded {
        margin-bottom: 10px;
        p {
            color: #6e7580;
        }
    }
    .hr-block {
        margin-bottom: 5px;
    }
    .commenter-name {
        margin: 0;
    }
    .left-gutter {
        padding-left: 50px;
        margin-bottom: 10px;
    }
    .right-gutter {
        padding-right: 25px;
    }
    .goofy-btn {
        border: none;
        background: none;
        text-decoration: none;
        line-height: 28px;
    }
    hr {
        border: 1px solid $body-color;
        z-index: 10000;
        width: 95%;
        margin: 5px auto;
    }
    .comment-btn {
        width: 100px;
        font-size: 16px;
    }
    .about-content {
        font-size: 14px;
        line-height: 18px;
        padding: 15px 25px;
        p {
            margin-bottom: 5px;
        }
    }
    .img-container {
        padding: 0 10px 10px;
        div {
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 10px;
        }
    }
    .alert {
        margin-top: 10px;
        margin-bottom: 0;
        width: 100%;
    }
}
.glyphicon {
    font-size: 1.1em;
}
.glyphicon-globe,
.glyphicon-thumbs-up {
    color: $header-color;
}
.glyphicon-camera {
    color: #55a950;
}
.glyphicon-heart {
    color: #f50e6b;
}

.glyphicon-pencil{
  font-size: 1em;
  color: #fcbe11;
}
