// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* color of the main header background*/

#login-navbar {
    background: linear-gradient(#4C67A1, #3B5998);
    color: #fff;
    border-bottom: 3px solid #333;
    min-height: 96px;
    padding-top: 20px;
    .container-fluid {
      .navbar-header {

        a {
          color: #fff;
          font-size: 36px;
        }
      }
    }
}


/* square and shadowed like the mockup */
form button[type="submit"] {
  border-radius: 0;
  border: 2px solid black;
  box-shadow: 3px 3px 3px black;
}

/* hack to get login submit button inline with labeled text fields*/
#login-button-column {
  height: 100%;
  position: relative;
  bottom: -24px;

  button {
    width: 100px;
    font-weight: bold;
    background-color: #9FC5F8;
  }
}

/* pixel-perfect stuff on the signup portion*/
#login-main {
    section {
        input, select, option {
            margin-bottom: 8px;
        }
    }
}

#btn-signup {
    font-weight: bold;
    margin: 15px 0 15px 0;
}

/* END SIGNUP PAGE STUFF */

section.container a {
  text-decoration: underline;
}

#profile-nav {
  .col-md-2 {
    a {
      text-decoration: underline;
    }
  }
}

#top-navbar {
  background: linear-gradient(#4C67A1, #3B5998);
  border: 1px solid #21346B;
  border-radius: 0;
  box-shadow: 0px 2px 2px #B9BABB;
  color: #fff;

  a.navbar-brand {
    font-size: 28px;
    color: #fff;
  }

  #navbar-username {
      color: #fff;
      font-size: 18px;
  }

  .icon-bar {
    background-color: #fff;
  }

  #nav-search-bar {
    min-width: 450px;
  }


  #bs-example-navbar-collapse-1 {
    text-align: center;
  }
}

#cover-photo {
  background-color: #999;
  min-width: 960px;
  opacity: 0.5;
  border: 1px solid black;
}

#profile-image {
  position: absolute;
  bottom: 20px;
  left: 20px;
  img {
    border: 1px solid black;
  }
}

#cover {
  position: relative;
  margin-top: -20px;
}

#profile-nav{
  border: 1px solid black;
  .nav-tabs {
    li {
      border: 1px solid black;
    }
  }

  .link-count {
    color: #777;
  }

  li.active {
    a {
      background-color: #ccc;
      margin-right: 0;
    }
  }
}

#information-pane {
  border: 1px solid black;
  margin: 20px auto 50px auto;
  padding-bottom: 50px;
  header {
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #ccc;

    h2 {
      margin-top: 0;
    }
    .about-header {
      padding-top: 15px;
    }
  }

  .about-table {
    td {
      border: 0;

      &:first-child {
        width: 150px;
        font-weight: bold;
        padding-left: 0;
      }
    }
  }
}

#edit-profile-button {
    background: linear-gradient(#4C67A1, #3B5998);
    color: white;
    box-shadow: 3px 3px 3px black;
    border: 1px solid black;
    border-radius: 0;
}

#timeline {
  margin-top: 15px;

  h5 {
    font-weight: bold;
    margin-top: 0;
  }
}

#post-form {
  text-align: center;
  border: 1px solid black;

    > * {
      padding-top: 15px;
      border-top: 1px solid black;
      background-color: #ccc;
    }

    button {
      background: linear-gradient(#4C67A1, #3B5998);
      color: white;
      font-weight: bold;
      box-shadow: 3px 3px 3px black;
      border: 1px solid black;
      border-radius: 0;
      width: 100px;
    }
}

#post-textarea-col {
  background-color: white;
}

#save-profile {
  background: linear-gradient(#4C67A1, #3B5998);
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 3px black;
  border: 1px solid black;
  border-radius: 0;
}

#photo-field {
  margin-top: 15px;
  .photo {
    margin-top: 15px;
    margin-bottom: 15px;
    img {
      border: 1px solid black;
      width: 262px;
      height: 262px;
    }

    .photo-link:hover + .photo-upload-date {
      display: block;
    }

  }

}

.photo-upload-date {
  position: absolute;
  text-align: center;
  z-index: 1000000;
  bottom: 0;
  width: 262px;
  height: 30px;
  color: white;
  background-color: #444;
  display: none;
  opacity: .5;
  border-top: 1px solid black;
  font-weight: bold;
}

button.btn-unfriend {
  background: #bbb;
  color: black;
  font-weight: bold;
  box-shadow: 3px 3px 3px black;
  border: 1px solid black;
  border-radius: 0;
  width: 120px;
}

#friends-list {
  .friend-list-entry {
    height: 150px;
    padding-top: 25px;
    .row {
      margin: 15px;
      padding: 15px;
      border: 1px solid black;
    }
    .col-md-5 {
      padding-top: 20px;
    }
    .col-md-4 {
      padding-top: 30px;
    }
  }
}


#details {
  & > * {
    border: 1px solid black;
  }

  .about-table {
    td {
      border: 0;

      &:first-child {
        font-weight: bold;
      }
    }
  }

  header {
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #ccc;
  }
}

#timeline-photos {
  text-align: center;
  padding-bottom: 15px;
  margin-top: 15px;
  .photo {
    padding-top: 15px;
    padding-bottom: 5px;
    img {
      width: 100px;
      height: 100px;
    }
  }
}

#timeline-friends {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 15px;

  .friend {
    padding-top: 15px;
    padding-bottom: 5px;
    img {
      width: 100px;
      height: 100px;
    }
  }
}

#post-feed {
  margin-bottom: 30px;


  & > article {
    border: 1px solid black;
    margin-top: 15px;
    padding-top: 15px;

    .post-body {
      padding-top: 15px;
    }

    img {
      height:100%;
      width: 100%;
      border: 1px solid black;
    }

    .date-posted {
      color: #aaa;
    }
  }

  .like-section {
    border-top: 1px solid black;
    background-color: #ccc;
    padding-bottom: 15px;

    & > * {
      padding-top: 15px;
    }

    span {
      color: #999;
    }
  }

  .comment-section {
    padding-bottom: 15px;
    border-top: 1px solid #999;
    background-color: #ccc;

    article {
      padding-top: 15px;

      span {
        color: #999;
      }
    }

    button {
      background: linear-gradient(#4C67A1, #3B5998);
      color: white;
      font-weight: bold;
      box-shadow: 3px 3px 3px black;
      border: 1px solid black;
      border-radius: 0;
    }

    form {
      .form-group {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      textarea {
        border: 1px solid #777;
      }
    }



  }
}


@media (max-width: 993px) {
  .friend-list-entry {
    margin-bottom: 70px;
  }
}