// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  margin-top: 100px;
}

.navbar-brand{
  font-size: 48px;
  color: white;
}

.navbar {
  background-color: #2B78E4;
}

.welcome {
  margin-top: 70px;
}

li {
  margin: 20px;
}

.form {
  margin-bottom: 10px;
}

.sign-up {
  margin-top: 5px;
}

#topnav{

  .logo-container{
    img{
      width: 40px;
      height: 40px;
      margin-top: 4px;
      margin-right: 10px;
      vertical-align: middle;
    }

    a{
      color: white;
      font-size: 28px;
    }
  }

  .search-container{
    margin-top: 8px;
  }

  .name-container{
    font-size: 16px;
    margin-top: 14px;
  }

}

.main-header{
  img{
    width: 100%;
    height: 350px;
    border: solid black 1px;
  }
  .profile{
    position: absolute;
    top: 240px;
    left: 124px;
    width: 130px;
    height: 130px;
  }
  .title-name{
    position: absolute;
    font-size: 24px;
    color: white;
    top: 308px;
    left: 264px;
  }
}

.nav-link-row{
  border: solid black 1px;

  .nav-links{
    border: solid black 1px;
    p{
      text-align: center;
      margin-top: 10px;
      color: black;
    }
  }
}

.content{
  margin-top: 10px;
  border: solid black 1px;
  .title-header{
    border: solid black 1px;
    background-color: #ccc;
  }
  .title{
    text-align: center;
    font-size: 28px;
    margin-top: 6px;
  }
  .edit-button{
    margin-top: 13px;
    margin-left: 186px;
  }

  h1{
    font-size:24px;
  }
  .data-points{
    margin-left: 36px;
  }
  .content-space{
    border: solid black 1px;
  }
  input{
    margin-top: 1px;
    width: 190px;
  }
  .save-button{
    margin-top: 46px;
    margin-bottom: 120px;
    width: 400px;
    margin-left: 282px;
  }
  .friend-row{
    border: solid black 1px;
    margin: 10px 1px;
  }
  .friend-profile{
    width: 100px;
    height:100px;
    margin: 8px -6px;
  }
  .friend-name{
    font-size: 16px;
  }
  .unfriend-button{
    border: solid black 1px;
    margin-top: 40px;
    margin-left: 20px;
  }
  .photo-preview{
    margin: 5px;
    width: 200px;
    height: 200px;
  }
}

.tl-content{
  margin-top: 10px;
  .tl-about{
    background-color: #ccc;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    p{
      text-align: center;
      margin-bottom: 3px;
    }
  }
  .section-about{
    border: solid black 1px;
    .col-xs-12{
      margin-top: 10px;
    }
    .ph-preview{
      margin: 5px;
      width: 96px;
      height: 96px;
    }
  }
  .post-title{
    margin-left: 10px;
    width: 555px;
    .tl-posts{
      background-color: #ccc;
      border-top: solid black 1px;
      border-left: solid black 1px;
      border-right: solid black 1px;
      p{
        text-align: center;
        margin-bottom: 3px;
      }
    }
    .section-posts{
      border: solid black 1px;
      .col-xs-12{
        margin-top: 10px;
      }
    }
    .section-submit{
      background-color: #ccc;
      border-bottom: solid black 1px;
      border-left: solid black 1px;
      border-right: solid black 1px;
      button{
        margin: 6px 470px;
      }
    }
    .old-post{
      margin-top: 10px;
      border-top: solid black 1px;
      border-right: solid black 1px;
      border-left: solid black 1px;
    }
    .poster-pic{
      margin: 3px -10px;
      width: 50px;
      height: 50px;
    }
    .post-content{
      padding-top: 10px;
      border-left: solid black 1px;
      border-right: solid black 1px;
    }
    .post-comment{
      border: solid black 1px;
      background-color: #ccc;
    }
    .post-comment2{
      border-top: solid black 1px;
      border-right: solid black 1px;
      border-left: solid black 1px;
      background-color: #ccc;
    }
    .post-like{
      padding-top: 10px;
      background-color: #ccc;
      border-right: solid black 1px;
      border-left: solid black 1px;
      border-bottom: solid black 1px;
    }
    .post-like2{
      padding-top: 10px;
      background-color: #ccc;
      border-right: solid black 1px;
      border-left: solid black 1px;
      border-bottom: solid gray 1px;
    }
    .poster-pic2{
      margin: 3px -2px;
      width: 50px;
      height: 50px;
    }
    .poster2{
      margin-left: 12px;
    }
    .comment-post{
      padding-top: 10px;
      background-color: #ccc;
      border-right: solid black 1px;
      border-left: solid black 1px;
    }
    .comment-like{
      background-color: #ccc;
      border-right: solid black 1px;
      border-left: solid black 1px;
    }
    .comment-next{
      background-color: #ccc;
      border-right: solid black 1px;
      border-left: solid black 1px;
    }
    .next-submit{
      background-color: #ccc;
      border-right: solid black 1px;
      border-left: solid black 1px;
      border-bottom: solid black 1px;
      padding-bottom: 20px;
    }
  }
}