// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$danebook-blue: #3385ff;

/* Homepage */

aside {
  h3 {
    font-weight: bold
  }

  li {
    font-size: 130%;
    color: gray;
  }
}

/* Navbar */

nav.navbar-default {
  background-color: $danebook-blue;
  color: #fff;

  img {
    float: left;
    margin-top: 18px;
  }

  .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
  }

  .nav-login {
    padding-top: 10px;
    padding-bottom: -10px;
  }

  //--navbar when logged in--

  //search
  input#search {
    margin-top: 8px;
    width: 100%;
  }

  //link to profile
  .navbar-username {
    color: #fff;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    font-weight: bold;
  }

  .navbar-forgot-pw {
    color: #fff;
    font-weight: bold;
  }

}

/* Hiding elements at specific breakpoints */
@media (max-width: 990px) {
 
}


// @media only screen and (min-width: 768px) and (max-width: 1024px) {
//   .nav-login {
//     display: none;
//   }
// }



.jumbotron {
  height: 300px;
  background: image-url("hogwarts_small.jpg");
  background-size: cover;
  margin: 15px -15px -15px;

  .masthead {
    height: 300px;
    // position: absolute;
    // bottom: -75;

    .headshot {
      width: 128px;
      height: 128px;
      position: relative;
      top: 100px;
      // margin-top: 2em;
      // position: absolute;
      // z-index: 1;
    }

    .masthead-name {
      color: #fff;
      position: relative;
      top: 20px;
      left: 145px;
      width: 315px;
      // top: 75;
      // right: -150;
      // position: relative;
      // z-index: 1;
    }

    .masthead-nav {
      background-color: #f2f2f2;
      position: relative;
      top: 18px;
      left: 145px;
      width: 325px;

      // top: 75;
      // position: relative;
      // right: -145;
    }

    #masthead-edit-profile {
      position: relative;
      float: right;
      top: -22px;
    }
  }

}

.panel {
  margin-top: 15px;
  
  .panel-header {
    background-color: #d9d9d9;
    margin: -15px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
  }

  .panel-content {
    background-color: #f2f2f2;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 15px;

    h2 {
      font-weight: bold;
    }
  }

  .panel-footer {
    background-color: #d9d9d9;
    margin: 0px -15px -15px -15px;
  }

  td {
    padding-bottom: 15px;
  }
}

.panel-link {
  margin: -15px;
}

.friend-box {
  text-align: center;
}

.user-tile {
  background-color: #fff;
  margin: 15px;
  border: 3px solid #d9d9d9;
  button {
    box-shadow: 5px 5px black;
  }
}

.post-header {
  background-color: #f2f2f2;
  width: 100%;
}

.photo-text {
  font-size: 1.5em;
  color: white;
  position: relative;
  bottom: 45px;
  left: 25px;
  visibility: hidden;
  margin: -15px;
}


.photo-container:hover {
  height: 221px;
  width: 256px;
  margin-bottom: 35px;
  border-bottom-width: 35px;
  border-color: black;
  border-bottom-style: solid;
  opacity: 0.4;

  .photo-text {
    visibility: visible;
  }
}

.col-vcentered {
  position: absolute;
  top: 20;

}

.col-vcentered p:first-of-type,
.comment p:first-child,
p.liked {
  color: #b3b3b3;
}

.btn-primary {
  box-shadow: 5px 5px black;
}