$navbar-bg: #3083FF;
$navbar-bd: #000;
$nav-middle-bd: #000;
$active-bg: #DBDBDB;
$icon-size: 75px;

main {padding-top: 20px;}

.navbar {
  background-color: $navbar-bg;
  border-color: $navbar-bd;
}

.form-inline .form-control {
  display: block;
  width: 100%;
}

.full-width {
  width: 100%;
}

.navbar-default {
  background-color: $navbar-bg;
  border-color: $navbar-bd;
}

.navbar-brand > img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  transform: translateY(-25%);
}

.navbar-brand {
  color: #FFF;
}

.navbar-form .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.profile {
  background: url('hogwarts_small.jpg') no-repeat scroll 0px 100% cover transparent;
  min-height: 500px;
}

.bottom-aligned-image {
  position: absolute;
  bottom: -15px;
}

#friending-button {
  position: absolute;
  bottom: 15%;
  left: 25%;
}

.nav-middle {
  border: 1px solid #000;
}

.active {
  background-color: $active-bg;
}

.panel{
  border: 1px solid #000;
}

.sub-heading {
  font-size: 200%;
  font-weight: 600;
}

.main-heading {
  font-size: 300%;
  text-align: center;
}

.block-heading {
  font-weight: 600;
  text-align: center;
}

.table {
  border-color: red;
}

.icon {
  width: $icon-size;
  height: $icon-size;
}

.fillp {
  height: 100%;
}

.fillwidth {
  width: 100%;
  height: auto;
}