@charset "UTF-8";
hr {
  height: 1px;
  width: 90%;
  background-color: #d9d9d9; }

.commment-background {
  background-color: #d9d9d9; }

.dd-dt-style {
  margin-top: 0.5em;
  text-align: left; }

.logo-container img {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  vertical-align: middle; }

.nav-personal-link {
  margin-top: 1em;
  color: white; }

.nav-personal-link:link {
  text-decoration: underline; }

body {
  font-szie: 10px; }

.search-bar {
  width: 400px; }

.btn-edit-profile {
  margin-top: -3px;
  background-color: #336699; }

.photo-ref {
  width: 100%;
  height: 150px;
  position: relative; }

.my-photo {
  width: 100%;
  height: 100%; }

[class*='photo-caption'] {
  display: none;
  position: absolute;
  top: 80%;
  left: 20%;
  background-color: gray; }

.photo-ref:hover > [class*='photo-caption'] {
  display: block; }

​
.panel-container {
  height: 40px; }

.panel-style {
  text-align: center;
  background-color: #F0F0F0;
  height: 100%; }

.panel-body-style {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  height: 100%; }

.container-border {
  border: 1px solid #bfbfbf; }

.post-button {
  margin-left: 75%; }

.comment-button {
  margin-left: 75%; }

.page-type {
  margin-top: 8px; }

.list-group-horizontal {
  margin: 0;
  margin-left: 175px; }

.navigation-list {
  margin: 0; }

.row.no-pad {
  margin-right: 0;
  margin-left: 0; }

.row.no-pad > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.list-group-horizontal .list-group-item {
  display: inline-block; }

.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-right: 0;
  margin-left: -4px;
  border-collapse: collapse; }

.list-group-horizontal #empty-list-group-item:empty {
  display: none;
  width: 150px; }

.cover-image {
  width: 100%;
  height: 100%; }

.friend-photos {
  width: 120px;
  height: 120px; }

.image-container {
  width: 100%;
  height: 180px;
  position: relative;
  display: block;
  padding: 0 !important;
  margin: 0; }

.profile_name { 
   position: absolute; 
   top: 130px; 
   left: 170px; 
   color: white; 
}

.navbar-outer {
  width: 100%;
  margin: auto; }

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center; }

img {
  width: 130px;
  height: 130px; }

.smallest-photos {
  width: 80px;
  height: 80px; }


#profile-image {
  position: absolute;
  bottom: -40px;
  left: 10px;
  width: 150px;
  height: 150px; }

.navbar-default .navbar-brand {
  color: white;
  vertical-align: center;
  font-size: 1.5em; }

#search-navbar {
  background-color: #336699; }
  #search-navbar .highlighted-btn {
    margin-top: 25%;
    margin-left: 1em;
    margin-right: 2em; }
    #search-navbar .highlighted-btn a {
      color: black; }
      #search-navbar .highlighted-btn a:hover {
        color: #eee; }
    #search-navbar .highlighted-btn:active {
      background-color: #085394; }

h3 {
  margin: .5em 0;
  text-align: center; }

.navbar-default {
  color: #fff; }

.signup-field {
  margin-top: 10px; }

.col-centered {
  float: none;
  margin: 0 auto; }

.basic-margin {
  margin: 4px; }

.tiny-font {
  font-size: 0.75em; }

.reduced-font {
  font-size: 0.85em; }

.slightly-reduced-font {
  font-size: 0.90em; }

.regular-font {
  font-size: 1em; }

.center-friend-info {
  margin-top: 30%;
  margin-left: 30%; }

.center-unfriend {
  margin-top: 30%; }

save-changes-btn {
  width: 70%;
  margin-left: 15%; }

/*# sourceMappingURL=styles.css.map */
