

.form-control{
}
#cover-photo{
  border: 2px solid black;
  padding-right: 0;
  padding-left: 0;
  .img-responsive{
    width: 100%;
    height: 307px;
    position: relative;
    z-index: 0;
  }
  
}

#remember-me{
  display: inline-block
}

#profile-picture{
  height: 150px;
  position: relative;
  overflow: hidden;
  background-color: #ccc;
  z-index: 4;
  img{
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
  }
  margin-top: -135px;
  margin-left: 5%;
  margin-bottom: -5%;
  border: solid black 2px;
  
  
}


.profile-name{
  margin-top: -67px;
  margin-left: 25%;
  h2{
    display: inline-block; 
    border-bottom: -2px;
    color: white;
    
  }
  
}




.navbar{
  border: 2px solid black;
  background-color: #2D77E2;
  .navbar-brand{
    color: white;
    margin-right: -10px;
  }
  a{
    color: white;

  }
  
  
}

.btn-primary{
  background-color: #2D77E2;
}

a{
  color: #2D77E2;
}



#navbar-profile-link{
  text-align: right;
  padding-top: 8px;
  padding-top: 8px;
}

#edit-profile-link{
  text-align: right;
}

#profile-tabs{
  border: 2px solid black;
  border-top: 0px;
}

#single-profile-tab{
  border-right: 2px solid black;
  text-align: center;
}

#single-profile-tab-current{
  background-color: #ccc;
  border-right: 2px solid black;
  text-align: center;
}

#single-profile-tab:first-of-type{
  border-left: 2px solid black;
}

#edit-profile-tab{
  border-right: 0px solid black;
  h6{
    text-align: center;
  }
}

@media (max-width:768px){
  #single-profile-tab{
    border: 0px;
    h6{
      font-size: 16px;
    }
  }
  #single-profile-tab:first-of-type{
    border: 0px;
    h6{
      font-size: 16px;
    }
  }
  #single-profile-tab-current{
    border: 0px;
    h6{
      font-size: 16px;
      line-height: 30px;
    }

  }
  #edit-profile-tab{
    h6{
      font-size: 16px;
    }
  }
  #profile-picture{
    margin-top: -220px;
    position: relative;
    overflow: hidden;
    border: 3px solid black;
    margin-left: 8%;
    img{
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
    h2{
      padding-left: 20px;
      display: block;
      color: white;
      text-align: center;
    }
  }

}
@media (min-width: 769px) and (max-width: 990px){
  #profile-picture{
    margin-top: -220px;
    margin-left: 8%;
    img{
      display: block;
      margin: auto;
    }
    h2{
      display: block;
      color: white;
      text-align: center;

    }
  }
}



#header-bar{
  text-align: center;  
  margin-top: 10px;
  border: 2px solid black;
  background-color: #ccc;
  a{
    float: right;
    display: inline-block;
    margin-top: -42px;
    margin-bottom: 5px;
  }
  h2{
    margin-top: 5px;
  }
}

#basic{
  border: 2px solid black;
  border-top: 0px;
}

#profile-picture-form {
  display: inline-block;
}

#profile-picture-image{
  display: inline-block;
}

#profile-names{
  display: inline-block;
  margin-top: -250px;
  margin-left: 25%;
  z-index: 5;
}
