.timeline {
  margin-top: 20px; }

.post-control {
  border: 1px solid black;
  margin-top: 10px;}

.post-topbar {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 5px; }

.post-bottombar {
  border-top: 1px solid black;
  height: 45px;
  margin-top: 5px; }

.post-bottombar button {
  margin-top: 5px;
  height: 35px;
  width: 100%;
  line-height: 10px; }

.timeline-post {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.timeline-post img {
  margin-top:15px;
  width: 42px;
  height: 42px; }

.timeline-post-bottombar {
  height: 15px;
  border-top: 1px solid black; }

.timeline-post-content img, .timeline-post-content div {
  float: left; }

.timeline-post-comment{
  padding-top: 20px;
  width: 98%;
  margin-left: 1%;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

.timeline-comment-box{
  margin-top:20px;
  margin-bottom:10px;
}

.timeline-comment-button{
  margin-bottom:10px;
}

.timeline-photos img{
  width:100%;
  height:100%;
}