// Place all the styles related to the timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.word-wrap {
  display:block;
  width:100%;
  word-wrap:break-word;
}