// Place all the styles related to the Timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsfeed-container {
  margin-top: 50px;
  .profile-img {
		height: 100px;
		width: 100px;
		border: 1px solid black;
    margin: 15px 0;
	}
  .newsfeed-name {
    margin-left: 20px;
  }
}
