// common stylings
$main-border: 1px solid black;
$primary-color: #066DEE;

/*
 timeline page styles
*/

.photos-copied-text-area {
  img {
    margin: 5px 18px;
  }
}

.post-copied {
  h3 {
    margin-bottom: 0px;
  }
}

.outer-post-area {
  border-left: $main-border;
  border-right: $main-border;
  padding: 10px;
}

.post-area {
  margin-top: 20px;
  border: $main-border;
  border-bottom: none;
  padding: 10px;
  img {
    float: left;
  }
  p {
    margin-left: 10px;
  }
}

.author-thumbnail {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  p {
    display: inline-block;
    padding: 0px 10px 10px 10px;
  }
}

.post-body {
  margin-top: 20px;
}

.post-links-area {
  border-top: 1px solid black;
  background-color: aaa;
  a {
    padding: 5px;
    display: inline-block;
    &:last-child {
      float: right;
    }
  }
}

.submit-post-button,
.submit-comment-button {
  color: white;
  background-color: $primary-color;
}

.submit-post-button {
  margin: 1em;
}

.make-new-post {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.more-link {
  margin: 5px;
}

.more-link,
.about-text-area,
.find-friends-link {
  text-align: center;
}
