@import 'theme_and_colors';


article.timeline-article {
  header {
    background-color: transparent;
    border: 0;
    p {margin: 0;}
    .image-container {
      float: left;
      margin-right: 10px;
      height: $thumbnail-pic;
      width: $thumbnail-pic;
      background-color: $brand-background;
      img {width: 100%;}
    } /* .image-container */
    .posted {
      color: gray;
    } /* .posted */
  }

  section.activity-body {
    img { width: 100%; }
    p {
      font-size: 0.8em;
      margin: 0;
    }
  }

  footer {
    a {color: $brand-color;}
    .right-side-links {
      text-align: right;
      float: right;
      margin-left: 15px;
    } /* .links */
    .likes {
      color: gray;
    } /* .likes */
    .comments {
      clear: both;
      border-top: $border;
      padding-top: $padding;
      .comment {
        margin-bottom: 20px;
        overflow: auto;
        border-bottom: $border;
      }
    } /* .comments */

  }
} /* article.timeline-article */

.status-box {
  color: $brand-secondary;
  .post-form {
    textarea  {
      margin: 0px;
      width: 100%;
      height: 100px;
      border: 0px;
    }
    input[type=submit] {
      text-align: right;
      margin-top: 0px;

    }
  } /* .post-form input */

} /* .status-box */


/* SIDEBAR */
.photo-teaser {
  img {
    margin: 0px 5px 5px 0px;
  }
} /* section.photo-teaser */

