// common stylings
$main-border: 1px solid black;
$primary-color: #066DEE;

/*
 timeline page styles
*/

.photos-copied-text-area {
  img {
    margin: 5px 18px;
  }
}

.post-copied {
  h3 {
    margin-bottom: 0px;
  }
}

.outer-post-area {
  border-left: $main-border;
  border-right: $main-border;
  padding: 10px;
}

.post {
  margin-top: 20px;
  border: $main-border;
  padding: 10px;
  img {
    float: left;
  }
}

.post-header {
  display: inline-block;
  vertical-align: bottom;
}

.post-body {
  margin-top: 20px;
}

.post-links-area {
  border-top: 1px solid black;
  background-color: aaa;
  a {
    padding: 5px;
    display: inline-block;
    &:last-child {
      float: right;
    }
  }
}

.submit-post-button,
.submit-comment-button {
  color: white;
  background-color: $primary-color;
}

.make-new-post {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.more-link {
  margin: 5px;
}

.more-link,
.about-text-area {
  text-align: center;
}

.friend-pic-link {
  display: inline-block;
  margin: 5px 18px;
}

.comment-header-area {
  border-bottom: 1px solid #555555;
  padding-top: 10px;
  a {
    &:nth-child(2) {
      float: right;
      padding-right: 10px;
    }
  }
}

.comment-body {
  padding-top: 10px;
  p {
    display: inline-block;
    &:last-child {
      padding: 10px;
    }
  }
  img {
    float: left;
  }
}

.comment-area {
  padding-left: 10px;
}

.inner-comment-body {
  padding: 0px 55px;
  a {
    &:last-child {
    float: right;
    }
  }
}

.comment-text-area-div {
  padding: 0px 55px;
  margin-bottom: 20px;
}

.comment-text-area {
  width: 100%;
  height: 100px;
}

.submit-comment-button {
  float: right;
}
