// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*=============================
MAIN PART ABOUT
=============================*/

.border-3d {
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.nav-about {
  @extend .border-3d;
  background: #ccc;
  text-align: center;
  position: relative;

  h2 {
    display: inline-block;
  }

  a.btn {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main-about {
  @extend .border-3d;
}

table.tab-about {
  font-size: 14px;
  margin: -10px auto 0;
  width: 350px;

  table caption {
    text-align: left;
  }

  th {
    font-weight: bold;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 130px;
  }

  tr td {
    padding-left: 5px;
    width: 250px;
  }
}
/*=============================
MAIN PART ABOUT EDIT
=============================*/
.main-about {
  .input-group .form-control {
    height: 28px;
    width: 200px;
    font-size: 13px;
  }

  textarea {
    width: 90%;
    min-height: 80px;
    font-size: 12px;
    color: gray;
    text-align: left;
    padding: 5px;
    overflow: auto;
  }

  input.btn-save {
    display: block;
    margin: 60px auto;
    width: 350px;
    height: 80px;
    font-size: 30px;
  }

  .btn-upload {
    display: block;
    margin: 30px auto;
  }
}
