@import 'theme_and_colors';


.user-header {
  position: relative;
  margin-bottom: 20px;
  background-color: white;
  border: $border;
  border-radius: $corner;
  h2.user-name {
    position: absolute;
    left: 180px;
    bottom: 35px;
    color: white;
    text-shadow: $shadow;
  }
  .qty-count {
    color: gray;
    font-size: 0.8em;
    font-weight: normal;
  }
  nav {
    width: 100%;
    border-top: $border;
    font-size: 0.75em;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      margin-left: 180px;
    }
    li:first-child { border-left: $border;}
    li {
      float: left;
      position: relative;
      a {
        display: block;
        text-align: center;
        padding: 12px 16px;
        color: $brand-color;
        font-weight: 700;
        text-decoration: none;
        background-color: white;
        border-right: $border;
        &:hover { background-color: $brand-secondary-bg; }
      }/* a */
      a.active {
        color: black;
        &:hover { background-color: white; }
      }
      a.active:after {
        content:'';
        position: absolute;
        top: 83%;
        left: 39%;
        margin-left: 0;
        width: 0;
        height: 0;
        border-bottom: solid 9px $brand-background;
        border-left: solid 9px transparent;
        border-right: solid 9px transparent;
      }/* a.active:after */
    }/* li */
  }/* nav */
  .friend-link {
    position: absolute;
    z-index: 1;
    right: 5px;
    bottom: 50px;
    box-shadow: $shadow;

  } /* .friend-link */
}

.cover-photo-container {
  width: 100%;
  img {
  border-radius: $corner $corner 0px 0px;

    width: 100%;
    height: auto;
  }
}

.profile-pic-container {
  background-color: $brand-background;
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: $profile-pic;
  height: $profile-pic;
  border: 3px solid white;
  margin-right: 25px;
  img {
    width: 100%;
  }
}

.user-profile {
  border: $border;
  display: grid;
  grid-template-areas: "header header"
                      "stats about-me";
  header {
    grid-area: header;
    border-bottom: $border;
    background-color: $secondary-color;
    padding: $padding $padding 1% $padding;
    text-align: center;
    h1 {
      text-align: left;
      font-size: 2.12em;
    }
    button {
      background-color: $brand-color;
      border:0 none;
      cursor:pointer;
      color: white;
      padding: 0.75% 1%;
      float: right;
    }
  }/* header */
  section {
    padding: 10px 20px 20px 20px;
    h2 {
      font-size: 1em;
      font-weight: bold;
      margin-top: 25px;
    }
  }
}/* about-content */


.personal-stats {
  grid-area: stats;
  table { width: 100%; }
  td, th {
    padding: 4% 2%;
    font-size: 0.9em;
  }
  th {
    width: 100px;
    text-align: left;
    font-weight: 500;
  }
}/* personal-stats */

.about-me-copy {
  grid-area: about-me;
}

/* Friends & Photos Pages */
.friends-list, .photos-list {
  .image-tile {
    img {width: 100%;}
    width: $profile-pic;
    float: left;
    margin: 0px 20px 20px 0px;
    background-color: $brand-background;
  }
} /* .friends-list */


/* ----------------------------------- *
 *           MEDIA QUERIES
 * ----------------------------------- */

/* NARROW SCREEN */
@media (max-width: $narrow-max) {
} /* narrow */

/* WIDE SCREEN */
@media (min-width: $wide-min) {
} /* wide */
