

// THE NAV THAT IS UNDERNEATH THE HEADLINE
// LINKS USER PAGES TOGETHER

#profile-nav {

  background-color: #fff;
  border-bottom: 1px solid #d4d6d9;
  border-right: 1px solid #d4d6d9;
  border-left: 1px solid #d4d6d9;
  border-radius: 0 0 4px 4px;


  li.active {
    a {
      background-color: #ccc;
      margin-right: 0;
    }
  }

  .nav-tabs {
    border-bottom: 0;
  }

  .link-count {
    color: #747679;
  }

  .edit-profile-link {
    text-decoration: underline;
  }
}




#cover-photo {
  background-color: #999;
  min-width: 960px;
  opacity: 0.5;
  border: 1px solid #444649;
  overflow: hidden;

  img {
    width: 100%;
    max-height: 450px;
  }
}




#profile-image {
  position: absolute;
  bottom: 20px;
  left: 20px;
  img {
    border: 1px solid #949699;
  }
  .user-headline {
    position: relative;
    bottom: -10px;
    left: 0px;

    .name-header {
      color: #fff;
      text-shadow:
       -1px -1px 0 #aaf,
       1px -1px 0 #aaf,
       -1px 1px 0 #aaf,
       1px 1px 0 #aaf;
    }
  }
}



#cover {
  position: relative;
  margin-top: -20px;

}



#recent-friends {

  border-right: 1px solid #d4d6d8;

  h4 {
    margin-bottom: 25px;
  }

  .recently-active-user {
    margin: 10px 0px;
  }
}





#information-pane {

  z-index: 5;
  background-color: #fff;
  min-height: 400px;
  border: 1px solid #555;
  margin: 20px auto 50px auto;
  padding-bottom: 50px;
  border-radius: 6px;
  overflow: hidden;

  header {
    text-align: center;
    border-bottom: 1px solid #888;
    margin-bottom: 30px;
    background-color: #e4e6e9;
    z-index: 6;

    h2 {
      margin-top: 0;
    }

    .about-header {
      padding-top: 15px;
    }

  }

  .about-table {
    td {
      border: 0;

      &:first-child {
        width: 150px;
        font-weight: bold;
        padding-left: 0;
      }
    }
  }
}

#edit-profile-button {
    background: linear-gradient(#4C67A1, #3B5998);
    color: white;
    box-shadow: 3px 3px 3px black;
    border: 1px solid #3B5998;
    border-radius: 0;
    margin-top: 10px;
}




#friends-list {

  .friend-list-entry {

    height: 150px;
    padding-top: 25px;

    img {
      border: 1px solid #b4b6b9;
    }

    .row {
      margin: 15px;
      padding: 15px;
      border: 1px solid #b4b6b9;
      border-radius: 6px;
    }

    .col-sm-5 {
      padding-top: 20px;
    }

    .col-sm-4 {
      padding-top: 30px;
    }

  }
}




@media (max-width: 993px) {
  .friend-list-entry {
    margin-bottom: 70px;
  }
}




// TIMELINE SECTION
// TIMELINE TIMELINE TIMELINE


#details {
  & > * {
    border: 1px solid #949699;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
  }

  .about-table {
    td {
      border: 0;

      &:first-child {
        font-weight: bold;
      }
    }
  }

  header {
    text-align: center;
    border-bottom: 1px solid #b4b6b9;
    background-color: #f4f5f7;
  }
}



#timeline-photos {
  text-align: center;
  padding-bottom: 15px;
  margin-top: 15px;
  .photo {
    padding-top: 15px;
    padding-bottom: 5px;
    img {
      width: 100px;
      height: 100px;
      border: 1px solid #c4c6c9;
    }
  }
}



#timeline-friends {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 15px;

  .friend {
    padding-top: 15px;
    padding-bottom: 5px;
    img {
      width: 100px;
      height: 100px;
      border: 1px solid #949699;
    }
  }
}



#timeline {
  margin-top: 15px;

  h5 {
    font-weight: bold;
    margin-top: 0;
  }
}

#timeline-aside {
  background-color: #fff;
}




// SEARCH PAGE(INDEX USERS)

.search-result {
  border: 1px solid #333;
  margin: 20px auto;
  padding: 30px;
}
