// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-info {
  ul {
    line-height: 54px;
    font-size: 16px;
    color: #777;
  }
}

.home {
  h3 {
    text-align: center;
  }
}