

nav {
  background-color: #3b5998;
  .navbar-brand {
    margin-top: -15px;
/*    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }*/
    a {
      color: white;
      font-size: 20px;
      font-weight: 100;
      padding-left: 5px;
    }
  } 
/*  .navbar-form {
    input {
      width: 800px !important;
    }
  }*/
  .navbar-right {
    margin-bottom: -300px;
    margin-right: 15px;
    .user-name{
      font-size: 20px;
      font-weight: 300; 
      color: white;
      margin-top: 10px;     
    }

  }
}

main {
  margin-top: 70px;
}

/*
============================
HEADER
============================
*/


header {
  height: 350px;
  width: 100%;
  background-color: blue;
  background-image: url(images/hogwarts_small.jpg);
  background-size: 100%;
  border: 2px solid black;
  margin-top: -20px;
  position: relative;
  img {
    position: absolute;
    top: 135px;
    left: 20px;
    border: 2px solid black;
  }
  h3 {
    position: absolute; 
    top: 270px;
    font-size: 40px;
  }
  a {
    position: absolute;
    bottom: -33px;
    right: 10px;
  }
}

.toolbar {
  height: 42px;
  width: 100%;
  border: 2px solid black;
  border-top: none;
  padding-left: 260px;
  .active {
    background-color: #ddd;
  }
  .inactive {
    background-color: #fff;
  }
}

.section-title {
  margin-top: 30px;
  border: 2px solid black;
  background-color: #eee;
  position: relative;
  button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.table-borderless {
    td {
    border: 0 !important;
    }
}

.content {
  border: 2px solid black;
  border-top: none;
  margin-bottom: 40px;
  padding-bottom: 30px;
}


/*
============================
EDIT ABOUT
============================
*/

.save-changes {
  margin: 50px 0 100px 0;
  button {
    padding: 20px 150px;
  }
}


/*
============================
FRIENDS
============================
*/


.friend {
  border: 2px solid #000;
  padding: 10px;
  margin-top: 30px;
  position: relative;
  img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
  }
  .friend-name {
    position: absolute;
    top: 25px;
    left: 110px;
    a {
      font-size: 25px;
    }
  }
  button {
    position: absolute;
    top: 50px;
    right: 20px;
  }
}

/*
============================
PHOTOS
============================
*/

.photos-content {
  padding: 20px;
}

.photo {
  border: 2px solid black;
  height: 235px;
  width: 235px;
  display: inline-block;
  margin: 21px;
  img {
    width: 100%;
  }
  .publish-wrap {
    position: relative;
    height: 243px;
  }
  .publish-date {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
  }
  .publish-wrap:hover .publish-date {
    padding-left: 40px;
    visibility: visible;
    opacity: 1;
  }
}

/*
============================
TIMELINE
============================
*/


.left {
  background-color: red;
  height: 500px;
}

.right {
  background-color: blue;
  height: 500px;
}

.timeline-title {
  background-color: #ddd;
  border: 2px solid black;
  border-bottom: none;
  margin-top: 25px;
  padding: 10px;
  text-align: center;
  h5 {
    font-size: 20px;
    padding: 5px;
  }
}

.timeline-content {
  border: 2px solid black;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  img,
  .friend-photo {
    display: inline-block;
    width:100px;
    margin: 5px;
    a {
    text-align: center;
    }
  }
  img {
    height: 100px;
  }
  a {
    display: block;
    text-decoration: underline;
  }
  .poster {
  position: relative;
  img {
    display: inline-block;
    height: 70px;
    width: 70px;
  }
    .poster-name {
      position: absolute;
      top: 15px;
      left: 90px;
      a {
      font-size: 18px;
      }
      span {
        color: #ddd;
      }
    }
  }
}

.post-bar {
  background-color: #ddd;
  border: 2px solid black;
  margin-top: -10px;
  padding: 10px;
  margin-bottom: 30px;
  a {
  padding-right: 10px;
  text-decoration: underline;
  }
}

.comment {
  position: relative;
  height: 150px;
  img {
    display: inline-block;
    background-color: #333;
    height: 70px;
    width: 70px;
    margin-left: 10px;
  }
  .comment-text {
    position: absolute;
    left: 100px;
    width: 600px;
    top: 0;
  }
}

