<div class='row'>

  <div class='col-sm-3'>

    <%= render partial: 'left_side' %>

  </div>


  <div class='col-sm-9'>
    <%= render partial: 'posts/new', locals: { post: @new_post, user_id: @user } %>


    <% @activities.each do |activity| %>

      <%= render partial: 'posts/post', locals: { post: activity } %>

    <% end %>

  </div>

</div>