<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Danebook | About</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="home.html">
        <img src="img/danish_flag.gif" alt="">
        Danebook
      </a>
    </div>
    <div class="nav navbar-right">
      <p class="navbar-text">Harry</p>
    </div>
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search for Users" size="50">
      </div>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="hero-image">
        <img class="profile-photo" src="img/harry_potter_small.jpg">
        <div class="username">Harry Potter</div>
      </div>
      <nav class="profile-navigation-bar">
        <div class="profile-photo-spacer"></div>
        <div class="profile-navigation-item"><a href="#!">Timeline</a></div>
        <div class="profile-navigation-item"><a href="#!">About</a></div>
        <div class="profile-navigation-item"><a href="#!">Photos</a> <span class="badge">(123)</span></div>
        <div class="profile-navigation-item"><a href="#!">Friends</a> <span class="badge">(542)</span></div>
        <a href="#!" class="edit-profile-link">Edit Profile</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-info">
        <div class="panel-heading">About</div>
        <button class="edit-profile-button btn btn-default">Edit your Profile</button>
        <div class="row">
            <div class="col-sm-5">
              <h3>Basic Information</h3>
              <table class="table">
                <tr>
                  <td>Birthday:</td>
                  <td>July 31st, 1980</td>
                </tr>
                <tr>
                  <td>College:</td>
                  <td>Hogwarts College</td>
                </tr>
                <tr>
                  <td>Hometown:</td>
                  <td>Godnick's Hollow, England</td>
                </tr>
                <tr>
                  <td>Currently Lives:</td>
                  <td>Godnick's Hollow, England</td>
                </tr>
              </table>
              <h3>Contact Information</h3>
              <table class="table">
                <tr>
                  <td>Email:</td>
                  <td>harry_potter@hogwarts.edu</td>
                </tr>
                <tr>
                  <td>Telephone:</td>
                  <td>555-123-4567</td>
                </tr>
              </table>
            </div>
            <div class="col-md-7">
              <h3>Words to Live By</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus dicta ab illo, voluptate impedit, laudantium libero maxime eveniet beatae nemo, aspernatur fugit in nesciunt sint ratione, sunt sed aliquam vitae.</p>
              <h3>About Me</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolorem modi delectus, itaque reprehenderit explicabo excepturi similique veritatis dicta necessitatibus dignissimos voluptate cum sit tenetur mollitia consectetur deserunt accusantium minus!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel atque in, at dolores! Corporis quibusdam, consequuntur odio repellendus praesentium quas enim commodi repellat consequatur? Sapiente iusto officia itaque facilis harum!</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
