<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Danebook | Timeline</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="home.html">
        <img src="img/danish_flag.gif" alt="">
        Danebook
      </a>
    </div>
    <div class="nav navbar-right">
      <p class="navbar-text">Harry</p>
    </div>
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search for Users" size="50">
      </div>
    </form>
  </div>
</nav>
<div class="nav-offset" style="height: 50px"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="about.html">
            <h3 class="panel-title">About</h3>
          </a>
        </div>
        <div class="panel-body">
          <p><b>Born on:</b> July 31st, 1980</p>
          <p><b>Went to school at:</b> Hogwarts</p>
          <p><b>Hometown:</b> Godrick's Hollow, England</p>
          <p><b>Currently Lives:</b> Godrick's Hollow</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="photos.html">Photos <span class="badge">123</span></a>
          </h3>
        </div>
        <div class="panel-body">
          <div class="flex-flow">
            <div class="hundred-px salmon"></div>
            <div class="hundred-px salmon"></div>
            <div class="hundred-px salmon"></div>
            <div class="hundred-px salmon"></div>
            <div class="hundred-px salmon"></div>
            <div class="hundred-px salmon"></div>
            <div class="hundred-px salmon"></div>
            <div class="hundred-px salmon"></div>
            <div class="hundred-px salmon"></div>
          </div>
          <p class="text-center">
            <a href="photos.html">See More Photos</a>
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="photos.html">Friends <span class="badge">542</span></a>
          </h3>
        </div>
        <div class="panel-body">
          <div class="flex-flow">
            <div class="text-center">
              <div class="hundred-px salmon"></div>
              <a href="#">Ron Weasley</a>
            </div>
            <div class="text-center">
              <div class="hundred-px salmon"></div>
              <a href="#">Ginny Weasley</a>
            </div>
            <div class="text-center">
              <div class="hundred-px salmon"></div>
              <a href="#">Hermione G.</a>
            </div>
            <div class="text-center">
              <div class="hundred-px salmon"></div>
              <a href="#">paragraph text</a>
            </div>
            <div class="text-center">
              <div class="hundred-px salmon"></div>
              <a href="#">paragraph text</a>
            </div>
            <div class="text-center">
              <div class="hundred-px salmon"></div>
              <a href="#">paragraph text</a>
            </div>
          </div>
          <p class="text-center">
            <a href="friends.html">See More Friends</a>
          </p>
        </div>
      </div>
    </div> <!-- /col-sm-4 -->
		<div class="col-sm-8">
			<div class="panel panel-default">
        <div class="panel-heading">
          <a href="about.html">
            <h3 class="panel-title">Post</h3>
          </a>
        </div>
        <div class="panel-body">
					<textarea placeholder="Tell the world something..." cols="87"></textarea>
				</div>
				<div class="panel-footer text-right">
					<button class="btn btn-primary">Post</button>
				</div>
			</div>
			<div class="danebook-post panel panel-default">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="img/user_silhouette_generic.gif" alt="" height="50">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading"><a href="#">Harry Potter</a></h4>
						<time>Posted on Thursday 6/1/2014</time>
					</div>
				</div>
				<div class="panel-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="panel-footer">
					<a href="#" class="like">Like</a>
					<a href="#">Comment</a>
					<a href="#" class="pull-right">Delete</a>
				</div>
			</div>
			<div class="danebook-post panel panel-default">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="img/user_silhouette_generic.gif" alt="" height="50">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading"><a href="#">Harry Potter</a></h4>
						<time>Posted on Thursday 5/21/2014</time>
					</div>
				</div>
				<div class="panel-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="panel-footer">
					<a href="#" class="like">Like</a>
					<a href="#">Comment</a>
					<a href="#" class="pull-right">Delete</a>
					<p><a href="#">Hermione Granger</a> likes this.</p>
				</div>
			</div>
			<div class="danebook-post panel panel-default">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="img/user_silhouette_generic.gif" alt="" height="50">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading"><a href="#">Harry Potter</a></h4>
						<time>Posted on Thursday 5/21/2014</time>
					</div>
				</div>
				<div class="panel-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="panel-footer">
					<a href="#" class="like">Like</a>
					<a href="#">Comment</a>
					<a href="#" class="pull-right">Delete</a>
					<p class="text-muted">You and <a href="#">Hermione Granger</a> and 3 others like this.</p>
					<hr>
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="img/user_silhouette_generic.gif" alt="" height="50">
							</a>
						</div>
						<div class="media-body">
							<h5 class="media-heading"><a href="#">Ron Weasley</a> <time>said on Thursday 5/21/2014</time></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis blanditiis, impedit doloremque ipsum quo laborum, sunt nam soluta beatae quisquam. Similique adipisci voluptate iusto officia quos quam ea fugit cumque.</p>
							<p class="text-muted"><a href="#" class="like">Like</a> 3 other people like this</p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="img/user_silhouette_generic.gif" alt="" height="50">
							</a>
						</div>
						<div class="media-body">
							<h5 class="media-heading"><a href="#">Harry Potter</a> <time>said on Friday 5/22/2014</time></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis blanditiis, impedit doloremque ipsum quo laborum, sunt nam soluta beatae quisquam. Similique adipisci voluptate iusto officia quos quam ea fugit cumque.</p>
							<p class="text-muted"><a href="#" class="like">Like</a> 3 other people like this <a href="#" class="pull-right">Delete</a></p>
						</div>
					</div>
					<textarea placeholder="Write a comment..." cols="87" rows="5"></textarea>
					<a href="#" class="pull-left">Cancel</a>
					<p class="text-right"><button class="btn btn-primary">Comment</button></p>
				</div>
			</div>
		</div>
  </div>
</div>

</body>
</html>
