<%= render partial: "layouts/shared/navbar_signed_in" %>

<div class="row"> <!--main row-->

  <div class="col-md-6"><!--empty left column space-->
      <%= image_tag @image.picture.url %>
  </div>
    
  <div class="col-md-6"><!--main middle for image and nav links--> 
  </div>  
</div>
