<header class="navbar">
	<div class="container">
		<div class="row">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><img class="logo" src="images/danish_flag.gif" alt="the logo">Danebook</a>
			</div>
			<div class="test"><p >Harry</p></div>
      <form class="navbar-form " role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search this site">
        </div>
      </form>
    </div>
  </div>
</header>