<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Danebook</a>
    </div>
    <div class="sign-in-form col-xs-offset-7">
      <div class="email col-xs-4">
        <div class="row">
          <p class="col-xs-12 form-text">Email</p>
        </div>

        <div class="row email-form">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="password col-xs-4">
        <div class="row">
          <p class="col-xs-12 form-text">Password</p>
        </div>

        <div class="row password-form">
          <input type="text" class="form-control">
        </div>
      </div>

    </div>
    <button type="button" class="btn btn-primary navbar-btn log-in-btn">Log in</button>
  </div>
</nav>
