<nav class="col-md-7 col-md-offset-2">
	<ul class="nav nav-tabs">
		<li><%= link_to 'Timeline', timeline_path %><li>
		<li><%= link_to 'About', about_path %><li>
		<li><%= link_to 'Photos', photos_path %><li>
		<li><%= link_to 'Friends', friends_path %><li>
	</ul>
</nav>
<div class="col-md-2 pull-right">
	<ul class="nav profile-link">
		<li><a href="about_edit.html" class="pull-right ">Edit Profile</a></li>
	</ul>
</div>