<aside class="col-sm-4">

        <!-- About -->

        <div class = "row aside-container">

          <section class="col-sm-12">

            <header class="aside-container-header">

              About

            </header>

              <p><strong>Born on:</strong> <%= current_user.birthday.strftime("%B %d, %Y") %></p>
              <p><strong>Went to school at:</strong> <%= current_user.profile.college %></p>
              <p><strong>Hometown:</strong> <%= current_user.profile.hometown %></p>
              <p><strong>Currently Lives:</strong> <%= current_user.profile.current_location %></p>

          </section>

        </div>

        <!-- Photos -->


        <div class="row aside-container">

          <section class="col-sm-12">

            <header class="aside-container-header">

              Photos (123)

            </header>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

              </div>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

              </div>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                </div>

              </div>

          </section>

          <article class="aside-container-link">

            <a href="photos.html">See More Photos</a>

          </article>

        </div>

        <!-- Friends -->

        <div class="row aside-container">

          <section class="col-sm-12">

            <header class="aside-container-header">

              Friends (346)

            </header>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

              </div>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

              </div>

              <div class="row pic-row">

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

                <div class="pic-col col-sm-4">

                  <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif">

                  <a href="#">Ron Weasley</a>

                </div>

              </div>

          </section>

          <article class="aside-container-link">

            <a href="friends.html">See More Friends</a>

          </article>

        </div>

      </aside>