<!-- Your markup here! -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Danebook About Me</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">

</head>
<body>
  
  
  <nav id="navbar" class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <div class="row">
        <section class="navbar-header col-md-3 col-sm-4">
          <a class="navbar-brand" href="home">
            <img alt="Danebook" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/danish_flag.gif"> Danebook
          </a>
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed">
            <span class="sr-only">"Toggle Navigation"</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </section>
        <section id="navbar-collapse" class="collapse col-sm-8 col-md-9">
          <div class="row">
            <div class="col-xs-10 col-sm-9 col-md-8">
              <form action="" class="navbar-form">
              <div class="form-group">
              <label for="site-search" class="sr-only">Search for Users</label>
              <input type="search" id="site-search" name="search" class="form-control" placeholder="Search for Users">
              </div>
              </form>
            </div>
            <ul class="nav navbar-nav pull-right">
              <li><a href="">Harry</a></li>
            </ul>
          </div>
          
        </section>
      </div>
      
    </div>
  </nav>
  
  <main class="container">
    
    
    <div class="row">
      <header id="profile-header">
        <div class="cover-img">
          <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/hogwarts_small.jpg" alt="Cover Image" class="sr-only">
        </div>
        <h1 class="profile-username">Harry Potter</h1>
        <section class="profile-img">
          <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg" alt="profile">
        </section>
        <section class="col-xs-12 profile-nav">
          <button type="button" aria-expanded="false" class="navbar-toggle">
            <span class="sr-only">"Toggle Navigation"</span>
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
          <ul class="collapse nav navbar-nav" role="menu">
            <li><a href="timeline.html">Timeline</a></li>
            <li><a href="about.html" class="active">About</a></li>
            <li><a href="photos.html">Photos</a></li>
            <li><a href="friends.html">Friends</a></li>
            <li class="edit"><a href="about_edit.html">Edit Profile</a></li>
          </ul>
        </section>
      </header>
    </div>

    <div class="row">
      <section id="about" class="post col-xs-12">
        <div class="row">
          <header class="post-header col-xs-12">
            <a href="about_edit.html" class="edit-button btn btn-primary">Edit your Profile</a>
            <h2>About</h2>
          </header>
        </div>
        <div class="row">
          <section class="post-content col-xs-12">
            <div class="row">
              <div class="information col-md-5">
                <h3>Basic Information</h3>
                <dl>
                  <dt>Birthday:</dt>
                  <dd>July 31st, 1980</dd>
                  <dt>College:</dt>
                  <dd>Hogwarts College</dd>
                  <dt>Hometown:</dt>
                  <dd>Godrick's Hollow, England</dd>
                  <dt>Currently Lives:</dt>
                  <dd>Godrick's Hollow, England</dd>
                </dl>
                
                <h3>Contact Information</h3>
                <dl>
                  <dt><p>Email:</p></dt>
                  <dd><p>harry_potter@hogwarts.edu</p></dd>
                  <dt><p>Telephone:</p></dt>
                  <dd><p>555-123-4567</p></dd>
                </dl>
              </div>

              <div class="personality col-md-7">
                <h3>Words To Live By</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima natus assumenda, iste nesciunt odio dolorum. Eveniet accusamus, quis, esse dignissimos ex fuga est, excepturi ab non itaque nostrum quae.
                </p>
                <h3>About Me</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra tellus nisi, id condimentum dui tristique sed. Donec luctus eros quis ante consequat sagittis. Phasellus consectetur lectus ac lectus mattis vulputate. Maecenas non risus tellus. Proin ullamcorper, ex id iaculis scelerisque, odio dui posuere purus, sit amet viverra mi nibh sit amet risus. Duis tempor pretium arcu, ut dictum justo interdum pharetra. Suspendisse vulputate pellentesque massa, eu gravida diam semper ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pharetra erat eget vulputate lacinia. Aenean in porta elit. Aenean egestas in urna id bibendum. Integer nec placerat metus.
                </p>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>

  </main>
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>