<!-- Your markup here! -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Danebook About Me</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">

</head>
<body>


  <nav id="navbar" class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <div class="row">
        <section class="navbar-header col-md-3 col-sm-4">
          <a class="navbar-brand" href="home">
            <img alt="Danebook" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/danish_flag.gif"> Danebook
          </a>
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed">
            <span class="sr-only">"Toggle Navigation"</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </section>
        <section id="navbar-collapse" class="collapse col-sm-8 col-md-9">
          <div class="row">

            <div class="col-xs-10 col-sm-9 col-md-8">
              <form action="" class="navbar-form">
              <div class="form-group">
              <label for="site-search" class="sr-only">Search for Users</label>
              <input type="search" id="site-search" name="search" class="form-control" placeholder="Search for Users">
              </div>
              </form>
            </div>

            <ul class="nav navbar-nav pull-right">
              <li><a href="">Harry</a></li>
            </ul>

          </div>

        </section>
      </div>

    </div>
  </nav>

  <main class="container">

    <div class="row">
      <header id="profile-header">
        <div class="cover-img">
          <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/hogwarts_small.jpg" alt="Cover Image" class="sr-only">
        </div>
        <h1 class="profile-username">Harry Potter</h1>
        <section class="profile-img">
          <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg" alt="profile">
        </section>
        <section class="col-xs-12 profile-nav">
          <button type="button" aria-expanded="false" class="navbar-toggle">
            <span class="sr-only">"Toggle Navigation"</span>
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
          <ul class="collapse nav navbar-nav" role="menu">
            <li><a href="timeline.html" class="active">Timeline</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="photos.html">Photos</a></li>
            <li><a href="friends.html">Friends</a></li>
            <li class="edit"><a href="about_edit.html">Edit Profile</a></li>
          </ul>
        </section>
      </header>
    </div>

    <div class="row">



      <div class="col-sm-5 col-md-4 right-gutter hidden-xs">

        <div class="row">
          <section class="post post-small col-xs-12">
            <div class="row">
              <header class="post-header col-xs-12">
                <p>About</p>
              </header>
            </div>

            <div class="row">
              <section class="post-content col-xs-12">
                <dl>
                  <dt>Birthday:</dt>
                  <dd>July 31st, 1980</dd>
                  <dt>College:</dt>
                  <dd>Hogwarts College</dd>
                  <dt>Hometown:</dt>
                  <dd>Godrick's Hollow, England</dd>
                  <dt>Currently Lives:</dt>
                  <dd>Godrick's Hollow, England</dd>
                </dl>
              </section>
            </div>

          </section>
        </div>

        <div class="row">
          <section class="post post-small col-xs-12">
            <div class="row">
              <header class="post-header col-xs-12">
                <p>Photos</p>
              </header>
            </div>

            <div class="row">
              <section class="post-content col-xs-12">
                <div class="row">

                  <div class="col-xs-6 col-md-4 photo">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" alt="photo">
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" alt="photo">
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" alt="photo">
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" alt="photo">
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" alt="photo">
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" alt="photo">
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" alt="photo">
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" alt="photo">
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/icon_photo_small.png" alt="photo">
                    </a>
                  </div>

                  <div class="col-xs-12 text-center">
                    <h4><a href="photos.html">See More Photos</a></h4>
                  </div>
                </div>
              </section>
            </div>

          </section>
        </div>
        

        <div class="row">
          <section class="post post-small col-xs-12">
            <div class="row">
              <header class="post-header col-xs-12">
                <p>Friends</p>
              </header>
            </div>

            <div class="row">
              <section class="post-content col-xs-12">
                <div class="row">

                  <div class="col-xs-6 col-md-4 photo text-center">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
                      <p>Ron Weasley</p>
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo text-center">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
                      <p>Ginny Weasley</p>
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo text-center">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
                      <p>Hermione Granger</p>
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo text-center">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
                      <p>Professor Dumbledore</p>
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo text-center">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
                      <p>Sirius Black</p>
                    </a>
                  </div>

                  <div class="col-xs-6 col-md-4 photo text-center">
                    <a href="#">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
                      <p>Proffessor Lupin</p>
                    </a>
                  </div>

                  <div class="col-xs-12 text-center">
                    <h4><a href="friends.html">See More Friends</a></h4>
                  </div>
                </div>
              </section>
            </div>

          </section>
        </div>
      </div>




      <div class="col-sm-7 col-md-8">

        <div class="row">

          <section class="post post-small col-xs-12">
            <div class="row">
              <header class="post-header col-xs-12">
                <p>Post</p>
              </header>
            </div>

            <div class="row">
              <section class="post-content col-xs-12">
                <form id="user-post" class="form-horizontal">
                  <label for="user-post-thoughts" class="sr-only">Tell the world something</label>
                  <textarea type="text" id="user-post-thoughts" name="thoughts" class="form-control" rows="3" placeholder="Tell the world something..."></textarea>
                </form>
              </section>
            </div>

            <div class="row">
              <section class="post-footer col-xs-12">
                <button type="submit" class="btn btn-primary pull-right">Post</button>
                <div class="clearfix"></div>
              </section>
            </div>

          </section>

        </div>

        <div class="row">

          <section class="post post-small col-xs-12">

            <div class="row">
              <section class="post-content col-xs-12">

                <div class="row">
                  <div class="profile col-xs-12">
                    <div class="profile-img pull-left">
                      <a href="about.html"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg" alt=""></a>
                    </div>
                    <div class="profile-info pull-left">
                      <a href="about.html">Harry Potter</a>
                      <p><small>Posted on Thursday 6/1/2014</small></p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores harum quisquam nostrum veritatis, provident maiores deleniti vero earum sunt ex quam modi magni, sed hic atque rerum eveniet? Nam, voluptatum.</p>
                  </div>
                </div>

              </section>
            </div>

            <div class="row">
              <section class="post-footer col-xs-12">
                <div class="row">
                  <section class="links col-xs-12">
                    <a class="public" href="#">Like</a>
                    <a class="public" href="#">Comment</a>
                    <a href="#" class="private pull-right">Delete</a>
                  </section>
                </div>
                <div class="clearfix"></div>
              </section>
            </div>

          </section>

          <section class="post post-small col-xs-12">

            <div class="row">
              <section class="post-content col-xs-12">

                <div class="row">
                  <div class="profile col-xs-12">
                    <div class="profile-img pull-left">
                      <a href="about.html"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg" alt=""></a>
                    </div>
                    <div class="profile-info pull-left">
                      <a href="about.html">Harry Potter</a>
                      <p><small>Posted on Thursday 5/31/2014</small></p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores harum quisquam nostrum veritatis, provident maiores deleniti vero earum sunt ex quam modi magni, sed hic atque rerum eveniet? Nam, voluptatum.</p>
                  </div>
                </div>

              </section>
            </div>

            <div class="row">
              <section class="post-footer col-xs-12">
                <div class="row">
                  <section class="links col-xs-12">
                    <a class="public" href="#">Like</a>
                    <a class="public" href="#">Comment</a>
                    <a href="#" class="private pull-right">Delete</a>
                  </section>
                  <section class="likes col-xs-12">
                    <p>
                      <a href="about.html">Hermione Granger</a> likes this
                    </p>
                  </section>
                </div>
                <div class="clearfix"></div>
              </section>
            </div>

          </section>

        </div>

        <div class="row">

          <section class="post post-small col-xs-12">

            <div class="row">
              <section class="post-content col-xs-12">

                <div class="row">
                  <div class="profile col-xs-12">
                    <div class="profile-img pull-left">
                      <a href="about.html"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg" alt=""></a>
                    </div>
                    <div class="profile-info pull-left">
                      <a href="about.html">Harry Potter</a>
                      <p><small>Posted on Thursday 5/31/2014</small></p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores harum quisquam nostrum veritatis, provident maiores deleniti vero earum sunt ex quam modi magni, sed hic atque rerum eveniet? Nam, voluptatum.</p>
                  </div>
                </div>

              </section>
            </div>

            <div class="row">
              <section class="post-footer col-xs-12">
                <div class="row">
                  <section class="links col-xs-12">
                    <a class="public" href="#">Like</a>
                    <a class="public" href="#">Comment</a>
                    <a href="#" class="private pull-right">Delete</a>
                  </section>
                  <section class="likes col-xs-12">
                    <p>
                      You, <a href="about.html">Hermione Granger</a> and 3 others like this
                    </p>
                  </section>
                  <section class="comments col-xs-12">
                    <div class="row">
                      <div class="profile col-xs-12">
                        <div class="profile-img pull-left">
                          <a href="about.html"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt=""></a>
                        </div>
                        <div class="comment pull-left">
                          <p>
                            <a href="about.html">Ron Weasley</a>
                            <small class="muted">
                              Said on Thrsday 5/21/2014
                            </small>
                          </p>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut at, necessitatibus accusamus quo impedit, laboriosam nemo aut facere iure eos ex omnis nihil nesciunt! Placeat unde animi vitae dolore mollitia. ipsum dolor sit amet, consectetur adipisicing elit. Iusto dicta tenetur, est nemo in tempore obcaecati commodi architecto provident necessitatibus reiciendis delectus veritatis rerum ipsum ipsam corrupti, doloribus possimus a. ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, veritatis, accusamus! Laboriosam ducimus error dolor natus neque quis consectetur deleniti magni sapiente expedita, iure animi in corporis inventore architecto. A.
                          </p>
                          <p>
                            <a href="#">Like</a>
                            <span class="muted">3 other people like this</span>
                          </p>
                        </div>
                      </div>

                      <div class="profile col-xs-12">
                        <div class="profile-img pull-left">
                          <a href="about.html"><img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg" alt=""></a>
                        </div>
                        <div class="comment pull-left">
                          <p>
                            <a href="about.html">Harry Potter</a>
                            <small class="muted">
                              Said on Thrsday 5/21/2014
                            </small>
                          </p>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut at, necessitatibus accusamus quo impedit, laboriosam nemo aut facere iure eos ex omnis nihil nesciunt! Placeat unde animi vitae dolore mollitia. ipsum dolor sit amet, consectetur adipisicing elit. Iusto dicta tenetur, est nemo in tempore obcaecati commodi architecto provident necessitatibus reiciendis delectus veritatis rerum ipsum ipsam corrupti, doloribus possimus a. ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, veritatis, accusamus! Laboriosam ducimus error dolor natus neque quis consectetur deleniti magni sapiente expedita, iure animi in corporis inventore architecto. A.
                          </p>
                          <p>
                            <a href="#">Like</a>
                            <span class="muted">3 other people like this</span>
                            <a href="#" class="pull-right">Delete</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <form class="form-horizontal">

                      <label for="comment-thoughts-2" class="sr-only">Write a Comment..</label>
                      <textarea type="text" id="comment-thoughts-2" name="thoughts" class="form-control" rows="3" placeholder="Write a Comment.."></textarea>

                      <a href="#">Cancel</a>
                      <button type="submit" class="btn btn-primary pull-right">Comment</button>

                    </form>
                  </section>
                </div>
                <div class="clearfix"></div>
              </section>
            </div>

          </section>

        </div>
      </div>

    </div>


  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>